:javascript
  $(function(){
    $(".checklist li").click(function(event) {
      var mb_selected = $(".metabright-challenges input[type=checkbox]:checked").length
      var custom_selected = $(".custom-challenges input[type=checkbox]:checked").length
      if((mb_selected + custom_selected) > 5){
        $(this).find("input[type=checkbox]").prop('checked',false);
      }
    })
  })

#employer.employer-container{ style: "margin-top: 40px; width: 900px;" }
  #create_evaluation.employer-box{ style: "padding: 8px;" }
    .header{ style: "padding: 12px 15px; border-bottom: 1px solid #DDD;"}
      = image_tag GIANT_STONEY, class: "stoney", alt: "Stoney"
      %h2= form_title      
    - if form_title == "Edit Evaluation"
      .edit_eval_notice{ style: ""}
        Please note that you are editing a live Evaluation! If you add additional Challenges to your Evaluation and you have candidates who have already submitted their Evaluation, they will have to return to the Evaluation URL to take the new Challenges. 
    
    %div{ style: "width: 86%; text-align: center; margin: 20px auto 0 auto; padding: 0 7% 0 7%;" }
      - unless @evaluation.errors.empty?
        .alert.alert-error
          %p= @evaluation.errors.full_messages.join(". ")
      = form_for(@evaluation, url: form_url) do |f|
        %div{ style: "text-align: center; margin: 10px auto;" }
          .action_group
            %h3 What are the job details?
            .tips
              %h5 
                %img{ alt: "Lightbulb", src: LIGHT_BULB_URL }
                The company name and the position will be displayed to candidates when they take your Evaluation.
            .control-group
              .controls    
                = f.text_field :company, autofocus: "autofocus", style: "padding: 4px; width: 300px; font-size: 15px; text-align: center;", placeholder: "Company Name"
                = f.text_field :title, autofocus: "autofocus", style: "padding: 4px; width: 300px; font-size: 15px; text-align: center;", placeholder: "Position"
                - if false
                  %div{style: "margin-top:10px;"} Upload job description (optional)
          .action_group
            %h3 Which Challenges would you like to use?
            .tips
              %h5 
                %img{ alt: "Lightbulb", src: LIGHT_BULB_URL }
                Choose up to five Challenges total. Each Challenge should take less than 20 minutes to complete.
            .challenge_chooser
              %h5 MetaBright Challenges
              .challenges
                %ul.checklist.metabright-challenges
                  - @public_paths.each do |p|
                    %li
                      %label
                        = check_box_tag "evaluation[selected_paths][#{p.id}]", 1, @evaluation_path_ids.include?(p.id)
                        = p.name
            .challenge_chooser
              %h5 Your Custom Challenges
              .challenges
                - if @group_paths.any?
                  %ul.checklist.custom-challenges
                    - @group_paths.sort_by{|path| [path.name.upcase]}.each do |gp|
                      %li
                        %label
                          = check_box_tag "evaluation[selected_paths][#{gp.id}]", 1, @evaluation_path_ids.include?(gp.id)
                          = gp.name
                    %p{ style: "margin-left: 10px;"}
                      = link_to "Create new custom Challenge.", new_group_path_path
                - else
                  %p 
                    You don't have any custom Challenges. 
                    = link_to "Create one now.", new_group_path_path
            
              
        - if @is_trial
          .alert-preview.small-text.orange{ style: "margin: 20px auto -20px auto;"}
            %p{ style: "margin: 0;"} Your trial account limits you to testing #{Group::TRIAL_CANDIDATE_LIMIT} candidates. You've already tested #{@candidate_count}.
        .row{ style: "margin: 40px auto 30px;" }
          = f.submit @evaluation.new_record? ? "Create Evaluation" : "Save Evaluation", class: "submit_button", style: "float: none;"