%div.quizcontainer{ style: "margin-top: 70px;"}
  = form_for(@task, url: answer_evaluation_path(@evaluation, @task.id), html: { id: "challenge_form", style: "margin: 0;" }) do |f|
    %div.CRquizspace
      %div.quizheader
        = image_tag @path.path_pic, alt: "#{@path.name}"
        %div{ style: "display:inline-block;" }
          %span
            %strong #{@path.name}
      
      %div{ style: "text-align:center;" }
        = render "tasks/stored_resource", { stored_resource: @stored_resource }
      
      - if @task.text?
        = render "tasks/take_text", f: f
      - else
        - if @task.image?
          = render "tasks/take_image", f: f
        - elsif @task.youtube?
          = render "tasks/take_youtube", f: f
        - elsif @task.task?
          = render "tasks/take_task", f: f