:javascript  
  $(function(){
    $('.textfill').textfill({ maxFontPixels: 24 });
  });
  $("#preview_button").click(function(){
    $("input[name=mode]").val("preview");
  });
  
- if @task.time_limit and @task.time_limit >= 120
  :javascript
    function setTimer(){ 
      var remaining_seconds = parseInt($(".countdown").data("time")) - 1
      var minutes = Math.floor(remaining_seconds / 60)
      var seconds = remaining_seconds - (minutes * 60)
      if(seconds < 10){ seconds = "0"+seconds.toString(); }
      $(".countdown_minutes").text(minutes)
      $(".countdown_seconds").text(seconds)
      $(".countdown").data("time", remaining_seconds)
    }
  
    $(function(){
      var time_limit = #{@task.time_limit};
      if(window.timerCountdown)
        clearInterval(window.timerCountdown)
      if(window.timedSubmit)
        clearTimeout(window.timedSubmit)
        
      window.timerCountdown = setInterval(function(){ setTimer(); }, 1000);
      window.timedSubmit = setTimeout(function(){ $("#challenge_form").submit() }, time_limit*1000);
    });
  
:css
  body{ background-image: url("https://s3.amazonaws.com/moonlite-nsdub/static/Backgrounds/gplaypattern.png"); background-repeat: repeat; background-size: auto; }

%div.quizcontainer{ style: "margin-top: 70px;"}
  = form_for(@task, url: took_task_url(@task), html: { id: "challenge_form", style: "margin: 0;" }) do |f|
    = hidden_field_tag "draft_redirect_url", continue_task_evaluation_url(@evaluation, @path, @task)
    = hidden_field_tag "submit_redirect_url", continue_evaluation_url(@evaluation, @path)
    %div.CRquizspace
      %div.quizheader
        = image_tag @path.path_pic, alt: "#{@path.name}"
        .textfill{ style: "display:inline-block; width: 90%;" }
          %span
            %strong #{@path.name}
      
      %div{ style: "text-align:center;" }
        = render "tasks/stored_resource", { stored_resource: @stored_resource }
      
      - if @task.text?
        = render "tasks/take_text", f: f
        
      - else
        - if @task.image?
          = render "tasks/take_image", f: f
        - elsif @task.youtube?
          = render "tasks/take_youtube", f: f
        - elsif @task.task?
          = render "tasks/take_task", f: f
      
      %div.CRbuttonspace
        = link_to "Skip Question", continue_evaluation_url(@evaluation, @path), class: "submit_button_standard", style: "float: left;", data: { confirm: "Note: You will not be able to come back to this question once you skip it.", "no-turbolinks" => true }
        = f.submit "Submit", class: "submit_button", id: "submit_button"
        - if @task.time_limit and @task.time_limit >= 120
          .countdown{ data: { time: @task.time_limit } }
            Time Remaining: 
            <span class='countdown_minutes'>--</span>:<span class='countdown_seconds'>--</span>
        = image_tag ICON_LOADING_URL, size: "25x25", style: "float: right; display: none; padding: 5px;", id: "loading_image", alt: "Loading"