:javascript
  $(function(){
    $("#results_list li:first").addClass("active");
    $(".evaluation:first").show();
    $("#results_list li").click(function(){
      $(".evaluation").hide();
      $("#"+$(this).data("permalink")).show();
      $("#results_list li").removeClass("active");
      $(this).addClass("active");
    })
  });

:css
  body{ background-image: url("https://s3.amazonaws.com/moonlite-nsdub/static/Backgrounds/gplaypattern.png"); background-repeat: repeat; background-size: auto; }
  .aboutcontainer{ width: 900px; margin-top: 25px; border-radius: 0; }
  .header { margin: 0 0 20px 0; }
  
#evaluations_overview.aboutcontainer
  #grade.aboutbox
    .header
      = image_tag @user.picture, style:"display:inline; height:61px;", alt: "Stoney"
      %div{ style: "display: inline-block; vertical-align: top; margin-left: 5px; "}
        %h2{ style: "font-size: 30px; margin-bottom: -10px; margin-top: -3px; " }= @user.name
        %h3{ style: "font-size:20px; "}= @evaluation.title
      .actions
        = link_to group_evaluation_url(@group, @evaluation), title: "Back" do
          = image_tag "https://s3.amazonaws.com/moonlite-nsdub/static/random+icons/back.png"
        - if @evaluation_enrollment.archived_at
          = link_to save_group_evaluation_url(@group, @evaluation, user_id: @user.id, mode: "unarchive"), title: "Un-Archive", method: :put do 
            = image_tag "https://s3.amazonaws.com/moonlite-nsdub/static/random+icons/archive_selected.png", style: "margin-right: 0"
        - elsif @evaluation_enrollment.favorited_at
          = link_to save_group_evaluation_url(@group, @evaluation, user_id: @user.id, mode: "unfavorite"), title: "Un-Favorite", method: :put do
            = image_tag "https://s3.amazonaws.com/moonlite-nsdub/static/random+icons/favorite_selected_darker.png", style: "margin-right: 0"
        - else
          = link_to save_group_evaluation_url(@group, @evaluation, user_id: @user.id, mode: "archive"), title: "Archive", method: :put do
            = image_tag "https://s3.amazonaws.com/moonlite-nsdub/static/random+icons/archive.png"
          = link_to save_group_evaluation_url(@group, @evaluation, user_id: @user.id, mode: "favorite"), title: "Favorite", method: :put do
            = image_tag "https://s3.amazonaws.com/moonlite-nsdub/static/random+icons/favorite.png", style: "margin-right: 0"
    .body        
      - path = @results.first
      %ul#results_list.nav.nav-tabs
        - @results.each do |r|
          %li{ data: { permalink: r[:permalink], name: r[:name] } }
            %a= r[:name]
      .evaluations
        - @results.each do |r|
          .evaluation.hide{ id: r[:permalink] }
            %h3 Candidate Summary
            .challenge_stats
              -# .myrank
              -#   %span #
              -#   %p Percentile Rank
              .big_number_space
                .big_number
                  98
                .text
                  MetaPercentile Ranking
              %table.table.overview
                %tbody
                %tr
                  %td
                    %h3 #{r[:percent_correct]}%
                    %p Multiple Choice
                  %td
                    %h3 16 sec
                    %p Avg. Time per MC
                  %td
                    %h3= r[:creative].count
                    %p Creative Response
                  - if r[:tasks].any?
                    %td
                      %h3 *#*
                      %p Tasks
              .strengths_weaknesses{ style: ""}
                .strengths 
                  .header{ style:"font-size: 16px; border-bottom: 1px solid rgba(0,0,0,.1);"}
                    Strengths
                  .body
                    - strengths = r[:strengths_and_weaknesses].select{ |topic_name, stats| (stats[0].to_f / (stats[0]+stats[1])) > 0.75 }
                    - if strengths.empty?
                      %p{ style: "font-size: 12px;" } More data required.
                    - else
                      %ul
                        - strengths.each do |topic_name, stats|
                          %li= topic_name
                .weaknesses 
                  .header{ style:"font-size: 16px; border-bottom: 1px solid rgba(0,0,0,.1);"}
                    Weaknesses
                  .body
                    - weaknesses = r[:strengths_and_weaknesses].select{ |topic_name, stats| (stats[1].to_f / (stats[0]+stats[1])) > 0.5 }
                    - if weaknesses.empty?
                      %p{ style: "font-size: 12px;" } More data required.
                    - else
                      %ul
                        - weaknesses.each do |topic_name, stats|
                          %li= topic_name
                
            %div
              %a.header_link{ "data-target" => "#cr", "data-toggle" => "collapse", :type => "button"}  Creative Response
              #cr.collapse.in{ style: "margin-bottom: 20px;"}
                %ol
                  - r[:creative].each do |completed_task|
                    %li
                      .answer
                        - task = completed_task.task
                        %p= task.question
                        %pre= completed_task.submitted_answer.try(:content).to_s
            - if r[:core].any?
              %div
                %a.header_link{ "data-target" => "#mc", "data-toggle" => "collapse", :type => "button"} Multiple Choice (click to expand)
                #mc.collapse
                  %ol
                    - r[:core].each do |completed_task|
                      %li
                        .answer
                          - task = completed_task.task
                          %p= task.question
                          - if completed_task.correct?
                            %span.label.label-success Correct, #{completed_task.points_awarded} points
                          - else
                            %span.label.label-important Incorrect
                          %div{ style: "margin-top: 10px;"} 
                            Correct answer:
                            %pre= task.correct_answer.content # Correct answer
                          - if not completed_task.correct?
                            %div 
                              User response:
                              %pre= completed_task.answer # User supplied answer
        
                
                
        
