:css
  body{ background-image: url("https://s3.amazonaws.com/moonlite-nsdub/static/Backgrounds/gplaypattern.png"); background-repeat: repeat; background-size: auto; }
  .aboutcontainer{ width: 900px; margin-top: 25px; border-radius: 0; }

#evaluations_overview.aboutcontainer
  .aboutbox
    .header
      = image_tag GIANT_STONEY, style:"display:inline; height:61px;", alt: "Stoney"
      %div{ style: "display: inline-block; vertical-align: top; margin-left: 5px; "}
        %h2{ style: "font-size: 30px; margin-bottom: -10px; margin-top: -3px; " }= @evaluation.title  
        %h3{ style: "font-size:20px; "}= @user.name
      %hr
    .body
      .evaluations
        - @tasks_by_path.each do |path|
          %h3= path[:name]
          - path[:completed_tasks].each do |completed_task|
            .answer
              - task = completed_task.task
              %h4= task.question
              - if task.core?
                - is_correct = completed_task.correct?
                %p= is_correct ? "Correct" : "Incorrect"
                %p= task.correct_answer.content # Correct answer
                %p= completed_task.answer # User supplied answer
                %p= completed_task.points_awarded
              - if task.creative?
                %pre= completed_task.submitted_answer.try(:content).to_s