:javascript
  $(function(){
    $("#results_list li:first").addClass("active");
    $(".evaluation:first").show();
    $("#results_list li").click(function(){
      $(".evaluation").hide();
      $("#"+$(this).data("permalink")).show();
      $("#results_list li").removeClass("active");
      $(this).addClass("active");
    })
  });

:css
  body{ background-image: url("https://s3.amazonaws.com/moonlite-nsdub/static/Backgrounds/gplaypattern.png"); background-repeat: repeat; background-size: auto; }
  .aboutcontainer{ width: 900px; margin-top: 25px; border-radius: 0; }
  .header { margin: 0 0 20px 0; }
  [data-tip]:before { left: 7px; }
  [data-tip]:after { left: -17px; }
  .table_tip [data-tip]:before { left: 34px; top: 35px;}
  .table_tip [data-tip]:after { left: 8px; top: 45px; }

  
#evaluations_overview.aboutcontainer
  #grade.aboutbox
    .header
      %div
        = image_tag @user.picture, style:"display:inline; height:61px;", alt: "Stoney"
        %div{ style: "display: inline-block; vertical-align: top; margin-left: 5px; "}
          %h2{ style: "font-size: 30px; margin-bottom: -10px; margin-top: -3px; " }= @user.name
          %h3{ style: "font-size:20px; "}= @evaluation.title
        %div{ style: "display: inline-block; vertical-align: top; float: right; text-align: right; margin-top: 10px; "}
          %h3{ style: "font-size:17px; line-height: 25px"}
            = link_to @user.email, "mailto:#{@user.email}"
          %h3{ style: "font-size:17px; line-height: 25px"} #{@user.city}, #{@user.state}, #{@user.country}
      .actions
        - if @evaluation_enrollment.submitted_at
          %span.submitted_at Submitted #{time_ago_in_words(@evaluation_enrollment.submitted_at)} ago
        = link_to group_evaluation_url(@group, @evaluation) do
          %div{ "data-tip" => "Back" }
            = image_tag "https://s3.amazonaws.com/moonlite-nsdub/static/random+icons/back.png"
        - if @evaluation_enrollment.archived_at
          = link_to save_group_evaluation_url(@group, @evaluation, user_id: @user.id, mode: "unarchive"), method: :put do 
            / Longer Text in this tip will not fit
            %div{ data: { tip: "Un-Archive" } }
              = image_tag "https://s3.amazonaws.com/moonlite-nsdub/static/random+icons/archive_selected.png", style: "margin-right: 0"
        - elsif @evaluation_enrollment.favorited_at
          = link_to save_group_evaluation_url(@group, @evaluation, user_id: @user.id, mode: "unfavorite"), method: :put do
            / Longer Text in this tip will not fit
            %div{ data: { tip:  "Un-Favorite" } }
              = image_tag "https://s3.amazonaws.com/moonlite-nsdub/static/random+icons/favorite_selected_darker.png", style: "margin-right: 0"
        - else
          = link_to save_group_evaluation_url(@group, @evaluation, user_id: @user.id, mode: "archive"), method: :put do
            %div{ "data-tip" => "Archive" }
              = image_tag "https://s3.amazonaws.com/moonlite-nsdub/static/random+icons/archive.png"
          = link_to save_group_evaluation_url(@group, @evaluation, user_id: @user.id, mode: "favorite"), method: :put do
            %div{ "data-tip" => "Favorite" }
              = image_tag "https://s3.amazonaws.com/moonlite-nsdub/static/random+icons/favorite.png", style: "margin-right: 0;"
    .body        
      - path = @results.first
      %ul#results_list.nav.nav-tabs
        - @results.each do |r|
          %li{ data: { permalink: r[:permalink], name: r[:name] } }
            %a= r[:name]
      .evaluations
        - @results.each do |r|
          .evaluation.hide{ id: r[:permalink] }
            %h3 Candidate Summary
            .challenge_stats
              -# .myrank
              -#   %span #
              -#   %p Percentile Rank
              .big_number_space
                .big_number
                  - if r[:metascore] == 0
                    N/A
                  - else
                    = r[:metapercentile]
                .text
                  MetaPercentile Ranking
                  - if r[:metascore_available]
                    
                    :css
                      .text [data-tip]:after { width: 276px; height: 127px; top: 23px; left:-20px; white-space: normal;}
                      .text [data-tip]:before { left: 3px; }
                      
                    .tip-below{ style: "display: inline-block;", data: {tip: "This is the percentile ranking for your candidate in this Challenge. Our percentile algorithm approximates how talented this person is compared to all other people who have also completed this Challenge. For example, a score of 97 would mean we estimate this person to be more adept that 97% of the other people who have taken this Challenge."}}
                      %img{src: "https://s3.amazonaws.com/moonlite-nsdub/static/random+icons/tooltip_light.png", style: "width: 16px; height: 16px; display: inline-block; margin-bottom: 3px;"}
                  - else
                    :css
                      .text [data-tip]:after { width: 210px; height: 54px; top: 23px; left:-20px; white-space: normal;}
                      .text [data-tip]:before { left: 3px; }
                      
                    .tip-below{ style: "display: inline-block;", data: {tip: "Not enough data. There needs to be at least 20 participants in a Challenge to calculate percentile rankings."}}
                      %img{src: "https://s3.amazonaws.com/moonlite-nsdub/static/random+icons/tooltip_light.png", style: "width: 16px; height: 16px; display: inline-block; margin-bottom: 3px;"}
              %table.table.overview
                %tbody
                %tr
                  %td.table_tip
                    %h3 #{r[:performance].percent_correct}%
                    %p.tip-below{ data: {tip: "Percent of multiple choice questions answered correctly."}} Correct MC
                  %td.table_tip
                    %h3 #{r[:performance].avg_time_to_answer.round(1)}s
                    %p.tip-below{ data: {tip: "Average response time per correct multiple choice question."}} Avg. Time per MC
                  - if r[:creative]
                    %td.table_tip
                      %h3= r[:creative].count {|x| not x.content.blank? }.to_s+"/"+r[:creative].count.to_s
                      %p.tip-below{ data: {tip: "Number of submitted Creative Response questions out of total available."}} Creative Response
              / This actually needs to be a check for custom challenge, not just metascore
              - if r[:metascore_available]
                .strengths_weaknesses{ style: ""}
                  .strengths 
                    .header{ style:"font-size: 16px; border-bottom: 1px solid rgba(0,0,0,.1);"}
                      Strengths
                    .body
                      - if r[:performance].strengths.empty?
                        %p{ style: "font-size: 12px;" } More data required.
                      - else
                        %ul
                          - r[:performance].strengths.each do |topic_name, stats|
                            %li= topic_name
                  .weaknesses 
                    .header{ style:"font-size: 16px; border-bottom: 1px solid rgba(0,0,0,.1);"}
                      Weaknesses
                    .body
                      - if r[:performance].weaknesses.empty?
                        %p{ style: "font-size: 12px;" } More data required.
                      - else
                        %ul
                          - r[:performance].weaknesses.each do |topic_name, stats|
                            %li= topic_name
                
            - if r[:creative].any?
              %div
                %a.header_link{ "data-target" => "#cr", "data-toggle" => "collapse", :type => "button"}  Creative Response
                #cr.collapse.in{ style: "margin-bottom: 20px;"}
                  %ol
                    - r[:creative].each do |completed_task|
                      %li
                        .answer
                          - task = completed_task.task
                          %p= task.question
                          - if completed_task.submitted_answer.try(:content).blank?
                            .skipped_cr
                              %img{ src: "https://s3.amazonaws.com/moonlite-nsdub/static/random+icons/warning.png"}
                              %p{ style: "display: inline-block; "} Candidate skipped this question. 
                          - else
                            %pre= completed_task.submitted_answer.try(:content).to_s
            - if r[:core].any?
              %div
                - if r[:creative].any?
                  %a.header_link{ "data-target" => "#mc", "data-toggle" => "collapse", :type => "button"} Multiple Choice (click to expand)
                - else
                  %a.header_link Multiple Choice
                #mc{ class: "#{"collapse" if r[:creative].any?}" }
                  %ol
                    - r[:core].each do |completed_task|
                      %li
                        .answer
                          - task = completed_task.task
                          %p= task.question
                          - if completed_task.correct?
                            %span.label.label-success Correct, #{completed_task.points_awarded} points
                          - else
                            %span.label.label-important Incorrect
                          %div{ style: "margin-top: 10px;"} 
                            Correct answer:
                            %pre= task.correct_answer.content # Correct answer
                          - if not completed_task.correct?
                            %div 
                              User response:
                              %pre= completed_task.answer # User supplied answer
        
                
                
        
