:javascript
  function compare_and_search(){
    var new_value = $("#evaluation_search").val();
    if(new_value != original_value){
      original_value = new_value;
      $.ajax('#{group_evaluations_url(@group)}',
        { 
          type: "GET", 
          data: { q: new_value }, 
          success: function(data, responseText){ 
            $(".evaluations").html(data);
          } 
        }
      );
    }
  }
  
  $(function(){
    original_value = $("#evaluation_search").val();
    setInterval("compare_and_search();", 300);
  });

.employer-container
  .employer-box
    .header
      = image_tag STONEY_SMALL_URL, class: "stoney", alt: "Stoney"
      %h2 Evaluations
      - unless @evaluations.empty?
        %input{ type: "text", placeholder: "Search Evaluations...", id: "evaluation_search" }
    .body
      .evaluations
        - if @evaluations.empty?
          .first_timer
            = image_tag "https://s3.amazonaws.com/moonlite-nsdub/static/nav+bar+icons/evaluations_dark.png"
            %h3 Evaluations
            %p An Evaluation is like a job application that measures a candidate's skills. A single Evaluation can contain multiple Challenges.
            = link_to "Create an Evaluation", new_group_evaluation_path(@group), class: "submit_button"
        - else
          = render "table"
              