:css
  body{ background-image: url("https://s3.amazonaws.com/moonlite-nsdub/static/Backgrounds/gplaypattern.png"); background-repeat: repeat; background-size: auto; }
  .aboutcontainer{ width: 900px; border-radius: 0px; margin-top: 25px; background-color: rgba(36, 72, 109, 0.8); }
  .aboutbox{ min-height: 600px; border-radius: 0; }
  .aboutbox .header { margin-bottom: 10px;}
  .aboutbox .header img { height: 72px; margin-top: -15px; }
  .aboutbox .header h2 { display: inline-block; font-size: 30px; }
  .aboutbox .header hr { margin: 8px; }
  .aboutbox .header input { float: right; border-radius: 0; margin: 10px 10px 0 0; padding: 7px 7px; font-size: 17px; }
  .aboutbox table { width: 100%; }
  .aboutbox table td { padding: 15px 10px; border-bottom: 1px solid #DDD; line-height: 25px;}
  .aboutbox table td a { font-size: 17px; color: #333; }


.aboutcontainer
  .aboutbox
    .header
      = image_tag STONEY_SMALL_URL, style:"", alt: "Stoney"
      %h2 Evaluations Manager
      %input{ type: "text", placeholder: "Search Evaluations..."}
    .body
      .evaluations
        - if @open_evaluations.empty?
          %p 
            You don't have any open evaluations. 
            = link_to "Create one now.", new_group_evaluation_path(@group)
        - else
          %table
            %tbody
              - @evaluations.to_a.reverse.each do |e|
                %tr
                  %td{ style: "width: 25%; overflow: hidden" }= link_to e.title, group_evaluation_path(@group, e)
                  %td{ style: "width: 25%; overflow: hidden" }
                    - e.paths.each do |path|
                      %img{ src: path.picture, style: "width: 25px; height: 25px;" }
                  %td{ style: "width: 25%; overflow: hidden" }= take_group_evaluation_url(e.permalink)
                  %td{ style: "width: 10%; overflow: hidden" }= e.evaluation_enrollments.count.to_s + " users"
                  %td{ style: "padding: 15px 5px; width: 20px;"}
                    = link_to edit_group_evaluation_path(@group, e) do
                      %img{ src: "https://s3.amazonaws.com/moonlite-nsdub/static/random+icons/gear_dark_small.png", style: "opacity: .8; height:20px; width:20px;", title:"Settings", alt: "Settings"}
              %tr
                %td{ colspan: "5", style: "border-bottom: 0;" }
                  = link_to "+ Create a new Evaluation", new_group_evaluation_path(@group)
      - unless @closed_evaluations.empty?
        %h2{ style: "margin-top: 30px; "} Closed Evaluations
        .evaluations.orange
          %table.table
            %thead
              %tr
                %th Title
                %th URL
                %th Candidates
                %th Last Submission         
                %th Settings