:javascript
  function compare_and_search(){
    var new_value = $("#evaluation_search").val();
    if(new_value != original_value){
      original_value = new_value;
      $.ajax('#{group_evaluations_url(@group)}',
        { 
          type: "GET", 
          data: { q: new_value }, 
          success: function(data, responseText){ 
            $(".evaluations").html(data);
          } 
        }
      );
    }
  }
  
  $(function(){
    original_value = $("#evaluation_search").val();
    setInterval("compare_and_search();", 300);
  });
  
:css
  .employer-container {width: 1040px;   }
  
.employer-container
  .employer-box
    .header
      = image_tag GIANT_STONEY, style:"display:inline; height:61px;", alt: "Stoney"
      %h2 #{@group.name}'s Evaluations
      - unless @evaluations.empty?
        %input{ type: "text", placeholder: "Search Evaluations...", id: "evaluation_search" }
    .body
      .evaluations
        - if @evaluations.empty?
          .first_timer
            = image_tag "https://s3.amazonaws.com/moonlite-nsdub/static/nav+bar+icons/evaluations_dark.png"
            %h3 Evaluations
            %p An Evaluation is like a job application that measures a candidate's skills. A single Evaluation can contain multiple Challenges.
            = link_to "Create an Evaluation", new_group_evaluation_path(@group), class: "submit_button"
            - if @candidate_count
              %div{ style: "margin: 15px auto -10px;" }
                %a{ onclick: "$(this).hide();$('#upgrade_group').show();" } #{@candidate_count} of #{Group::TRIAL_CANDIDATE_LIMIT} Candidates Tested -- Upgrade for unlimited candates
                = render "groups/signup/upgrade_form"
        - else
          = render "table"
              