#employer.employer-container{ style: "width: 800px; "}
  #create_evaluation.employer-box{ style: "padding: 8px; min-height: 350px; "}
    .header{ style: "padding: 12px 15px; border-bottom: 1px solid #DDD;" }
      = image_tag GIANT_STONEY, alt: "Stoney", class: "stoney"
      %h2{ style: "display: inline;" } Create an Evaluation
    %div{ style: "width: 86%; text-align: center; margin: 20px auto 0 auto; padding: 0 7% 0 7%;" }
      %h3 Your Evaluation has been created!
      .evaluation_info
        %span URL:
        %input{ value: take_group_evaluation_url(@evaluation.permalink), readonly:""}
        %div
          = image_tag LIGHT_BULB_URL, style: "height: 20px; display: inline; vertical-align: top;"
          %p Copy and paste this link into your job description, your career page, or anywhere else your candidates frequent.
      %p{ style: "margin-top: 18px; font-size: 16px;"}
        = link_to "Continue to Evaluation Overview", group_evaluations_path(@group)
      - if @is_trial
        .alert-preview.small-text.orange{ style: "margin: 20px auto;"}
          %p{ style: "margin: 0;"} Your trial account limits you to testing #{Group::TRIAL_CANDIDATE_LIMIT} candidates. You've already tested #{@candidate_count}.
