:css
  body{ background-image: url("https://s3.amazonaws.com/moonlite-nsdub/static/Backgrounds/gplaypattern.png"); background-repeat: repeat; background-size: auto; }
  .container.body {width: 1040px;   }
  .aboutbox{ border-radius: 0; }
  .aboutbox .header { margin-bottom: 10px; }
  .aboutcontainer{ width: 1040px; background-color:rgba(36, 72, 109, 0.8); margin-top: 25px; border-radius: 0;  }
  [data-tip]:before { left: 4px; }
  [data-tip]:after { left: -50px; }
  .no_data {display: inline-block;}
  .no_data [data-tip]:after { width: 180px; height: 56px; top: -73px; white-space: normal;}
  .challenge_image_tt { display: inline-block; }
  .challenge_image_tt [data-tip]:before { left: 11px;  }
  .challenge_image_tt [data-tip]:after { left: -2px; }
  .body tbody tr:hover { background-color: #EEE; }

#evaluation_manager.aboutcontainer
  %div.aboutbox{ style: "background-color: white; padding:8px;" }
    .header
      .controls
        = link_to group_evaluations_path(@group) do
          %div{ "data-tip" => "Back" }
            = image_tag "https://s3.amazonaws.com/moonlite-nsdub/static/random+icons/back.png"
        = link_to edit_group_evaluation_path(@group, @evaluation) do
          %div{ "data-tip" => "Edit" }
            %img.gear{ src: "https://s3.amazonaws.com/moonlite-nsdub/static/random+icons/gear_dark_small.png", alt: "Edit Evaluation"}
      %div{ style: "padding: 15px 15px 0 15px;"}
        = image_tag GIANT_STONEY, style:"display:inline; height:61px;", alt: "Stoney"
        %div{ style: "display: inline-block; vertical-align: top; margin-left: 5px; "}
          %h2{ style: "font-size: 30px; margin-bottom: -10px; margin-top: -3px; " }= @evaluation.title
          %h3{ style: "font-size:20px; "} Evaluation Overview
    .body{ style: "padding: 0 12px;"}
      %table.table
        %thead
          %tr{ style: "border-bottom: 1px solid rgba(0, 0, 0, .1);"}
            %th Name
            %th Email
            - @paths.each do |p|
              %th{ title: p.name, style: "width: 70px; text-align: center; " }
                .challenge_image_tt
                  %div{ "data-tip" => p.name }
                    = image_tag p.picture, class: "challenge_pic"
                - unless p.metascore_available?
                  .no_data
                    %div{ "data-tip" => "Not enough data. There needs to be at least 20 participants in a Challenge to calculate percentile rankings."}
                      %img{src: "https://s3.amazonaws.com/moonlite-nsdub/static/random+icons/tooltip_light.png", style: "width: 16px; height: 16px; display: inline-block; margin-bottom: 3px;"}
                  
            %th Submitted
            %th{ style: "text-align: right;" }
        %tbody
          - @evaluations.each do |e|
            %tr
              %td
                = link_to truncate(e.name, length: 20, separator: ' '), grade_group_evaluation_url(@group, @evaluation, u: e.user_id)
              %td= truncate(e.email, length: 25, separator: ' ')
              - @paths.each do |p|
                %td{ style: "padding-left: 20px;"}
                  - if e["e#{p.id}_metapercentile"] == "0"
                    N/A
                  - else
                    #{e["e#{p.id}_metapercentile"]}%
              %td
                - if e.submitted_at
                  #{time_ago_in_words(e.submitted_at)} ago
              %td
                - if e.favorited_at
                  %img{ src: "https://s3.amazonaws.com/moonlite-nsdub/static/Badges/star_yellow.png", style: "width: 15px; height: 15px; margin-top: -3px;", title: "Favorited" }
          - if @archive_exists
            %tr
              %td{ style: "border: none; "}
                - if @showing_archived
                  = link_to "- Hide archived candidates", group_evaluation_url(@group, @evaluation), style: "color: #404040"
                - else
                  = link_to "+ Show archived candidates", group_evaluation_url(@group, @evaluation, archived: true), style: "color: #404040"
          - if @evaluations.empty? and not @archive_exists
            %tr
              %td{ colspan: 5, style: "border-top: none;" } No one has taken this evaluation yet.

