:css
  body.employer{ background-image: url("https://s3.amazonaws.com/moonlite-nsdub/static/Backgrounds/gplaypattern.png"); background-repeat: repeat; background-size: auto; }
  
:javascript
  $(function(){
    $('.textfill').textfill({ maxFontPixels: 50 });
  });

#employer.employer-container{ style: "width: 900px; margin: 75px auto 70px auto;" }
  #take_evaluation.employer-box{ style: "min-height: 200px;" }
    .header
      .image_box
        = image_tag GIANT_STONEY, style: "height: 100px;"
      .text_box{ style: "margin: 8px 0 0 8px;"}
        %h1.textfill.submit_eval
          %span= @evaluation.title
        %h3= @evaluation.company
    .body
      .success-box
        = image_tag "https://s3.amazonaws.com/moonlite-nsdub/static/random+icons/big_check.png"
        %p Your application has been successfully submitted to #{@evaluation.company}.
      %hr{ style: "margin-bottom: 10px;"}
      %h3 Did you know MetaBright lets you prove your professional credentials?
      %p Join thousands of people who use MetaBright to measure and showcase their skills.
      = link_to "View Your Private Profile", profile_path(current_user.username), class: "submit_button_big"