:css
  body{ background-image: url("https://s3.amazonaws.com/moonlite-nsdub/static/Backgrounds/gplaypattern.png"); background-repeat: repeat; background-size: auto; }
  .aboutcontainer{ width: 900px;}
  

#employer.aboutcontainer
  #take_evaluation.aboutbox
    .header
      %h1= @evaluation.title
      %h3= @evaluation.company
    .welcome
      .holder
        .image_box
          = image_tag GIANT_STONEY
        .text_box
          %h3 Welcome to MetaBright!
          %p #{@evaluation.company} is using MetaBright to measure their job candidates' skills. MetaBright gives you the chance to prove and showcase what you know!
    %h2 Apply to this job
    .application_steps
      .step{ style: "margin-top: 0; "}
        .img-circle
          %span 1
        .instructions
          %h4 Create an Account
          = image_tag LIGHT_BULB_URL, style: "height: 15px; display: inline;"
          %p Registering allows #{@evaluation.company} to verify your identity.
          - if current_user
            .signup
              = link_to "/auth/google_oauth2", style: "display: inline-block; margin-right: 10px; margin-bottom: 0;", class: "button btn" do
                = image_tag ICON_LOGIN_GOOGLE, alt: "Google sign up"
                %span.landingbuttontext Google sign up »
              = link_to "/auth/linkedin_oauth2", style: "display: inline-block; margin: 0 18px;", class: "button btn" do
                = image_tag ICON_LOGIN_LINKEDIN, alt: "LinkedIn sign up"
                %span.landingbuttontext LinkedIn sign up »
              = link_to "/auth/github", style: "display: inline-block; margin-left: 10px;", class: "button btn" do
                = image_tag ICON_LOGIN_GITHUB, alt: "GitHub sign up"
                %span.landingbuttontext GitHub sign up »
          - else
            %h5 Thank you for signing in, #{current_user.name.split.first}!
        .step
          .img-circle
            %span 2
          .instructions
            %h4 Choose your Location
            = image_tag LIGHT_BULB_URL, style: "height: 15px; display: inline;"
            %p Your location helps #{@evaluation.company} know if you're eligible for the position.
        .step
          .img-circle
            %span 3
          .instructions
            %h4 Take Tests
            = image_tag LIGHT_BULB_URL, style: "height: 15px; display: inline;"
            %p Each test should take you about 10 minutes.
            .challenge_holder
              - @evaluation.paths.each do |p|
              - @enrollment = current_user.enrolled?(p)
                .challenge_card
                  = image_tag p.picture
                  %h5= p.name
                  - if @enrollment.total_points > 0
                    %div Completed
                  - else
                    = link_to "Begin Now", continue_path_path(p.permalink), class: "button button-small button-actionable"
        .step
          .img-circle
            %span 4
          .instructions
            %h4{ style: "margin-top: 10px;"} Submit Application
            %div{ style: "text-align: center; margin-top: 12px; "}
              = link_to "Submit", take_confirmation_evaluation_path(@evaluation), class: "button button-large button-actionable", style: "margin: 10px; float: left;"
          
    
:javascript
  $(function(){
    $("#new_path").submit(function(){
      if($("#stored_resource_id").val() == "" || $("path_name").val() == ""){
        alert("You must provide an image and a name before you can create a Challenge.");
        return false;
      } else {
        return true;
      }
    });
  });