:css
  body.employer{ background-image: url("https://s3.amazonaws.com/moonlite-nsdub/static/Backgrounds/gplaypattern.png"); background-repeat: repeat; background-size: auto; }
  p { margin-top: 5px; }

:javascript
  $(function(){
    $('.textfill').textfill({ maxFontPixels: 50 });
  });

- if current_user and @admin_group
  .alert-preview.green{ style: "margin: 60px auto -70px auto; width: 450px;"}
    %p You are viewing this Evaluation in preview mode.
    = link_to "Back to Evaluations Overview", group_evaluations_url(@admin_group), class: "submit_button"
    .clear_floats

.employer-container{ style: "width: 900px; margin-top: 75px;" }
  #take_evaluation.employer-box
    .header
      %h1.textfill.take_eval
        %span= @evaluation.title
      %h3= @evaluation.company
    .welcome
      .holder
        .image_box
          = image_tag GIANT_STONEY
        .text_box
          %h3 Welcome to MetaBright!
          %p #{@evaluation.company} is using MetaBright to measure their job candidates' skills. MetaBright gives you the chance to prove and showcase what you know!
    %h2 Apply to this job
    .application_steps
      .step{ style: "margin-top: 0; "}
        .img-circle
          %span 1
        .instructions
          %h4 Create an Account
          = image_tag LIGHT_BULB_URL, style: "height: 15px; display: inline;"
          %p Creating an account helps #{@evaluation.company} verify your identity. 
          - if current_user and not current_user.guest_user?
            %h5 Thank you for signing in, #{current_user.name.split.first}!
          - else
            / There are funny tabindexes here because we use floats to make the alignment nice
            .signup
              = link_to "/auth/google_oauth2", style: "float: left;", class: "button btn", tabindex: "1" do
                = image_tag ICON_LOGIN_GOOGLE, alt: "Google sign up"
                %span.landingbuttontext Google sign up »
              = link_to "/auth/github", style: "float: right;", class: "button btn", tabindex: "3" do
                = image_tag ICON_LOGIN_GITHUB, alt: "GitHub sign up"
                %span.landingbuttontext GitHub sign up »
              = link_to "/auth/linkedin", style: "display: block; margin: 0 auto;", class: "button btn", tabindex: "2" do
                = image_tag ICON_LOGIN_LINKEDIN, alt: "LinkedIn sign up"
                %span.landingbuttontext LinkedIn sign up »
              .clear_floats
              %a{style: "text-align: center; display: block; margin: 20px 0 0;", "data-target" => "#signup_form", "data-toggle" => "collapse", type: "button"} --Or create an account using your name, email address, and password--
              / When there are errors here, it should redirect back to eval url
              #signup_form.collapse{ style: "padding-right: 0 1% 1% 0; width: 100%; margin-top: 17px;"}
                - @user = current_user || User.new
                = form_for(@user) do |f|
                  = hidden_field_tag "redirect_url", take_group_evaluation_url(@evaluation.permalink)
                  = f.text_field :name, placeholder: "Name", style: "float: left; margin: 0;", tabindex: "4"
                  = f.password_field :password, value: nil, placeholder: "Password", style: "float: right; margin: 0;", tabindex: "6"
                  = f.text_field :email, style: "margin: 0 auto; display: block;", value: nil, placeholder: "E-Mail", tabindex: "5"
                  .clear_floats
                  = f.submit "Save", class: "button", descriptor: "save-evaluation-button", style: "width: inherit; text-align: center; font-size: 15px; padding: 7px 20px 5px 20px; margin-top: 10px;"
      .step
        .img-circle
          %span 2
        .instructions
          %h4 Choose your Location
          = image_tag LIGHT_BULB_URL, style: "height: 15px; display: inline;"
          %p Your location helps #{@evaluation.company} know if you're eligible for the position.
          - if current_user.nil? or current_user.country.blank? or current_user.state.blank?
            - @user = current_user || User.new
            - if current_user.nil?
              :javascript
                $(function(){ $("#update_location input, select").attr("disabled", "disabled").addClass("disabled"); });
                
            = form_for @user, html: { id: "update_location" } do |f|
              = hidden_field_tag "redirect_url", take_group_evaluation_url(@evaluation.permalink)
              %div
                %label Country
                = f.country_select :country, priority: %w(US GB CA FR DE IN KE NL), prompt: 'Please select a country'
              %div{ style: "margin: 0 26px;"}
                %label State/Province
                = render "shared/subregion_select", { form: f }
              %div{ style: "margin-right: 0;"}
                %label City
                = f.text_field :city, style: "width: 187px;", placeholder:"Please enter your city"
              = f.submit "Save", class: "button", descriptor: "save-evaluation-button", style: "z-index: 100000;"
          - else
            - country = Carmen::Country.coded(current_user.country)
            %h5 Location saved as #{current_user.city}, #{country.name}
            
      .step
        .img-circle
          %span 3
        .instructions
          %h4 Take Challenges
          = image_tag LIGHT_BULB_URL, style: "height: 15px; display: inline;"
          %p Each Challenge should take you about 20 minutes.
          .challenge_holder
            - evaluation_completed = current_user ? true : false
            - @evaluation.paths.each do |p|
            - @enrollment = current_user ? current_user.enrolled?(p) : nil
              .challenge_card
                = image_tag p.picture
                %h5= truncate(p.name, length: 22, separator: ' ')
                - if current_user and not current_user.country.nil?
                  - status = @evaluation.user_status(current_user, p)
                  - if status == :start or status == :continue
                    - if current_user.earned_points > 0
                      - take_link = continue_evaluation_path(@evaluation.id, p.id)
                    - else
                      - take_link = intro_eval_path(e: @evaluation.id, p: p.id)
                    - evaluation_completed = false
                    = link_to status.to_s.humanize, take_link, class: "button button-small submit_button", style: "float: none; text-shadow: none;"
                  - else
                    %div Completed
                - elsif current_user
                  = link_to "Enter Location", "", class: "button-small submit_button button", style: "float: none; text-shadow: none; opacity: 0.70; cursor: not-allowed;"
                - else
                  = link_to "Sign up to begin", "", class: "button button-small submit_button", style: "float: none; text-shadow: none; opacity: 0.70; cursor: not-allowed;"
      .step
        .img-circle
          %span 4
        .instructions
          %h4 Submit Application
          - if current_user and evaluation_completed and not current_user.country.nil?
            - if @evaluation_enrollment.submitted?
              %p You successfully submitted this application #{time_ago_in_words(@evaluation_enrollment.submitted_at)} ago.
            - else
              %div{ style: "text-align: center; margin-top: 12px; "}
                = link_to "Submit", submit_group_evaluation_path(@group, @evaluation), class: "submit_button", style: "margin: 10px; float: left;"
          - else
            = image_tag LIGHT_BULB_URL, style: "height: 15px; display: inline;"
            %p Once all previous steps are completed, you'll be able to submit your application.
