<h1>Refresh leaderboard</h1>
<%= form_tag({:controller => "leaderboards", :action => "create"}, :method => :post) %>
<div class="fields clearfix">
  <%= label_tag "Password" %>
  <div class="input">
    <%= text_field_tag :password %>
  </div>
</div>
<div class="actions">
  <%= submit_tag "Submit", :class => "btn primary"%>
  <%= link_to "Cancel", leaderboards_path, :class => "btn secondary" %>
</div>
