.post
  - unless feed.context == :profile or feed.context == :submission
    .postphotospace
      = link_to hovercard_user_path(event.username), class: "hovercard_link", remote: true do
        = image_tag User.picture(event.user_image_url), class: "photo", onerror: "user_img_error(this);"
  .postspace
    .postheader
      - if feed.context == :submission
        .postphotospace
          = link_to hovercard_user_path(event.username), class: "hovercard_link", remote: true do
            = image_tag User.picture(event.user_image_url), class: "photo", onerror: "user_img_error(this);"
      %h3
        = link_to truncate(event.name, length: 50), hovercard_user_path(event.username), class:"username hovercard_link", remote: true
        - if badge = User.reputation_badge(event.earned_points)
          = image_tag (badge[0]), class: "rep_badge_post", title: badge[1], alt: badge[1]
       
    .event-space
      .image
        = image_tag "#{event.image_link}"
      .content
        %p{ style: "margin-bottom: 10px;"}= event.content
        %p
          = link_to event.action_text, profile_path(event.username)
      .clear_floats