<div class="span10" style="border-left:1px solid #DDD; border-right:1px solid #DDD; padding:0px 20px;">
<% if @must_register && @completed %>
  <div style="height: 900px; padding:10px;">
    <p style="font-size: 18px; line-height:25px;"><%= link_to "Save your score", signin_path %> so that people can vote for your submissions, and so that you can vote on theirs!</p>
    <p style="font-size: 18px; line-height:25px;">Once you save your score, you can also take the next level of this challenge to improve your global ranking, create your own challenges and start a <%= link_to "Persona", "#" %>.</p>
  </div>
<% elsif !@completed %>
  <div style="height: 900px; padding:15px;">
    <p style="font-size: 18px; line-height:25px;">Complete the first level of this challenge to see where you rank on the global leaderboard and vote on other people's answers!</p>
    <% if @enrolled %>
      <%= link_to @start_mode, continue_path_path(@path), :class => "btn primary really_big clickable_link", :style => "margin: 20px 160px;"%>
    <% else %>  
      <%= form_for current_user.enrollments.build(:path_id => @path.id) do |f| %>
        <%= f.hidden_field :path_id %>
        <%= f.submit "Start "+name_for_paths, :class=> "btn primary really_big clickable_link", :style => "margin: 20px 180px;" %>
      <% end %>
    <% end %>
  </div>
<% else %>
  <% if @show_voting %>
    <% unless @in_drill_down %>
    <div class="row" style="margin-bottom:15px;">
      <div style="float:left; padding:0 10px; cursor:pointer;">
        <a onclick="show_creative_list();" class="underlined creative_link">Creative</a> | 
        <a onclick="show_knowledge_list();" class="knowledge_link" >Knowledge</a>
      </div>
      <div style="float:right; padding:0 10px;">
        <%= link_to "Newest", 
          path_path(@path, :order => "recent"), 
          :class => (@order.include?("votes") ? "" : "underlined") %> | 
        <%= link_to "Most Votes", 
          path_path(@path, :order => "votes"), 
          :class => (@order.include?("votes") ? "underlined" : "") %>
      </div>
    </div>
    <%= render "voting_explanation" %>
    <% else %>
    <div class="row" style="margin-bottom:15px;">
      <div style="float:left; padding:0 10px;">
        <%= link_to "<<< Back", path_path(@path, :order => "recent") %>
      </div>
    </div>
    <% end %>
    <%= render "creative_tasks_list" %>
  <% end %>
  <%= render "knowledge_tasks_list" %>
<% end %>
</div>