<script>
$(function(){
  $(".resolve_task").on("ajax:success", function(xhr, data, status){
    if(data.status == "success"){
      $(this).parents(".unresolved_task").slideUp();
    } else {
      $(this).find(".messages").text(data.errors);
    }
  });
});
  
</script>

<section>
  <h2>Unresolved Submissions</h2>
  <% if @unresolved_tasks.empty? %>
  <p>There are no unresolved submissions right now.</p>
  <% else %>
  <%= will_paginate(@unresolved_tasks) %>
  <ol id="unresolved_tasks_list">
    <% @unresolved_tasks.each do |ut| %>
      <li style="padding:15px; color:#404040;" class="unresolved_task">
        <div style="float;left;">
          <p style="font-size: 16px; font-weight:bold; margin-bottom: 20px;"><%= ut.task.question %></p>
          <% if ut.task.answer_sub_type == 100 %>
            <blockquote><p><%= ut.submitted_answer.content %></p></blockquote>
          <% elsif ut.task.answer_sub_type == 101 %>
            <p><%= image_tag sanitize(ut.submitted_answer.content), :style => "height: 200px;" %></p>
          <% elsif ut.task.answer_sub_type == 102 %>
            <p><%= youtube_embed(ut.submitted_answer.content).html_safe %></p>
          <% else %>
            <% raise "Invalid answer sub type." %>
          <% end %>
          <%= form_tag({:controller => :tasks, :action => :resolve, :id => ut.task_id}, remote: true, :method => :put, class: "resolve_task") %>
            <input type="hidden" value="<%= ut.id %>" name="completed_task[id]">
            <% unless @path.enable_voting %>
            <select name="completed_task[points]">
              <option value="0">No points</option>
              <option value="5">Half points</option>
              <option value="10">Full points</option>
            </select>
            <%= submit_tag "Save", :class => "btn primary", :style => "margin-left: 10px;" %>
            <%= submit_tag "Delete", :class => "btn danger", :style => "margin-left: 10px;" %>
            <span class="messages"></span>
            <% end %>
          </form>
        </div>
      </li> 
    <% end %>
  </ol>
  <%= will_paginate(@unresolved_tasks) %>
  <% end %>
</section>