<div style="float:right;">
  <% selected = "class='selected-time'" %>
  <%= link_to "7 days", dashboard_path_path(@path, :time => 7), :class => (@time == 7 ? "selected-time" : "") %> | 
  <%= link_to "30 days", dashboard_path_path(@path, :time => 30), :class => (@time == 30 ? "selected-time" : "") %>
</div>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript">
  // Load the Visualization API and the piechart package.
  google.load('visualization', '1.0', {'packages':['corechart', 'table', 'gauge']});

  // Set a callback to run when the Google Visualization API is loaded.
  google.setOnLoadCallback(drawTasksCompleted);

  function drawTasksCompleted(){
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Date');
    data.addColumn('number', 'Answered Questions');
    data.addColumn('number', 'New Users');
    data.addRows([
      <% @activity_over_time.each do |a| %>
      ['<%= a[:date] %>', <%= a[:completed_tasks] %>, <%= a[:enrollments] %>],
      <% end %>
    ]);
    var options = {'title':'Questions Answered and New Users by Day',
      'width': 600,
      'height':400,
      'legend': 'bottom',
      'chartArea': {'width': '90%', 'height': '60%'}
    };

    var chart = new google.visualization.LineChart(document.getElementById('graph_tasks_completed'));
    chart.draw(data, options);
    drawUserPoints();
  }
  
  function drawUserPoints(){
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Points');
    data.addColumn('number', 'Users');
    data.addRows([
      <% @user_points.each do |t| %>
      ['<%= t[0] %>', <%= t[1] %>],
      <% end %>
    ]);
    var options = {'title':'Users by Score',
      'width':150,
      'height':150,
      'legend': 'bottom',
      'chartArea': {'width': '100%', 'height': '80%'}
    };

    var chart = new google.visualization.PieChart(document.getElementById('graph_user_points'));
    chart.draw(data, options);
    drawUserScore();
  }
  
  function drawUserScore(){
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Label');
    data.addColumn('number', 'Value');
    data.addRows([
      ['Score', <%= @path_score %>]
    ]);
    var options = {
      title: 'Average Score',
      width: 150, height: 150,
      redFrom: 0, redTo: 40,
      yellowFrom:40, yellowTo: 70,
      greenFrom:70, greenTo: 100,
      minorTicks: 5,
      chartArea: {'width': '100%', 'height': '60%'}
    };

    var chart = new google.visualization.Gauge(document.getElementById('graph_score'));
    chart.draw(data, options);
  }
  </script>
<section>
  <h2>User Statistics</h2>
  <div class="row">
    <div class="span11">
      <div id="graph_tasks_completed"></div>
    </div>
    <div class="span4" style="">
      <div id="graph_score" style="border-bottom: 1px solid darkgray; padding:50px 0 0 40px;"></div>
      <div id="graph_user_points" style="padding:20px 0 0 40px;"></div>
    </div>
  </div>
</section>