<% if @knowledge_tasks.empty? || (@show_voting && !@in_drill_down) %>
  <% display = "none" %>
<% else %>
  <% display = "block" %>
<% end %>

<div id="knowledge_tasks_list" style="display: <%= display %>; margin-top: 15px;">
  <ol>
  <% @knowledge_tasks.each do |t| %>
    <% task = t[:task] %>
    <% answers = t[:answers] %>
    <% user_answer = t[:users_completed_task] %>
    <li style="margin-bottom:20px; padding-top:10px;  border-top: 3px solid #DDD;">
      <a href="<%= path_url(@path, :task_id => task.id) %>">
        <p style="font-size: 22px; margin-bottom: 20px; color: #404040;"><%= task.question %></p>
      </a>
      <% if task.answer_type == 1 %>
      <% answer = task.answers.first %>
      <div class="task" style="padding-left:45px;">
        <p class="answer">Answers: <%= answer.content %> (<%= task.fib_answer_breakdown %>%)</p>
      </div>
      <% elsif task.answer_type == 2 %>
      <ol style="padding-left:45px;" class="task">
      <% answers.each do |answer| %>
        <% answer_percent = answer.answer_percent %>
        <li class="answer <%= "correct" if answer.is_correct? %> <%= "user_answer" if user_answer.answer_id == answer.id %>">
          <%= answer.content %> <%= "(#{answer.answer_percent}%)" if answer_percent > 0 %>
        </li>
      <% end %>
      </ol>
      <% else %>
        <% raise "Invalid answer type." %>
      <% end %>
      <div class="comments" style="float:left; margin-top: 20px;">
        <%= render "comments/comments", :owner => task, :owner_type => "Task", :owner_id => task.id %>
      </div>
    </li>
  <% end %>
  </ol>
</div>