<div class="row" style="border: 2px solid #DDD; margin:0; background-color:whitesmoke; margin-bottom: 20px;">
  <div class="span5" style="margin:0; padding: 2px 0 0px 2px;">
    <%= image_tag @path.path_pic, :size => "250x250", :style=>"border:1px solid #DDD;" %>
  </div>
  <div class="span11" style="margin: 0; padding:2px 0px 0px 0px; width:655px;">
    <div class="row" style="height: 75px;">
      <div style="float:left; width:400px;">
        <h1 style="font-size: 28px;line-height:28px; margin:6px 0 4px 0;"><%= @path.name %></h1>
      </div>
      <div style="margin:5px; padding:8px; float:right; background-color: white; text-align:right; border:1px solid darkgray;">
        <div style="font-size: 18px; padding:2px;">
          <%= current_user.name %> <%= image_tag current_user.profile_pic, :size => "15x15" %>
        </div>
        <% if @completed %>
        <p style="margin-bottom:0px;">You're ranked <strong><%= @user_rank %></strong> with <strong><%= pluralize(@total_points_earned.to_i, "point") %></strong>
        </p>
        <p style="margin-bottom:0px;">You reached a skill ranking of <strong><%= @skill_ranking.to_s %></strong>!</p>
        <% else %>
        <p style="margin:3px;">Complete <%= name_for_paths %> to see Ranking</p>
        <% end %>
      </div>
    </div>
    <div class="row hoverscroll">
      <h6 style="margin:0;padding:0;line-height:15px;color:#404040;">Recent Activity</h6>
      <div class="hoverscroll_left"></div>
      <div class="hoverscroll_container" style="height: 150px; margin-left: -5px;">
        <div class="hoverscroll_content">
        <% if @activity_stream.empty? %>
          <p style="margin:15px;">No one has taken this <%= name_for_paths %> yet. Be the first by clicking <strong>Start Challenge</strong> below!</p>
        <% else %>
          <% @activity_stream.each do |item| %>
            <%= render "activity_stream_item", :item => item %>
          <% end %>
        <% end %>
        </div>
      </div>
      <div class="hoverscroll_right"></div>
    </div>
  </div>
</div>