<div>
  <h3>Sections</h3>
  <% if sections.empty? %>
  <p>No sections have been published for this <%= name_for_paths %> yet. Check back later to see if any have been posted!</p>
  <% else %>
    <ul class="media-grid">
    <% previous_completed = false %>
    <% first_path = true %>
    <% sections.each do |s| %>
      <% section_open = true if (@path.enable_nonlinear_sections || s.position <= @current_position || previous_completed || !@enrolled)%>
      <% section_opacity = section_open ? "1.0" : "0.5" %>
      <% section_link = section_open ? section_path(s) : "#" %>
      <li>
        <a href="<%= section_link %>" style="opacity: <%= section_opacity %>;">
          <% if @enrolled && !@path.enable_nonlinear_sections %>   
            <% if s.remaining_tasks(current_user) <= 0 %>
              <span class="section-caption">COMPLETED</span>
              <% previous_completed = true %>
            <% elsif s.remaining_tasks(current_user) == s.tasks.size && previous_completed == false && first_path == false %>
              <span class="section-caption">LOCKED</span>
              <% previous_completed = false %>
            <% else %>
              <span class="section-caption">IN PROGRESS</span>
              <% previous_completed = false %>
            <% end %>
          <% end %>
          <% first_path = false %>
          <img class="thumbnail" src="<%= s.pic %>" height="150" width="160" title="<%= s.name %>">
        </a>
      </li>
    <% end %>
    </ul>
  <% end %>
</div>