<section class="tab_content">
<%= form_for(path) do |f| %>
  <%= render "shared/error_messages", :object => f.object %>
  <div class="field clearfix">
    <%= f.label name_for_paths+" Name" %>
    <div class="input">
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="field clearfix">
    <%= f.label :description %>
    <div class="input">
      <%= f.text_area :description, :rows => "3", :placeholder => "Try to describe this "+name_for_paths+" to others in a few sentences...", :style => "width: 300px;" %>
    </div>
  </div>
  <div class="field clearfix" style="margin-top:10px;">
    <label>Picture URL</label>
    <div class="input">
      <%= f.text_field :image_url, :id => "image_url_input", :class=>"xlarge", :placeholder => "URL to picture..." %>
      <a class="btn secondary" style="margin-left:10px;">Preview</a>
    </div>
  </div>
  <div class="field clearfix">
    <div class="input">
      <%= image_tag(path.path_pic, :class => "image_url_preview", :height => "50px", :style=>"margin:30px 0px 20px 0  px") %>
    </div>
  </div>
  <div class="field clearfix" style="margin-bottom: 5px;">
    <%= f.label :tags %>
    <div class="input">
      <%= f.text_area :tags, :rows => "1", :placeholder => "Seperate each tag with a comma...", :style => "width: 300px;" %>
    </div>
    <div class="input" style="padding: 5px 0 5px 0; line-height: 15px;">
      <span>Add tags for search and recommendations.</span>
    </div>
  </div>
  <% if path.user == current_user %>
  <div class="field clearfix" style="margin-bottom: 5px;">
    <%= f.label :collaborators, :style => "padding-top:0px;" %>
    <div class="input">
      <%= link_to "View and add collaborators", collaborators_path_path(path), :style => "line-height:18px;" %>
    </div>
  </div>
  <% end %>
  <div class="field clearfix" style="margin-bottom: 5px;">
    <%= f.label :category %>
    <div class="input">
      <select id="path_category_id" name="path[category_id]">
        <% categories.each do |c| %>
          <% selected_value = c.id == path.category_id ? "selected='selected'" : "" %>
          <option value="<%= c.id %>" <%= selected_value %>><%= c.name %></option>
        <% end %>
      </select>
    </div>
  </div>
  <div class="field clearfix" style="margin-bottom: 0px;">
    <label>Permissions</label>
    <div class="input">
      <ul class="inputs-list" style="margin-bottom: 0px;">
        <li>
          <label>
            <%= f.check_box :is_public %>
            <span>Allow users to post this <%= name_for_paths %> to their public profile</span>
          </label>
        </li>
        <li>
          <label>
            <%= f.check_box :enable_section_display %>
            <span>Display section previews on the main <%= name_for_paths %> page</span>
          </label>
        </li>
        <li>
          <label>
            <%= f.check_box :enable_nonlinear_sections %>
            <span>Allow users to do sections in any order</span>
          </label>
        </li>
        <li>
          <label>
            <%= f.check_box :enable_retakes %>
            <span>Allow users retake questions until they get them right</span>
          </label>
        </li>
        <li>
          <label>
            <%= f.check_box :is_locked %>
            <span>Make visible but only accessible by creators and collaborators</span>
          </label>
        </li>
      </ul>
    </div>
  </div>
  <hr>
  <div style="margin: 10px 0;">
    <div style="float:left;">
    <%= link_to "Access Control", edit_path_path(path, :m => "access_control"), :class => "btn secondary" %>
    <% if path.is_published %>
      <%= link_to "Unpublish", unpublish_path_path(@path), :class => "btn danger", :style => "margin-left: 10px;", :confirm => "Are you certain you want to unpublish this "+name_for_paths+"?" %>
    <% else %>
      <%= link_to "Publish", publish_path_path(@path), :confirm => "Are you certain that you want to publish this just yet? Once its been published, it cannot be unpublished, though you can always make changes.", :class => "btn primary", :style => "margin-left: 10px;" %>
    <% end %>
    </div>
    <div style="float:right;">
      <%= f.submit "Save", :class => "btn primary", :style => "margin-right: 10px;" %>
      <span class="btn secondary" onclick="$('#settings_modal').modal('hide');">Close</span>
    </div>
  </div>
<% end %>
</section>