<section class="tab_content">
<%= form_for(path) do |f| %>
  <%= render "shared/error_messages", :object => f.object %>
  <div class="field clearfix">
    <%= f.label name_for_paths+" Name" %>
    <div class="input">
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="field clearfix">
    <%= f.label :description %>
    <div class="input">
      <%= f.text_area :description, :rows => "3", :placeholder => "Try to describe this "+name_for_paths+" to others in a few sentences...", :style => "width: 300px;" %>
    </div>
  </div>
  <div class="field clearfix">
    <%= f.label :category %>
    <div class="input">
      <select id="path_category_id" name="path[category_id]">
        <% categories.each do |c| %>
          <% selected_value = c.id == path.category_id ? "selected='selected'" : "" %>
          <option value="<%= c.id %>" <%= selected_value %>><%= c.name %></option>
        <% end %>
      </select>
    </div>
  </div>
  <hr style="margin-top:10px; margin-bottom:10px;"/>
  <div class="field clearfix" style="margin-bottom: 0px;">
    <label>Permissions</label>
    <div class="input">
      <ul class="inputs-list" style="margin-bottom: 0px;">
        <li>
          <label>
            <%= f.check_box :is_public %>
            <span>Allow users to post this <%= name_for_paths %> to their public profile</span>
          </label>
        </li>
        <li>
          <label>
            <%= f.check_box :enable_section_display %>
            <span>Display section previews on the main <%= name_for_paths %> page</span>
          </label>
        </li>
        <li>
          <label>
            <%= f.check_box :enable_nonlinear_sections %>
            <span>Allow users to do sections in any order</span>
          </label>
        </li>
        <li>
          <label>
            <%= f.check_box :enable_retakes %>
            <span>Allow users retake questions until they get them right</span>
          </label>
        </li>
        <li>
          <label>
            <%= f.check_box :is_locked %>
            <span>Make visible but only accessible by creators and collaborators</span>
          </label>
        </li>
      </ul>
    </div>
  </div>
  <hr style="margin-top:10px; margin-bottom:10px;"/>
  <div class="field clearfix">
    <label>Picture URL</label>
    <div class="input">
      <%= f.text_field :image_url, :id => "image_url_input", :class=>"xlarge", :placeholder => "URL to picture..." %>
      <a class="btn secondary" style="margin-left:10px;">Preview</a>
    </div>
  </div>
  <div class="field clearfix">
    <div class="input">
      <%= image_tag(path.path_pic, :class => "image_url_preview", :height => "90px", :style=>"margin:30px 0px 20px 0  px") %>
    </div>
  </div>
  <hr/>
  <%= link_to "Access Control", edit_path_path(path, :m => "access_control"), :class => "btn secondary", :style => "float:left;" %>
  <div style="float:right; margin: 0px 20px 0px 0px;">
    <%= f.submit "Save", :class => "btn primary", :style => "margin-right: 10px;" %>
    <span class="btn secondary" onclick="$('#settings_modal').modal('hide');">Close</span>
  </div>
<% end %>
</section>