<table class="learderboard">
  <% counter = 1 %>
  <% limit = 10 %>
  <% @leaderboards.each do |entry| %>
    <% if (counter <= limit) %>
    <tr>
      <td style="width:20px; padding-left: 2px; padding-right: 2px; border-top:none; border-bottom:1px solid #DDD;"><%= counter.to_s %></td>
      <td class="user-name" style="padding-left: 2px; padding-right: 2px; width:150px; border-top:none; border-bottom:1px solid #DDD;"><p><%= link_to truncate(entry.user.name, :length => 25), entry.user %></p><p><%= entry.score %></p></td>
    </tr>
    <% end %>
    <% if counter > limit && entry.user == current_user %>
    <tr>
      <td style="padding-left: 2px; padding-right: 2px;">...</td>
      <td  style="padding-left: 2px; padding-right: 2px;" class="user-name">...</td>
    </tr>
    <tr>
      <td style="padding-left: 2px; padding-right: 2px; font-weight: bold; background-color: lightyellow;"><%= counter.to_s %></td>
      <td style="padding-left: 2px; padding-right: 2px; font-weight: bold; background-color: lightyellow;" class="user-name"><p><%= link_to truncate(entry.user.name, :length => 25), entry.user %></p><p><%= entry.score %></p></td>
    </tr>
    <% end %>
    <% counter += 1 %>
  <% end %>
</table>