<section class="tab_header">
  <div>
    <h4 style="margin-top:-15px;"><%= name_for_paths %> Builder</h4>
    <%= image_tag @path.path_pic %>
    <h1><%= @path.name %></h1>
  </div>
  <div>
    <ul class="tabs">
      <li <% if @mode == "sections" %> class="active" <% end %>>
        <%= link_to "Sections", edit_path_path(@path.id, :m => "sections") %>
      </li>
      <% if @enable_achievements %>
      <li <% if @mode == "achievements" %> class="active" <% end %>>
        <%= link_to "Achievements", edit_path_path(@path.id, :m => "achievements") %>
      </li>
      <% end %>
      <li <% if @mode == "settings" %> class="active" <% end %>>
        <%= link_to "Settings", edit_path_path(@path.id, :m => "settings") %>
      </li>
      <li <% if @mode == "access_control" %> class="active" <% end %>>
        <%= link_to "Access Control", edit_path_path(@path.id, :m => "access_control") %>
      </li>
      <li style="float:right;">
        <%= link_to "View "+name_for_paths, @path, :style => "background-color:whitesmoke;" %>
      </li>
    </ul>
  </div>
</section>