<h2>Company <%= name_for_paths %> Transfer</h2>
<%= form_tag({:controller => :paths, :action => :change_company }, :method => "get", :style => "margin-top: 20px;") %>
  <p>Select a company from the dropdown below to transfer this <%= name_for_paths %> to.</p>
  <p>This <%= name_for_paths %> currently belongs to: <strong><%= @path.company.name %></strong></p>
  <p><span style="color:red; font-weight:bold;">WARNING:</span> It may be the only way, but be wary: You are about to nuke this object from orbit.</p>
  <div class="clearfix" style="margin:30px 0;">
    <label style="font-size: 16px;">Company</label>
    <div class="input">
      <select name="company_id">
        <% @companies.each do |c| %>
          <option value="<%= c.id %>" <% if c.id == @path.company.id %>selected="selected"<% end %>><%= c.name %></option>
        <% end %>
      </select>
    </div>
  </div>
  <div class="actions">
    <%= link_to "Back", paths_path, :class => "btn secondary" %>
    <%= submit_tag "Save", :class => "btn primary" %>
  </div>
</form>