%div.single_pane
  %h3{ style: "margin-bottom: 15px;" } Add collaborators to #{@path.name}
  - if @collaborators.empty?
    %p You have not added any collaborators to this Challenge yet.
  - else
    %p{ style: "margin-top:15px;" } The following users are already collaborating on #{link_to @path.name, @path}:
    %table
      - @collaborators.each do |c|
        %tr
          %td{ style: "width:75px;" }= image_tag c.profile_pic, size: "75x75"
          %td
            %p= c.name
            %p= link_to "Remove", undo_collaboration_path_path(@path, user_id: c.id), method: "put", confirm: "Are you certain you want to stop collaborating with this user?"
  %hr
  %p You can add new collaborations below entering their email address.
  = form_tag({controller: :paths, action: :collaborator}, method: :put, style: "margin-top: 30px;")
  %div.field.clearfix
    %label Email
    %div.input= text_field_tag "collaborator[email]", nil, autofocus: "autofocus"
  %div.actions{ style: "margin-top: 50px;" }
    = link_to "Back", edit_path_path(@path), class: "button button-standard", style: "margin-right:10px;"
    = submit_tag "Add Collaborator", class: "button button-actionable"