<section>
  <h3 style="margin-bottom: 15px;">Add collaborators to <%= @path.name %></h3>
  <% if @collaborators.empty? %>
    <p>You have not added any collaborators to this <%= name_for_paths %> yet.</p>
  <% else %>
  <p style="margin-top:15px;">The following users are already collaborating on <%= link_to @path.name, @path %>:
  <table>
    <% @collaborators.each do |c| %>
    <tr>
      <td style="width:75px;"><%= image_tag c.profile_pic, :size => "75x75" %></td>
      <td>
        <p style="font-size: 18px;"><%= c.name %></p>
        <p><%= c.catch_phrase.to_s %></p>
        <p>Joined <%= time_ago_in_words(c.created_at) %> ago</p>
        <p><%= link_to "Remove", undo_collaboration_path_path(@path, :user_id => c.id), :confirm => "Are you certain you want to stop collaborating with this user?" %></p>
      </td>
    </tr>
    <% end %>
  </table>
  <% end %>
  <hr>
  <p>You can add new collaborations below entering their email address.</p>
  <%= form_tag({:controller => :paths, :action => :collaborator}, :method => :put, :style => "margin-top: 30px;") %>
    <div class="field clearfix">
      <label>Email</label>
      <div class="input">
        <%= text_field_tag "collaborator[email]", nil, :autofocus => "autofocus" %>
      </div>
    </div>
    <div class="actions" style="margin-top: 50px;">
      <%= link_to "Back", edit_path_path(@path), :class => "btn secondary", :style => "margin-right:10px;" %>
      <%= submit_tag "Add Collaborator", :class => "btn primary" %>
  </form>
</section>