= render "paths/popups/launchpad", { display: @display_dashboard }
%section
  %div#topsection
    %div#updatespace
      %div{ style: "display:inline; width:20%;" }
        = image_tag @path.path_pic, class: "bigheaderimage"
      %div.rightofbigheaderimage{ style: "width:80%;" }
        %div#topboxcontent
          %div.span5{ style: "width: 600px;" }
            %h1= @path.name
            %h3 #{@path.sections.size} sections - #{@path.enrolled_user_count} users
          %div.userctrlpanel
            %button.btn.danger{style: "margin-bottom: 5px;"} Dashboard
            %p= current_user.name
            %span#level Level #{@enrollment.level} - 
            %span#points #{@enrollment.total_points.to_i.to_s} pts
        %div.challengecarousel
          %ul.inlinedisplay
            - @enrolled_users.each do |u|
              %li
                %div.mosaic-block.bar2
                  = link_to user_path(u), class: "mosaic-overlay", target: "_blank" do
                    %div.details
                      %h4= u.name
                  %div
                    %img.mosaic-backdrop{ src: u.profile_pic }
  %div.row
    %div.span5
      %div.leftbox
        %div.leftboxheader Leaderboard
        %ul#ranks
          - @leaderboards.each_with_index do |entry, i|
            %li
              %span.rank= (i+1).to_s
              = image_tag entry.user.profile_pic 
              = link_to truncate(entry.user.name, length: 25), entry.user, class: "name"
              %span.level lvl. #{entry.user.level(@path)}
              %span.points= entry.score
    %div.span11
      = render "shared/newsfeed", { newsfeed_items: @responses }
