<style>
  .completion img, h1, h4, a{
    display: inline;
  }
  .completion a {
    margin: 30px 20px 0px 0px;
  }
  .suggested-paths {
    margin-bottom: 15px;
    background: white url(/images/bg_mlt_slider.GIF) repeat-x left bottom;
  }
  .suggested-paths img {
    height: 150px;
    width: 210px;
  }
  .suggested-paths ul {
    margin-top: 20px;
  }
  .suggested-paths h2 {
    display: inline;
  }
  .suggested-paths span {
    float:right;
    padding-top:10px;
    font-style: italic;
    font-size: 14px;
  }
</style>
<section class="completion row">
  <div class="span4">
    <%= image_tag @path.path_pic, :size => "200x200" %>
  </div>
  <div class="span12" style="margin-top: 15px;">
    <h1>Congratulations!</h1>
    <div>
      <h4>You have successfully completed this path. You earned <%= @total_points_earned %> points for this path.</h4>
      <br>
      <a href="http://www.linkedin.com/shareArticle?mini=true&url=<%= hero_path_path(@path.id, :hero => current_user.id) %>&title=Moonlite Achievement Unlocked!&summary=<%= current_user.name %> is now a certified expert in <%= @path.name %>. Can you beat their score?&source=<%= hero_path_path(@path.id, :hero => current_user.id)%>"><img src="/images/linkedin-connect.GIF" width="150" height="45"></a>
      <a href="http://www.facebook.com/sharer.php?u=<%= hero_path_path(@path.id, :hero => current_user.id) %>"><img src="/images/facebook-connect.GIF" width="150" height="55"></a>
      <a href="http://www.twitter.com"><img src="/images/twitter-connect.PNG" width="150" height="45"></a>
    </div>
  </div>
</section>
<hr>
<section class="suggested-paths">
  <h2>Similar Paths</h2>
  <span>Categories: Just for fun, Pop Culture, Travel</span>
  <ul class="media-grid">
    <li><a href="http://www.linkedin.com"><img src="http://upload.wikimedia.org/wikipedia/commons/thumb/7/7c/Kevin_Costner_DF-SD-05-08959_crop.jpg/220px-Kevin_Costner_DF-SD-05-08959_crop.jpg"></a></li>
    <li><a href="http://www.linkedin.com"><img src="http://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Star_Wars_Logo.svg/300px-Star_Wars_Logo.svg.png"></a></li>
    <li><a href="http://www.linkedin.com"><img src="http://top-people.starmedia.com/tmp/swotti/cacheAM9OBIBJDXNHY2S=/imgJohn%20Cusack1.jpg"></a></li>
    <li><a href="http://www.linkedin.com"><img src="http://images.wikia.com/lotr/images/a/a5/Lotr_movie_gimli.jpg"></a></li>
  </ul>
</section>
<section class="suggested-paths">
  <h2>Recommended for you</h2>
  <span>Categories: Business, Sales, Information Technology</span>
  <ul class="media-grid">
    <li><a href="http://www.linkedin.com"><img src="http://ecx.images-amazon.com/images/I/5107Zv0Vv4L._BO2,204,203,200_PIsitb-sticker-arrow-click,TopRight,35,-76_AA300_SH20_OU01_.jpg"></a></li>
    <li><a href="http://www.linkedin.com"><img src="http://www.agilemarketing.net/wp-content/uploads/2012/01/RainmakingConversationsCover.jpg"></a></li>
    <li><a href="http://www.linkedin.com"><img src="http://www.thetechscoop.net/wp-content/uploads/2010/09/salesforce_logo.jpg"></a></li>
    <li><a href="http://www.linkedin.com"><img src="http://media.smashingmagazine.com/images/introduction-to-rails/rails.jpg"></a></li>
  </ul>
</section>