<%= render "tab_navigation" %>
<section class="tab_content">
  <%= form_tag({:controller => :paths, :action => :reorder_sections}, :method => :put) %>
  <div style="float: right; display:inline; margin-bottom: 10px;">
    <% if @reorder %>
      <%= submit_tag "Save", :class => "btn primary" %>
      <%= link_to "Cancel", edit_path_path(@path.id, :m => "sections"), :class=> "btn secondary" %>
    <% else %>
      <%= link_to "New Section", new_section_path(:path_id => @path.id), :class=>"btn primary" %>
      <%= link_to "Reorder", edit_path_path(@path.id, :m => "sections", :a => "reorder"), :class=>"btn secondary" %>
    <% end %>
  </div>
  <% if @sections.empty? %>
    <p style="padding:25px;"><%= name_for_paths.pluralize %> are broken down into individual sections. Get started by creating your <%= link_to "first section!", new_section_path(:path_id => @path.id) %></p>
  <% else %>
    <table>
    <% @sections.each do |s| %>
      <tr>
        <td style="width: 80px;">
          <%= image_tag(s.pic, :size => "75x75") %>
        </td>
        <td>  
        <h3>
           <%= link_to s.name, edit_section_path(s, :m => "instructions") %>
        </h3>
        <div style="float:left;display:inline;">
          <% if s.is_published %>
          <span class="label"><%= link_to "published", edit_section_path(s, :m => "settings"), :style => "color:white;" %></span>
          <% else %>
          <span class="label important"><%= link_to "not published", edit_section_path(s, :m => "settings"), :style => "color:white;" %></span>
          <% end %>
          <span class="label"><%= link_to s.tasks.count.to_s + " questions", edit_section_path(s, :m => "tasks"), :style => "color:white;" %></span>
        </div>
        <div style="float:right;display:inline">
          <% if @reorder %>
            <div class="field clearfix">
              <%= label_tag :order %>
              <div class="input">
                <select id="section_positions_<%= s.id %>" name="sections[positions][<%= s.id %>]" class="small">
                  <% (1..@sections.size).each do |x| %>
                    <option value="<%= x %>" <%= "selected='selected'" if s.position == x %>><%= x %></option>
                  <% end %>
                </select>
              </div>
            </div>
          <% else %>
            <%= link_to "Edit", edit_section_path(s), :class => "btn secondary" %>
            <%= link_to "Delete", s, :method => :delete, :confirm => "Are you sure you want to delete this section? This will delete all the questions associated with it as well.", :class => "btn secondary" %>
          <% end %>
        </div>
      </tr></td>
    <% end %>
    </table>
  <% end %>
</section>
<div class="actions">
  <%= link_to "View "+name_for_paths.pluralize, @path, :class => "btn primary" %>
</div>