<h1>Edit Challenge</h1>
<ul class="tabs">
	<li class="active"><a href="#">Content</a></li>
	<li><%= link_to "Settings", edit_path_path(@path, :m=>"settings") %></li>
	<li><%= link_to "Sections", edit_path_path(@path.id, :m=>"sections") %></li>
	<li><%= link_to "Achievements", edit_path_path(@path.id, :m=>"achievements") %></li>
</ul>
<section>
<%= form_for(@path) do |f| %>
	<%= render "shared/error_messages", :object => f.object %>
	<div class="field clearfix">
		<%= f.label :name %>
		<div class="input">
			<%= f.text_field :name %>
		</div>
	</div>
	<div class="field clearfix">
		<%= f.label :description %>
		<div class="input">
			<%= f.text_area :description, :class=>"markitup", :rows => "15", %>
		</div>
	</div>
	<div class="actions">
		<%= f.submit "Save", :class => "btn primary" %>
		<%= link_to "Back to Challenge", @path, :class => "btn secondary" %>
		<% if @file_upload_possible %>
      <%= link_to "Upload Setup File", file_path_path(@path), :class => "btn secondary" %>
    <% end %>
	</div>
<% end %>