<%= render "tab_navigation" %>
<section class="tab_content">
<%= form_for(@path) do |f| %>
	<%= render "shared/error_messages", :object => f.object %>
	<div class="field clearfix">
		<%= f.label "Path Name" %>
		<div class="input">
			<%= f.text_field :name %>
		</div>
	</div>
	<div class="field clearfix">
		<%= f.label :description %>
		<div class="input">
			<%= f.text_area :description, :class=>"markitup", :rows => "15", :placeholder => "Try to describe this path to others in a couple paragraphs or less..." %>
		</div>
	</div>
  <hr/>
	<div class="field clearfix">
		<label>Settings</label>
		<div class="input">
			<ul class="inputs-list">
				<li>
					<label>
						<%= f.check_box :is_published, :confirm => "This will publish the path so all users in your account can access it. Are you sure you want to publish this now?" %>
						<span>Publish this Path to your Moonlite account.</span>
					</label>
					<label>
						<%= f.check_box :is_public, :confirm => "This will publish the path so all users in your account can access it. Are you sure you want to publish this now?" %>
						<span>Allow users to post this Path to their public profile</span>
					</label>
					<label>
						<%= f.check_box :is_purchaseable, :confirm => "This will publish the Path to the Path Marketplace where any Moonlite account can purchase it. Are you sure you want to publish this to the Marketplace right now?" %>
						<span>List this Path Marketplace for purchase</span>
					</label>
				</li>
			</ul>
		</div>
	</div>
  <hr/>
  <div class="field clearfix">
		<label>Picture URL</label>
		<div class="input">
			<%= f.text_field :image_url, :id => "image_url_input", :class=>"xxlarge", :placeholder => "URL to picture..." %>
      <a class="btn secondary" style="margin-left:10px;">Preview</a>
    </div>
	</div>
	<div class="field clearfix">
		<div class="input">
			<%= image_tag(@path.path_pic, :id => "image_url_preview", :width => "210", :style=>"margin:20px 0px 20px 0  px") %>
		</div>
	</div>
	<div class="actions">
		<%= f.submit "Save", :class => "btn primary" %>
		<%= link_to "View Path", @path, :class => "btn secondary" %>
	</div>
<% end %>
</section>