<style>
  ul.pills {  }
  .pills a:hover { background-color: darkgray; }
  table td { border-top: 5px solid #DDD; }
  table tr { padding: 50px; }
  table p { font-size: 15px; }
  .editable { padding: 8px; }
  .section_editable { padding: 3px; width: 400px; }
  .editable:hover, .section_editable:hover { background-color: lightgray; cursor: pointer }
  h5 { font-weight: bold; }
</style>
<%= render "settings_modal", { :path => @path, :categories => @categories } %>
<% @sections.each do |s| %>
  <%= render "section_settings_modal", { :section => s } %>
<% end %> 
<div class="row" style="margin-bottom:20px;">
  <div style="float:right; display:inline;">
    <% if @path.is_published %>
      <%= link_to "View", @path, :class => "btn primary", :style => "margin:10px 0 10px 10px;" %>
    <% else %>
      <%= link_to "Publish", publish_path_path(@path), :confirm => "Are you certain that you want to publish this just yet? Once its been published, it cannot be unpublished, though you can always make changes.", :class => "btn primary", :style => "margin:10px 0 10px 10px;" %>
    <% end %>
    <span class="btn secondary edit_path_settings_button" style="margin:10px 0 0 10px;">Settings</span>
  </div>
  <div class="span3">
    <ul class="media-grid">
      <li>
        <a class="edit_caption_container edit_path_settings_button" style="cursor: pointer;" title="Click to edit">
          <div class="path-caption" style="opacity: .75; width: 155px; height: inherit; margin-top: 90px; display: none;">
            <span class="caption-title" style="font-size:20px; line-height:24px;">Edit</span>
          </div>
          <%= image_tag(@path.path_pic, :style=> "width:160px; min-height: 120px;", :class => "thumbnail") %>
        </a>
      </li>
    </ul>
  </div>
  <div class="span10">
    <h1 style="margin-bottom:5px;" class="editable" title="Click to edit"><%= @path.name %></h1>
    <p class="editable" style="font-size:15px;" title="Click to edit"><%= @path.description.empty? ? "Click here to add a description." : @path.description %></p>
  </div>
</div>
<section class="tab_content">
   <%= link_to "New Section", new_section_path(:path_id => @path.id), :class=>"btn secondary", :style => "float:right; display:inline;" %>
  <h2 style="font-size: 20px; color: darkgray;">SECTIONS</h2>
  <table>
  <% counter = 1 %>
  <% @sections.each do |s| %>
    <tr>
      <td class="section">
        <section style="min-height: 290px;">
          <div class="row">
            <div style="float:right;">
              <ul class="pills">
                <li class="active"><a class="edit_section_overview_pill" onclick="close_section_container(this);">Overview</a></li>
                <li><a class ="edit_section_questions_pill" onclick="display_section_questions($(this).parents('td.section'));">Questions</a></li>
                <li><a class ="edit_section_content_pill" onclick="display_section_content($(this).parents('td.section'));">Content</a></li>
              </ul>
            </div>
            <div class="span14">
              <% if s.has_custom_image? %>
              <div>
                <%= image_tag(s.pic, :size => "70x70", :style => "float:left; margin-right: 10px;") %>
              </div>
              <% end %>
              <h2 class="section_editable" onclick="$('#section_settings_modal_<%= s.id %>').modal({show:true});"><%= counter.to_s+". "+s.name %></h2>
              <div>
                <span class="label" style="font-size: 12px; vertical-align:middle;"><span id="question_counter"><%= s.tasks.size %></span> questions</span>
                <% unless s.is_published %>
                  <span class="label warning" style="font-size: 12px; vertical-align:middle; background-color: #0069D6;">draft</span>
                <% end %>
              </div>
              <%= render "sections/overview", { :s => s } %>
            </div>
          </div>
          <div class="section_questions_container row" style="margin: 10px 0px 0px 0px; display:none;">
            <%= render "sections/edit_tasks", { :section => s, :tasks => s.tasks, :display_new_task_form => true, :new_task => s.tasks.new } %>
          </div>
          <div class="section_content_container row" style="margin: 10px 0px 0px 0px; display:none;">
            <%= render "sections/edit_content", { :section => s, :info_resources => s.info_resources} %>
          </div>
        </section>
      </td>
    </tr>
    <% counter += 1 %>
  <% end %>
  </table>
</section>