%div#settings_modal.modal.hide.fade{ style: "top: 10%; margin-top: 0px; width: 600px;" }
  %div.modal-header
    %a.close
    %h3 Challenge Settings
  %div.modal-body
    = form_for(@path, html: { class: "form-horizontal" }) do |f|
      = render "shared/error_messages", object: f.object
      %div.control-group
        %label.control-label Challenge Name
        %div.controls= f.text_field :name
      %div.control-group
        %label.control-label Description
        %div.controls= f.text_area :description, style: "width: 300px;", rows: "3", placeholder: "Try to describe this Challenge to others in a few sentences..."
      %div.control-group{ style: "margin-bottom: 5px;" }
        %label.control-label Image
        %div.controls= render "stored_resources/new_image"
      %div.control-group
        %div.controls= image_tag(@path.path_pic, class: "original_image_preview", style: "height: 75px; max-width: 150px;")
      - if false
        %div.control-group{ style: "margin-bottom: 5px;" }
          %label.control-label Collaborators
          %div.controls= link_to "View and add collaborators", collaborator_path_path(@path), style: "line-height:18px;"
      %hr
      %div{ style: "float:right;" }
        %span.button.button-standard{ onclick: "$('#settings_modal').modal('hide');" } Close
        = f.submit "Save", class: "button button-actionable", style: "margin-right: 10px;"

- @sections.each do |s|
  %div{ id: "section_settings_modal_#{s.id}", class: "modal hide fade", style: "top: 50%;" }
    %div.modal-header
      %a.close
      %h3 Section Settings
    %div.modal-body
      = form_for(s, html: { class: "form-horizontal" }) do |f|
        %div.control-group
          %label.control-label Name
          %div.controls= f.text_field :name, class: "xlarge"
        %div.control-group
          %label.control-label Points to unlock
          %div.controls= f.text_field :points_to_unlock, placeholder: "optional..."
        %div.control-group
          %label.control-label Delete Section
          %div.controls{ style: "padding-top: 8px;" }= link_to "Delete", confirm_delete_section_path(s)
        %div{ style: "float:left; margin: 20px 20px 0px 0;" }
          - if s.published_at
            = link_to "Unpublish", unpublish_section_path(s), class: "button button-info", confirm: "Are you sure you want to unpublish this section?"
          - else
            = link_to "Publish", publish_section_path(s), class: "button button-info", confirm: "Are you sure you want to publish this section?"
        %div{ style: "float:right; margin: 20px 0 0px 0;" }
          %span.button.button-standard{ onclick: "$(this).parents('.modal').modal('hide');", style: "margin-right: 8px;" } Close
          = f.submit "Save", class: "button button-actionable"

%div.single_pane{ style: "min-height: 600px;" }
  %div.row{ style: "vertical-align: top; margin: 0 0 20px 0;"}
    %div.span3{ style: "width: 160px; "}
      %a.edit_caption_container.edit_path_settings_button{ style: "cursor: pointer;", title: "Click to edit" }
        %div.path-caption{ style: "opacity: 0.75;width: 165px; height: inherit; margin-top: 90px; display: none; position: absolute; background-color: rgb(245, 245, 245); padding-left: 10px; color: black;" }
          %span.caption-title{ style: "font-size:20px; line-height:24px;" } Edit
        = image_tag(@path.path_pic, class: "bigheaderimage")
    %div.span4{ style: "margin-left: 5px;" }
      %h1.editable{ style: "margin:0px;", title: "Click to edit" }= @path.name
      %p#challenge_desc_pop.editable{ style: "font-size:15px;", title: "Click to edit" }= @path.description.empty? ? "Click here to add a description." : @path.description
    %div.floatr{ style: "margin-top:10px;"}
      - if @path.published? && @path.approved?
        = link_to "View", challenge_path(@path.permalink), class: "button button-actionable"
      - elsif @path.published?
        = link_to "Waiting for Approval", "#", class: "button button-actionable disabled"
      - else
        = link_to "Publish", publish_path_path(@path), class: "button button-actionable", confirm: "Your Challenge must be approved by an admin before it's published. It can take up to 24 hours for a Challenge to be approved, but it's often much quicker. Once a Challenge has been published, it can't be unpublished, though you can always make changes.  Are you certain that you want to submit it now? "
      %span.button.button-standard.edit_path_settings_button{ onclick: "$('#settings_modal').modal({keyboard: true, show: true})"} Settings
  %div
    = link_to "New Section", new_section_path(:path_id => @path.id), class: "button button-standard", style: "float:right; display:inline;"
    %h2{ style: "font-size: 20px; color: darkgray;" } SECTIONS
    %hr{ style: "margin: 5px 0 0 0;" }
    %table.table
      - @sections.to_a.each_with_index do |s, i|
        %tr
          %td.section{ style: "border-bottom: 1px solid #EEE; border-top: 0px;" }
            %section
              %div.row{ style: "min-height: 75px;" }
                %div.floatr
                  %ul.nav.nav-pills
                    %li.active
                      %a.edit_section_overview_pill{ onclick: "close_section_container(this);", style:"cursor:pointer;" } Overview
                    %li
                      %a#questions_pop.edit_section_questions_pill{ onclick: "display_section_questions($(this).parents('td.section'));", style:"cursor:pointer;" } Questions
                    %li
                      %a#section_settings_pop.edit_section_settings_pill{ onclick: "$('#section_settings_modal_#{s.id}').modal({show:true});", style:"cursor:pointer;" } Settings
                %div.span8
                  %h3.section_editable{ style: "margin: 0px;", onclick: "$('#section_settings_modal_#{s.id}').modal({show:true});" }= (i+1).to_s+". "+s.name
                  %div
                    %span.label{ style: "font-size: 12px; vertical-align:middle;" }
                      %span#question_counter #{s.tasks.size} Questions
                    - unless s.published_at
                      %span.label.warning{ style: "font-size: 12px; vertical-align:middle; background-color: #0069D6;" } draft
              %div.section_questions_container.row{ style: "display:none; margin-top: 20px;" }
                = render "sections/edit_tasks", { section: s, tasks: s.tasks, display_new_task_form: true }