:javascript
  $(function(){
    $('.edit_section_questions_pill').each(bind_edit_section_questions);
    $('.edit_section_content_pill').each(bind_edit_section_content);
    $(".edit_path_settings_button, .editable").each(function(){
      $(this).click(function(){$('#settings_modal').modal({show: true, keyboard: true, static: true});});
    });
    $('.edit_caption_container').each(function(){
      $(this).hover(function(){ $(this).find("div").show(); }, function(){ $(this).find("div").hide(); });
    });
  });

#settings_modal.modal.hide.fade{ style: "top: 10%; margin-top: 0px; width: 600px;" }
  .modal-header
    %a.close
    %h3 Challenge Settings
  .modal-body{ style: "max-height: none; "}
    = form_for(@path, html: { class: "form-horizontal" }) do |f|
      = render "shared/error_messages", object: f.object
      .control-group
        %label.control-label Challenge Name
        .controls= f.text_field :name
      - unless @group
        .control-group
          %label.control-label Description (Optional)
          .controls= f.text_area :description, style: "width: 350px;", rows: "3", placeholder: "Try to describe this Challenge to others in a few sentences..."
      - if @enable_administration
        .control-group
          %label.control-label Default code template (Optional)
          .controls= f.text_area :template, style: "width: 350px;", rows: "7", placeholder: "This is the default template to appear for each newly created CR. It can always be edited for each question."
      .control-group{ style: "margin-bottom: 5px;" }
        %label.control-label Image (Optional)
        .controls= render "stored_resources/new_image"      
      .control-group
        .controls= image_tag(@path.path_pic, class: "original_image_preview", style: "height: 75px; max-width: 150px;")
      - if current_user.id == @path.user_id
        .control-group{ style: "margin-bottom: 10px;" }
          %label.control-label Custom CSS
          .controls{ style: "margin-top: 6px;" }= link_to "Customize Challenge Styles", style_path_path(@path.permalink), style: "line-height:18px; padding-top: 5px;"
        .control-group{ style: "margin-bottom: 10px;" }
          %label.control-label Permanently delete Challenge
          .controls{ style: "margin-top: 6px;" }= link_to "Delete", path_url(@path), method: :delete, confirm: "Are you sure you want to delete this Challenge? The Challenge will be removed from all your Evaluations and all candidate information collected with this Challenge will be deleted. This action is irreversible.", style: "line-height:18px; padding-top: 5px;"
      - if false
        .control-group{ style: "margin-bottom: 5px;" }
          %label.control-label Collaborators
          .controls= link_to "View and add collaborators", collaborator_path_path(@path.permalink), style: "line-height:18px;"
      %hr{ style: "margin: 10px 0; "}
      %div{ style: "float:right;" }
        %span.button.button-standard{ onclick: "$('#settings_modal').modal('hide');" } Close
        = f.submit "Save", class: "button button-actionable", style: "margin-right: 10px;"

- @sections.each do |s|
  %div{ id: "section_settings_modal_#{s.id}", class: "modal hide fade", style: "top: 50%;" }
    .modal-header
      %a.close
      %h3 Section Settings
    .modal-body
      = form_for(s, html: { class: "form-horizontal" }) do |f|
        .control-group
          %label.control-label Name
          .controls= f.text_field :name, class: "xlarge"
        .control-group
          %label.control-label Points to unlock
          .controls= f.text_field :points_to_unlock, placeholder: "optional..."
        .control-group
          %label.control-label Delete Section
          .controls{ style: "padding-top: 8px;" }= link_to "Delete", confirm_delete_section_path(s)
        %div{ style: "float:left; margin: 20px 20px 0px 0;" }
          - if s.published_at
            = link_to "Unpublish", unpublish_section_path(s), class: "button button-info", confirm: "Are you sure you want to unpublish this section?"
          - else
            = link_to "Publish", publish_section_path(s), class: "button button-info", confirm: "Are you sure you want to publish this section?"
        %div{ style: "float:right; margin: 20px 0 0px 0;" }
          %span.button.button-standard{ onclick: "$(this).parents('.modal').modal('hide');", style: "margin-right: 8px;" } Close
          = f.submit "Save", class: "button button-actionable"


:css
  body{ background-image: url("https://s3.amazonaws.com/moonlite-nsdub/static/Backgrounds/gplaypattern.png"); background-repeat: repeat; background-size: auto; }
  .container.body {width: 980px; }
  .aboutcontainer{ width: 980px; margin-top: -25px;}
  .aboutbox { padding: 15px 30px; }
    
#employer.aboutcontainer
  .aboutbox
    .header{ style: "vertical-align: top; margin: 0 0 20px 0;"}
      %div{ style: "display: inline-block; vertical-align: middle;" }
        %a.edit_caption_container.edit_path_settings_button{ style: "cursor: pointer;", title: "Click to edit" }
          = image_tag(@path.path_pic, class: "small-header-image")
      %div{ style: "display: inline-block; vertical-align: middle;" }
        %h1.editable{ style: "margin:0px;", title: "Click to edit" }= @path.name
      .floatr{ style: "margin-top:10px; vertical-align: middle;"} 
        - if @path.group_id
          .controls{ style: "margin-top: 10px;" }
            %div{ style: "display: inline-block;" }
              = link_to new_group_evaluation_path(@group) do
                = image_tag "https://s3.amazonaws.com/moonlite-nsdub/static/random+icons/back.png", style: "height: 20px; width: 20px; margin-right: 10px;"
            .edit_path_settings_button{ onclick: "$('#settings_modal').modal({keyboard: true, show: true})", style: "display: inline-block;" }
              %img.gear{ src: "https://s3.amazonaws.com/moonlite-nsdub/static/random+icons/gear_dark_small.png", alt: "Edit Evaluation", style: "height: 20px; width: 20px; cursor: pointer;"}
        - else
          - if @path.published? && @path.approved?
            = link_to "View", challenge_path(@path.permalink), class: "button button-actionable"
          - elsif @path.published?
            = link_to "Waiting for Approval", "#", class: "button button-actionable disabled"
          - else
            = link_to "Publish", publish_path_path(@path.permalink), class: "button button-actionable", confirm: (@group ? "Once published, your challenge will be available to be added to your evaluations, though you can return here and edit it at any time." : "Your Challenge must be approved by an admin before it's published. It can take up to 24 hours for a Challenge to be approved.")
          %span.button.button-standard.edit_path_settings_button{ onclick: "$('#settings_modal').modal({keyboard: true, show: true})"} Settings
    %div
      - unless @group
        = link_to "New Section", new_section_path(:path_id => @path.id), class: "button button-standard", style: "float:right; display:inline;"
        %h2{ style: "font-size: 20px; color: darkgray;" } QUESTIONS
      :javascript
        $(function(){ $(".section_questions_container").show() });
      %table.table
        - @sections.to_a.each_with_index do |s, i|
          %tr
            %td.section{ style: "border-bottom: 1px solid #EEE; border-top: 0px;" }
              %section
                .row{ style: (@group ? "" : "min-height: 75px;") }
                  - unless @group
                    .floatr
                      %ul.nav.nav-pills
                        %li.active
                          %a.edit_section_overview_pill{ onclick: "close_section_container(this);", style:"cursor:pointer;" } Overview
                        %li
                          %a.edit_section_questions_pill{ onclick: "display_section_questions($(this).parents('td.section'));", style:"cursor:pointer;" } Questions
                        %li
                          %a.edit_section_settings_pill{ onclick: "$('#section_settings_modal_#{s.id}').modal({show:true});", style:"cursor:pointer;" } Settings
                  .span6{ style: "margin-left: 12px;"}
                    - if @group
                      %h3 Challenge questions
                    - else
                      %h3.section_editable{ style: "margin: 0px;", onclick: "$('#section_settings_modal_#{s.id}').modal({show:true});" }= (i+1).to_s+". "+s.name
                      %div
                        %span.label{ style: "font-size: 12px; vertical-align:middle;" }
                          %span#question_counter #{s.core_tasks.size} Core Questions
                        %span.label{ style: "font-size: 12px; vertical-align:middle;" }
                          %span#question_counter #{s.challenge_tasks.size} Challenge Questions
                        %span.label{ style: "font-size: 12px; vertical-align:middle;" }
                          %span#question_counter #{s.achievement_tasks.size} Achievements
                        - unless s.published_at
                          %span.label.warning{ style: "font-size: 12px; vertical-align:middle; background-color: #0069D6;" } draft
                .section_questions_container.row{ style: "display:none;" }
                  = render "sections/edit_tasks", { section: s, tasks: s.tasks, display_new_task_form: true }