<h1>Upload File</h1>
<p style="padding:20px">To upload a path, package your path file into a zip and submit it below. You will have a chance to preview the path before its submitted for creation. For more details and help on how to properly create a path file for submission, see the tutorial on <a href="/tours/3/admin_tour">path creation</a>.</p>
<%= form_for @path, :url=>{:controller => "paths", :action => "preview"}, :html => { :method => "post", :multipart => true } do |f| %>
<div class="field clearfix">
	<%= f.label :file %>
	<div class="input">
		<%= f.file_field :file %>
	</div>
</div>
<label>Settings</label>
  <div class="input">
    <ul class="inputs-list">
      <li>
        <label>
          <%= check_box_tag :collected_answers %>
          <span>Create random incorrect answers for each question by sampling from the other answers for each section.<br/>
          <strong>NOTE:</strong> If you choose this option, fill in the correct_answer column. Leave the other answer columns blank.</span>
        </label>
      </li>
      <li>
        <label>
          <%= check_box_tag :tab_delimited %>
          <span>Check this box if you want the file task files to be processed as Tab Delimited files instead of .CSV files.<br/>
        </label>
      </li>
    </ul>
  </div>
</label>
<div class="actions">
	<%= f.submit "Submit", :class => "btn primary" %>
</div>
<% end %>