<% if @must_register %>
<script>
$(function(){
  $("#completion_content").fadeIn(2000);
  $('a:not([id*="sign"])').attr("href", "#");
  $('#save_score, a:not([id*="sign"])').click(function(){
    $('#jumpstart_registration_modal').modal({
      keyboard: true,
      backdrop: 'static',
      show: true
    });
  });
});
</script>
<%= render "paths/popups/jumpstart_registration", { :user => current_user, :path => @path } %>
<% end %>
<section id="completion_content" <% if @must_register %>style="display:none;"<% end %>>
  <section>
    <div class="row">
      <div class="span3" style="width: 130xp;">
        <ul class="media-grid">
          <li>
            <a>
              <%= image_tag @path.path_pic, :style => "min-height: 100px; max-height: 105px; max-width: 130px;" %>
            </a>
          </li>
        </ul>
      </div>
      <div class="span13" style="margin: 0 0 0 0px; ">
        <h1 style="margin-bottom:2px;">Congratulations!</h1>
        <p style="font-size:13px; font-style: italic; font-weight:bold; margin-bottom: 10px;">You have successfully completed this <%= name_for_paths.downcase %></p>
        <div>
          <p style="line-height:20px; font-size:17px;">
            You're now ranked <strong><%= @user_rank %></strong> with <strong><%= @total_points_earned.to_i %> points</strong>. You reached a skill ranking of <strong><%= @skill_ranking.to_s %></strong>.
            <% if @next_rank_points.to_i > 0 %>You only need <%= @next_rank_points.to_i %> points to move up to the next rank!<% end %>
          </p>
          <% if @must_register %>
          <p style="line-height:20px; font-size:17px;">
            Create an account below so you can <span style="text-decoration:underline; font-weight:bold;">improve your ranking</span>, <span style="text-decoration:underline; font-weight:bold;">start a public profile</span> and <span style="text-decoration:underline; font-weight:bold;">unlock more challenges!</span>
          </p>
          <% end %>
        </div>
      </div>
    </div>
    <% if @must_register %>
      <%= render "users/registration", { :user => current_user, :submit_button_name => "Save Score" } %>
    <% else %>
    <div style="margin:20px;">
      <% if @enable_comments %>
        <div style="display:inline;">
          <a href="http://www.linkedin.com/shareArticle?mini=true&url=<%=u jumpstart_path_path(@path.id) %>&title=Moonlite Achievement Unlocked!&summary=<%= current_user.name %> is now a certified expert in <%= @path.name %>. Can you beat their score?&source=<%= jumpstart_path_path(@path.id)%>" target="_blank"><img src="/images/linkedin-connect.gif" width="150" height="45"></a>
        </div>
        <div style="display:inline; padding:20px;">
          <a href="http://www.facebook.com/sharer.php?u=<%=u jumpstart_path_path(@path.id) %>" target="_blank"><img src="/images/facebook_connect.png" width="150" height="45"></a>
        </div>
        <div style="display:inline;">
          <a href="https://twitter.com/intent/tweet?url=<%=u jumpstart_path_path(@path.id) %>&text=I just rocked this <%= name_for_paths %> on MetaBright!" target="_blank"><img src="/images/twitter-connect.png" width="150" height="45"></a>
        </div>
      <% end %>
    </div>
    <% end %>
  </section>
  </section>
  <% if @enable_recommendations %>
  <hr/>
  <%= render "pages/suggested_paths", {:paths_title => "Similar "+name_for_paths.pluralize, :paths_list => @similar_paths} %>
  <% end %>
  <section>
  <%= render "leaderboards/leaderboard", 
    { :leaderboard_entries => @leaderboards[1], 
      :leaderboard_id => "Overall", 
      :display => true, 
      :disable_filler => true, 
      :highlight => current_user.id,
      :limit => 5,
      :table_class => "bordered-table"
  } %>
</section>