<% if @must_register %>
<script>
$(function(){
  $('a').not(".clickable_link").attr("href", "#");
  $('#save_score, a').not(".clickable_link").click(function(){
    $('#jumpstart_registration_modal').modal({
      keyboard: true,
      backdrop: 'static',
      show: true
    });
  });
});
</script>
<%= render "users/jumpstart_registration", { :user => current_user, :path => @path } %>
<% end %>
<script>
$(function(){
  $(".vote_button").on("ajax:success",
    function(event, data){
      if(data.errors){
        alert(data.errors);
      } else {
        console.log($(this).parents("li:first").children("div:last"));
        var $vote_counter = $(this).parents("li:first").children("div.vote_count");
        console.log($vote_counter);
        var votes = parseInt($vote_counter.text());
        console.log(votes);
        if($(this).hasClass("primary")){
          $(this).removeClass("primary").addClass("secondary").text("Vote");
          $vote_counter.html("<span class='label notice' style='font-size: 16px;'>+"+(votes-1)+"</span>");
        } else if($(this).hasClass("secondary")){
          $(this).removeClass("secondary").addClass("primary").text("Voted");
          $vote_counter.html("<span class='label notice' style='font-size: 16px;'>+"+(votes+1)+"</span>");
        }
      }
    }
  );
});
</script>
<section id="completion_content">
  <section>
    <div class="row">
      <div class="span3" style="width: 130xp;">
        <ul class="media-grid">
          <li>
            <a>
              <%= image_tag @path.path_pic, :style => "min-height: 100px; max-height: 105px; max-width: 130px;" %>
            </a>
          </li>
        </ul>
      </div>
      <div class="span13" style="margin: 0 0 0 0px; ">
        <h1 style="margin-bottom:2px; text-decoration: underline;">Congratulations!</h1>
        <p style="font-size:13px; font-style: italic; font-weight:bold; margin-bottom: 10px;">You have successfully completed this <%= name_for_paths.downcase %></p>
        <div>
          <p style="line-height:20px; font-size:17px;">
            You're now ranked <strong><%= @user_rank %></strong> with <strong><%= pluralize(@total_points_earned.to_i, "point") %></strong>. You reached a skill ranking of <strong><%= @skill_ranking.to_s %></strong>.
            <% if @next_rank_points.to_i > 0 %>You only need <%= pluralize(@next_rank_points.to_i, "point") %></strong> to move up to the next rank!<% end %>
          </p>
        </div>
      </div>
    </div>
  </section>
  <hr style="margin:10px;"/>
  <section>
    <div class="row">
      <div class="span3">
        <table class="learderboard">
        <% counter = 1 %>
        <% limit = 10 %>
        <% @leaderboards.each do |entry| %>
          <% if (counter <= limit) %>
          <tr>
            <td style="width:20px; padding-left: 2px; padding-right: 2px; border-top:none; border-bottom:1px solid #DDD;"><%= counter.to_s %></td>
            <td class="user-name" style="padding-left: 2px; padding-right: 2px; width:150px; border-top:none; border-bottom:1px solid #DDD;"><p><%= link_to truncate(entry.user.name, :length => 25), entry.user %></p><p><%= entry.score %></p></td>
          </tr>
          <% end %>
          <% if counter > limit && entry.user == current_user %>
          <tr>
            <td style="padding-left: 2px; padding-right: 2px;">...</td>
            <td  style="padding-left: 2px; padding-right: 2px;" class="user-name">...</td>
          </tr>
          <tr>
            <td style="padding-left: 2px; padding-right: 2px; font-weight: bold; background-color: lightyellow;"><%= counter.to_s %></td>
            <td style="padding-left: 2px; padding-right: 2px; font-weight: bold; background-color: lightyellow;" class="user-name"><p><%= link_to truncate(entry.user.name, :length => 25), entry.user %></p><p><%= entry.score %></p></td>
          </tr>
          <% end %>
          <% counter += 1 %>
        <% end %>
        </table>
      </div>
      <div class="span10" style="border-left:1px solid #DDD; border-right:1px solid #DDD; padding:0px 20px;">
        <% if @must_register %>
        <div style="height: 900px;">
          <p style="font-size: 18px; line-height:25px;"><%= link_to "Save your score", signin_path %> so that people can vote for your submissions, and so that you can vote on theirs!</p>
          <p style="font-size: 18px; line-height:25px;">Once you save your score, you can also take the next level of this challenge to improve your global ranking, create your own challenges and start a <%= link_to "Persona", "#" %>.</p>
        </div>
        <% else %>
        <% if @show_voting %>
        <div style="float:right; padding:0 10px; display:block;">
          <%= link_to "Newest", finish_path_path(@path, :order => "recent") %> | <%= link_to "Most Votes", finish_path_path(@path, :order => "votes") %>
        </div>
        <div style="width:100%; height: 40px;"></div>
        <div style="margin: 0 20px 20px 20px; padding:10px; font-size:18px; background-color: #0069D6; color:white; border-radius: 5px;">
          <span style="float:right; padding:0px 3px 1px 3px; border:1px solid white; cursor: pointer; border-radius:3px;" onclick="$(this).parent().fadeOut();">x</span>
          <h3 style="color:white; font-size:20px;margin-bottom: 10px">How does voting work?</h3>
          <p style="color:white; font-size:17px;">We don't really know yet, to be honest. But we're really working pretty hard to figure it out. Vote anyway, if you wouldn't mind, please.</p>
        </div>
        <% end %>
        <ol>
          <% @tasks.each do |t| %>
          <% task = t[:task] %>
          <% submitted_answers = t[:submitted_answers] %>
          <% user_answer = t[:users_completed_task].answer %>
          <li style="margin-bottom:20px; padding-bottom:10px; border-bottom:3px solid darkgray;">
            <p style="font-size: 22px; margin-bottom: 20px; color: #404040;"><%= task.question %></p>
            <% if task.answer_type == 0 %>
            <ol style="list-style: none; margin-left: 0;">
              <% submitted_answers.each do |sa| %>
                <li style="padding:20px; margin: 0 20px 20px 20px; border-top: 1px solid lightgray; color: #404040; <% if @current_users_answers.include?(sa.id) %> background-color:whitesmoke; <% end %>">
                  <div style="float:right;">
                    <% if @votes.include?(sa.id) %>
                      <%= link_to "Voted", vote_task_path(sa.task.id, :sa_id => sa.id), :remote => true, :class => "btn primary vote_button clickable_link" %>
                    <% else %>
                      <%= link_to "Vote", vote_task_path(sa.task.id, :sa_id => sa.id), :remote => true, :class => "btn secondary vote_button clickable_link" %>
                    <% end %>
                  </div>
                <% if task.answer_sub_type == 100 %>
                  <blockquote><p style="font-size: 18px;"><%= sa.content %></p></blockquote>
                <% elsif task.answer_sub_type == 101 %>
                  <%= link_to image_tag(sanitize(sa.content), :style => "max-width: 400px; min-width:200px;"), sanitize(sa.content), :target => "_blank" %>
                <% elsif task.answer_sub_type == 102 %>
                  <%= youtube_embed(sa.content).html_safe %>
                <% else %>
                  <% raise "Invalid answer sub type." %>
                <% end %>
                  <div>
                    <span class="" style="font-size: 12px;">Posted <%= time_ago_in_words(sa.created_at) %> ago</span>
                  </div>
                  <div class="vote_count" style="margin-top:10px;">
                    <span class="label notice" style="font-size: 16px;">+<%= sa.total_votes %></span>
                  </div>
                </li>
              <% end %>
            </ol>
            <% elsif task.answer_type == 1 %>
            <p>Not sure what to do with FIB yet.</p>
            <% elsif task.answer_type == 2 %>
            <ol style="padding-left:20px;" class="task">
              <% total_answers = task.total_answers %>
              <% ca = task.correct_answer %>
              <% unless task.answer1.blank? %>
                <li class="answer <%= "correct" if ca == 1 %> <%= "user_answer" if user_answer == task.answer1 %>">
                  <%= task.answer1 %> (<%= task.answer_percent(1) %>%)
                </li>
              <% end %>
              <% unless task.answer2.blank? %>
                <li class="answer <%= "correct" if ca == 2 %> <%= "user_answer" if user_answer == task.answer2 %>">
                  <%= task.answer2 %> (<%= task.answer_percent(2) %>%)
                </li>
              <% end %>
                <% unless task.answer3.blank? %>
                <li  class="answer <%= "correct" if ca == 3 %> <%= "user_answer" if user_answer == task.answer3 %>">
                  <%= task.answer3 %> (<%= task.answer_percent(3) %>%)
                </li>
              <% end %>
                <% unless task.answer4.blank? %>
                <li class="answer <%= "correct" if ca == 4 %> <%= "user_answer" if user_answer == task.answer4 %>">
                  <%= task.answer4 %> (<%= task.answer_percent(4) %>%)
                </li>
              <% end %>
            </ol>
            <% else %>
              <% raise "Invalid answer type." %>
            <% end %>
          </li>
          <% end %>
        </ol>
        <% end %>
      </div>
      <div class="span2">
        <ul class="media-grid">
          <% @similar_paths.each do |similar_path| %>
            <li><%= link_to image_tag(similar_path.path_pic, :size => "100x90", :title => similar_path.name), similar_path, :class => (similar_path.is_locked ? "locked_challenge" : "") %>
          <% end %>
        </ul>
      </div>
    </div>
  </section>
</section>