<style>
  .hero {
    margin-top: 20px;
  }
  .hero h1 {
    font-size: 20px;
    line-height: 25px;
    font-weight: normal;
    margin-bottom: 10px
  }
  .hero .btn {
    font-size: 18px;
    line-height: 23px;
  }
  .path h1 {
    margin-bottom: 5px;
  }
  .hero p {
    font-size: 15px;
  }
</style>
<section class="hero row">
  <div style="float:left; margin: 0px 15px 5px 0px;">
    <%= image_tag(@user_hero.profile_pic, :size => "100x100") %>
  </div>
  <div style="width: 845px; margin-bottom: 0px;">
		<h1><strong><%= @user_hero.name %></strong> completed the <strong><%= @path.name %></strong> challenge with a score of <%= @hero_score %>. Can you beat that?</h1>
      <%= link_to "Begin", path_path(@path), :class => "btn primary", :style => "float:right; margin: 15px 5px 0px 0px;"%>
	</div>
  <div>
    <p>Other completed challenges:</p>
    <div>
      <% @other_completed_paths.each do |p| %>
        <%= image_tag p.path.path_pic, :size => "25x25", :title => p.path.name, :style => "margin-right: 15px;" %>
      <% end %>
    </div>
  </div>
</section>
<hr>