:css
  legend { font-size: 16px; }
  .form_field { margin: 20px 20px 30px 30px; }
  input, select { padding: 3px; font-size: 16px; color: #404040; }
%div.single_pane
  :javascript
    $(function(){
      $("#new_path").submit(function(){
        if($("#stored_resource_id").val() == "" || $("path_name").val() == ""){
          alert("You must provide an image and a name before you can create a challenge.");
          return false;
        } else {
          return true;
        }
      });
    });
  %div
    = image_tag "https://s3.amazonaws.com/moonlite-nsdub/static/stoney+100x150.png", style: "height: 60px; display: inline; vertical-align: middle"
    %h1{ style: "display: inline; vertical-align: middle;" } Create a Challenge
  %hr{ style: "margin: 5px 0 20px 0;"}
  = form_for(@path) do |f|
    = render "shared/error_messages", object: f.object
    %div{ style: "margin-left: 50px;" }
      %legend 1. What is the name of your Challenge?
      %div.field.clearfix
        %div.form_field
          = f.text_field :name, autofocus: "autofocus"
          %p Examples: 'Advanced jQuery Techniques' or just 'Jimi Hendrix'
      %legend 2. Choose a Persona for your Challenge to belong to:
      %div.field.clearfix
        %div.form_field
          = f.select :persona_id, current_company.personas.collect{|p|[p.name, p.id]}
          %p Every Challenge belongs to just one Persona - so choose wisely...
      %legend 3. Upload an image to represent your Challenge:
      %div.field.clearfix
        %div.form_field
          = render "stored_resources/new_image"
      = link_to "Cancel", root_path, class: "button button-standard"
      = f.submit "Next", class: "button button-actionable", style: "margin-left: 15px;"
