<h1 style="margin-bottom: 30px;">New <%= name_for_paths %></h1>
<%= form_for(@path) do |f| %>
  <%= render "shared/error_messages", :object => f.object %>
  <div class="field clearfix">
    <label><%= name_for_paths %> name</label>
    <div class="input">
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="field clearfix">
    <%= f.label :category %>
    <div class="input">
      <select id="path_category_id" name="path[category_id]">
        <% @categories.each do |c| %>
          <option value="<%= c.id %>"><%= c.name %></option>
        <% end %>
      </select>
    </div>
  </div>
  <div class="field clearfix">
    <label>Picture URL</label>
    <div class="input">
      <%= f.text_field :image_url, :id => "image_url_input", :class=>"xxlarge", :placeholder => "URL to picture..." %>
      <a class="btn secondary" style="margin-left:10px;">Preview</a>
    </div>
  </div>
  <div class="field clearfix">
    <div class="input">
      <%= image_tag(@path.path_pic, :id => "image_url_preview", :width => "210", :style=>"margin:20px 0px 20px 0  px") %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit "Save", :class => "btn primary" %>
    <%= link_to "Cancel", root_path, :class => "btn secondary" %>
  </div>
<% end %>