:css
  legend { font-size: 16px; }
  .form_field { margin: 20px 20px 30px 30px; }
  input, select { padding: 7px; font-size: 16px; color: #404040; }
%div.single_pane
  %div
    = image_tag "https://s3.amazonaws.com/moonlite-nsdub/static/stoney+100x150.png", style: "height: 60px; display: inline; vertical-align: middle"
    %h1{ style: "display: inline; vertical-align: middle;" } Create a Challenge
  %hr{ style: "margin: 5px 0 20px 0;"}
  = form_for(@path) do |f|
    = render "shared/error_messages", object: f.object
    %div{ style: "margin-left: 50px;" }
      %legend 1. What is the name of your Challenge?
      %div.field.clearfix
        %div.form_field
          = f.text_field :name, autofocus: "autofocus"
          %p Examples: 'Advanced jQuery Techniques' or just 'Jimmy Hendrix'
      %legend 2. Choose a Persona for your Challenge to belong to
      %div.field.clearfix
        %div.form_field
          = f.select :persona_id, current_company.personas.collect{|p|[p.name, p.id]}
          %p Every Challenge belongs to one Persona - so choose wisely...
      %legend 3. Upload an image for to represent your challenge
      %div.field.clearfix
        %div.form_field
          = render "stored_resources/new_image"
      = link_to "Cancel", root_path, class: "button button-standard"
      = f.submit "Next", class: "button button-info", style: "margin-left: 15px;"
