:css
  body{ background-image: url("https://s3.amazonaws.com/moonlite-nsdub/static/Backgrounds/gplaypattern.png"); background-repeat: repeat; background-size: auto; }
  .aboutcontainer{ width: 900px; margin-top: 35px;}


#employer.aboutcontainer
  .aboutbox{ style: "padding: 8px;"}
    %div{ style: "width: 100%; border-bottom: 1px solid #DDD;" }
      = image_tag STONEY_SMALL_URL, style: "height: 115px; display: inline; vertical-align: middle", alt: "Stoney"
      %h1{ style: "display: inline; vertical-align: middle; font-size:50px;" } Create a Challenge
    
    %div{ style: "width: 86%; text-align: center; margin: 20px auto 0 auto; padding: 0 7% 0 7%;" }
      = form_for(@path, url: start_path_path) do |f|
        %div{ style: "text-align: center; margin: 10px auto;" }
          %div.action_group.challenge_naming
            %h3 Give your Challenge a name
            %div.control-group
              %div.controls
                = f.text_field :name, autofocus: "autofocus", style: "padding: 20px; width: 500px; font-size: 28px; line-height: 36px; text-align: center;", placeholder: "Something awesome..."
            
            - if @group
              %p Create a challenge.
            
            - elsif @exact_path
              %h4 Uh oh! Someone has already made that Challenge.
              %h5 Don't worry, you can still contribute to the #{@exact_path.name} Challenge.
              %div
              = link_to "Become a contributor", join_path_path(@exact_path), class: "button button-xlarge button-info"
              .or_divider OR
              
            - elsif @similar_paths.any?
              %h4 Hmmm. Looks like there are Challenges with similar names.
              %img{ alt: "Lightbulb", src: LIGHT_BULB_URL }
              %h5 Consider becoming a contributor to an existing Challenge instead of creating a new one.
              - @similar_paths.each do |path|
                %ul
                  %li
                    = link_to path.name, join_path_path(path), title: "Become a contributor to the #{path.name} Challenge"
            - else
              %div.tips
                %h5
                  %img{ alt: "Lightbulb", src: LIGHT_BULB_URL }
                  Stick to the Goldilocks rule for names: "Mathematics" is too broad, "Order of Operations" too narrow, but "Algebra" would be just right.
        
    
      %div.row{ style: "margin-bottom: 30px; margin-right:auto; margin-left:auto; " }
        %button.button.button-xlarge.button-actionable{ onclick: "$('#new_path').submit();" } Check name availability
      
      
  
:javascript
  $(function(){
    $("#new_path").submit(function(){
      if($("#stored_resource_id").val() == "" || $("path_name").val() == ""){
        alert("You must provide an image and a name before you can create a Challenge.");
        return false;
      } else {
        return true;
      }
    });
  });
        
        