%div.single_pane
  %div{ style: "width: 100%; border-bottom: 1px solid #DDD;" }
    = image_tag STONY_SMALL_URL, style: "height: 60px; display: inline; vertical-align: middle", alt: "Stoney"
    %h1{ style: "display: inline; vertical-align: middle;" } Create a Challenge
    
  %div{ style: "width: 86%; text-align: center; margin: 20px auto 0 auto; padding: 0 7% 0 7%;" }
    = form_for(@path) do |f|
      = render "shared/error_messages", object: f.object
      %div{ style: "text-align: center; margin: 10px auto;" }
        
        %div.action_group
          %h3 What is the name of your Challenge?
          %div.control-group
            %div.controls
              = f.text_field :name, autofocus: "autofocus", style: "padding: 20px; width: 500px; font-size: 28px; line-height: 36px; text-align: center;", placeholder: "Something awesome..."
          %div.tips
            %h5
              %img{ alt: "Lightbulb", src: LIGHT_BULB_URL }
              Use to goldilocks rule for names: "Mathematics" would be too broad, "Order of Operations" too narrow, but "Algebra" would be just right.
        
        %div.action_group
          %h3 Upload an image to represent your Challenge
          %div.field.clearfix
            %div.form_field
              = render "stored_resources/new_image"
          %div.tips
            %h5 
              %img{ alt: "Lightbulb", src: LIGHT_BULB_URL }
              Images of medium resolution that's roughly a square with a color backgrounds tend to work best.
        
        %div.action_group 
          %h3 Choose a Challenge template
          %div.field.clearfix
            %div.form_field
              %label.checkbox
                = f.radio_button(:template_type, "difficulty", style: "margin-top: -2px;" )
                Organize Sections difficulty level (Novice, Intermediate, Advanced, Master)
              %label.checkbox
                = f.radio_button(:template_type, "subtopic", style: "margin-top: -2px;" )
                Organize Sections by subtopic name
              %label.checkbox
                = f.radio_button(:template_type, "blank", style: "margin-top: -2px;" ) 
                Blank template
          %div.tips
            %h5 
              %img{ alt: "Lightbulb", src: LIGHT_BULB_URL }
              You can always add, remove or rename any section before you publish your Challenge.
    
    %div.row{ style: "text-align: center; margin-bottom: 30px;" }
      %button.button.button-large.button-actionable{ onclick: "$('#new_path').submit();" } Create My Challenge
      
:css
  h3 { font-size: 28px; }
  .action_group { margin-bottom: 40px; }
  .action_group h3 { margin: 0 0 15px 0; }
  .tips { width: 400px; margin: 5px auto; }
  .tips h5 { display: inline-block; width: 350px; }
  .tips img { vertical-align: top;display: inline-block; height: 13px; width: 13px; }
  .template_image { width: 60px; height: 60px; }
  .button.button-large { font-size: 24px; line-height: 30px; font-weight: lighter; }
  .button.button-large:hover { box-shadow: 0px 0px 5px black; }
  .action_group .image_preview { width: 200px; height: 200px; max-width: 200px; }
:javascript
  $(function(){
    $("#new_path").submit(function(){
      if($("#stored_resource_id").val() == "" || $("path_name").val() == ""){
        alert("You must provide an image and a name before you can create a Challenge.");
        return false;
      } else {
        return true;
      }
    });
  });