:javascript
  $(function(){
    $(".image_picker img").click(function(){
      $(".image_picker img").removeClass("selected");
      $("#path_image_url").val($(this).attr("src"));
      $(this).addClass("selected");
    })
  })

.employer-container{ style: "width: 880px;"}
  #create_evaluation.employer-box
    .header
      = image_tag GIANT_STONEY, style:"display:inline; height:61px;", alt: "Stoney"
      %h2 Create a Challenge
    
    %div{ style: "width: 86%; text-align: center; margin: 20px auto 0 auto; padding: 0 7% 0 7%;" }
      = form_for(@path, url: group_paths_path) do |f|
        = f.hidden_field :image_url
        = render "shared/error_messages", object: f.object
        %div{ style: "text-align: center; margin: 10px auto;" }
          %div.action_group
            %h3 Give your Challenge a name:
            = f.text_field :name, autofocus: "autofocus", style: "padding: 8px; width: 400px; font-size: 16px; text-align: center;"
            %h5 Examples: Hadoop Test, Salesforce Administration, Marketing Principles
          %div.action_group
            %h3 
              Choose a Challenge image:
            %table.image_picker
              %tr
                %td
                  = image_tag CHALLENGE_IMAGE_STRATEGY
                  = image_tag CHALLENGE_IMAGE_WRITING
                  = image_tag CHALLENGE_IMAGE_NETWORKING
                  = image_tag CHALLENGE_IMAGE_GENERIC1
              %tr
                %td
                  = image_tag CHALLENGE_IMAGE_CODE
                  = image_tag CHALLENGE_IMAGE_GENERIC2
                  = image_tag CHALLENGE_IMAGE_SALES
                  = image_tag CHALLENGE_IMAGE_FINANCE
            %a.image_upload_toggle{onclick: "$(this).hide(); $('#path_image_url').val(''); $('.image_picker img').removeClass('selected'); $('#challenge_image_upload').show();"} 
              Or upload your own image...
            #challenge_image_upload.field.clearfix.hide
              %div.form_field
                = render "stored_resources/new_image"
              %div.tips
                %h5 
                  %img{ alt: "Lightbulb", src: LIGHT_BULB_URL }
                  Try to choose an image of medium resolution that's roughly a square, and has a color background.

    
      %div.row{ style: "margin-bottom: 30px; margin-right:auto; margin-left:auto; " }
        %button.button.button-actionable{ form: "new_path", style: "margin-top: 15px;" } Create My Challenge