<section style="float:right;">
<% if @path.user_id == current_user.id %>
	<%= link_to "Edit", {:controller => "paths", :action => "edit", :id => @path.id }, :class => "btn primary" %>
<% end %>
</section>
<section class="path">
	<div style="float:left; margin: 0px 15px 5px 0px;"><%= image_tag(@path.path_pic, :size=>"50x50") %></div>
	<div>
		<h1>
			<%= @path.name %>
		</h1>
	</div>
	<div style="padding:10px">
		<p><%= @path.description %></p>
	</div>
	<% if !@sections.empty? %>
	<div>
		<h3>Sections</h3>
		<ol>
		<% @sections.each do |s| %>
			<li><h5><%= link_to s.name, s %></h5></li>
		<% end %>
		</ol>
	</div>
	<% end %>
	<% if !@achievements.empty? %>
	<div>
		<h3>Achievements</h3>
		<ol>
		<% @achievements.each do |a| %>
			<li>
				<h5><%= a.name %></h5>
				<p><%= a.description %></p>
			</li>
		<% end %>
		</ol>
	</div>
	<% end %>
	<% if !@info_resources.empty? %>
	<div>
		<h3>Resources</h3>
		<ol>
		<% @info_resources.each do |resource| %>
			<li>
				<p><%= resource.description %></p>
				<p><%= link_to resource.link, resource.link, :target => "_blank" %></p>
			</li>
		<% end %>
		</ol>
	</div>
	<% end %>
	<section>
	<% if !current_user.enrolled?(@path) %>
		<%= render "enroll" %>
	<% end %>
	</section>
	<% if current_user.enrolled?(@path) %>
		<p>You are currently enrolled.</p>
	<% end %>
</section>