#challenge
  - unless current_user
    #new_user.help_box
      .help_close{ onclick: "$(this).parent().slideUp();" }
        = image_tag ICON_CLOSE_URL, alt: "Close"
      .header
        = image_tag STONEY_SMALL_URL, alt: "Stoney" 
        %h1 Looks like you're new here...
      .body
        %h4 MetaBright is the place to prove and showcase your skills. Poke around for a bit and try a practice problem.
        %a#practice_button.button.button-actionable{ onclick: "$('.quizcontainer').slideDown(); $.MB.init_arena();" } Take Practice Problem
        
        - @enrollment = @path.enrollments.new
        - @section = @path.sections.first
        - @task = @section.core_tasks.first
        - @answers = @task.answers
        - @question_count = 0
        - @streak = 0
        = render file: "sections/continue"
  
  .top
    = link_to challenge_path(@path.permalink), class: "home" do
      = image_tag @path.path_pic, alt: "#{@path.name}"
    - if current_user
      %a#launch_button.button.button-actionable{ onclick: "$('#launchpad').removeClass('hide').modal({ keyboard: true, backdrop: 'static', show: true });" } 
        Continue Level #{@enrollment.level} »
    %h1= @path.name
    %h2
      - if current_user
        Level #{@enrollment.level}, #{@enrollment.total_points} points
      - else
        %a.login_link Login or register to join this Challenge!
    .carousel
      - if @enrollments.size > 4
        .left_scroll{ onclick: "slide('left');" }
          = image_tag ICON_CAROUSEL_LEFT, alt: "Left"
      .inner{ style: "#{@enrollments.size < 4 ? 'margin-left: -12px;' : ''}" }
        %ul
          - if @enrollments.size < 4
            = render "shared/mosaic", { custom_class: "addthis_button_facebook", link: "#", title: "Sharing is caring", subtitle: "Spread the MetaBright Gospel!", pic: "https://s3.amazonaws.com/moonlite-nsdub/static/carousel_images/fb_green_carousel.png" }
          - @enrollments.shuffle.each do |e|
            = render "shared/mosaic", { pic: e.user.picture, link: profile_path(e.user.username), title: e.user.name, subtitle: "Level #{e.level}, #{e.total_points} points" }
      - if @enrollments.size > 4
        .right_scroll{ onclick: "slide('right');" }
          = image_tag ICON_CAROUSEL_RIGHT, alt: "Right"
  
  %div.row
    %div.span5
      %div.leftbox.newsfeed{ style: "min-height: 361px;" }
        %div#leaderboard_pop.box_header{style: "padding: 10px 12px; "} Leaderboard
        %ul#ranks{ style: "padding: 0px;"}
          - current_user_in_top = false
          - @leaderboard.each_with_index do |user, i|
            - break if i >= 10
            - current_user_in_top = true if current_user && user.id == current_user.id 
            %li
              %span.rank= (i+1).to_s
              = image_tag user.picture, alt: "#{user.name}" 
              = link_to truncate(user.name, length: 22), profile_path(user.username), class: "name"
              %span.level lvl. #{Enrollment.points_to_level(user.total_points.to_i)}
              %span.points= user.total_points
          - unless current_user.nil? || current_user_in_top
            - current_user_spot = nil
            - previous_user = nil
            - next_user = nil
            - @leaderboard.each_with_index do |user, i|
              - if current_user_spot
                - next_user = user
                - break
              - elsif user.id == current_user.id
                - current_user_spot = i
              - else
                - previous_user = user
            - if current_user_spot
              %li{ style: "text-align: center;" } ...
              - if previous_user
                %li
                  %span.rank= (current_user_spot).to_s
                  = image_tag previous_user.picture, alt: "#{previous_user.name}" 
                  = link_to truncate(previous_user.name, length: 22), profile_path(previous_user.username), class: "name"
                  %span.level lvl. #{Enrollment.points_to_level(previous_user.total_points.to_i)}
                  %span.points= previous_user.total_points
              %li
                %span.rank= (current_user_spot+1).to_s
                = image_tag current_user.picture, alt: "#{current_user.picture}" 
                = link_to truncate(current_user.name, length: 22), profile_path(current_user.username), class: "name"
                %span.level lvl. #{Enrollment.points_to_level(@enrollment.total_points.to_i)}
                %span.points= @enrollment.total_points
              - if next_user
                %li
                  %span.rank= (current_user_spot+2).to_s
                  = image_tag next_user.picture, alt: "#{next_user.name}" 
                  = link_to truncate(next_user.name, length: 22), profile_path(next_user.username), class: "name"
                  %span.level lvl. #{Enrollment.points_to_level(next_user.total_points.to_i)}
                  %span.points= next_user.total_points
                
      
      - if @similar_paths
        %div.leftbox
          %div.box_header Similar Challenges
          %div.leftboxfooter{style:"background-color:white;"}
            %li.leftrailcontent
              - @similar_paths.each do |p|
                = link_to challenge_path(p.permalink) do
                  = image_tag p.picture, class: "leftrailicon", title: "#{p.name}", alt: "#{p.name}"
    %div.span11
      %div.newsfeed
        %div.box_header
          %div{ style: "display:inline;" }
            %span{ style: "border-bottom: 0px; padding-top:1px;" } Stream
            = link_to "Date", challenge_path(@path.permalink, order: "date"), class: "btn leftbtn"
            = link_to "Votes", challenge_path(@path.permalink, order: "votes"), class: "btn midbtn"
            - if @path
              %a.btn.rightbtn{ onclick: "$(this).parents('.leftboxheader').find('.questions_filter').slideDown();" } Question
          - if @path
            %div.questions_filter{ style: "display:none; text-transform: none;" }
              %p{ style: "font-size: 13px; margin: 10px 5px; color: black;" } Click on one of the questions below to see responses only for that question.
              %ol
                - @path.sections.each do |s|
                  - s.challenge_tasks.each do |task|
                    %li{ style: "padding: 5px;" }= link_to truncate(task.question, length: 80), task_details_path(@path, task.id), style: "font-size: 14px; text-decoration: none; color: #0064CD"

        :javascript
          $.ajax({ type: "GET", url: "#{@url_for_newsfeed}", success: function(data){ $(".empty_post").replaceWith(data); } });
        %div.post.empty_post{ style: "height: 5px;"}