<section style="float:right;">
<% if @path.user_id == current_user.id %>
	<%= link_to "Edit", {:controller => "paths", :action => "edit", :id => @path.id }, :class => "btn primary" %>
<% end %>
</section>
<section class="path">
	<div style="float:left; margin: 0px 15px 5px 0px;"><%= image_tag(@path.path_pic, :size=>"50x50") %></div>
	<div>
		<h1>
			<%= @path.name %>
		</h1>
	</div>
	<div style="padding:10px">
		<div><%= simple_format(@path.description) %></div>
	</div>
	<% if !@sections.empty? %>
	<div>
		<h3>Sections</h3>
		<ol>
		<% @sections.each do |s| %>
			<li>
				<h5>
					<%= link_to s.name, s %>
				</h5>
				<p><%= truncate(s.instructions, :length => 140) %></p>
				<% if s.remaining_tasks(current_user) == 0 %>
				<span class="label success">Completed</span>
				<% end %>
			</li>
		<% end %>
		</ol>
	</div>
	<% end %>
	<section>
	<div class="actions">
	<% if !current_user.enrolled?(@path) %>
		<%= render "enroll" %>
	<% else %>
		<%= link_to "Continue", continue_path_path(@path), :class => "btn primary" %>
	<% end %>
	</div>
	</section>
</section>