%section
  %div#topsection
    %div#updatespace
      %div{ style: "display:inline;" }
        = image_tag @path.path_pic, class: "bigheaderimage"
      %div.rightofbigheaderimage{ style: "width:81%;" }
        %div#topboxcontent
          - if current_user
            %div.button.button-actionable{ style: "float: right;"} Continue Level #{@enrollment.level}
          %div.span5{ style: "width: 550px;" }
            %h1= @path.name
            - if current_user
              %h3 Level #{@enrollment.level}, #{@enrollment.total_points} points
            - else
              %h4{ style: "height: 46px; cursor: pointer;" }
                %a.login_link Login or register to join this Challenge!
        %div#challengecarousel_container
          - if @enrolled_users.size > 4
            %div#challengeleft_scroll
              %a{href: "javascript:challengeslide(\"left\");"}
                %img{src: "https://s3.amazonaws.com/moonlite-nsdub/static/random+icons/arrow_angle_left_light.png"}/
          %div#challengecarousel_inner{ style: "#{@enrolled_users.size < 4 ? 'margin-left: -12px;' : ''}" }
            %ul#challengecarousel_ul
              - if @enrolled_users.size < 4
                = render "shared/mosaic", { custom_class: "addthis_button_facebook", link: "#", title: "Sharing is caring", subtitle: "Spread the Metabright Gospel!", pic: "https://s3.amazonaws.com/moonlite-nsdub/static/carousel_images/fb_green_carousel.png" }
              - @enrolled_users.each do |u|
                = render "shared/mosaic", { pic: u.profile_pic, link: user_path(u), title: u.name, subtitle: "Level #{u.level(@path)}, #{u.points(@path)} points" }
          - if @enrolled_users.size > 4
            %div#challengeright_scroll
              %a{href: "javascript:challengeslide(\"right\");"}
                %img{src: "https://s3.amazonaws.com/moonlite-nsdub/static/random+icons/arrow_angle_right_light.png"}/
      %input#challengehidden_auto_slide_seconds{:type => "hidden", :value => "0"}/
  %div.row
    %div.span5
      %div.leftbox.newsfeed{ style: "min-height: 361px;" }
        %div.leftboxheader{style: "padding: 10px 12px; "} Leaderboard
        %ul#ranks{ style: "padding: 0px;"}
          - @leaderboards.each_with_index do |entry, i|
            %li{ style: "border-bottom: 1px solid rgb(235, 235, 235);"}
              %span.rank= (i+1).to_s
              = image_tag entry.user.profile_pic 
              = link_to truncate(entry.user.name, length: 22), entry.user, class: "name", style: "font-size:12px; position:relative; bottom:1px;"
              %span.level{style: "position:relative; bottom:1px;"} lvl. #{entry.user.level(@path)}
              %span.points= entry.score
    %div.span11
      %div.newsfeed
        %div.leftboxheader
          %div{ style: "display:inline;" }
            %span{ style: "border-bottom: 0px; padding-top:1px;" } Stream
            = link_to "Date", path_path(@path, order: "date"), class: "btn leftbtn"
            = link_to "Votes", path_path(@path, order: "votes"), class: "btn midbtn"
            - if @path
              %a.btn.rightbtn{ onclick: "$(this).parents('.leftboxheader').find('.questions_filter').slideDown();" } Question
          -if @path
            %div.questions_filter{ style: "display:none; text-transform: none;" }
              %p{ style: "font-size: 13px; margin: 10px 5px; color: black;" } Click on one of the questions below to see responses only for that question.
              %ol
                - @path.sections.each do |s|
                  - s.challenge_tasks.each do |task|
                    %li{ style: "padding: 5px;" }= link_to truncate(task.question, length: 80), task_details_path(@path, task.id), style: "font-size: 14px; text-decoration: none; color: #0064CD"
        = render "shared/newsfeed", { newsfeed_items: @responses }

- if current_user
  %div#launchpad.dropdown_modal.modal.hide.fade{ style: "top: 7%;"}
    %div.overlay
      %div.launchpad
        %div.modal_close
          %img{:src => "https://s3.amazonaws.com/moonlite-nsdub/static/close_icon.png"}
        %h1
          = image_tag(@path.path_pic)
          %div #{@path.name} 
          %div{ style: "font: normal 18px 'MuliItalic', sans-serif;" } - #{@enrollment.total_points} pts, Level #{current_user.level(@path)}
        %div.launchpadcontent
          %div.launchpadsectioncolumn
            %div.launchpadcolumnheader
              Sections
            %ul.sectionlist
              - @path.sections.all(order: "id ASC").each do |s|
                %li.launchpad_link{ title:"#{s.name}"}
                  - if s.points_until_unlock(@enrollment) <= 0
                    %div{ style: "display:inline-block; width:75%; line-height:16px;" }
                      = link_to launchpad_section_path(s), remote: true do
                        %span.pointer_caret= "»" if s == @current_section
                        %span= truncate(s.name, length: 40)
                    %div.pointsandprogress
                      %div #{s.points_earned(current_user)} pts
                      %div #{s.percentage_complete(current_user)}%
                  - elsif s.points_to_unlock == 9999
                    %div{ style: "line-height: 16px;" }= truncate(s.name, length: 25)
                    %p{ style: "font-size: 9px; line-height: 12px;" } Coming soon!
                  - else
                    %div{ style: "line-height: 16px;" }= truncate(s.name, length: 25)
                    %p{ style: "font-size: 9px; line-height: 12px;" } #{s.points_until_unlock(@enrollment)} more points to unlock
          = render "sections/launchpad"
  
  :javascript
    $(function(){
      $("#topboxcontent .button-actionable").click(function(){
        $('#launchpad').modal({ keyboard: true, backdrop: 'static', show: true });
      });
       
      $(".launchpad_link").on("ajax:success", function(xhr, data, etc){
        $("span.pointer_caret").remove();
        $(".sectioninfocontainer").replaceWith(data);
        $(this).find("a").prepend("<span class='pointer_caret'>» </span>");
      });
    });
  
  - if @display_launchpad
    :javascript
      $(function(){ $('#launchpad').modal({ keyboard: true, backdrop: 'static', show: true }); });