<section style="float:right;">
<% if @path.user_id == current_user.id %>
	<%= link_to "Edit", {:controller => "paths", :action => "edit", :id => @path.id }, :class => "btn primary" %>
<% end %>
</section>
<section class="path">
	<section id="description">
		<h1><%= @path.name %></h1>
		<p><%= @path.description %></p>
		<ol>
		<% @info_resources.each do |resource| %>
			<li>
				<p><%= resource.description %></p>
				<p><%= resource.link %></p>
			</li>
		<% end %>
		</ol>
	</section>
	<section>
	<% if !current_user.enrolled?(@path) %>
		<%= render "enroll" %>
	<% end %>
	</section>
	<% if current_user.enrolled?(@path) %>
	<section id="progress">
		<h2><%= gravatar_for current_user, :size => "20" %>Path Rank - <span class="current-rank"><%= @current_rank %></span></h2>
		<% if @remaining_tasks > 0 %>
		<h3>You need to answer <%= pluralize(@remaining_tasks, "question") %> before you reach rank <span class="next-rank"><%= @next_rank %></span>!</h3>
		<% else %>
		<h3>Congratulations, you have completed this path!</h3> 
		<% end %>
		<p>You can earn points by solving problems or by posting achievements related to this path. Fellow Moonliters will vote on your achievements to decide how many points to award you. Post something really impressive and you could get enough points to jump muliple ranks!</p>
	</section>
		<% if @remaining_tasks > 0 %>
		<section id="action">
			<%= link_to "Solve Problems", continue_path_path, :class => "btn primary" %>
			<%= link_to "Post Achievement", "/achievements/6", :class => "btn secondary" %>
		</section>
		<% else %>
		<section id="action">
			<%= link_to "Post Achievement", "/achievements/6", :class => "btn primary" %>
		</section>
		<% end %>
	<% end %>
</section>