<h1><%= @form_title %></h1>
<%= form_for @info_resource do |f| %>
	<%= render "shared/error_messages", :object => f.object %>
	<%= f.hidden_field :path_id, :value => @path_id %><br/>
	<div class="field clearfix">
		<%= f.label :description %>
		<div class="input">
			<%= f.text_area :description, :class => "xxlarge", :rows => "8" %>
		</div>
	</div>
	<div class="field">
		<%= f.label :link %>
		<div class="input">
			<%= f.text_field :link, :class => "xlarge" %>
		</div>
	</div>
	<div class="actions">
		<%= f.submit "Save", :class => "btn primary" %>
	</div>
<% end %>