<h1>New Resource</h1>
<p>You can add resources for paths, sections and tasks. The resource will be displayed according to its content type. 
For example, if its type is a video and the link is for Youtube, the resource will be displayed inside a Youtube video player.</p>
<%= form_for @info_resource do |f| %>
  <%= render "shared/error_messages", :object => f.object %>
	<input name="info_resource[<%= @parent_type+"_id" %>" type="hidden" value="<%= @parent_id %>" />
	<div class="field clearfix">
		<%= f.label :description %>
		<div class="input">
			<%= f.text_area :description, :class => "xxlarge", :rows => "3", :placeholder => "optional..." %>
		</div>
	</div>
	<div class="field">
		<%= f.label :link %>
		<div class="input">
			<%= f.text_field :link, :class => "xxlarge" %>
		</div>
	</div>
  <div class="field clearfix">
		<%= f.label :info_type %>
		<div class="input">
			<select id="info_resource_info_type" name="info_resource[info_type]">
				<option value="text">Text</option>
				<option value="video">Video</option>
				<option value="action">Action</option>
				<option value="picture">Picture</option>
				<option value="slideshow">Slideshow</option>
			</select>
		</div>
	</div>
	<div class="actions">
		<%= f.submit "Save", :class => "btn primary" %>
	</div>
<% end %>