#employer.aboutcontainer
  .aboutbox
    .aboutheader
      %img{ src: STONEY_SMALL_URL, alt: "Stoney"}
      %span Sign in to MetaBright
    %hr{ style: "margin:0"}
    .aboutbody
      %h4{ style: "margin-bottom: 5px;" } Please enter and confirm your new password.
      = form_for(:session, url: finish_reset_path) do |f|
        = f.hidden_field :t, value: @token
        %table{ style: "width: 700px;" }
          %tr
            %td{ style: "border-top:none;" }
              %div.control-group
                %label.control-label Password
                %div.controls
                  = f.password_field :password, autofocus: true
              %div.control-group
                %label.control-label Confirm Password
                %div.controls
                  = f.password_field :password_confirmation, autofocus: true
              %div.control-group
                %div.controls
                  = f.submit "Save & Sign In", class: "submit_button", style: "float: none; margin-left: 3px;", descriptor: "save-and-sign-in"