<h1>Sign in</h1>
<%= form_for(:session, :url => sessions_path) do |f| %>
  <table style="width: 700px;">
    <tr>
      <td style="border-top:none; padding-top:35px;">   
        <div class="field clearfix">
          <%= f.label :email %>
          <div class="input">
            <%= f.text_field :email, :autofocus => true %>
          </div>
        </div>
        <div class="field clearfix">
          <%= f.label :password %>
          <div class="input">
            <%= f.password_field :password %>
          </div>
        </div>
        <div class="field clearfix">
          <div class="input">
            <p>Forgot your password? <%= link_to "Reset it here.", password_reset_path %></p>
          </div>
        </div>
      </td>
      <% if @is_consumer %>
      <td style="border-top: none; border-right: 0px solid darkgray; border-left: 0px solid darkgray; vertical-align: middle;">
        <p style="font-weight: bold; font-size; 18px;"><span style="font-size:25px; color:lightgray;">|</span> Or <span style="font-size:25px; color:lightgray;">|</span></p>
      </td>
      <td style="border-top: none; vertical-align: middle;">
        <%= link_to image_tag("/images/facebook_login_button.png", :size => "220x55"), "/auth/facebook", :id => "facebook_signin" %>
        <%= link_to image_tag("/images/google_login_button.png", :size => "220x45"), "/auth/google_oauth2", :id => "google_signin" %>
      </td>
      <% elsif @is_company && @possible_company && @possible_company.big_logo_link %>
      <td style="border-top: none; vertical-align: middle;">
        <%= image_tag @possible_company.big_logo_link, style: "max-height: 200px; max-width: 300px; margin-left:50px; margin-top:-50px;" %>
      </td>
      <% end %>
    </tr>
  </table>
  <div class="actions">
    <%= f.submit "Sign in", :class => "btn primary" %>
  </div>
<% end %>