%div#ideapage{ style: "margin-top: 0px;" }    
  %div.ideas_header
    = link_to "Post New Idea", new_idea_path, class: "button button-actionable", style: "float: right;"
    %div{ style: "border-bottom: 1px solid #DDD; margin-bottom: 10px; margin-top:-10px;" }
      %img{src:"https://s3.amazonaws.com/moonlite-nsdub/static/stoney+100x150.png"}
      %h1{ style: "display: inline-block;" } MetaBright Labs
    %div
      %h4 Help shape the MetaBright roadmap
      %p This is where we post some of our planned features and upgrades. Vote for what you think we should prioritize and post ideas for things we should work on next.
  %div.ideas_body
    %div.leftboxheader
      Suggest What's Next
      - if params[:action] == "show"
        = link_to "Back to all Ideas", ideas_path, style: "float: right;"
      - else
        = link_to "Newest", ideas_path(sort: "created_at"), style: "margin-left:30px;"
        |
        = link_to "Votes", ideas_path(sort: "vote_count") 
    %div.ideas_list
      - @ideas.each do |idea|
        %div.idea_box
          %div.votingandpointsarea{style:"margin-top:0;"}
            %span.vote_points{style:"font-weight: bold;color: #404040;font-size: 16px;position: relative; top:3px;"}= idea.points_awarded
            %span{style:"font-weight: bold;color: #404040;font-size: 16px;position: relative; top:3px; margin-right:5px;"} pts
            - if current_user
              - if current_user == idea.creator
                %div.dropdown.submission-icon{ style: "padding-top:0px; margin: 0px;" }
                  %a.dropdown-toggle{ href: "#", "data-toggle" => "dropdown", style: "padding:0px;" }
                    %span.caret{ style: "margin: 6px 0 0 0;" }
                  %ul.dropdown-menu{ role: "button", style: "margin: 0; padding: 0; top:26px; left: -71px; min-width: 140px;" }
                    %li{ style: "margin-left: -10px;" }
                      %div.graynub{ style: "top:-39px; left: 74px; margin:0; "}
                      %div{ style: "padding: 3px 0px; margin:0;"}
                        %ul.profile_dropdown{ style: "list-style: none; margin: 0px; padding: 0; min-width: 120px;"}
                          %li= link_to "Edit Idea", edit_idea_path(idea), style: "padding: 0; color: inherit; text-shadow: none; padding-left: 8px; margin-left: -8px; margin-bottom: 2px;"
                          %li= link_to "Remove Idea", idea_path(idea), method: :delete, confirm: "Are you sure you want to delete your submission?", style: "padding: 0; color: inherit; text-shadow: none; padding-left: 8px; margin-left: -8px; margin-bottom: 2px;"
              - else
                = link_to vote_idea_path(idea.id), remote: true, class: ("btn vote_button " + ((@idea_votes && @idea_votes.include?(idea.id)) ? "btn-info" : "")) do
                  %img{ src: "https://s3.amazonaws.com/moonlite-nsdub/static/purple+upvote+arrow.png" }   
          %div.ideacontent
            %h4= link_to idea.title, idea
            %h6{ style: "margin: 0px;" } Submitted by #{link_to idea.creator.name, profile_path(idea.creator.username)}
            %p{ style: "padding: 5px 0; margin: 0;" }
              %pre= idea.description
            

:javascript
  $(function(){ 
    $(".youtube_answer").each(function(){ set_large_youtube_preview($(this).attr("alt"), $(this).attr("id")); });
    $(".display_sharing_icon").click(function(){ 
      $(this).parents(".leftstuff").find(".social_toolbar").css("display", "inline");
      $(this).parent().remove(); 
    });
    init_voting();
    init_comments();
    init_iph();
  });