:css
  .container.body { background-color: #4b6886; padding: 65px 15px 15px 15px;}
  
%div#ideapage{ style: "margin-top: 4px;" }    
  %div.ideas_header
    - if current_user
      - if @idea_mode == true
        = link_to "Post New Idea", new_idea_path, class: "submit_button"
      - else
        = link_to "Post New Bug", new_bug_path, class: "submit_button"
    %div{ style: "border-bottom: 1px solid #DDD; margin-bottom: 10px; margin-top:-10px;" }
      %img{src:"https://s3.amazonaws.com/moonlite-nsdub/static/stoney+100x150.png", alt: "Stoney"}
      %h1{ style: "display: inline-block;" } MetaBright Labs
    %div
      %h4 Help shape the MetaBright roadmap
      %p This is where we share some of our planned features and upgrades. Vote for what you think we should prioritize and post ideas for things we should work on next.
  %div.ideas_body
    %div{ style: "padding: 5px 0px 0px 5px;" }
      %div{ style: "float: right; padding: 10px 20px 0 0;" }
        - if params[:action] == "show"
          = link_to "Back to all #{@ideas.first.idea? ? 'Ideas' : 'Bugs'}", ideas_path, style: "float: right;"
        - else
          = link_to "Newest", @idea_mode == true ? ideas_path(s: "c") : bugs_path(s: "c")
          |
          = link_to "Votes", @idea_mode == true ? ideas_path(s: "v") : bugs_path(s: "v") 
      %ul.nav.nav-tabs
        %li{ class: @idea_mode == true ? "active" : "" }
          = link_to "Ideas", ideas_path
        %li{ class: @idea_mode == false ? "active" : "" }
          = link_to "Bugs", bugs_path
    %div.ideas_list
      - @ideas.each do |idea|
        %div.idea_box
          %div.votingandpointsarea{style:"margin-top:0;"}
            %span.vote_points{style:"font-weight: bold;color: #404040;font-size: 16px;position: relative; top:3px;"}= idea.points_awarded
            %span{style:"font-weight: bold;color: #404040;font-size: 16px;position: relative; top:3px; margin-right:5px;"} pts
            - if current_user
              - if current_user == idea.creator
                %div.dropdown.submission-icon{ style: "padding-top:0px; margin: 0px;" }
                  %a.dropdown-toggle{ "data-toggle" => "dropdown", style: "padding:0px;" }
                    %span.caret{ style: "margin: 6px 0 0 0;" }
                  %ul.dropdown-menu{ role: "button", style: "margin: 0; padding: 0; top:26px; left: -71px; min-width: 140px;" }
                    %li
                      %div.graynub{ style: "top:-15px; left: 56px; "}
                      %div{ style: "margin: -15px 0 5px 9px;"}
                        %ul.profile_dropdown{ style: "list-style: none; margin: 0px; padding: 0; min-width: 120px;"}
                          %li= link_to "Edit Idea", edit_idea_path(idea), style: "padding: 0; color: inherit; text-shadow: none; padding-left: 8px; margin: 0 -1px 2px -9px;"
                          %li= link_to "Remove Idea", idea_path(idea), method: :delete, data: { confirm: "Are you sure you want to delete your submission?" }, style: "padding: 0; color: inherit; text-shadow: none; padding-left: 8px; margin: 0 -1px 2px -9px;"
              - else
                = link_to vote_idea_path(idea.id), remote: true, class: ("btn vote_button " + ((@idea_votes && @idea_votes.include?(idea.id)) ? "btn-info" : "")) do
                  %img{ src: ICON_UPVOTE_URL, alt: "Up-vote", class: "up_vote" }   
          %div.ideacontent
            %h4
              = link_to idea.title, idea
              - unless idea.status.blank?
                %span.label.label-success{ style: "position: relative; top: -2px;"}= idea.status
            %h6{ style: "margin: 0px;" } Submitted by #{link_to idea.creator.name, profile_path(idea.creator.username)}
            %p{ style: "padding: 5px 0; margin: 0;" }
              %pre= idea.description
          = render "comments/comments", idea_comment_details(idea).merge(context: :idea)  

:javascript
  $(function(){ 
    $(".display_sharing_icon").click(function(){ 
      $(this).parents(".leftstuff").find(".social_toolbar").css("display", "inline");
      $(this).parent().remove(); 
    });
    init_voting();
    init_comments();
    convert_links();
  });