<section>
  <%= render "companies/tab_header", { :company => @company, :mode => "users" } %>
  <section>
    <%= form_for @custom_style do |f| %>
      <%= f.submit "Save", :class => "btn primary", :style => "float:right; margin-left: 10px;" %>
      <%= link_to "Cancel", @custom_style, :class => "btn secondary", :style => "float:right;" %>
      <h2>Custom Styles</h2>
      <p style="margin-top:10px;">Edit the styles below. Note that you must save before these styles will take effect.</p>
      <%= render "shared/error_messages", :object => f.object %>
      <div style="margin:20px 0 0 40px;">
        <span style="margin-right:5px; font-weight:bold;">Status</span>
        <select name="custom_style[mode]" class="small">
          <option value="0" <% if @custom_style.mode == 0 %> selected="selected" <% end %>>Off</option>
          <option value="1" <% if @custom_style.mode == 1 %> selected="selected" <% end %>>On</option>
          <option value="2" <% if @custom_style.mode == 2 %> selected="selected" <% end %>>Preview</option>
        </select>
      </div>
      <div class="field clearfix">
        <%= f.text_area :styles, :rows => "15", :placeholder => "Add CSS styles here...", :style => "margin:20px 40px; width: 800px; min-height: 200px;" %>
      </div>
      <div class="actions">
        <%= f.submit "Save", :class => "btn primary" %>
        <%= link_to "Cancel", @custom_style, :class => "btn secondary" %>
      </div>
    <% end %>
  </section>
</section>