<h4>Custom Style Builder</h4>
<h1><%= @mode == "core" ? "Core Layout" : "Add-on Styles" %></h1>
<p style="padding:10px;">Edit the styles below. Note that you must save before these styles will take effect.</p>
<%= form_for @custom_style do |f| %>
  <%= render "shared/error_messages", :object => f.object %>
	<div class="field clearfix">
		<%= f.text_area (@mode == "core" ? :core_layout_styles : :add_on_styles), :rows => "15", :placeholder => "Add CSS styles here...", :style => "margin: 10px; padding:10px; width: 800px; min-height: 500px;" %>
	</div>
	<div class="actions">
		<%= f.submit "Save", :class => "btn primary" %>
		<%= link_to "Delete", @user_role, :method => :delete, :confirm => "Are you sure you want to delete this user role?", :class => "btn danger" %>
		<%= link_to "Cancel", user_roles_path, :class => "btn secondary" %>
	</div>
<% end %>