<section id="company-settings" style="min-height: 500px;">
	<h1><%= @company.name %></h1>
	<ul class="tabs">
		<li><%= link_to "Users", @company %></li>
		<li><%= link_to "Settings", edit_company_path(@company) %></li>
		<li><%= link_to "User Roles", user_roles_path %></li>
		<li class="active"><a href="#">Custom styles</a></li>
	</ul>
	<section>
		<h2 style="margin-bottom:15px;">Custom Styles</h2>
		<% if @custom_style.nil? %>
			<p>You have not yet created any custom styles for your organization.</p>
			<%= link_to "Create Custom Styles", custom_styles_path, :method => :post, :class => "btn primary" %>
		<% else %>
		<div>
			<div>
				<h3>Core Styles</h3>
				<%= link_to "Edit", edit_custom_style_path(@custom_style, :m => "core"), :class => "btn primary", :style => "float:right;" %>
				<div style="padding:20px;"><%= @custom_style.core_layout_styles %></div>
			</div>
			<div>
				<h3>Add On Styles</h3>
				<%= link_to "Edit", edit_custom_style_path(@custom_style, :m => "addon"), :class => "btn primary", :style => "float:right;"  %>
				<div style="padding:20px;"><%= @custom_style.add_on_styles %></div>
			</div>
		</div>
		<% end %>
	</section>
</section>