<%= form_for(current_user.comments.new) do |f| %>
  <div style="width: 100%">
  <%= f.text_area :content, :rows => 2, :style => "width:300px;" %>
  </div>
  <%= hidden_field :comment, :owner_type, { :value => owner_type } %>
  <%= hidden_field :comment, :owner_id, { :value => owner_id } %>
  <%= f.submit "Add Comment", :class => "btn secondary small", :style => "margin-top:15px;" %>
<% end %>
<% unless owner.comments.empty? %>
<ul style="list-style: none;">
<% owner.comments.each do |c| %>
  <% next if c.id.nil? %>
  <li>
    <p><%= c.content %></p>
    <p><%= link_to c.user.name, c.user %> about <%= time_ago_in_words(c.created_at) %> ago</p>
  </li>
<% end %>
</ul>
<% end %>