%div.postfooter
  %div.leftstuff{ style: "height: 27px; width: 100%; padding-top: 5px;" }
    %div.displayin.floatl
      %a.comment{ style: "position: relative; top: 5px;", onclick: "$(this).parents('.postfooter').find('.comments').slideDown();" } #{owner.comments.size.to_i} Comments
    - if @sharing
      = render "shared/sharing", { custom_style: "display: inline; margin-left: 10px; float: left;" }
    - else
      %div.displayin.floatl{ style: "margin-left: 10px;" }
        %img.display_sharing_icon{:src => "https://s3.amazonaws.com/moonlite-nsdub/static/random+icons/share_icon_gray.png", style: "height: 20px; cursor: pointer; position:relative; top:2px;" }
      = render "shared/sharing", { custom_style: "display: none; margin-left: 10px; float: left;" }
    %div.displayin.floatr{ style: "position: relative; top: 5px; position:relative; top:2px;" }
      - if created_at.today?
        %p #{time_ago_in_words(created_at)} ago
      - else
        %p= created_at.strftime("%B %d, %Y")
  %div.comments{ style: "display:none; text-align: left;" }
    - if owner.comments.empty?
      %p.no_comments There are no comments for this yet. 
    %ul{ style: "list-style: none; margin: 10px 0 20px 0;" }
      - owner.comments.each do |comment|
        = render "comments/comment", comment: comment
    - if current_user
      = form_for(current_user.comments.new, remote: true) do |f|
        %div{ style: "width: 100%" }
          = f.text_area :content, :rows => 2, :style => "width: 510px; height: 55px; "
        = hidden_field :comment, :owner_type, { :value => owner_type }
        = hidden_field :comment, :owner_id, { :value => owner_id }
        = f.submit "Add Comment", :class => "button button-standard button-small", :style => "margin-top:15px;"
