<section>
  <style>
    section {
      margin-top: 0px;
    } h1 {
      margin-bottom: 0px;
      font-size: 32px;
    } h2 {
      font-size: 28px;
    } h3 {
      margin-top: 15px;
      font-size: 20px;
    } p {
      font-size: 16px;
      margin-bottom: 0px;
    } ol {
      margin-bottom: 10px;
    }
  </style>
  <h1>User Transaction</h1>
  <section id="user">
    <h2>User</h2>
    <h3><%= link_to @user_transaction.user.name, @user_transaction.user%></h3>
  </section>
  <section id="user_transaction">
    <p>Points: <%= @user_transaction.amount %></p>
    <p>Status: <%= @user_transaction.status %></p>
    <% if @user_transaction.task_id %>
    <p>Task: <%= @user_transaction.task_id %>
    <% end %>
    <p><%= link_to "Edit", edit_user_transaction_path(@user_transaction) %></p>
  </section>
</section>
