:javascript
  $(function(){
    $("select[name='search[country]']").change(function(){
      var option = this.options[this.selectedIndex]
      var subregions = $(option).data("subregions");
      var sr_select = $("select[name='search[state]']");
      $(sr_select).empty();
      if(subregions.length > 1){
        $("<option selected='selected' value='ALL'>All "+option.text+"</option>").appendTo(sr_select);
      }
      $(subregions).each(function(){
        $("<option value='"+this[1]+"'>"+this[0]+"</option>").appendTo(sr_select);
      });
    });
  
    $("#search_form").on("ajax:success", function(jqXHR, data){
      $(this).find(".error").hide();
      $("#search").hide();
      $("#results").empty().append(data).show();
    });
    
    $("#search_form").on("ajax:error", function(jqXHR, data){
      $(this).find(".error").text("There was an error.").show();
      $(".button-actionable").removeClass("disabled").removeAttr("disabled")
    });
  });
  
:css
  .container.body { width: inherit; background-color: transparent;  padding: 0px; }
  
  .employer-box { min-height: 600px; border-radius: 0; }
  .employer-box .header { margin-bottom: 10px;}
  .employer-box .header img { height: 72px; margin-top: -15px; }
  .employer-box .header h2 { display: inline-block; font-size: 30px; }
  .employer-box .header hr { margin: 8px; }
  .employer-box .header input { float: right; border-radius: 0; margin: 10px 10px 0 0; padding: 7px 7px; font-size: 17px; }
  .employer-box table { width: 100%; }
  .employer-box table td { padding: 15px 10px; border-bottom: 1px solid #DDD; line-height: 25px;}
  .employer-box table td a { font-size: 17px; color: #333; }
  .evaluations tr:hover { background-color: #EEE; }
  .aboutbox .invite { border-radius: 0; padding: 6px 6px; font-size: 15px; margin: 4px 0 4px -8px; }
  .documentation { padding: 10px 20px; }
  .container .body { padding: 0; }
  .form-horizontal li.controls { margin-left: 155px; }
  
#search.employer-container{ style: "width: 980px; border-radius: 0px; margin: 25px auto 0 auto; background-color: rgba(36, 72, 109, 0.8);" }
  .employer-box
    .header
      %div{ style: "padding: 15px 15px 0 15px;"}
        = image_tag GIANT_STONEY, style:"display:inline; height:61px;", alt: "Stoney"
        %div{ style: "display: inline-block; vertical-align: top; margin-left: 5px; "}
          %h2{ style: "font-size: 30px; margin-bottom: -10px; margin-top: -3px; " } Search
    .body
      %p.error.hide
      = form_for(@search, url: group_search_url(@group), html: { class: "form-horizontal", id: "search_form" }, remote: true) do |f|
        .control-group
          %label.control-label Country
          .controls
            %select{ name: "search[country]"}
              %option{ value: nil, data: { subregions: [[]] } } Select a Country
              %option{ value: "ALL", data: { subregions: [["-", "-"]] } } All Countries
              - @countries.each do |country|
                %option{ value: country[:code], data: { subregions: country[:subregions] } }= country[:name]
        .control-group
          %label.control-label State/Province
          .controls
            %select{ name: "search[state]"}
        .control-group
          %label.control-label Looking For
          .controls
            %label.checkbox
              = f.check_box :any_opp
              Any Position
          .controls
            %label.checkbox
              = f.check_box :full_time
              Full Time Position
          .controls
            %label.checkbox
              = f.check_box :part_time
              Part Time Position
          .controls
            %label.checkbox
              = f.check_box :internship
              Internship
        .control-group
          %label.control-label Skills
          %ul{ style: "list-style: none;" }
            - @paths.each do |p|
              %li.controls
                %label.checkbox
                  = check_box_tag "search[paths][#{p.id}]"
                  = p.name
        .control-group
          .controls
            = f.submit "Search", class: "button button-actionable"
#results.hide
    