<%= form_for(@task, :action => :update, :remote => true, "data-type" => "html") do |f| %>
  <%= f.hidden_field :correct_answer, :value => 1 %>
  <%= f.hidden_field :randomize, :value => true %>
  <div style="margin-bottom:20px; float:right;">
    <%= f.submit "Save", :id => "save_question_button", :class => "btn primary" %>
    <span class="btn secondary" onclick="$(this).parents('td').find('div.question_display').show(); $(this).parents('td').find('.edit_task').remove();">Close</span>
  </div>
  <div>
    <h3 style="margin-left:70px;" id="form_title">Edit Question</h3>
    <div class="field clearfix">
      <%= f.label :question %>
      <div class="input">
        <%= f.text_area :question, :class => "xxlarge", :rows => "3" %>
      </div>
    </div>
    <div class="row">
      <div class="span8 answers">
        <% @answers.each do |a|%>
        <div class="field clearfix">
          <%= f.label (a.is_correct ? "Correct answer" : "Wrong answer") %>
          <div class="input">
            <%= f.text_field "answer_#{a.id}", :value => a.content, :maxlength => 255, :size => 75, :class => (a.is_correct ? "correct_answer" : "wrong_answer") %>
          </div>
        </div>
        <% end %>
        <% if @stored_resource %>
          <%= image_tag @stored_resource.obj.url, :style => "height: 100px; margin: 20px 0px 0px 150px;" %>
          <%= link_to "Remove Attachment", @stored_resource, :method => :delete, :confirm => "Are you sure you want to remove this attachment?", :style => "margin:10px 0 0 150px;" %>
        <% else %>
          <%= link_to "Attachments", add_stored_resource_task_path(@task), :class => "btn secondary edit_button", :style => "margin: 20px 0px 0px 40px;", :method => :put %>
        <% end %>
      </div>
      <div class="span8 suggestions" style="padding-top:10px; margin-left:150px;">
        <p class="not_found_message" style="display: none;">No suggestions found.</p>
        <p class="did_you_mean" style="display: none;">Did you mean...?</p>
        <p class="found_message" style="display: none;">Suggestions (doubleclick):</p>
        <ol style="margin-top:10px; display: none;"></ol>
      </div>
    </div>
  </div>
<% end %>