= form_for(section.tasks.new, remote: true, html: { "data-type" => "html", class: "form-horizontal question_creator"}) do |f|
  = f.hidden_field :section_id
  %div.floatr
    = f.submit "Save", id: "save_question_button", class: "button button-info"
    %span#close_question_button.button.button-standard{ onclick: "clear_form();" } Clear
  %div.new_task{ style: "margin-top:10px;" }
    %div.message_container.alert.alert-message{ style: "display: none; width:350px; margin-left: 70px; margin-top:10px;" }
    %h4#form_title Add Question
    %div.control-group
      %label.control-label Question
      %div.controls
        = f.text_area :question, class: "input-xlarge question_input", placeholder: "Type your question here...", style: "width: 450px; height: 100px;"
    %div.row
      %div.answers{ style: "margin-left: 20px;" }
        
        .control-group
          %label.control-label Answer type
          .controls.image_upload
            = f.select :answer_type, hash_to_array(Task::TYPES), style: "display: inline-block; "
            = render "stored_resources/new_image"
        
        .control-group.hide.sub_type
          %label.control-label Response type
          .controls
            = f.select :answer_sub_type, hash_to_array(Task::SUBTYPES)
        
        .exact.hide
          .control-group
            %label.control-label Exact answer (case insensitive)
            .controls
              = text_field_tag("task[exact1]", nil, { maxlength: 255, size: 75 })
        
        .creative.template_toggle.hide
          .control-group
            %label.control-label Template (optional)
            .controls{ style: "margin-top: 6px;" }
              %a.show_template{ onclick: "$(this).hide(); $(this).siblings('#task_template').show();" } Add template for question
              = text_area_tag("task[template]", nil, style: "display: none; height: 250px; width: 95%; overflow: auto; border: 1px solid #cccccc; background-color: #ffffff; box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); border-radius: 4px; font-family: 'Menlo', 'Courier New', 'Terminal', monospace; font-size: 14px;")
        
        .multiple_choice
          - (1..4).each do |i|
            .control-group
              - status = (i == 1 ? "Correct answer" : "Wrong answer")
              %label.control-label= status
              .controls
                = text_field_tag("task[answer"+i.to_s+"]", nil, { maxlength: 255, size: 75, class: status.downcase.gsub(" ","_") })
        %h4 Source        
        .control-group
          %label.control-label URL
          .controls
            = f.text_field :resource                
        .control-group 
          %label.control-label Title
          .controls
            = f.text_field :resource_title
        
        .creative.hide
          %p.free_text_note.answer_note.hide To answer this question, the user will be asked to type an appropriate free text response into a text box.
          %p.image_link_note.answer_note.hide To answer this question, the user will be asked to copy and paste a link to an image from the internet.
          %p.youtube_link_note.answer_note.hide To answer this question, the user will be asked to copy and paste a link to a video from Youtube.
        
        .checkin.hide
          .control-group
            %label.control-label
              = image_tag LIGHT_BULB_URL, style: "width: 16px; height: 16px;"
            .controls{ style: "width: 450px;" }
              %p All tasks require proof of completion in the form of a webpage. If proof of completion for the task you want to create cannot be easily obtained from a website url, consider rephrasing or changing it.
        

:css
  .answer_note { margin: 20px 0 0 150px; font-style: italic; width:300px;}

:javascript
  function display_sub_type_message(){
    var sub_type = $("#task_answer_sub_type").val();
    $(".answer_note").hide();
    if(sub_type=="100"){
      $(".free_text_note").show();
    } else if(sub_type=="101"){
      $(".image_link_note").show();
    } else {
      $(".youtube_link_note").show();
    }
  }
  
  $(function(){
    $("#task_answer_sub_type").change(function(){
      display_sub_type_message();
    });
  
    $("select[name='task[answer_type]']").change(function(){
      $(".creative").hide();
      $(".multiple_choice").hide();
      $(".checkin").hide();
      $(".exact").hide();
      $(".template").hide();
      $(this).parents("div.control-group").siblings(".sub_type").hide();
      var type = $(this).val();
      if(type == 0){
        $(".creative").show();
        display_sub_type_message();
      } else if(type == 1) {
        $(".exact").show();
      } else if(type == 2) {
        $(".multiple_choice").show();
      } else if(type == 3) {
        $(".checkin").show();
      }
    });
  });