<%= form_for(task, :remote => true, "data-type" => "html") do |f| %>
<div style="margin-bottom:20px;">
	<span class="label" style="font-size: 13px; vertical-align:middle;"><span id="question_counter"><%= @tasks.size %></span> questions</span>
	<div style="float: right;">
		<span id="new_question_button" class="btn primary" onclick="$('#task_form,#close_question_button,#save_question_button').show();$('#new_question_button').hide();">New Question</span>
		<%= f.submit "Save", :id => "save_question_button", :class => "btn primary", :style => "display:none;" %>
		<span id="close_question_button" class="btn secondary" style="display:none;" onclick="$('#task_form,#close_question_button,#save_question_button').hide();$('#new_question_button').show();$('.alert-message').remove();">Close</span>
	</div>
</div>
<div id="task_form" <% unless display == true %>style="display:none;"<% end %>>
	<h3 style="margin-left:70px;" id="form_title">Add Question</h3>
  <%= f.hidden_field :section_id, :value => @section.id %><br/>
  <div class="field clearfix">
    <%= f.label :question %>
    <div class="input">
      <%= f.text_area :question, :class => "xxlarge", :rows => "3" %>
    </div>
  </div>
  <div class="row">
    <div class="span8 answers">
      <% (1..4).each do |i| %>
       <div class="field clearfix">
        <% status = (i == 1 ? "Correct answer" : "Wrong answer") %>
        <%= f.label status %>
        <div class="input">
          <%= f.text_field "answer"+i.to_s, :maxlength => 255, :size => 75, :class => status.downcase.gsub(" ","_") %>
        </div>
      </div>
      <% end %>
    </div>
    <div class="span8 suggestions" style="padding-top:10px;">
      <p class="not_found_message" style="display: none;">No suggestions found.</p>
      <p class="did_you_mean" style="display: none;">Did you mean...?</p>
      <p class="found_message" style="display: none;">Suggestions (doubleclick):</p>
      <ol style="margin-top:10px; display: none;"></ol>
    </div>
  </div>
</div>
<% end %>