%div.editor_view.hide
  = form_for(section.tasks.new, remote: true) do |f|
    %div.step1
      = f.hidden_field(:answer_type, value: Task::CHECKIN)
      = f.hidden_field(:section_id, value: @current_section.id)
      = f.hidden_field(:source, value: "launchpad")
      %fieldset{style: "display: inline-block; margin-right:28px; margin-bottom:150px; width:56%;"}
        %legend Create a Task
        %span.help-block What's the Task?
        = f.text_area(:question, rows: 2, class: "rows2", placeholder:"Task...", style:"width:100%;")
        %div.control-group
          %div.controls{ style: "width: 350px;" }
            %p
              Tasks require proof of completion in the form of a URL or image.          
        %span.error_message
        %a.next.button.button-actionable{ style:"float:right;"} Next
      .tips
        %h4 
          %img{src:"https://s3.amazonaws.com/moonlite-nsdub/static/Lightbulb+icon", style:"height:25px; width:25px;", alt: "Tip"}
          Tips:
        %ul{style:"font-size:13px;"}
          %li Tasks should serve as a record for what people have already done and a guide for improvement.
          %li 
            You earn <strong>#{Task::CREATOR_AWARD_POINTS.to_s} points</strong> per published Task.
    
    %div.step2.hide
      %fieldset{style: "display: inline-block; width:98%;"}
        %legend Create a Task
        %h4 Your new Task:
        %div{style:"margin-left:12px;"}
          %code.content.question
        %h4 Here's where this Task will appear:
        %div{style:"margin-left:12px;"}
          %span{style:" font-size:14px;"} Challenge:
          %span{style:"font-weight:bold;font-size:14px;"} #{@current_section.path.name}
          %br/
          %span{style:" font-size:14px;"} Section: 
          %span{style:"font-weight:bold;font-size:14px;"} #{@current_section.name}
        %h4{style:"margin-bottom:5px;"} Ready to post?
        %a.back.button.button-standard{ style:"float:left; margin-bottom:10px; text-shadow:none; color:#333;"} Back
        = f.submit("Yes!", class: "button button-actionable", style: "float:right;")
    
    %div.step3.hide{ style: "width: 98%; "}
      %img{src:"https://s3.amazonaws.com/moonlite-nsdub/static/stoney_50x66.png", style:"height:45px; width: 40px;", alt: "Stoney"}
      %span{style:"position:relative; top:7px; font-size:35px;"} Nice work!
      %h4 Your Task is now visible to the MetaBright community!
      %h4 You earn #{Task::CREATOR_AWARD_POINTS.to_s} points every time you publish a Task!
      %h4{ style:"margin-bottom:12px;" } If you've already personally completed this Task, you can <a class="take">mark it as complete</a> now. 
      %a.restart.button.button-actionable{ style:"float:right; margin-bottom:10px; text-shadow:none;"} Create another Task
      %a.finish.button.button-standard{ style:"float:left; margin-bottom:10px; text-shadow:none; color:#333;"} Finish