%div.editor_view.hide
  = form_for(section.tasks.new, remote: true) do |f|
    %div.step1
      = f.hidden_field(:answer_type, value: Task::CREATIVE)
      = f.hidden_field(:answer_sub_type, value: Task::TEXT)
      = f.hidden_field(:section_id, value: section.id)
      = f.hidden_field(:source, value: "launchpad")
      %fieldset{style: "display: inline-block; margin-right:28px; width:56%;"}
        %legend Create a CR
        %span.help-block What's your question?
        = f.text_area(:question, rows: 4, class: "rows4", placeholder:"Question...", style:"width:100%;")
        %div.control-group{style:"width:350px;"}
          %div.controls
            = render "stored_resources/new_image"
                          
        %span.error_message
        %a.next.submit_button Next
      .tips
        %h4 
          %img{src:"https://s3.amazonaws.com/moonlite-nsdub/static/Lightbulb+icon", style:"height:25px; width:25px;", alt: "Tip"}
          Tips:
        %ul{style:"font-size:13px;"}
          %li Questions should enable people to demonstrate their knowledge or passion for the Challenge.
          %li Keep the tone informal but direct.
          %li Make sure you check for spelling and grammar.
          %li 
            You earn <strong>#{Task::CREATOR_AWARD_POINTS.to_s} points</strong> per published question.
            
    -# Method needs to be added to editor and correct answer    
    %div.step2.hide
      %fieldset{style: "display: inline-block; width:98%; margin-bottom: -20px;"}
        %legend Create a CR
        %span.help-block Users will answer the question with this template. You can edit or remove it if necessary.
        = f.text_area :template, value: @path.template
        %div{ id: "editor", style:"width: 97%; margin: 0 auto 5px auto; min-height: 175px; position: relative; padding-top:0;"}   
        %span.help-block{ style: "margin-top: 15px; "} If the responses to your question can be evaluated and there's only one correct answer, place that answer here:
        = text_field_tag("task[exact1]", nil, placeholder: "Correct output...")
        %div{ style: "margin-top: 10px; "}
          %a.back.submit_button_standard{ style:"float:left; " } Back
          %a.next.submit_button Next   
    
    %div.step3.hide
      %fieldset{style: "display: inline-block; width:98%;"}
        %legend Create a CR
        %h4 Your question:
        %div{style:"margin-left:12px;"}
          %code.content.question
        %h4 Here's where this question will appear:
        %div{style:"margin-left:12px;"}
          %span{style:" font-size:14px;"} Challenge:
          %span{style:"font-weight:bold;font-size:14px;"} #{section.path.name}
          %br/
          %span{style:" font-size:14px;"} Section: 
          %span{style:"font-weight:bold;font-size:14px;"} #{section.name}
        %h4{ style:"margin-bottom:15px;" } Ready to post?
        %a.back.submit_button_standard{ style:"float:left; margin-bottom:10px;"} Back
        = f.submit("Yes!", class: "submit_button")
    
    %div.step4.hide{ style: "width: 98%; "}
      %img{src:"https://s3.amazonaws.com/moonlite-nsdub/static/stoney_50x66.png", style:"height:45px; width: 40px;", alt: "Stoney"}
      %span{style:"position:relative; top:7px; font-size:35px;"} Nice work!
      %h4{style:"margin-top:12px; font-size:16px;"} Your Creative Response is now visible to the MetaBright community!
      %h4{style:"margin-top:12px; font-size:16px;"} You earn #{Task::CREATOR_AWARD_POINTS.to_s} points every time you publish a CR!
      %h4{style:"margin-top:12px; font-size:16px; margin-bottom:12px;"} If you'd like, you can <a class="take">post a response</a> to your CR now. 
      %a.restart.submit_button{ style:"margin-bottom:10px; text-shadow:none;"} Create another question
      %a.finish.submit_button_standard{ style:"float:left; margin-bottom:10px;"} Finish