= form_for(section.tasks.new, remote: true, html: { "data-type" => "html", class: "form-horizontal"}) do |f|
  = f.hidden_field :section_id
  %div.floatr
    = f.submit "Save", id: "save_question_button", class: "button button-info"
    %span#close_question_button.button.button-standard{ onclick: "clear_form();" } Clear
  %div.new_task{ style: "margin-top:10px;" }
    %div.message_container.alert.alert-message{ style: "display: none; width:350px; margin-left: 70px; margin-top:10px;" }
    %h4#form_title{ style: "margin-left:46px;" } Add Question
    %div.control-group
      %label.control-label Question
      %div.controls
        = f.text_area :question, class: "input-xlarge question_input", placeholder: "Type your question here...", style: "width: 450px; height: 100px;"
    %div.row
      %div.answers{ style: "margin-left: 20px;" }
        
        %div.control-group
          %label.control-label Answer type
          %div.controls
            = f.select :answer_type, hash_to_array(Task::TYPES)
        %div.control-group.hide
          %label.control-label Response type
          %div.controls
            = f.select :answer_sub_type, hash_to_array(Task::SUBTYPES)
        
        %div.multiple_choice
          - (1..4).each do |i|
            %div.control-group
              - status = (i == 1 ? "Correct answer" : "Wrong answer")
              %label.control-label= status
              %div.controls
                = text_field_tag("task[answer"+i.to_s+"]", nil, { maxlength: 255, size: 75, class: status.downcase.gsub(" ","_") })
        
        %div.creative.hide
          %p.free_text_note.answer_note.hide To answer this question, the user will be asked to type an appropriate free text response into a text box.
          %p.image_link_note.answer_note.hide To answer this question, the user will be asked to copy and paste a link to an image from the internet.
          %p.youtube_link_note.answer_note.hide To answer this question, the user will be asked to copy and paste a link to a video from Youtube.
        
        %div.checkin.hide
          %div.control-group
            %label.control-label
              = image_tag LIGHT_BULB_URL, style: "width: 16px; height: 16px;"
            %div.controls{ style: "width: 450px;" }
              %p All tasks require proof of completion in the form of a webpage. If you select "Any valid website", users will also be given a chance to upload an image as proof they completed the task.
            %label.control-label Source
            %div.controls
              = f.select :url_type, hash_to_array(Task::URL_TEMPLATE_NAMES)
        
        %div.control-group
          %div.controls
            = render "stored_resources/new_image"

:css
  .answer_note { margin: 20px 0 0 150px; font-style: italic; width:300px;}

:javascript
  function display_sub_type_message(){
    var sub_type = $("#task_answer_sub_type").val();
    $(".answer_note").hide();
    if(sub_type=="100"){
      $(".free_text_note").show();
    } else if(sub_type=="101"){
      $(".image_link_note").show();
    } else {
      $(".youtube_link_note").show();
    }
  }
  
  $(function(){
    $("#task_answer_sub_type").change(function(){
      log("Changin sub type.");
      display_sub_type_message();
    });
  
    $("#task_answer_type").change(function(){
      var type = $(this).val();
      log("Changin type.");
      if(type == 0){
        $(".task_answer_sub_type").parents("div.control-group").show();
        $(".creative").show();
        $(".multiple_choice").hide();
        $(".fib").hide();
        $(".checkin").hide();
        display_sub_type_message();
      } else if (type == 1){
        $(".task_answer_sub_type").parents("div.control-group").hide();
        $(".fib").show();
        $(".creative").hide();
        $(".multiple_choice").hide();
        $(".checkin").hide();
      } else if(type == 2) {
        $(".task_answer_sub_type").parents("div.control-group").hide();
        $(".multiple_choice").show();
        $(".fib").hide();
        $(".creative").hide();
        $(".checkin").hide();
      } else if(type == 3) {
        $(".task_answer_sub_type").parents("div.control-group").hide();
        $(".multiple_choice").hide();
        $(".fib").hide();
        $(".creative").hide();
        $(".checkin").show();
      }
    });
  });