= form_tag("/tasks", {remote: true, "data-type" => "html", class: "form-horizontal"}) do
  = hidden_field_tag "task[section_id]", section.id
  %div.floatr
    = submit_tag "Save", :id => "save_question_button", :class => "button button-info"
    %span#close_question_button.button.button-standard{ onclick: "clear_form();" } Clear
  %div.new_task{ style: "margin-top:10px;" }
    %div.message_container.alert-message{ style: "display: none; width:350px; margin-left: 70px; margin-top:10px;" }
    %h4#form_title{ style: "margin-left:46px;" } Add Question
    %div.control-group
      %label.control-label Question
      %div.controls
        = text_area_tag("task[question]", nil, { class: "xxlarge question_input", rows: "3", placeholder: "Type your question here..." })
    %div.row
      %div.answers{ style: "margin-left: 20px;" }
        %div.control-group
          %label.control-label Answer type
          %div.controls
            %select.task_answer_type{ name: "task[answer_type]" }
              %option{ value: "2", selected: "selected" } Multiple choice
              %option{ value: "0" } Creative response
              %option{ value: "3" } Checkin
        %div.control-group.hide
          %label.control-label Response type
          %div.controls
            %select.task_answer_sub_type{ name: "task[answer_sub_type]" }
              %option{ value: "100", selected: "selected" } Free text
              %option{ value: "101" } Image (JPEG, PNG, GIF)
              %option{ value: "102" } Youtube video
        %div.multiple_choice
          - (1..4).each do |i|
            %div.control-group
              - status = (i == 1 ? "Correct answer" : "Wrong answer")
              %label.control-label= status
              %div.controls
                = text_field_tag("task[answer"+i.to_s+"]", nil, { maxlength: 255, size: 75, class: status.downcase.gsub(" ","_") })
        %div.creative.hide
          %p.free_text_note.answer_note.hide To answer this question, the user will be asked to type an appropriate free text response into a text box.
          %p.image_link_note.answer_note.hide To answer this question, the user will be asked to copy and paste a link to an image from the internet.
          %p.youtube_link_note.answer_note.hide To answer this question, the user will be asked to copy and paste a link to a video from Youtube.
        %div.checkin.hide
          %p.answer_note Users can only answer this question in the affirmative, and may do so at any time.
          %p.answer_note They can, for example, confirm at any time that they have surfed at Maverick's, or explored Central Park.
        %div.control-group
          %div.controls
            = render "stored_resources/new_image"

:css
  .answer_note { margin: 20px 0 0 150px; font-style: italic; width:300px;}

:javascript
  function display_sub_type_message(){
    var sub_type = $("#task_answer_sub_type").val();
    $(".answer_note").hide();
    if(sub_type=="100"){
      $(".free_text_note").show();
    } else if(sub_type=="101"){
      $(".image_link_note").show();
    } else {
      $(".youtube_link_note").show();
    }
  }
  
  $(function(){
    $(".task_answer_sub_type").change(function(){
      display_sub_type_message();
    });
  
    $(".task_answer_type").change(function(){
      var type = $(this).val();
      if(type == 0){
        $(".task_answer_sub_type").parents("div.field").show();
        $(".creative").show();
        $(".multiple_choice").hide();
        $(".fib").hide();
        $(".checkin").hide();
        display_sub_type_message();
      } else if (type == 1){
        $(".task_answer_sub_type").parents("div.field").hide();
        $(".fib").show();
        $(".creative").hide();
        $(".multiple_choice").hide();
        $(".checkin").hide();
      } else if(type == 2) {
        $(".task_answer_sub_type").parents("div.field").hide();
        $(".multiple_choice").show();
        $(".fib").hide();
        $(".creative").hide();
        $(".checkin").hide();
      } else if(type == 3) {
        $(".task_answer_sub_type").parents("div.field").hide();
        $(".multiple_choice").hide();
        $(".fib").hide();
        $(".creative").hide();
        $(".checkin").show();
      }
    });
  });