%div.editor_view{ class: ("hide" unless display) }
  = form_for(section.tasks.new, remote: true, html: { class: "form-horizontal" }) do |f|
    %div.step1
      = f.hidden_field(:answer_type, value: Task::MULTIPLE)
      = f.hidden_field(:section_id, value: section.id)
      = f.hidden_field(:source, value: "launchpad")
      %fieldset
        %legend Create an Arena question
        %span.help-block What's your question?
        = f.text_area(:question, rows: 4, placeholder:"Question...")
        %span.help-block Add a code snippet to your question. (Optional) 
        = f.text_area(:quoted_text, rows: 4, placeholder:"Code snippet...")
        %a.next.button.button-actionable{ style:"float:right;" } Next
      .tips
        %h4 
          %img{ src:"https://s3.amazonaws.com/moonlite-nsdub/static/Lightbulb+icon", style:"height:25px; width:25px;", alt: "Tip"}
          Tips:
        %ul
          %li 
            You <strong>earn #{(Task::CREATOR_AWARD_POINTS+100).to_s} points</strong> per published question.
          %li Keep the tone informal but direct.
          %li Check for spelling and grammar.        
    %div.step2.hide
      %fieldset
        %legend Create an Arena question
        %span.help-block What kind of question is this?
        .btn-group{"data-toggle" => "buttons-radio"}
          %buttton.btn.btn-primary{ type: "button", style: "opacity: .6;"} Multiple Choice
          %buttton.btn.btn-primary{ type: "button", style: "opacity: .6;"} Exact Match
          
        -# Display this help-block when "Multiple Choice" is selected
        %span.help-block What are the possible answers?
        %label Correct answer
        = f.text_field(:answer_new_1, placeholder: "Required", style:"margin-left:17px;")
        %label Wrong answer
        = f.text_field(:answer_new_2, placeholder: "Required")
        %label Wrong answer
        = f.text_field(:answer_new_3, placeholder: "Optional")
        %label Wrong answer
        = f.text_field(:answer_new_4, placeholder: "Optional")
        %span.error_message          

        -# Display this help-block when "Exact Match" is selected. NOTE: The method for the text field is wrong.
        %span.help-block What is the correct answer?        
        %div.tip{ style: "margin-bottom: 5px; "}
          %img{ src: "https://s3.amazonaws.com/moonlite-nsdub/static/Lightbulb+icon", alt: "Tip" }
          %p Answers are case insensitive and spaces are ignored.
        = f.text_field(:answer_new_1, placeholder: "Correct answer...", style: "margin-bottom: 20px; ")
          
        %div  
          %a.back.button.button-standard{ style:"float:left; margin-bottom:10px; text-shadow:none; color:#333;" } Back
          %a.next.button.button-actionable{ style:"float:right;" } Next
          
          
          
          

    
    %div.step3.hide
      %fieldset{ style: "width: 98%; "}
        %legend Create an Arena question
        %h4 Your question:
        %div{style:"margin-left:12px;"}
          %code.content.question
        %h4 Correct answer:
        %div{style:"margin-left:12px;"}
          %span.correct_answer
        %h4 Here's where this Arena question will appear:
        %div{style:"margin-left:12px;"}
          %span{style:" font-size:14px;"} Challenge:
          %span{style:"font-weight:bold;font-size:14px;"} #{section.path.name}
          %br/
          %span{style:" font-size:14px;"} Section: 
          %span{style:"font-weight:bold;font-size:14px;"} #{section.name}
        %h4{ style: "margin-bottom:5px;" } Ready to post?
        %a.back.button.button-standard{ style:"float:left; margin-bottom:10px; text-shadow:none; color:#333;" } Back
        = f.submit("Yes!", class: "button button-actionable", style: "float:right;")
    
    %div.step4.hide{ style: "width: 98%; "}
      %img{src:"https://s3.amazonaws.com/moonlite-nsdub/static/stoney_50x66.png", style:"height:45px; width: 40px;", alt: "Stoney"}
      %span{style:"position:relative; top:7px; font-size:35px;"} Nice work!
      %h4 Your question is now visible to the MetaBright community!
      %h4{ style: "margin-bottom:12px;" } You earn #{(Task::CREATOR_AWARD_POINTS+100).to_s} points every time you publish a question!
      %a.restart.button.button-actionable{ style:"float:right; margin-bottom:10px; text-shadow:none;"} Create another question
      %a.finish.button.button-standard{ style:"float:left; margin-bottom:10px; text-shadow:none; color:#333;"} Finish