%div.CRbuttonspace
  - if @session_id
    = link_to "Skip for now", finish_section_path(@section, @session_id), class: "submit_button_standard", style: "float: left;"
  - else @session_id.nil?
    = link_to "Back", challenge_path(@section.path.permalink, c: true), class: "submit_button_standard", style: "float: left;"
  
  - if @submitted_answer.reviewed_at
    = f.submit "Update", class: "submit_button_standard", id: "submit_button"
  - else
    = f.submit "Submit", class: "submit_button", id: "submit_button"
    = f.submit "Save as Draft", class: "submit_button_standard", id: "draft_button", style: "margin-right: 10px;"  
  = image_tag ICON_LOADING_URL, size: "25x25", style: "float: right; display: none; padding: 5px;", id: "loading_image", alt: "Loading"

:javascript
  $("#preview_button").click(function(){
    $("input[name=mode]").val("preview");
  });

  $("#draft_button").click(function(){
    $("input[name=mode]").val("draft");
  });