%div.CRquestionandresponsespace
  -if @completed_task.session_id 
    %div.CRquestionspace
      %span{ style: "font-size: 33px;"}
        Boss Question!
    %pre.CRquestion= @task.question
  -else 
    %div.CRquestionspace
      %span.cr_question_header
        Creative Response:    
    %pre.CRquestion= @task.question
  %div.CRresponsespace{ style: "min-height: 175px;" }
    - if @path.template
      = f.submit "View Preview", class: "button button-small button-info", id: "preview_button", style: "float:right; margin: 0px 10px 3px 0; padding: 3px 10px;"
    = link_to "View hotkeys", "https://github.com/ajaxorg/ace/wiki/Default-Keyboard-Shortcuts", target: '_blank', style: "float: left; position: relative; font-size: 13px; top: 3px; margin-left: 10px;"
    %h4{ style: "text-align: center; margin-bottom: 5px; font-size: 15px; border-bottom: 1px solid rgba(0, 0, 0, .1); width: 150px; margin-right: auto; margin-left: auto;" } Your answer:
    %input{ type: "hidden", name: "mode", value: "submit" }
    
    %textarea{ name: "content", id: "answer_input", style: "min-height: 275px;", data: { template: @task.template.to_s } }= @submitted_answer.content || @task.template
    - if @path.template
      %div{ id: "editor", style:"width: 97%; margin: 0 auto 5px auto; min-height: 275px; position: relative; padding-top:0;"}
        
    - if params[:m] == "preview" and (@task.template or @submitted_answer.preview or @submitted_answer.preview_errors)
      %div{ style: "text-align:center; "}
        - if @correct
          %h4{ style: "color: rgb(0, 206, 0); text-align: center; margin-bottom: 12px; font-size: 17px; border-bottom: 1px solid rgba(3, 233, 12, 0.8); width: 120px; margin-right: auto; margin-left: auto;" } Correct!
        - else
          %h4{ style: "text-align: center; margin-bottom: 12px; font-size: 17px; border-bottom: 1px solid rgba(0, 0, 0, .1); width: 120px; margin-right: auto; margin-left: auto;" } Preview
        - if @submitted_answer.preview
          - if @correct
            - box_shadow = "box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 255, 41, 0.6);"
          %div{ style: box_shadow.to_s + "margin:0 auto; width: 544px; overflow: auto; border: 1px solid #CCC; background-color: white; border-radius: 4px; padding: 4px 6px;" }
            = @submitted_answer.preview
        
        - elsif @submitted_answer.preview_errors
          %div{ style: "margin:0 auto; width: 544px; overflow: auto; border: 1px solid #CCC; background-color: white; border-radius: 4px; padding: 4px 6px; color: red;" }
            = @submitted_answer.preview_errors
          
        - else
          %iframe{ src: raw_path(@submitted_answer.id), style: "margin:0 auto; min-height: 275px; width: 544px; overflow: auto; border: 1px solid #CCC; background-color: white; border-radius: 4px; padding: 4px 6px;" }

    %div{ style: "margin: 10px 0 5px 0; text-align: center;" }
      %a.add_caption{ onclick: "$('#caption').toggle(); $('.add_caption span.caret').toggle();"} 
        %span.text Add caption
      = text_area_tag "caption", @submitted_answer.caption, style: "height: 40px; display: none; margin: 2px 12px;", placeholder: "Caption will appear immediately below your response..."

:javascript
  $("#challenge_form").submit(function(){
    if($("#answer_input").val() != ""){
      $("#challenge_form").unbind("submit");
      $("#challenge_form").submit();
      $("#submit_button").attr("disabled","disabled");
      return true;
    } else {
      $("#submit_button").removeAttr("disabled").removeClass("disabled");
      alert("Please enter an answer before submitting.");
      return false;
    }
  });
  
  var editor = ace.edit("editor");
  editor.setTheme("ace/theme/github");
  editor.getSession().setMode("ace/mode/#{@task.language}");
  editor.getSession().setUseSoftTabs(true);
  editor.getSession().setTabSize(2);
  var $textarea = $('textarea[name="content"]').hide();
  var $submit = $("#submit_button");
  editor.getSession().setValue($textarea.val());
  editor.getSession().on('change', function(){
    $textarea.val(editor.getSession().getValue());
    if($textarea.data("template") != $textarea.val()){
      $submit.removeClass("disabled").removeAttr("disabled");
    } else {
      $submit.addClass("disabled").attr("disabled", "disabled");
    }
  });
  
  if($textarea.data("template") == $textarea.val()){
    $submit.addClass("disabled").attr("disabled", "disabled");
  }