:css
  .ace_content { font-size: 13px; font-family: 'Menlo', 'Ubuntu Mono', 'Droid Sans Mono', 'Consolas', monospace; }
  .ace_gutter { border-left: 1px solid #CCC; border-top: 1px solid #CCC; border-bottom: 1px solid #CCC; height: 248px; }
  .ace_scroller { border: 1px solid #CCC; height: 248px !important; }
  .ace_sb { border-right: 1px solid #CCC; border-top: 1px solid #CCC; border-bottom: 1px solid #CCC; height: 248px; width: 16px !important; }
  .ace_line, .ace_line span { font-size: 13px; font-family: 'Menlo', 'Ubuntu Mono', 'Droid Sans Mono', 'Consolas', monospace; }

%div.CRquestionandresponsespace
  -if @completed_task.session_id 
    %div.CRquestionspace{ style: "width: 98%; text-align:center;" }
      %span{ style: "font-size: 45px; "}
        Boss Question!
    %p
      %pre.CRquestion{ style: "margin-left:25px; "}= @task.question
  -else 
    %div.CRquestionspace{ style: "width: 98%;" }
      %span.cr_question_header
        Creative Response:    
    %p
      %pre.CRquestion{ style: "margin-left:25px; "}= @task.question
  %div.CRresponsespace{ style: "min-height: 175px; width: 97.4%; margin-top: 20px;" }
    %p{ style:"display: none; float: right; font-size: 12px; margin-right: 15px; top: 15px; position: relative;"} (Save: Ctrl-S, Preview: Ctrl-R)
    %h4{ style: "text-align: center; margin-bottom: 12px; font-size: 17px; border-bottom: 1px solid rgba(0, 0, 0, .1); width: 150px; margin-right: auto; margin-left: auto;" } Your answer:
    %input{ type: "hidden", name: "mode", value: "submit" }
    
    %textarea{ name: "content", id: "answer_input", rows: "7", autofocus: "autofocus", style: "height: 250px; overflow: auto; border: 1px solid #cccccc; background-color: #ffffff; box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); border-radius: 4px; margin: 6px 12px 12px 14px; font-family: 'Menlo', 'Courier New', 'Terminal', monospace; font-size: 13px;"}= @submitted_answer.content || @task.template
    /%div{ id: "content", style:"width: 98%; margin: 0 auto 15px auto; min-height:250px; position: relative; padding-top:0;"}
        
    - if params[:m] == "preview" and (@task.template or @submitted_answer.preview or @submitted_answer.preview_errors)
      %div{ style: "text-align:center; "}
        %h4{ style: "text-align: center; margin-bottom: 12px; font-size: 17px; border-bottom: 1px solid rgba(0, 0, 0, .1); width: 120px; margin-right: auto; margin-left: auto;" } Preview:
        - if @submitted_answer.preview
          %div{ style: "margin:0 auto; width: 544px; overflow: auto; border: 1px solid #CCC; background-color: white; border-radius: 4px; padding: 4px 6px;" }
            = @submitted_answer.preview
        
        - elsif @submitted_answer.preview_errors
          %div{ style: "margin:0 auto; width: 544px; overflow: auto; border: 1px solid #CCC; background-color: white; border-radius: 4px; padding: 4px 6px; color: red;" }
            = @submitted_answer.preview_errors
          
        - else
          %iframe{ src: raw_path(@submitted_answer.id), style: "margin:0 auto; width: 544px; overflow: auto; border: 1px solid #CCC; background-color: white; border-radius: 4px; padding: 4px 6px;" }

    %div{ style: "margin: 10px 0 5px 0; text-align: center;" }
      %a.add_caption{ onclick: "$('#caption').toggle(); $('.add_caption span.caret').toggle();"} 
        %span.text Add caption
      = text_area_tag "caption", @submitted_answer.caption, style: "height: 40px; display: none; margin: 2px 12px;", placeholder: "Caption will appear immediately below your response..."

%div.CRbuttonspace
  = link_to "Back", challenge_path(@section.path.permalink, completed: true), class: "button button-standard", style: "float: left;"
  %a.arena_report_link{ style: "position:relative; top:8px; margin-left:10px; text-decoration:none;"} Report this question
  - if @submitted_answer.reviewed?
    = f.submit "Update", class: "button button-actionable", id: "submit_button", style: "float:right;"
  - else
    = f.submit "Submit", class: "button button-actionable", id: "submit_button", style: "float:right;"
    = f.submit "Save as Draft", class: "button button-standard", id: "draft_button", style: "float:right; margin-right: 10px;"
  - if @task.template
    = f.submit "View Preview", class: "button button-standard", id: "preview_button", style: "float:right; margin-right: 10px;"
  = image_tag ICON_LOADING_URL, size: "25x25", style: "float: right; display: none; padding: 5px;", id: "loading_image", alt: "Loading"

%script{:charset => "utf-8", :src => "http://d1n0x3qji82z53.cloudfront.net/src-min-noconflict/ace.js", :type => "text/javascript"}
:javascript
  // var editor = ace.edit("content");
  // editor.setTheme("ace/theme/cloud");
  // editor.getSession().setMode("ace/mode/#{@path.name.downcase.include?('ruby') ? 'ruby' : 'html'}");
  // editor.getSession().setUseSoftTabs(true);
  // editor.getSession().setTabSize(2);
  // var textarea = $('textarea[name="content"]').hide();
  // editor.getSession().setValue(textarea.val());
  // editor.getSession().on('change', function(){
  //   textarea.val(editor.getSession().getValue());
  // });
      
:javascript
  $("#preview_button").click(function(){
    $("input[name=mode]").val("preview");
  });
  $("#draft_button").click(function(){
    $("input[name=mode]").val("draft");
  });

  $("#challenge_form").submit(function(){
    if($("#answer_input").val() != ""){
      $("#challenge_form").unbind("submit");
      $("#challenge_form").submit();
      $("#submit_button").attr("disabled","disabled");
      return true;
    } else {
      alert("Please enter an answer before submitting.");
      $("#submit_button").removeAttr("disabled");
      return false;
    }
  });