%div.CRquestionandresponsespace
  %div.CRquestionspace{ style: "width: 98%;" }
    %span.cr_question_header Creative Response:
    %p
      %pre.CRquestion{ style: "margin-left:25px; "}= @task.question
  %div.CRresponsespace{ style: "min-height: 175px; width: 97.4%; #{if @task.text? then 'margin-top: 20px;' end}" }
    %h4{ style: "text-align: center; margin-bottom: 12px; font-size: 17px; border-bottom: 1px solid rgba(0, 0, 0, .1); width: 150px; margin-right: auto; margin-left: auto;" } Your answer:

    %input{ type: "hidden", name: "url", value: @submitted_answer.url }
    %input{ type: "hidden", name: "content", value: @submitted_answer.content }
    
    %div.input{ style: "margin-left: 0px; text-align: center;" }
      %input#answer_input{ type: "text", name: "url", style: "width: 250px;", placeholder: "Copy & paste link to youtube video here...", autofocus: "autofocus" }
      %a#answer_preview_button.btn.secondary{ style: "margin-left: 10px; position:relative; bottom:5px;" } Preview
      %div#answer_preview_container{ style: "text-align: center; padding: 10px; margin: 20px 0 0 0; border: 1px solid lightgray;" }
        %div#answer_preview
          = image_tag YOUTUBE_PLACEHOLDER, size: "380x200", id: "youtube_placeholder", alt: "YouTube placeholder"
      
    %div{ style: "margin: 10px 0 5px 0; text-align: center;" }
      %a.add_caption{ onclick: "$('#caption').toggle(); $('.add_caption span.caret').toggle();"} 
        %span.text Add caption
      = text_area_tag "caption", @submitted_answer.caption, style: "height: 40px; width: 97%; display: none; margin: 0;", placeholder: "Caption will appear immediately below your response..."

%div.CRbuttonspace
  = link_to "Back", challenge_path(@section.path.permalink, completed: true), class: "button button-standard", style: "float: left;"
  %a.arena_report_link{ style: "position:relative; top:8px; margin-left:10px; text-decoration:none;"} Report this question
  = f.submit "Submit", class: "button button-actionable", id: "submit_button", style: "float:right;"
  = image_tag ICON_LOADING_URL, size: "25x25", style: "float: right; display: none; padding: 5px;", id: "loading_image", alt: "Loading"
      
:javascript
  $(function(){
    $('#challenge_form').submit(function(){
      $("#loading_image").show();
      $("#submit_button").attr("disabled","disabled").addClass("disabled").text("Submitting...");
    });
  });

  $("#challenge_form").submit(function(){  
    $('body').data("needs_reload", false);
    var url = $("#answer_input").val();
    var youtube_id = get_youtube_id_from_link(url);
    if(is_valid_youtube_id(youtube_id)){
      $("#challenge_form").unbind("submit");
      $("#challenge_form").submit();
      $(".loading_image").show();
      $("#submit_button").attr("disabled","disabled");
      return true;
    } else {
      alert("Please provide a link to a valid Youtube video.");
      $("#submit_button").removeAttr("disabled");
      return false;
    }
  });
  
  $("#answer_preview_button").click(function(){
    var url = $("#answer_input").val();
    var youtube_id = get_youtube_id_from_link(url);
    if(is_valid_youtube_id(youtube_id)){
      $("#youtube_placeholder").remove();
      set_youtube_preview(url, "answer_preview");
    } else {
      alert("Please provide a link to a valid Youtube video.");
    }
  });