%div.question_display{ id: move ? "must_move" : "" }
  %div.edit_task_buttons{ style: "float:right; margin-top:5px; " }
    - if task.creator == current_user
      .btn-group
        = link_to "Edit", edit_task_path(task.id), remote: true, class: "btn edit_button"
        %button.btn.dropdown-toggle{"data-toggle" => "dropdown"}
          %span.caret
        %ul.dropdown-menu{ style: "min-width: 100px;" }
          %li= link_to "Delete", task, method: :delete, remote: true, confirm: "Are you sure you want to delete this question?", "data-type" => "json", class: "delete_button"
          %li= link_to "Archive", archive_task_path(task), method: :put, remote: true, confirm: "Are you sure you want to archive this question?", "data-type" => "json", class: "archive_button"
    - else
      = link_to "Edit", edit_task_path(task.id), remote: true, class: "btn edit_button"
    
  %div{ style: "padding:15px;" }
    %h5{ style: "margin: 5px 0 5px 15px;"} Question
    %blockquote{ style: "margin-top:0px; width:77%;" }
      %pre{ style:"word-break:normal;" }= task.question
    - if task.quoted_text
      %h5{ style: "margin: 5px 0 5px 15px;"} Quoted Text
      %blockquote{ style: "margin-top:0px; width:77%;" }
        %pre{ style:"word-break:normal;" }= task.quoted_text
    - if task.stored_resources.first
      = image_tag task.stored_resources.first.obj.url, style: "height: 200px; margin: 10px 0px 10px 40px; max-width: 500px;"
    - answers = task.answers
    - unless answers.empty?
      %h5{ style: "margin: 5px 0 5px 15px;"} Answer(s)
      %ol{ style: "padding-left:20px;" }
        - task.answers.each do |a|
          %li{ class: ("correct" if a.is_correct) }= a.content
    - if task.template
      %h5{ style: "margin: 5px 0 5px 15px;"} Template
      %blockquote{ style: "margin-top:0px; width:77%;" }
        %pre{ style:"word-break:normal;" }= task.template
  %div{ style: "position: relative; bottom: 0px; margin-left: 45px; font-size: 11px;"}
    - unless task.resource.blank?
      = link_to "Source: "+task.resource_title, task.resource, target: "_blank"
  
  - if move
    :javascript
      $(function(){ 
        $("#must_move:first").removeAttr("id").parents("td.task").parent().remove().appendTo("#section_questions_"+#{move})
      });