- if @evaluation
  :css
    body{ background-image: url("https://s3.amazonaws.com/moonlite-nsdub/static/Backgrounds/gplaypattern.png"); background-repeat: repeat; background-size: auto; }
    
%div.quizcontainer.hide{ style: "#{@stored_resource.nil? ? '': 'margin-top: 110px;'} #{'width: inherit;' unless @show_stats}" }
  = render "modals/report_issue"
  %div.quizspace
    - @show_feedback = true if @show_feedback.nil?
    :javascript
      $(function(){
        $.MB.Arena.init({start_countdown: #{@start_countdown}, show_feedback: #{@show_feedback}, delay: #{@task.delay}});
        $(".quizcontainer").fadeIn();
      });
     
    %div.quizheader
      = image_tag @path.path_pic, style: "width: 50px; height: 50px;", alt: "#{@path.name}"
      %div{ style: "display:inline-block;" }
        %span.name <strong>#{@path.name}</strong>
      - if current_user and @show_feedback and @question_count and @session_total
        %div.quiz_progress
          Question #{@question_count} / #{@session_total}
    %div{ style: "text-align:center;" }
      = render "tasks/stored_resource", { :stored_resource => @stored_resource }
    %div.questionandresponsespace{ style: "width: 425px;" }
      %div.questionspace
        %pre.CRquestion= @task.question
      - if @task.quoted_text
        %pre.snippet
          = @task.quoted_text
        %hr{ style: "margin: 12px auto; width: 35%; border: 0; border-top: 1px solid #eeeeee; border-bottom: 1px solid #ffffff;" }
      %div.responsespace{ data: { type: @task.answer_type } }
        = form_tag(complete_task_path(@task.id), :remote => true, :method => "put", :id => "challenge_form") do
          = hidden_field_tag :points_remaining, 100
          = hidden_field_tag :streak, @streak.to_i
          
          - if @task.multiple_choice?
            %ol{ style: "list-style-position: inside; margin-left: 0px;" }
              - @answers.each_with_index do |a, i|
                %li.answer_content{ data: { answer: a.content, order: i } }
                  = radio_button_tag :answer, a.content, false, style: "display: none;"
                  %span= a.content
          - elsif @task.exact?
            .control-group
              .controls
                = text_field_tag "answer", nil, placeholder: "Enter answer here (case insensitive)...", class: "answer_feedback", style: "width: 70%;"
                %span.match_status_text
                %p.match_status_exp
            .control-group
              .controls
                = submit_tag "Submit", id: "submit_exact", class: "button button-info"
            
        = link_to (@next_text || "Next"), @next_link, id: "nextbutton", class: "hide button button-actionable", rel: "nofollow", onclick: '$(this).addClass("disabled").attr("disabled", "disabled"); return true;'
    
    - if @show_stats
      %div{ style: "display:inline-block; vertical-align:top; margin: 0px 0 0 6px; width: 260px; margin-left: 28px;" }
        %div.questionfooter
          %div.pointbar{ style: "position: relative;" }
            %div.pointbarfiller{ style: "display: inline-block;"}
            %div.pointbartext{ style: "position: absolute; left: 44%;" } 100 points
        %div.pointsandstreakspace
          %div.pointspace.counterbox
            %span.counter{style: "display:block"}
              - if @show_feedback
                - digits = @enrollment ? @enrollment.total_points.to_s : "0"
                - label = "Points"
                - split_digits = digits.to_s.split("").reverse.push("0").push("0").push("0").reverse.slice(-4, 4)
              - else
                - digits = @question_count ? @question_count.to_s : "0"
                - label = "Completed"
                - split_digits = digits.to_s.split("").reverse.push("0").push("0").reverse.slice(-3, 3)
              
              - split_digits.each do |d|
                %span.digit
                  %span= d
            %br
            %span= label
          %div.streakspace.counterbox
            %span.counter
              - if @show_feedback
                - digits = @streak
                - label = "Streak"
                - split_digits = digits.to_i.to_s.split("").reverse.push("0").reverse.slice(-2, 2)
              - else
                - digits = (@session_total - @question_count)
                - label = "Remaining"
                - split_digits = digits.to_s.split("").reverse.push("0").push("0").reverse.slice(-3, 3)
              - split_digits.each do |s|
                %span.digit
                  %span{ title: s }= s
            %br
            %span= label
        %div.messagespace{ style: "text-align: right; margin: 12px 0px 0px 25px; width: 258px;" }
      - if current_user and params[:controller] != "evaluations"
        %a.arena_report_link{ style: "float:right; text-decoration:none;"} Report this question