<section class="task">
	<div>
		<blockquote>
			<p>
				<%= @task.question %>
			</p>
		</blockquote>
		<ol>
			<% if !@task.answer1.blank? %><li><%= @task.answer1 %></li><% end %>
			<% if !@task.answer2.blank? %><li><%= @task.answer2 %></li><% end %>
			<% if !@task.answer3.blank? %><li><%= @task.answer3 %></li><% end %>
			<% if !@task.answer4.blank? %><li><%= @task.answer4 %></li><% end %>
		</ol>
		<p style="float: left;">Correct Answer: <%= @task.correct_answer %></p>
	</div>
</section>
