<section class="task">
	<p><%= @task.points %></p>
	<p><%= @task.question %></p>
	<p><%= @task.answer1 %></p>
	<p><%= @task.answer2 %></p>
	<p><%= @task.answer3 %></p>
	<p><%= @task.answer4 %></p>
	<%= link_to "Edit", edit_task_path(@task)%>
</section>
