<script src="/javascripts/suggestions.js"></script>
<script>
var std_url = "<%= root_url %>";

$(function(){
  $(".correct_answer").each(function(){
    var $ca = $(this).parent().parent().remove();
    $ca.prependTo(".answers");
  
    var $answer = $(this);
    var $suggestions = $answer.parent().parent().parent().parent().parent().find(".suggestions");
    $answer.change(function(){
      get_suggestions($answer, $suggestions);
    });
    get_suggestions($answer, $suggestions);
  });
});

function embolden(id){
	$("#"+id).css("border", "1px solid #5F5F5F");
	setTimeout(function(){
		$("#"+id).css("border", "1px solid #CCC");
	},50);
}
</script>

<h1><%= @form_title %></h1>
<%= form_for(@task, :remote => true) do |f| %>
	<%= render "shared/error_messages", :object => f.object %>
	<%= f.hidden_field :section_id, :value => @section_id %><br/>
	<div class="field clearfix">
		<%= f.label :question %>
		<div class="input">
			<%= f.text_area :question, :class => "xxlarge", :rows => "3" %>
		</div>
	</div>
  <div class="row">
    <div class="span8 answers">
			<% (1..4).each do |i| %>
			 <div class="field clearfix">
        <% status = (@ca == i ? "Correct answer" : "Wrong answer") %>
        <%= f.label status %>
        <div class="input">
          <%= f.text_field "answer"+i.to_s, :maxlength => 255, :size => 75, :class => status.downcase.gsub(" ","_") %>
					<% if @ca == i %>
						<%= image_tag "suggest.png", :size => "15x15", :id => "suggest_icon", :onclick => "embolden('suggest_icon');" %>
					<% end %>
        </div>
      </div>
			<% end %>
			
			<% if @sections && @sections.size > 1 %>
			<div class="field clearfix">
        <%= f.label "Section" %>
        <div class="input">
					<%= f.select :section_id, @sections.map {|s| [s.name,s.id]} %>
        </div>
      </div>
			<% end %>
			
      <% if @info_resource %>
      <div class="field clearfix">
        <%= f.label "Image" %>
        <div class="input">
          <%= image_tag(@info_resource.obj.url, :width => "100") %>
        </div>
      </div>
      <% end %>
    </div>
		
    <div class="span8 suggestions" style="padding-top:10px;">
      <p class="not_found_message" style="display: none;">No suggestions found.</p>
      <p class="did_you_mean" style="display: none;">Did you mean...?</p>
      <p class="found_message" style="display: none;">Suggestions (doubleclick):</p>
      <ol style="margin-top:10px; display: none;"></ol>
    </div>
  </div>
	<div class="actions">
		<%= f.submit "Save", :class => "btn primary" %>
		<% if @task.new_record? %>
			<%= f.submit "Save and New", :class => "btn secondary" %>
		<% else %>
      <%= link_to "Add Image", new_info_resource_path(:task_id => @task.id), :class => "btn secondary" %>
    <% end %>
		<%= link_to "Cancel", edit_section_path(@section_id, :m => "tasks"), :class => "btn secondary" %>
	</div>
<% end %>