<script src="/javascripts/suggestions.js"></script>
<script>
var std_url = "<%= root_url %>";

$(function(){
  $(".correct_answer").each(function(){
    var $ca = $(this).parent().parent().remove();
    $ca.prependTo(".answers");
  
    var $answer = $(this);
    var $suggestions = $answer.parent().parent().parent().parent().parent().find(".suggestions");
    $answer.change(function(){
      get_suggestions($answer, $suggestions);
    });
    get_suggestions($answer, $suggestions);
  });
});
</script>

<h1><%= @form_title %></h1>
<%= form_for @task do |f| %>
	<%= render "shared/error_messages", :object => f.object %>
	<%= f.hidden_field :section_id, :value => @section_id %><br/>
	<div class="field clearfix">
		<%= f.label :question %>
		<div class="input">
			<%= f.text_area :question, :class => "xxlarge", :rows => "3" %>
		</div>
	</div>
  <div class="row">
    <div class="span8 answers">
      <div class="field clearfix">
        <% a_class = (@ca == 1 ? "Correct answer" : "Wrong answer") %>
        <%= f.label a_class + "*" %>
        <div class="input">
          <%= f.text_field :answer1, :maxlength => 255, :size => 75, :class => a_class.downcase.gsub(" ","_") %>
        </div>
      </div>
      <div class="field clearfix">
        <% a_class = (@ca == 2 ? "Correct answer" : "Wrong answer") %>
        <%= f.label a_class + "*" %>
        <div class="input">
          <%= f.text_field :answer2, :maxlength => 255, :size => 75, :class => a_class.downcase.gsub(" ","_") %>
        </div>
      </div>
      <div class="field clearfix">
        <% a_class = (@ca == 3 ? "Correct answer" : "Wrong answer") %>
        <%= f.label a_class %>
        <div class="input">
          <%= f.text_field :answer3, :maxlength => 255, :size => 75, :class => a_class.downcase.gsub(" ","_") %>
        </div>
      </div>
      <div class="field clearfix">
        <% a_class = (@ca == 4 ? "Correct answer" : "Wrong answer") %>
        <%= f.label a_class %>
        <div class="input">
          <%= f.text_field :answer4, :maxlength => 255, :size => 75, :class => a_class.downcase.gsub(" ","_") %>
        </div>
      </div>
			<% if @sections && @sections.size > 1 %>
			<div class="field clearfix">
        <%= f.label "Section" %>
        <div class="input">
					<%= f.select :section_id, @sections.map {|s| [s.name,s.id]} %>
        </div>
      </div>
			<% end %>
      <% if @info_resource %>
      <div class="field clearfix">
        <%= f.label "Resource" %>
        <div class="input">
          <%= image_tag(@info_resource.obj.url, :width => "100") %>
        </div>
      </div>
      <% end %>
      <span style="font-style: italic; padding-left: 70px; padding-top: 6px">*Required</span><br>
    </div>
    <div class="span8 suggestions">
      <p class="not_found_message" style="padding-top:10px; display: none;">No suggestions found.</p>
      <p class="found_message" style="padding-top:10px; display: none;">Suggestions (doubleclick):</p>
      <ol style="margin-top:10px; display: none;"></ol>
    </div>
  </div>
	<div class="actions">
		<%= f.submit "Save", :class => "btn primary" %>
		<% if @task.new_record? %>
			<%= f.submit "Save and New", :class => "btn secondary" %>
		<% else %>
      <%= link_to "Add Resource", new_info_resource_path(:task_id => @task.id), :class => "btn secondary" %>
    <% end %>
		<%= link_to "Cancel", edit_section_path(@section_id, :m => "tasks"), :class => "btn secondary" %>
	</div>
<% end %>