!!!
%html
  %head
    %meta{ content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }
    - s = {}
    - s[:action_button] = "float:right; margin-bottom: 0px;margin-top: 0px;vertical-align: middle;display: inline-block;text-shadow: 0 1px 0px black;color: white;padding: 7px 20px 5px 20px;cursor: pointer;font-size: 15px;border: 1px solid #DDD;border-radius: 3px;background-image: -moz-linear-gradient(top, #ee5f5b, #971D1C);background-image: -ms-linear-gradient(top, #ee5f5b, #971D1C);background-image: -o-linear-gradient(top, #ee5f5b, #971D1C);background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#971D1C));background-image: -webkit-linear-gradient(top, #ee5f5b, #971D1C);background-image: linear-gradient(top, #ee5f5b, #971D1C);"
    - s[:challenge_image] = "vertical-align:top; width:75px; height:75px; display:inline-block; border-radius:6px; -moz-border-radius:6px; -webkit-border-radius:6px;"
    - s[:challenge_box] = "text-decoration:none; color:#404040; "
  %body{ style: "background-color: rgb(254, 255, 247); padding: 30px;"}
    %table{ cellpadding: "0", cellspacing: "0", style: "border: 1px solid rgba(0, 0, 0, .1); width: 620px; color:#404040; background-color: white; margin: 0 auto;" }
      %tbody
        %tr
          %td{ style: "background:#F9F9F9; padding:6px 0 3px 6px; border-bottom:1px solid rgba(0, 0, 0, .1);"}
            = link_to root_url do
              = image_tag METABRIGHT_LOGO, style: "width:145px", alt: "MetaBright.com"
        %tr
          %td{ style: "font-family:'lucida grande',tahoma,verdana,arial,sans-serif; color: #404040; padding:6px 12px 12px 12px; "}
            %h3{ style: "font-size:15px; font-weight:bold; margin:0;" } Hi #{@user.name.split.first},
            %p{ style: "font-size:15px; margin-top: 0;" } We have some big news to announce: Companies are now using MetaBright to find talented hires! 
            %p{ style: "font-size:15px; margin: 0;" } 
              Employers have begun using MetaBright Challenges and custom Challenges to evaluate the skills of their job candidates. In addition to using MetaBright as a talent screener, companies are also using MetaBright to discover new candidates. You can learn more about this new product here:
              %a{ href: "http://www.metabright.com/evaluator"} www.metabright.com/evaluator
        %tr
          %td{ style: "font-family:'lucida grande',tahoma,verdana,arial,sans-serif; color: #404040; padding:6px 12px 12px 12px; "}
            %h3{ style: "font-size: 20px; margin:0;"} New Features
            %hr{ style: "border:1px solid rgba(0, 0, 0, .1); border-bottom:none;" }
              %div
                %h4{ style: "font-size:15px; font-weight:normal;"} 
                  MetaBright can now help you land your next job or internship. This feature is purely opt-in. If you want to participate, make sure you 
                  = link_to "update your settings.", @professional_url
                  Here's what you need to know:
                %ul{ style: "font-size:15px;"}
                  %li{ style: "margin-bottom:7px;"}
                    %strong Your MetaScore:
                    Calculated according to your performance in each Challenge, your MetaScore is an estimate for how talented you are at a given skill. Companies use the MetaScore to help identify who is likely to be a top performer.
                  %li{ style: "margin-bottom:7px;"}
                    %strong Your professional settings:
                    If you want to use MetaBright to help you find jobs or internships, make sure you update your professional settings. You can specify what type of opportunity you're looking for (if any), and your location. 
                  %li{ style: "margin-bottom:7px;"}
                    %strong Your privacy is protected:
                    Your personal information will never be revealed unless you say it's alright. And your status is never displayed on your public profile. Your current employer will never see that you're using MetaBright for professional purposes.
                %h4{ style: "font-size:15px; font-weight:normal;"} 
        %tr
          %td{ style: "font-family:'lucida grande',tahoma,verdana,arial,sans-serif; color: #404040; padding:6px 12px 12px 12px; border-bottom:1px solid rgba(0, 0, 0, .1);"}
            %h3{ style: "font-size: 20px; margin:0;"} New Challenges
            %hr{ style: "border:1px solid rgba(0, 0, 0, .1); border-bottom:none;"}
              
              = link_to "http://www.metabright.com/challenges/python", style: s[:challenge_box] do
                %div{ style: "margin-bottom: 12px; padding:12px; background-color:whitesmoke; border: 1px solid rgba(0, 0, 0, .1); border-radius:6px; -moz-border-radius:6px; -webkit-border-radius:6px; "}                
                  %img{ src: "http://moonlite.s3.amazonaws.com/objs/245/original.jpg?1373363174", height: 75, width:75, style: s[:challenge_image], title: "HTML" }
                  %div{ style: "display:inline-block; margin-left:10px; width:84%;"}
                    %span{ style: "font-size: 16px; font-weight:bold; margin:0;"} Python
                    %p{ style: "margin:3px 0 4px 0;"} 117 questions
                    %p{ style: "margin:0;"} This Challenge is almost as massive as the capabilities of Python. Put your object-oriented skills to the test.
              = link_to "http://www.metabright.com/challenges/java", style: s[:challenge_box] do
                %div{ style: "margin-bottom: 12px; padding:12px; background-color:whitesmoke; border: 1px solid rgba(0, 0, 0, .1); border-radius:6px; -moz-border-radius:6px; -webkit-border-radius:6px; "}                
                  %img{ src: "http://moonlite.s3.amazonaws.com/objs/232/original.png?1372588009", height: 75, width:75, style: s[:challenge_image], title: "CSS" }
                  %div{ style: "display:inline-block; margin-left:10px; width:84%;"}
                    %span{ style: "font-size: 16px; font-weight:bold; margin:0;"} Java
                    %p{ style: "margin:3px 0 4px 0;"} 74 questions
                    %p{ style: "margin:0;"} Brought to us from the demigods at Oracle, Java runs on everything from servers to refrigerators.
              = link_to "http://www.metabright.com/challenges/javascript", style: s[:challenge_box] do
                %div{ style: "margin-bottom: 12px; padding:12px; background-color:whitesmoke; border: 1px solid rgba(0, 0, 0, .1); border-radius:6px; -moz-border-radius:6px; -webkit-border-radius:6px; "}                
                  %img{ src: "http://moonlite.s3.amazonaws.com/objs/300/original.jpg?1380654230", height: 75, width:75, style: s[:challenge_image], title: "Ruby / Rails Testing" }
                  %div{ style: "display:inline-block; margin-left:10px; width:84%;"}
                    %span{ style: "font-size: 16px; font-weight:bold; margin:0;"} JavaScript
                    %p{ style: "margin:3px 0 4px 0;"} 73 questions
                    %p{ style: "margin:0;"} JavaScript is becoming the dominant force of the Web. Don't get left behind. Come work on your JS skills.
              = link_to "http://www.metabright.com/challenges/net", style: s[:challenge_box] do
                %div{ style: "margin-bottom: 12px; padding:12px; background-color:whitesmoke; border: 1px solid rgba(0, 0, 0, .1); border-radius:6px; -moz-border-radius:6px; -webkit-border-radius:6px; "}                
                  %img{ src: "http://moonlite.s3.amazonaws.com/objs/314/original.png?1382556759", height: 75, width:75, style: s[:challenge_image], title: "Ruby / Rails Testing" }
                  %div{ style: "display:inline-block; margin-left:10px; width:84%;"}
                    %span{ style: "font-size: 16px; font-weight:bold; margin:0;"} .NET Framework
                    %p{ style: "margin:3px 0 4px 0;"} 73 questions
                    %p{ style: "margin:0;"} Making the building of your applications slightly less taxing.
              
              = link_to "http://www.metabright.com/challenges/drupal", style: s[:challenge_box] do
                %div{ style: "margin-bottom: 12px; padding:12px; background-color:whitesmoke; border: 1px solid rgba(0, 0, 0, .1); border-radius:6px; -moz-border-radius:6px; -webkit-border-radius:6px; "}                
                  %img{ src: "http://moonlite.s3.amazonaws.com/objs/234/original.jpeg?1372852113", height: 75, width:75, style: s[:challenge_image], title: "Ruby / Rails Testing" }
                  %div{ style: "display:inline-block; margin-left:10px; width:84%;"}
                    %span{ style: "font-size: 16px; font-weight:bold; margin:0;"} Drupal
                    %p{ style: "margin:3px 0 4px 0;"} 74 questions
                    %p{ style: "margin:0;"} Drupal is the free content management framework with a dense and growing community of developers.
        %tr
          %td{ style: "padding:3px 12px 6px;"}
            %span{style:"font-size:10px; color:gray;"}
              You are receiving this message because #{@user.email} is a member of MetaBright. To adjust your email settings or to unsubscribe, 
            %span{style:"font-size:10px;"}= link_to "click here.", @settings_url
            %span{style:"font-size:10px; color:gray;"} MetaBright, Inc. 500 Oak Street, Suite 5, San Francisco, CA 94102