%div.single_pane
  = render "header"
  = will_paginate @comments, style: "float:left; margin-bottom:0; margin-top: 0;"
  = render "search", link: admin_comments_path, placeholder: "Content..."
  %table.table
    %thead
      %tr
        %th{ style: "width: 5%" } id
        %th{ style: "width: 10%" } User
        %th{ style: "width: 25%" } Path/Idea
        %th{ style: "width: 50%" } Comment
        %th{ style: "width: 10%" } Approve
    %tbody
      - @comments.to_a.each do |c|
        %tr
          %td= c.id
          %td= link_to c.user.name, profile_path(c.user.username)
          %td
            - if c.owner.is_a? SubmittedAnswer
              = c.owner.task.path.name
            - elsif c.owner.is_a? Idea
              = c.owner.title
            - else
              - raise c.owner.class.to_s
          %td
            %pre.unstyled= c.content
          %td= link_to "approve", admin_update_comment_path(c, mark: "reviewed"), class: "mark_reviewed", remote: true, method: "put"
          %td= link_to "deny", admin_update_comment_path(c, mark: "locked"), class: "mark_reviewed", remote: true, method: "put"
  = link_to "Refresh", admin_comments_path, class: "button button-standard"
:javascript
  $(function(){
    $(".mark_reviewed").on("ajax:success", function(xhr, data){
      $(this).parents("tr").hide("fast");
    });
  });