%div.single_pane
  = render "header"
  = will_paginate @groups, style: "float:left; margin-bottom:0; margin-top: 0;"
  = render "search", link: admin_groups_path, placeholder: "Name..."
  = link_to "New Group", new_group_url, class: "button button-standard"
  %table.table
    %thead
      %tr
        %th 
          = sortable "id", "ID"
        %th 
          = sortable "name", "Name"
        %th 
          Creator Email
        %th 
          = sortable "permalink", "Permalink"
        %th 
          Admins
        %th 
          Evaluations
        %th 
          Challenges
        %th 
          Candidates
        %th 
          = sortable "plan_type", "Plan"
    %tbody
      - @groups.each do |g|
        %tr
          %td= link_to g.id, admin_group_path(g.id)
          %td= g.name
          %td= g.users.first.email
          %td= g.permalink
          %td= g.admins.count
          %td= g.evaluations.count
          %td= g.paths.count
          %td= g.candidate_count
          %td= Group::PLAN_TYPES[g.plan_type][:description]
  = link_to "Refresh", admin_groups_path, class: "button button-standard"