%div.single_pane
  = render "header"
  = will_paginate @groups, style: "float:left; margin-bottom:0; margin-top: 0;"
  = render "search", link: admin_groups_path, placeholder: "Name..."
  = link_to "New Group", new_group_url, class: "button button-standard"
  %table.table
    %thead
      %tr
        %th id
        %th Name
        %th Permalink
        %th Users
        %th Evaluations
        %th Challenges
        %th Type
    %tbody
      - @groups.to_a.each do |g|
        %tr
          %td= link_to g.id, admin_group_path(g.id)
          %td= g.name
          %th= g.permalink
          %td= g.users.count
          %td= g.evaluations.count
          %td= g.paths.count
          %td= Group::PLAN_TYPES[g.plan_type]
  = link_to "Refresh", admin_groups_path, class: "button button-standard"