%div.single_pane
  = render "header"
  = will_paginate @issues, style: "float:left; margin-bottom:0; margin-top: 0;"
  %table.table
    %thead
      %tr
        %th{ style: "width: 5%" } id
        %th{ style: "width: 15%" } Path
        %th{ style: "width: 10%" } User
        %th{ style: "width: 40%" } Question
        %th{ style: "width: 15%" } Type
        %th{ style: "width: 5%" } Edit
        %th{ style: "width: 5%" } Resolve
        %th{ style: "width: 5%" } Lock Task
    %tbody
      - @tasks.to_a.each do |t|
        %tr
          %td= t.id
          %td= t.path.name
          %td= link_to t.creator.name, t.creator
          %td= t.question
          %td= Task::TYPES[t.answer_type]
          %td= link_to "approve", admin_update_task_path(t), class: "mark_reviewed", remote: true, method: "put"
  = link_to "Refresh", admin_tasks_path, class: "button button-standard"