%div.single_pane
  = link_to "Back", admin_paths_path, class: "button button-standard", style: "float: right;"
  %h1{ style: "border-bottom: 1px solid #DDD; margin-bottom: 20px; padding: 10px 0;" }= @path.name
  = form_for(@path, html: { class: "form-horizontal" }) do |f|
    %div.control-group
      %div.controls
        - if @path.published?
          %span.label.succcess Published
        - else
          %span.label.warning Not Published
    %div.control-group
      %label.control-label Name
      %div.controls
        = f.text_field :name
    %div.control-group
      %label.control-label Description
      %div.controls
        = f.text_area :description, style: "height: 100px; width: 400px;"
    %div.control-group
      %label.control-label Persona
      %div.controls
        = f.select :persona, Persona.all.collect { |p| [p.name, p.id] }, { include_blank: true }
      %div.controls{ style: "margin-top: 5px;" }
        - @path.personas.each do |persona|
          %span.label= persona.name
    %div.control-group
      %label.control-label Promoted
      %div.controls
        = f.check_box :promoted, checked: @path.promoted?
    %div.control-group
      %label.control-label Professional
      %div.controls
        = f.check_box :professional, checked: @path.professional?
    %div.control-group
      %label.control-label Approved
      %div.controls
        = f.check_box :approved, checked: @path.approved?
    %div.control-group
      %div.controls
        = f.submit "Save", class: "button button-actionable"
