%div.single_pane
  = render "header"
  = will_paginate @tasks, style: "float:left; margin-bottom:0; margin-top: 0;"
  = render "search", link: admin_tasks_path, placeholder: "Question..."
  %table.table
    %thead
      %tr
        %th{ style: "width: 5%" } id
        %th{ style: "width: 15%" } Path
        %th{ style: "width: 10%" } User
        %th{ style: "width: 50%" } Question
        %th{ style: "width: 10%" } Type
        %th{ style: "width: 10%" } Approve
    %tbody
      - @tasks.to_a.each do |t|
        %tr
          %td= t.id
          %td= t.path.name
          - if t.creator
            %td= link_to t.creator.name, profile_path(t.creator.username)
          - else
            %td Creator Account Removed
          %td
            %pre.unstyled= t.question
          %td= Task::TYPES[t.answer_type]
          %td= link_to "approve", admin_update_task_path(t), class: "mark_reviewed", remote: true, method: "put"
  = link_to "Refresh", admin_tasks_path, class: "button button-standard"