%div.single_pane
  = render "header"
  = will_paginate @users, style: "float:left; margin-bottom:0; margin-top: 0;"
  = render "search", link: admin_users_path, placeholder: "Name or email..."
  %table.table
    %thead
      %tr
        %th Name
        %th Role
        %th Email
        %th= link_to "Last Login", admin_users_path(sort: "login_at")
        %th= link_to "Created", admin_users_path(sort: "created_at")
        %th= link_to "P", admin_users_path(sort: "earned_points")
        %th CT
        %th E
        %th V
        %th C
        %th
        %th
    %tbody
      - @users.to_a.each do |u|
        %tr
          %td= link_to truncate(u.name, length: 20), profile_path(u.username)
          %td= link_to u.user_role.name, update_users_role_path(u.id)
          %td= truncate(u.email, length:25)
          %td= link_to u.visits.last.try{ |v| v.request_url.split("/").last(2).join("/").slice(0..20) }, admin_user_details_path(u.id)
          %td= u.created_at.strftime("%m/%d/%Y")
          %td= u.earned_points
          %td= u.completed_tasks.where("status_id >= ?", 0).count
          %td= u.enrollments.size
          %td= u.votes.size
          %td= u.comments.size
          %td= link_to "possess", possess_user_url(u.username)
          - if u.locked?
            %td= link_to "locked", admin_update_user_path(u), class: "mark_locked locked", remote: true, method: "put"
          - else
            %td= link_to "open", admin_update_user_path(u),  class: "mark_locked open", remote: true, method: "put"