<section id="company-store">
  <style>
    #company-store h3 {
      font-size: 16px;
      text-overflow: none;
      font-weight: bold;
      margin-bottom: 5px;
    } #company-store tbody tr:nth-child(even) td, tbody tr.even td {
      background: transparent;
    } #company-store td {
      width: 210px;
      vertical-align: top;
    } #company-store tr {
      height: 290px;
    }
  </style>
  <h1><%= @company.name %> Company Store</h1>
  <p><strong>Points available: </strong><%= current_user.available_points.to_s %></p>
  <% if current_user.company_admin? || current_user.admin? %>
  <p><%= link_to "Add a new store item", new_reward_path(:company_id => @company.id) %></p>
  <% end %>

  <%= will_paginate %>

  <table class='rewards'>
    <% rewards_counter = 0 
    @rewards.each do |r| %>
      <% if rewards_counter % 3 == 0 %>
      <tr>
      <% end %>
      <td>
        <a href="/rewards/<%= r.id %>">
          <img src="<%= r.image_url %>" width="175" height="175">
          <h3><%= r.name %></h3>
          <p>Cost: <%= r.points %> Points</p>
        </a>
      </td>
      <% rewards_counter += 1 %> 
    <% end %>
  </table>
  <%= will_paginate %>
</section>