<h1>Purchase successful. Enjoy!</h1>
<section class="reward">
	<h2><%= @reward.name %></h2>
	<p><%= @reward.description %></p>
	<p><%= @reward.points %></p>
	<p><%= @reward.image_url %></p>
</section>
<%= link_to "Continue Shopping", rewards_path%>
