<h1>Confirm Purchase</h1>
<section class="reward">
  <h2><%= @reward.name %></h2>
  <p><%= @reward.description %></p>
  <p><strong>Cost: <%= @reward.points %></strong></p>
</section>
<section>
  <%= link_to "Confirm Purchase", {:action => "purchase", :id => @reward.id}, :method => "get", :class => "btn primary" %>
  <%= link_to "Cancel", {:action => "index"}, :method => "get", :class => "btn secondary" %>
</section>
