<section class="reward">
	<p><%= @reward.name %></p>
	<p><%= @reward.description %></p>
	<p><%= @reward.points %></p>
	<p><%= @reward.image_url %></p>
	<%= link_to "Edit", edit_reward_path(@reward)%>
</section>
