:css
  input, select { font-family: 'MuliLight'; }

:javascript
  $(".edit_user_details_link").each(function(){
    $(this).click(function(){$('#group_admin_modal').modal({show: true, keyboard: true, static: true});});
  });

- @users.each do |user|
  %div.group_admin_modal.modal.hide.fade{ style: "top: 10%; margin-top: 0px; width: 600px;", data: { user: user.id } }
    %div.modal-header
      %a.close
      %h3 Edit User
    %div.modal-body{ style: "max-height: none; "}
      = form_for(user, html: { class: "form-horizontal" }) do |f|
        = hidden_field_tag :redirect_uri, account_group_url(@group)
        %div.control-group
          %label.control-label Name
          %div.controls= f.text_field :name
        %div.control-group
          %label.control-label Email
          %div.controls= f.text_field :email
        %div.control-group
          %label.control-label New Password
          %div.controls= f.password_field :password
        %div.control-group
          %label.control-label Confirm Password
          %div.controls= f.password_field :password_confirmation
        %div{ style: "float:right;" }
          %span.button.button-standard{ onclick: "$(this).parents('.modal').modal('hide');" } Close
          = f.submit "Save", class: "button button-actionable", style: "margin-right: 10px;"
        
%table.table
  %thead
    %tr
      %th Name
      %th Email
      %th
      %th= link_to "Edit account settings", edit_group_url(@group), style: "float: right;"
  %tbody
    - @users.to_a.each do |u|
      %tr
        %td= truncate(u.name, length: 30)
        %td= truncate(u.email, length:25)
        %td{ style: "text-align: right;" } Joined #{u.created_at.strftime("%m/%d/%Y")}
        %td.edit_user_details_link{ onclick: "$('.group_admin_modal[data-user=#{u.id}]').modal({keyboard: true, show: true})"}
          %div{"data-tip" => "User Settings"}
            %img.gear{ src: "https://s3.amazonaws.com/moonlite-nsdub/static/random+icons/gear_dark_small.png", alt: "Settings"}
    - if @users.empty?
      %tr
        %td{ colspan: "3", style: "border-bottom: 0; font-size; 13px;" }
          No users with that name or email found.
    %tr
      %td{ colspan: "3", style: "border-bottom: 0;" }
        - if @group.can_add_users?
          %a{ onclick: "$(this).hide();$('#invite_form').show();" } + Invite more users to this account.
          = form_tag(invite_group_url(@group), id: "invite_form", class: "hide") do
            = text_field_tag :email, nil, placeholder: "Enter email address...", class: "invite"
            = submit_tag "Invite", class: "button button-standard button-mini"
        - else
          %a{ onclick: "$(this).hide();$('#upgrade_group').show();" } Upgrade your account to invite more users.
          = form_for(@group, html: { class: "hide", id: "upgrade_group" }) do |f|
            = hidden_field_tag :redirect_uri, account_group_url(@group)
            .control-group
              %label.control-label Choose a plan you'd like to upgrade to:
              .controls
                = f.select(:plan_type, Group::ACTIVE_PLAN_TYPE_LIST)
            = submit_tag "Upgrade", class: "button button-standard button-mini"
      %td{ colspan: "1", style: "border-bottom: 0;text-align: right;" }
        Seats Available: #{@group.seats_available}