%table.table
  %thead
    %tr
      %th Name
      %th Email
      %th{ style: "text-align: right;" } Joined
  %tbody
    - @users.to_a.each do |u|
      %tr
        %td= link_to truncate(u.name, length: 30), profile_path(u.username)
        %td= truncate(u.email, length:25)
        %td{ style: "text-align: right;" } Joined #{u.created_at.strftime("%m/%d/%Y")}
    - if @users.empty?
      %tr
        %td{ colspan: "5", style: "border-bottom: 0; font-size; 13px;" }
          No users with that name or email found.
    %tr
      %td{ colspan: "5", style: "border-bottom: 0;" }
        %a{ onclick: "$(this).hide();$('#invite_form').show();" } + Invite more users to this account
        = form_tag(invite_group_url(@group), id: "invite_form", class: "hide") do
          = text_field_tag :email, nil, placeholder: "Enter email address...", class: "invite"
          = submit_tag "Invite", class: "button button-standard button-mini"