:javascript
  function compare_and_search(){
    var new_value = $("#challenge_search").val();
    if(new_value != original_value){
      original_value = new_value;
      $.ajax('#{group_paths_url(@group)}',
        { 
          type: "GET", 
          data: { q: new_value }, 
          success: function(data, responseText){ 
            $(".custom_challenges").html(data);
          } 
        }
      );
    }
  }
  
  $(function(){
    original_value = $("#challenge_search").val();
    setInterval("compare_and_search();", 300);
  });

.employer-container
  .employer-box
    .header
      = image_tag STONEY_SMALL_URL, class: "stoney", alt: "Stoney"
      %h2 #{@group.name}'s Challenges
      - unless @paths.empty?
        %input{ type: "text", placeholder: "Search Challenges...", id: "challenge_search" }
    .body
      .custom_challenges
        - if @paths.empty?
          .first_timer
            = image_tag "https://s3.amazonaws.com/moonlite-nsdub/static/nav+bar+icons/challenges_dark.png"
            %h3 Custom Challenges
            %p Challenges contain the content that your candidates are tested on. Multiple Challenges can be included in a single Evaluation.
            = link_to "Create a custom Challenge", new_group_path_url, class: "submit_button"
        - else
          = render "table"
    .header{ style: "border-top: 1px solid rgba(0,0,0,0.1); margin-top: 30px; padding-top: 10px"}
      %h3 MetaBright Challenges
    .body
      .mb_challenges
        .welcome
          .holder
            .text_box{ style: "font-size: 16px; width: 100%; margin: 0px; line-height: 20px;" }
              = image_tag LIGHT_BULB_URL
              %p{ style: "width: 90%; display: inline-block;"}
                Use MetaBright Challenges to test your candidates on popular topics. All MetaBright Challenges are professionally developed and designed to parse out your candidates' true ability. Select a Challenge to create an Evaluation that includes that Challenge. 
        %ul
          - @public_paths.each do |path|
            %li
              = link_to new_group_evaluation_path(@group, c: path.id) do
                = image_tag path.picture
                %span= path.name
        
      
