:javascript
  function compare_and_search(){
    var new_value = $("#challenge_search").val();
    if(new_value != original_value){
      original_value = new_value;
      $.ajax('#{group_paths_url(@group)}',
        { 
          type: "GET", 
          data: { q: new_value }, 
          success: function(data, responseText){ 
            $(".mb_challenge_collection").html(data);
          } 
        }
      );
    }
  }
  
  $(function(){
    original_value = $("#challenge_search").val();
    setInterval("compare_and_search();", 300);
  });

.employer-container
  .employer-box
    .header
      = image_tag GIANT_STONEY, alt: "Stoney", class: "stoney"
      %h2 #{@group.name}'s Challenges
    .body
      .custom_challenges
        - if @paths.empty?
          .first_timer
            = image_tag "https://s3.amazonaws.com/moonlite-nsdub/static/nav+bar+icons/challenges_dark.png"
            %h3 Custom Challenges
            %p Challenges contain the content that your candidates are tested on. Multiple Challenges can be included in a single Evaluation.
            = link_to "Create a custom Challenge", new_group_path_url, class: "submit_button"
        - else
          = render "table"
    .header{ style: "border-top: 1px solid rgba(0,0,0,0.1); margin: 30px 0 15px; padding-top: 10px;"}
      %h3{ style: "display: inline-block; "} MetaBright Challenges
      %input{ type: "text", placeholder: "Search Challenges...", id: "challenge_search", style: "display: inline-block; margin: 6px 10px 0 0; padding: 3px 7px; font-size: 15px;" }
      .clear_floats
    .body
      .mb_challenges
        .welcome
          .holder
            .text_box{ style: "font-size: 16px; width: 100%; margin: 0px; line-height: 20px;" }
              = image_tag LIGHT_BULB_URL
              %p{ style: "width: 90%; display: inline-block;"}
                Use MetaBright Challenges to test your candidates on popular topics. All MetaBright Challenges are professionally developed and designed to parse out your candidates' true ability. Select a Challenge to create an Evaluation that includes that Challenge. 
        .mb_challenge_collection
          = render "mb_challenges"
        
      
