:javascript
  function compare_and_search(){
    var new_value = $("#challenge_search").val();
    if(new_value != original_value){
      original_value = new_value;
      $.ajax('#{group_paths_url(@group)}',
        { 
          type: "GET", 
          data: { q: new_value }, 
          success: function(data, responseText){ 
            $(".custom_challenges").html(data);
          } 
        }
      );
    }
  }
  
  $(function(){
    original_value = $("#challenge_search").val();
    setInterval("compare_and_search();", 300);
  });

.employer-container{ style: "width: 1040px;" }
  .employer-box
    .header{ style: "margin-bottom: 15px;"}
      = image_tag GIANT_STONEY, style:"display:inline; height:61px;", alt: "Stoney"
      %h2 #{@group.name}'s Challenges
      - unless @paths.empty?
        %input{ type: "text", placeholder: "Search Challenges...", id: "challenge_search" }
    .body
      .custom_challenges
        - if @paths.empty?
          .first_timer
            = image_tag "https://s3.amazonaws.com/moonlite-nsdub/static/nav+bar+icons/challenges_dark.png"
            %h3 Custom Challenges
            %p Challenges contain the content that your candidates are tested on. Multiple Challenges can be included in a single Evaluation.
            = link_to "Create a custom Challenge", new_group_path_url, class: "submit_button"
        - else
          = render "table"
