:css
  .container.body { width: inherit; }
  .employer-box .header { margin-bottom: 10px;}
  .employer-box .header img { height: 100px; margin-top: -15px; }
  .employer-box .header h2 { display: inline-block; font-size: 30px; }
  .employer-box .header hr { margin: 8px; }
  .employer-box .header input { float: right; border-radius: 0; margin: 10px 10px 0 0; padding: 7px 7px; font-size: 17px; }
  .employer-box table { width: 100%; }
  .employer-box table td { padding: 15px 10px; border-bottom: 1px solid #DDD; line-height: 25px;}
  .employer-box table td a { font-size: 17px; color: #333; }
  .dont_go {background-color: rgb(170,0,0); color: white; padding: 12px 20px; margin-bottom: 15px; }
  .dont_go ul { margin-top: 10px; }

:javascript
  $(function(){
    $('.textfill').textfill({ maxFontPixels: 30 });
  });

#evaluations_index.employer-container{ style: "width: 900px; margin: 25px auto 0 auto; background-color: rgba(36, 72, 109, 0.8);" }
  .employer-box
    .header
      = image_tag STONEY_SMALL_URL, style:"", alt: "Stoney"
      %h2.textfill 
        %span Delete the #{@group.name} account?
    .body{ style: "padding: 0 18px; font-size: 15px;" }
      .dont_go
        %h4 Deleting your company's MetaBright account is irreversible. If you decide to leave, the following will be deleted:
        %ul
          %li All your company's members.
          %li All your company's Evaluations.
          %li All records of people having completed your company's Evaluations.
          %li All of your company's custom Challenges.
      %p 
        If you're having any problems with your account, we'd be happy to work through them with you. Feel free to reach out to us at
        %a{ href: "mailto:support@metabright.com"} support@metabright.com.
      %p And if you're absolutely certain you want to permanently delete your account, please let us know why you're leaving so we can do better the next time.  
      = form_for(@group, url: close_group_url(@group), method: :put) do |f|
        .control-group
          .controls
            = f.text_area :closed_reason, style: "width: 100%; height: 100px;"
        .control-group
          .controls
            = f.submit "Close Account", class: "submit_button", style: "float: right; margin-bottom: 20px;"
