%div{ style: "background-color: white; border-radius: 4px; padding:8px; width: 923px;" }
  %img{ style:"display:inline; height:115px;", src:"https://s3.amazonaws.com/moonlite-nsdub/static/stoney+100x150.png", alt: "Stoney"}
  %span{ style: "font-size: 50px;position: relative;top:13px;" } Edit Group
  = link_to "Dashboard", dashboard_group_path(@group), class: "button button-info button-small", style: "float: right; margin: 80px 10px 0 0;"
  = link_to "Group API", sandbox_group_path(@group), class: "button button-standard button-small", style: "float: right; margin: 80px 10px 0 0;"
  = link_to "View Group", group_path(@group), class: "button button-actionable button-small", style: "float: right; margin: 80px 10px 0 0;"
  %hr{style:"margin:0;"}
  = form_for(@group, html: { class: "form-horizontal", style: "margin-top: 20px;" }) do |f|
    = render 'shared/error_messages', object: f.object
    %div.notificationpanelbody
      %h4 How your Group appears on MetaBright
      .editprofilemanagementarea 
        %div{ style:"display:inline-block; width: 60%;" }       
          .control-group
            %label.control-label Group name
            .controls
              = f.text_field :name          
          .control-group
            %label.control-label Group picture URL
            .controls
              = f.text_field :image_url, id: "image_url_input", class: "xxlarge"
              %a.btn.secondary{ style: "margin-left:10px;" } Preview   
          .control-group
            %label.control-label About
            %div.controls
              = f.text_area :description, rows: "2", style: "width: 390px;", placeholder: "Write a brief description for your Group..."
          .control-group
            %label.control-label Customize CSS
            %div.controls{ style: "margin-top: 6px;" }
              = link_to "Customize your Group with your own CSS Styles", style_group_path(@group)
        %div{ style:"vertical-align: top; display: inline-block; margin: 0 20px 5px 0;" }
          %div.control-group
            %div.controls{style:"margin-left:112px;"}
              = image_tag @group.picture, id: "image_url_preview", width: "150", alt: "#{@group.name}"      
      %h4 Your Group's URL
      .editprofilemanagementarea
        .control-group
          %label.control-label{ style:"width: auto; "} http://www.metabright.com/groups/
          .controls{ style: "margin-left: 245px;" }
            = f.text_field :permalink
            %div{ style: "margin-top: 6px; "}
              = image_tag LIGHT_BULB_URL, style: "width: 15px; position: relative; bottom: 1px; "
              %p{ style: "display: inline;"} Make sure there are no spaces or special characters in your URL.
      %h4 Group profile info
      .editprofilemanagementarea
        .control-group
          %label.control-label Country
          .controls
            = f.text_field :country            
        .control-group
          %label.control-label State/Province
          .controls
            = f.text_field :state
        .control-group
          %label.control-label City
          .controls
            = f.text_field :city
        .control-group
          %label.control-label Website
          %div.controls
            = f.text_field :website
        
        

    %hr
    %div.control-group
      %div.controls
      = f.submit "Save", class: "button button-actionable", style: "float: right; margin-left: 10px; margin-right: 20px;"
      = link_to "Back", group_path(@group.permalink), class: "button button-standard", style: "float: right;"
