:css
  body{ background-image: url("https://s3.amazonaws.com/moonlite-nsdub/static/Backgrounds/gplaypattern.png"); background-repeat: repeat; background-size: auto; }
  .aboutcontainer{ width: 943px; margin-top: -35px;}


#employer.aboutcontainer
  .aboutbox{ style: "padding: 8px; "}
    %img{ style:"display:inline; height:115px;", src:"https://s3.amazonaws.com/moonlite-nsdub/static/stoney+100x150.png", alt: "Stoney"}
    %span{ style: "font-size: 50px;position: relative;top:13px;" } Edit Group
    %hr{style:"margin:0;"}
    = form_for(@group, html: { class: "form-horizontal", style: "margin-top: 20px;" }) do |f|
      %div.notificationpanelbody
        %h4 How your company appears on MetaBright
        .editprofilemanagementarea 
          %div{ style:"display:inline-block; width: 60%;" }       
            .control-group
              %label.control-label Company Name
              .controls
                = f.text_field :name          
            .control-group
              %label.control-label Group picture URL
              .controls
                = f.text_field :image_url, id: "image_url_input", class: "xxlarge"
                %a.btn.secondary{ style: "margin-left:10px;" } Preview   
            .control-group
              %label.control-label About
              %div.controls
                = f.text_area :description, rows: "2", style: "width: 390px;", placeholder: "Write a brief description for your Group..."
            .control-group
              %label.control-label Customize CSS
              %div.controls{ style: "margin-top: 6px;" }
                = link_to "Customize your Group with your own CSS Styles", style_group_path(@group)
          %div{ style:"vertical-align: top; display: inline-block; margin: 0 20px 5px 0;" }
            %div.control-group
              %div.controls{style:"margin-left:112px;"}
                = image_tag @group.picture, id: "image_url_preview", width: "150", alt: "#{@group.name}"      
        %h4 Your Group's URL
        .editprofilemanagementarea
          .control-group
            %label.control-label{ style:"width: auto; "} http://www.metabright.com/groups/
            .controls{ style: "margin-left: 245px;" }
              = f.text_field :permalink
              %div{ style: "margin-top: 6px; "}
                = image_tag LIGHT_BULB_URL, style: "width: 15px; position: relative; bottom: 1px; "
                %p{ style: "display: inline;"} Make sure there are no spaces or special characters in your URL.
        %h4 Upgrade Plan Type
        .editprofilemanagementarea
          .control-group
            %label.control-label Upgrade Plan Type
            .controls
              = f.select(:plan_type, Group::PLAN_TYPE_LIST)
            %label.control-label
            .controls{ style: "margin-top: 10px;"}
              = link_to "Close your MetaBright account", close_group_url(@group)
            
        
        %h4 Group profile info
        .editprofilemanagementarea
          .control-group
            %label.control-label Country
            .controls
              = f.text_field :country            
          .control-group
            %label.control-label State/Province
            .controls
              = f.text_field :state
          .control-group
            %label.control-label City
            .controls
              = f.text_field :city
          .control-group
            %label.control-label Website
            %div.controls
              = f.text_field :website
      %hr
      %div.control-group
        %div.controls
        = f.submit "Save", class: "button button-actionable", style: "float: right; margin-left: 10px; margin-right: 20px;"
        = link_to "Back", account_group_path(@group.permalink), class: "button button-standard", style: "float: right;"
