#challenge
  .top
    = link_to group_path(@group), class: "home" do
      = image_tag @group.picture, alt: "#{@group.name}"
    - if @membership
      - if @membership.is_admin?
        %div{ style: "float: right; margin-right: 12px;"}
          = link_to "Edit Group", edit_group_path(@group), style: "margin-right: 10px;"
          = link_to "Dashboard", dashboard_group_path(@group), class: "button button-actionable"
          
      - else
        = link_to "Leave", leave_group_path(@group), class: "button button-actionable", style: "float: right; margin-right: 12px;", method: :delete      
    - else
      =link_to "Join", join_group_path(@group), class: "button button-actionable", style: "float: right; margin-right: 12px;"
    %div{ style: "height: 68px; "}
      %h1= @group.name
      %h4{ style: "font-size: 18px; line-height: 34px;"}
        #{@users.count} Members <span>·</span> #{@group.city}, #{@group.country} <span>·</span> 
        = link_to "#{@group.website}", "http://#{@group.website}", target: "_blank"
    .carousel
      - if @users.size > 4
        .left_scroll{ onclick: "slide('left');" }
          = image_tag ICON_CAROUSEL_LEFT, alt: "Left"
      .inner{ style: "#{@users.size < 4 ? 'margin-left: -12px;' : ''}" }
        %ul
          - if @users.size < 4
            = render "shared/mosaic", { custom_class: "addthis_button_facebook", link: "#", title: "Sharing is caring", subtitle: "Spread the MetaBright Gospel!", pic: "https://s3.amazonaws.com/moonlite-nsdub/static/carousel_images/fb_green_carousel.png" }
          - @users.shuffle.each do |user|
            = render "shared/mosaic", { pic: user.picture, link: profile_path(user.username), title: user.name, subtitle: "Member since..." }
      - if @users.size > 4
        .right_scroll{ onclick: "slide('right');" }
          = image_tag ICON_CAROUSEL_RIGHT, alt: "Right"
  
  .row
    .span5          
      .leftbox.newsfeed{ style: "min-height: 361px;" }
        %div.box_header{style: "padding: 10px 12px; "} Leaderboard
        %ul#ranks{ style: "padding: 0px;"}
          - current_user_in_top = false
          - @users.each_with_index do |user, i|
            - break if i >= 10
            - current_user_in_top = true if current_user && user.id == current_user.id 
            %li
              %span.rank= (i+1).to_s
              = image_tag user.picture, alt: "#{user.name}" 
              = link_to truncate(user.name, length: 22), profile_path(user.username), class: "name"
              %span.level lvl. #{Enrollment.points_to_level(user.earned_points.to_i)}
              %span.points= user.earned_points
          - unless current_user.nil? || current_user_in_top
            - current_user_spot = nil
            - previous_user = nil
            - next_user = nil
            - @users.each_with_index do |user, i|
              - if current_user_spot
                - next_user = user
                - break
              - elsif user.id == current_user.id
                - current_user_spot = i
              - else
                - previous_user = user
            - if current_user_spot
              %li{ style: "text-align: center;" } ...
              - if previous_user
                %li
                  %span.rank= (current_user_spot).to_s
                  = image_tag previous_user.picture, alt: "#{previous_user.name}" 
                  = link_to truncate(previous_user.name, length: 22), profile_path(previous_user.username), class: "name"
                  %span.level lvl. #{Enrollment.points_to_level(previous_user.earned_points.to_i)}
                  %span.points= previous_user.earned_points
              %li
                %span.rank= (current_user_spot+1).to_s
                = image_tag current_user.picture, alt: "#{current_user.picture}" 
                = link_to truncate(current_user.name, length: 22), profile_path(current_user.username), class: "name"
                %span.level lvl. #{Enrollment.points_to_level(@enrollment.earned_points.to_i)}
                %span.points= user.earned_points
              - if next_user
                %li
                  %span.rank= (current_user_spot+2).to_s
                  = image_tag next_user.picture, alt: "#{next_user.name}" 
                  = link_to truncate(next_user.name, length: 22), profile_path(next_user.username), class: "name"
                  %span.level lvl. #{Enrollment.points_to_level(next_user.earned_points.to_i)}
                  %span.points= next_user.earned_points

    %div.span11
      %div.newsfeed
        %div.box_header
          %div{ style: "display:inline;" }
            %span{ style: "border-bottom: 0px; padding-top:1px;" } Stream
            = link_to "Hot", group_path(@group, order: "hot"), class: "btn leftbtn"
            = link_to "Newest", group_path(@group, order: "newest"), class: "btn midbtn"
            = link_to "Top", group_path(@group, order: "top"), class: "btn rightbtn"
        :javascript
          $.ajax({ type: "GET", url: "#{@url_for_newsfeed}", success: function(data){ $(".empty_post").replaceWith(data); } });
        %div.post.empty_post{ style: "height: 5px;"}