<h1>Sign up</h1>
<%= form_for @user, :url => { :action => "join" }, :method => "put" do |f| %>
	<%= render "shared/error_messages", :object => f.object %>
	<%= f.hidden_field :signup_token, :value => @user.signup_token %>
	<div class="field">
		<%= f.label :name %>
		<div class="input">
			<%= f.text_field :name %>
		</div>
	</div>
	<div class="field">
		<%= f.label :password %>
		<div class="input">
			<%= f.password_field :password %>
		</div>
	</div>
	<div class="field">
		<%= f.label :password_confirmation, "Confirm password" %>
		<div class="input">
			<%= f.password_field :password_confirmation %>
		</div>
	</div>
	<div class="actions">
		<%= f.submit "Sign up", :class => "btn primary" %>
	</div>
<% end %>