<h1>Edit user</h1>
<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field clearfix">
    <%= f.label :name %>
    <div class="input">
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="field clearfix">
    <%= f.label :email %>
    <div class="input">
      <%= f.text_field :email %>
    </div>
  </div>
  <div class="field clearfix">
    <%= f.label "Profile Picture URL" %>
    <div class="input">
      <%= f.text_field :image_url, :id => "image_url_input", :class => "xxlarge" %>
      <a class="btn secondary" style="margin-left:10px;">Preview</a>
    </div>
  </div>
  <div class="field clearfix">
    <div class="input">
      <%= image_tag @user.profile_pic, :id => "image_url_preview", :width => "210" %>
    </div>
  </div>
  <div class="field clearfix">
    <%= f.label :password %>
    <div class="input">
      <%= f.password_field :password %>
    </div>
  </div>
  <div class="field clearfix">
    <%= f.label :password_confirmation, "Confirm Password" %>
    <div class="input">
      <%= f.password_field :password_confirmation %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit "Save", :class => "btn primary" %>
    <%= link_to "Cancel", current_user, :class => "btn secondary" %>
  </div>
<% end %>