<link rel="stylesheet" href="http://www.larentis.eu/switch/bootstrapSwitch.css">
<script src="http://www.larentis.eu/switch/bootstrapSwitch.js"></script>

%div{ style: "background-color: white; border-radius: 4px; padding:8px; width: 923px;" }
  %img{ style:"display:inline; height:115px;", src:"https://s3.amazonaws.com/moonlite-nsdub/static/stoney+100x150.png", alt: "Stoney"}
  %span{ style: "font-size: 50px;position: relative;top:13px;" } Edit Profile
  %hr{style:"margin:0;"}
  = form_for(@user, html: { class: "form-horizontal", style: "margin-top: 20px;" }) do |f|
    = render 'shared/error_messages', object: f.object
    %div.notificationpanelbody
      %h4 How you appear on MetaBright
      %div.editprofilemanagementarea 
        %div{ style:"display:inline-block; width: 60%;" }       
          %div.control-group
            %label.control-label Name
            %div.controls
              = f.text_field :name
          %div.control-group
            %label.control-label Profile Picture URL
            %div.controls
              = f.text_field :image_url, id: "image_url_input", class: "xxlarge"
              %a.btn.secondary{ style: "margin-left:10px;" } Preview   
          %hr{ style: "margin: 10px 0; border-top: 1px solid rgb(213, 213, 213);"}       
          %div
            %p{ style: "font-size: 15px; word-break: normal; width: 77%; display: inline-block; " } MetaBright can match you with opportunities that fit your skills. Do you want this feature? 
            %div.switch{ style: "vertical-align: top; margin-left: 12px; "}
              %input{type:"checkbox"}
        %div{ style:"vertical-align: top; display: inline-block; margin: 0 20px 5px 0;" }
          %div.control-group
            %div.controls{style:"margin-left:112px;"}
              = image_tag @user.picture, id: "image_url_preview", width: "150", alt: "#{@user.name}"      
      %h4 Vital stats
      %div.editprofilemanagementarea
        %div.control-group
          %label.control-label Location
          %div.controls
            = f.text_field :location
        %div.control-group
          %label.control-label Education
          %div.controls
            = f.text_field :education
        %div.control-group
          %label.control-label Company Name
          %div.controls
            = f.text_field :company_name
        %div.control-group
          %label.control-label Title
          %div.controls
            = f.text_field :title
        %div.control-group
          %label.control-label About
          %div.controls
            = f.text_area :description, rows: "5", style: "width: 390px;", placeholder: "Tell us about yourself..."
      %h4 Change password
      %div.editprofilemanagementarea
        %div.control-group
          %label.control-label New password
          %div.controls
            = f.password_field :password, style: "width: 150px;"
        %div.control-group
          %label.control-label Confirm new password
          %div.controls
            = f.password_field :password_confirmation, style: "width: 150px;"
        = f.submit "Save new password", class: "button button-actionable", style: "padding: 4px 10px 3px 10px; font-size:13px; position: relative; float: right; bottom: 3px;"
        
      %h4 Your email address
      %span{style:"position:relative; bottom:5px;"}
        (We hate spam too. We'll never sell, rent, or otherwise abuse your email address.)
      %div.editprofilemanagementarea
        %div.control-group
          %label.control-label Email
          %div.controls
            = f.text_field :email
        %div{style:"margin-left:180px;"}
          = link_to "Manage your notification settings.", notification_settings_path(current_user.signup_token)
    %hr
    %div.control-group
      %div.controls
      = link_to "Remove Account", current_user, method: :delete, confirm: "Are you absolutely certain you would like to delete your account? This action is irreversible",  style: "margin-left: 20px; margin-top:7px; float: left;"
      = f.submit "Save", class: "button button-actionable", style: "float: right; margin-left: 10px; margin-right: 20px;"
      = link_to "Cancel", profile_path(current_user.username), class: "button button-standard", style: "float: right;"
