%div#homepage
  %div#topsection
    %div.headerspace
      %div#leftheaderspace Explore the world of MetaBright
    %div#carousel_container
      - if @enrollments.size > 1
        %div#left_scroll
          %a{href: "javascript:slide(\"left\");"}
            %img{src: "https://s3.amazonaws.com/moonlite-nsdub/static/random+icons/arrow_angle_left_light.png"}/
      %div#carousel_inner
        %ul#carousel_ul
          = render "shared/mosaic", { custom_class: "addthis_button_facebook", link: "#", title: "Sharing is caring", subtitle: "Spread the Metabright Gospel!", pic: "https://s3.amazonaws.com/moonlite-nsdub/static/carousel_images/fb_green_carousel.png" }
          - @enrollments.each do |e|
            = render "shared/mosaic", { pic: e.path.path_pic, link: challenge_path(e.path.permalink), title: e.path.name, subtitle: "Level #{e.level}, #{e.total_points} points" }
          = render "shared/mosaic", { custom_class: "addthis_button_facebook", link: "#", title: "Sharing is caring", subtitle: "Spread the Metabright Gospel!", pic: "https://s3.amazonaws.com/moonlite-nsdub/static/carousel_images/fb_green_carousel.png" }
          = render "shared/mosaic", { custom_class: "explore_link", link: "#", title: "The world awaits...", subtitle: "Explore new challenges!", pic: "https://s3.amazonaws.com/moonlite-nsdub/static/carousel_images/Stoney_image_carousel_altered.png" }
          - unless current_user.profile_complete?
            = render "shared/mosaic", { link: edit_user_path(current_user), title: "Whoooo are you?", subtitle: "Tell your story to the world!", pic: "https://s3.amazonaws.com/moonlite-nsdub/static/carousel_images/complete_profile_pic_carousel_altered.png" }
      - if @enrollments.size > 1
        %div#right_scroll
          %a{href: "javascript:slide(\"right\");"}
            %img{src: "https://s3.amazonaws.com/moonlite-nsdub/static/random+icons/arrow_angle_right_light.png"}/
      %input#hidden_auto_slide_seconds{:type => "hidden", :value => "0"}/
  %div.row
    %div.span5
      - unless @suggested_paths.empty?
        %div.leftbox
          %div.leftboxheader Suggested Challenges
          %div.leftboxfooter
            %li.leftrailcontent
              - @suggested_paths.each do |p|
                = link_to p do
                  = image_tag p.path_pic, class: "leftrailicon", title: "#{p.name}"
      %div.leftbox
        %div.leftboxheader Enrolled Personas
        %div.leftboxfooter
          %li.leftrailcontent
          - @enrolled_personas.each do |p|
            %a.explore_link{ style: "cursor: pointer; text-decoration: none;" }
              = image_tag p.picture, class: "leftrailicon", title: "#{p.name}"
    %div.span11
      %div.newsfeed
        %div
          %div.leftboxheader Stream
        = render "shared/newsfeed", { newsfeed_items: @newsfeed_items }