%div#homepage
  %div#topsection
    %div.headerspace
      %div#leftheaderspace Enrolled Challenges
    %div#updatespace
      %ul.inlinedisplay
        - @enrolled_paths.each do |p|
          %li
            %div.mosaic-block.bar2
              = link_to community_path_path(p), class: "mosaic-overlay", target: "_blank" do
                %div.details
                  %h4= p.name
              %div
                %img.mosaic-backdrop{ src: p.path_pic }
  %div.row
    %div.span5
      %div.leftbox
        %div.headerspace Suggested Challenges
        %div.leftboxfooter
          %li.leftrailcontent
          - @suggested_paths.each do |p|
            = link_to p do
              = image_tag p.path_pic, class: "leftrailicon"
      %div.leftbox
        %div.headerspace Enrolled Personas
        %div.leftboxfooter
          %li.leftrailcontent
          - @enrolled_personas.each do |p|
            = link_to p do
              = image_tag p.picture, class: "leftrailicon"
    %div.span11
      %div.newsfeed
        %div.headerspace
          %div
            %span Stream
        - @newsfeed_items.each do |r|
          %div.post
            %div.postphotospace
              = image_tag r.user.profile_pic, class: "photo"  
            %div.postspace
              %div.postheader
                %h3
                  %a.username= r.user.to_s
                %div.votingandpointsarea
                  = link_to vote_task_path(r.task.id, sa_id: r.submitted_answer.id), remote: true, class: ("btn vote_button " + (@votes.include?(r.submitted_answer.id) ? "primary" : "")) do
                    %img{ src: "https://s3.amazonaws.com/moonlite-nsdub/static/purple+upvote+arrow.png" }
                    %div.vote_count= r.submitted_answer.total_votes.to_i
              %div.posttext.leveltext= r.task.question
              %div.CRarea
              - if r.task.answer_sub_type == 100
                %blockquote{ style: "margin:20px;" }= r.submitted_answer.content
              - elsif r.task.answer_sub_type == 101
                = link_to image_tag(sanitize(r.submitted_answer.content), class: "CRimage"), sanitize(r.submitted_answer.content), :target => "_blank"
              = render "comments/comments", { owner: r.submitted_answer, owner_type: "SubmittedAnswer", owner_id: r.submitted_answer_id, comment_count: r.submitted_answer.comments.size, created_at: r.created_at}