<h1>Join your company on Moonlite!</h1>
<p>Your login email is: <%= @user.email %></p>
<%= form_for(@user) do |f| %>
  <%= render "shared/error_messages", :object => f.object %>
  <%= f.hidden_field :signup_token, :value => @user.signup_token %>
  <div class="field">
    <%= f.label :name %>
    <div class="input">
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="field">
    <%= f.label :password %>
    <div class="input">
      <%= f.password_field :password %>
    </div>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, "Confirm password" %>
    <div class="input">
      <%= f.password_field :password_confirmation %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit "Sign up", :class => "btn primary" %>
  </div>
<% end %>