.aboutcontainer
  .aboutbox
    .aboutheader
      %img{ src: STONEY_SMALL_URL, alt: "Stoney"}
      %span Sign in to MetaBright
    %hr{ style: "margin:0"}
    .body
      = form_for(@user) do |f|
        .help_box
          :javascript
            $(function(){
              $("#new_user").submit(function(){
                var e = "";
                if($("#user_name").val() == ""){
                  e = "Please enter a name."
                } else if($("#user_email").val() == ""){
                  e = "Please enter an email."
                } else if($("#user_password").val() == ""){
                  e = "Please enter a password."
                }
                if(e != ""){
                  append_error(e);
                  return false;
                }
              });
            });
        %div{ style: "margin-top: 20px;" }
          %div
            = link_to "/auth/google_oauth2", class: "btn danger", style: "width: 205px; margin-right: 60px; " do
              = image_tag ICON_LOGIN_GOOGLE, alt: "Google sign up"
              %span.landingbuttontext Sign in with Google »        
            = link_to "/auth/facebook", class: "btn danger" do
              = image_tag ICON_LOGIN_FACEBOOK, alt: "Facebook sign up"
              %span.landingbuttontext Sign in with Facebook »
          %div.divider OR
          = form_for(@user) do |f|
            = hidden_field_tag "redirect_url", root_path
            = f.text_field :name, value: nil, placeholder: "Name"
            = f.text_field :email, style: "margin-left: 10px; margin-right: 10px;", value: nil, placeholder: "E-Mail"
            = f.password_field :password, value: nil, placeholder: "Password", style: "margin-right: 10px;"
            = f.submit "Submit", class: "button button-standard button-small", style: "margin-bottom: 10px; width: inherit; padding: 4px 10px; font-size: 14px;"