#employer.aboutcontainer.registration
  .aboutbox
    .aboutheader
      %img{ src: STONEY_SMALL_URL, alt: "Stoney"}
      %span Sign up for MetaBright
    %hr{ style: "margin:0"}
    .body
      = form_for(@user) do |f|
        .help_box
          :javascript
            $(function(){
              $("#new_user").submit(function(){
                var e = "";
                if($("#user_name").val() == ""){
                  e = "Please enter a name."
                } else if($("#user_email").val() == ""){
                  e = "Please enter an email."
                } else if($("#user_password").val() == ""){
                  e = "Please enter a password."
                }
                if(e != ""){
                  append_error(e);
                  return false;
                }
              });
            });
        .signup-options
          = link_to "/auth/google_oauth2", class: "submit_button", style: "float: left" do
            = image_tag ICON_LOGIN_GOOGLE, alt: "Google"
            %span.landingbuttontext Register with Google »
          = link_to "/auth/facebook", class: "submit_button", style: "float: right" do
            = image_tag ICON_LOGIN_FACEBOOK, alt: "Facebook"
            %span.landingbuttontext Register with Facebook »
          = link_to "/auth/linkedin", class: "submit_button", style: "float: left" do
            = image_tag ICON_LOGIN_LINKEDIN, alt: "LinkedIn"
            %span.landingbuttontext Register with LinkedIn »
          = link_to "/auth/github", class: "submit_button", style: "float: right" do
            = image_tag ICON_LOGIN_GITHUB, alt: "GitHub"
            %span.landingbuttontext Register with GitHub »
          .clear_floats
          %div{style: "background-image: url(#{ICON_DIVIDER_URL}); background-repeat:no-repeat; text-align: center; background-position: center 10px; width:550px; margin:10px auto 20px; "} OR
          = form_for(@user) do |f|
            = hidden_field_tag "redirect_url", root_path
            = f.text_field :name, value: nil, placeholder: "Name"
            = f.text_field :email, style: "margin-left: 10px; margin-right: 10px;", value: nil, placeholder: "E-Mail"
            = f.password_field :password, value: nil, placeholder: "Password"
            = f.submit "Submit", class: "button"