<h1>Sign up</h1>
<%= form_for(@user) do |f| %>
	<%= render "shared/error_messages", :object => f.object %>
	<% if !@company_user.nil? %>
		<%= f.hidden_field :token1, :value => @company_user.token1 %>
		<%= f.hidden_field :email, :value => @company_user.email %>
	<% end %>
	<div class="field">
		<%= f.label :name %>
		<div class="input">
			<%= f.text_field :name %>
		</div>
	</div>
	<% if @company_user.nil? %>
	<div class="field">
		<%= f.label :email %>
		<div class="input">
			<%= f.text_field :email %>
		</div>
	</div>
	<% end %>
	<div class="field">
		<%= f.label :password %>
		<div class="input">
			<%= f.password_field :password %>
		</div>
	</div>
	<div class="field">
		<%= f.label :password_confirmation, "Confirm password" %>
		<div class="input">
			<%= f.password_field :password_confirmation %>
		</div>
	</div>
	<div class="actions">
		<%= f.submit "Sign up", :class => "btn primary" %>
	</div>
<% end %>