%div{ style: "background-color: white; border-radius: 4px; padding:8px; width: 923px;" }
  :css
    form .control-group label.control-label { width: 160px; }
  %img{ style:"display:inline; height:115px;", src:"https://s3.amazonaws.com/moonlite-nsdub/static/stoney+100x150.png"}
  %span{ style: "font-size: 50px;position: relative;top:13px;" } Notification Settings
  %hr{style:"margin:0;"}
  = form_for(@notification_settings, url: notification_settings_path(@user.signup_token), html: { class: "form-horizontal", style: "margin-top: 10px;" }) do |f|
    = render 'shared/error_messages', object: f.object
    %div.notificationpanelbody
      %h4 When do you want to receive emails from MetaBright?
      %div.settingsmanagementarea
        %div
          %h5 When someone comments or votes on your submissions, or replies to you.
          %div.control-group
            %label.control-label Yes!
            %div.controls
              = f.check_box :interaction
        %div
          %h5 When you unlock new MetaBright powers.
          %div.control-group
            %label.control-label Yes!
            %div.controls
              = f.check_box :powers
        %div
          %h5 Weekly updates
          %div.control-group
            %label.control-label Yes!
            %div.controls
              = f.check_box :weekly
        %div
          %h5 Unsubscribe from everything
          %div.control-group
            %label.control-label :(
            %div.controls
              = f.check_box :inactive
      %hr
      %div.control-group
        %div.controls
        = f.submit "Save", class: "button button-actionable", style: "float: right; margin-left: 10px; margin-right: 20px;"
        = link_to "Cancel", current_user, class: "button button-standard", style: "float: right;"
