<section style="float:right;">
<% if @user.id == current_user.id %>
	<%= link_to "Edit Profile", edit_user_path(current_user), :class => "btn primary" %>
<% end %>
</section>
<section class="user_profile">
  <div style="margin-bottom:25px">
    <div>
      <%= image_tag @user.profile_pic, :size =>"100x100", :class => "profile_pic", :style => "float: left; margin-right: 10px;"%>
    </div>
    <div style="height: 100px">
      <h1><%= @user.name %></h1>
      <p style="font-size:15px;"><%= @user.name %> has earned <strong><%= @user.earned_points %></strong> total points.
    </div>
  </div>
	<% if @enable_achievements && !@user_achievements.empty? %>
	<section>
		<h3>Achievements</h3>
		<ul class="media-grid" style="margin: 10px 0 10px 0px;">
			<% @user_achievements.each do |e| %>
			<li>
        <%= link_to image_tag(e.achievement.pic, :size=>"50x50", :class => "thumbnail", :title => e.achievement.name), e.achievement %>
			</li>
			<% end %>
		</ul>
	</section>
	<% end %>
	<section>
		<h3>Enrolled Challenges</h3>
		<% if @enrolled_paths.empty? %>
		<p><%= @user.name %> is not currently enrolled in any publically accessible challenges.</p>
		<% else %>
		<table>
      <% @enrolled_paths.each do |path| %>
        <% if path.completed?(current_user) %>
				<tr>
					<td style="vertical-align: middle; width:70px;"><%= image_tag(path.path_pic, :size=>"70x70", :class=> "thumbnail") %>
					<td class="path">
						<h3 class="name"><%= link_to path.name, path %><span class="label" style="margin: 0 0 0 10px; background-color: #468847;">Completed</span></h3>
						<p class="description"><%= truncate(strip_tags(path.description), :length => 255) %></p>
					</td>
				</tr>
        <% end %>
			<% end %>
			<% @enrolled_paths.each do |path| %>
         <% unless path.completed?(current_user) %>
				<tr>
					<td style="vertical-align: middle;"><%= image_tag(path.path_pic, :size=>"70x70", :class=> "thumbnail") %>
					<td class="path">
						<h3 class="name"><%= link_to path.name, path %></h3>
						<p class="description"><%= truncate(strip_tags(path.description), :length => 255) %></p>
					</td>
				</tr>
        <% end %>
			<% end %>
		</table>
		<% end %>
	</section>
</section>