<section class="user_profile">
	<h1>
		<%= gravatar_for @user %>
		<%= @user.name %>
	</h1>
	<section>
		<% if !@company.nil? %>
		<p>Company: <%= link_to @company.name, @company %></p>
		<% end %>
		<p><%= @user.name %> has earned <strong><%= @user.earned_points %></strong> total points.</p>
	</section>
	<section>
		<h2>Enrolled Paths</h2>
		<% if @user.enrollments.empty? %>
		<p><%= @user.name %> is not currently enrolled in any paths.</p>
		<% else %>
		<ul>
			<% @user.enrollments.each do |e| %>
			<li>
				<p><%= link_to e.path.name, e.path %> - <strong><%= e.total_earned_points() %></strong> Points Earned</p>
			</li>
			<% end %>
		</ul>
		<% end %>
	</section>
</section>