<table class='profile' summary='Profile Information'>
	<tr>
		<td class='Main'>
			<h1>
				<%= gravatar_for @user %>
				<%= @user.name %>
			</h1>
		</td>
		<td>
			<strong>Name:</strong><%= @user.name %><br/>
			<strong>URL:</strong><%= link_to user_path(@user), @user %>
			<strong>Paths:</strong><%= @user.paths.count %>
		</td>
	</tr>
</table>