<section style="float:right;">
<% if @user.id == current_user.id %>
	<%= link_to "Edit", edit_user_path(current_user), :class => "btn primary" %>
<% end %>
</section>
<section class="user_profile">
	<h1>
		<%= image_tag(@user.profile_pic, :size =>"50x50", :class => "profile_pic") %>
		<%= @user.name %>
	</h1>
	<section>
		<% if !@company.nil? %>
		<p>Company: <%= link_to @company.name, @company %></p>
		<% end %>
		<p><%= @user.name %> has earned <strong><%= @user.earned_points %></strong> total points.</p>
	</section>
	<% if !@user_achievements.empty? %>
	<section>
		<h3>Achievements</h3>
		<ul>
			<% @user.user_achievements.each do |e| %>
			<li>
				<p><%= link_to e.achievement.name, e %> - <strong><%= e.achievement.points %></strong> Points Earned</p>
			</li>
			<% end %>
		</ul>
	</section>
	<% end %>
	<section>
		<h3>Enrolled Paths</h3>
		<% if @user.enrollments.empty? %>
		<p><%= @user.name %> is not currently enrolled in any paths.</p>
		<% else %>
		<table>
			<% @user.enrollments.each do |e| %>
				<% path = e.path %>
				<tr>
					<td style="vertical-align: middle;"><%= image_tag(path.path_pic, :size=>"70x70", :class=> "thumbnail") %>
					<td class="path">
						<h3 class="name"><%= link_to path.name, path %></h3>
						<p class="description"><%= path.description %></p>
					</td>
				</tr>
			<% end %>
		</table>
		<% end %>
	</section>
</section>