%script{:src => "app/assets/javascripts/challenge_carousel.js", :type => "text/javascript"}
    

:javascript
  jQuery(function($){
    $('.bar2').mosaic({
      animation : 'slide'   //fade or slide
    });
    $('.comment').click({
      animation : 'slide',  //fade or slide
      hover_x   : '400px'   //Horizontal position on hover
    });
  });

%div#homepage
  %div#topsection
    %div#updatespace
      = image_tag @user.profile_pic, class: "bigheaderimage"
      %div.rightofbigheaderimage
        %div#topboxcontent
          - if @user == current_user
            = link_to "Edit Profile", edit_user_path(@user), class: "button button-standard", style: "float:right;"
          %div.span9{style: "min-height: 65px; vertical-align: top; margin-bottom: 10px;"}
            %h1= @user.name
            %p{ style: "font-size: 16px; margin: 5px 0 7px 0;"}= truncate(@enrolled_personas.collect(&:name).join(", "), length: 70)
        %div#challengecarousel_container
          %div#challengeleft_scroll
            %a{href: "javascript:challengeslide(\"left\");"}
              %img{src: "https://s3.amazonaws.com/moonlite-nsdub/static/random+icons/arrow_angle_left_light.png"}/
          %div#challengecarousel_inner
            %ul#challengecarousel_ul
              - @enrollments.each do |e|
                = render "shared/mosaic", { custom_class: "clip_pic", pic: e.path.path_pic, link: path_path(e.path), title: e.path.name, subtitle: "Level #{e.level}, #{e.total_points} points" }
          %div#challengeright_scroll
            %a{href: "javascript:challengeslide(\"right\");"}
              %img{src: "https://s3.amazonaws.com/moonlite-nsdub/static/random+icons/arrow_angle_right_light.png"}/
      %input#challengehidden_auto_slide_seconds{:type => "hidden", :value => "0"}/

  %div.row
    %div.span5
      %div.leftbox
        %div.leftboxheader About
        %div.leftboxfooter{style:"padding-top: 6px"}
          %span= @user.description || "Person of mystery is a mystery..."
      %div.leftbox
        %div.leftboxheader Vital stats
        %div.leftboxfooter{style:"padding-top: 6px"}
          %ul
            %li Location: #{@user.location || "A galaxy far, far away..."}
            - if @user.link
              %li Link: <a href='#{@user.link}' target='_newtab'>#{truncate(@user.link)}</a>
            - if @user.education 
              %li Education: #{@user.education}
            - if @user.company_name
              %li Company: #{@user.company_name}  
            - if @user.title
              %li Title: #{@user.title}
    %div.span11
      %div.newsfeed{ style: "min-height: 285px;" }
        %div.leftboxheader
          %div
            %span{ style: "border-bottom: 0px; padding-top:1px;" } Stream
            = link_to "Votes", user_path(@user, order: "votes"), class: "btn leftbtn"
            = link_to "Date", user_path(@user, order: "date"), class: "btn midbtn"
            %a.btn.rightbtn{ onclick: "$(this).parents('.leftboxheader').find('.questions_filter').slideDown();" } Question
          %div.questions_filter{ style: "display:none; text-transform: none;" }
            - if @creative_tasks.empty?
              %p There are no responses to be viewed yet.
            - else
              %p{ style: "font-size: 13px; margin: 10px 5px; color: black;" } Click on one of the questions below to see the response for that question only.
              %ol
                - @creative_tasks.each do |task|
                  %li{ style: "padding: 5px;" }= link_to truncate(task.question, length: 80), user_path(@user, task: task.id), style: "font-size: 14px; text-decoration: none; color: #0064CD"
        = render "shared/newsfeed", { newsfeed_items: @newsfeed_items }