:css
  div.posttext.leveltext.dropdown:hover ul.dropdown-menu{display: block;}
  a.menu:after, .dropdown-toggle:after {content: none;}

- if newsfeed_items.empty?
  %div.post.empty_post{ style: "height: 300px;"}
    %p There are no responses yet.
- else
  :javascript
    $(function(){ 
      $(".youtube_answer").each(function(){ set_large_youtube_preview($(this).attr("alt"), $(this).attr("id")); });
      $(".display_sharing_icon").click(function(){ 
        $(this).parents(".leftstuff").find(".social_toolbar").css("display", "inline");
        $(this).parent().remove(); 
      });
      init_voting();
      init_comments();
    });

- newsfeed_items.each do |r|
  %div.post
    %div.postphotospace
      = link_to (image_tag r.user.profile_pic, class: "photo"), profile_path(r.user.username)
    %div.postspace
      %div.postheader
        %h3
          = link_to truncate(r.user.to_s, length: 50), profile_path(r.user.username), class:"username"
        %div.votingandpointsarea
          - if current_user
            %span.vote_points{style:"font-weight: bold;color: #404040;font-size: 16px;position: relative; top:3px;"}= r.points_awarded
            %span{style:"font-weight: bold;color: #404040;font-size: 16px;position: relative; top:3px; margin-right:5px;"} pts
            - if current_user == r.user
              %div.dropdown.submission-icon{ style: "padding-top:0px; margin: 0px;" }
                %a.dropdown-toggle{ href: "#", "data-toggle" => "dropdown", style: "padding:0px;" }
                  %span.caret{ style: "margin: 6px 0 0 0;" }
                %ul.dropdown-menu{ role: "button", style: "margin: 0; padding: 0; top:26px; left: -71px; min-width: 140px;" }
                  %li{ style: "margin-left: -10px;" }
                    %div.graynub{ style: "top:-17px; left: 75px; margin:0; "}
                    %div{ style: "padding: 3px 0px; margin:0;"}
                      %ul.profile_dropdown{ style: "list-style: none; margin: 0px; padding: 0; min-width: 120px;"}
                        %li= link_to "Delete Submission", retract_submission_path(r.id), remote: true, confirm: "Are you sure you want to delete your submission?", style: "padding: 0; color: inherit; text-shadow: none; padding-left: 8px; margin-left: -8px; margin-bottom: 2px;", class: "retract_link"
            - else
              = link_to vote_task_path(r.task.id, sa_id: r.submitted_answer.id), remote: true, class: ("btn vote_button " + (@votes.include?(r.submitted_answer.id) ? "btn-info" : "")) do
                %img{ src: "https://s3.amazonaws.com/moonlite-nsdub/static/purple+upvote+arrow.png" }            
          - else
            %a.btn.vote_button
              %img{ src: "https://s3.amazonaws.com/moonlite-nsdub/static/purple+upvote+arrow.png" }
              %div.vote_count= r.submitted_answer.total_votes.to_i
      %div.posttext.leveltext.dropdown
        %a.dropdown-toggle{ href: "#", "data-toggle" => "dropdown", role: "button", style: "color:inherit; cursor:default;" } #{r.task.question}
        %ul.dropdown-menu{ role: "menu", style: "left:99.5%; top:-70%; "}
          %li
            %div
              %div.sidenub
            %div{ style: "padding: 3px 0px;"}
              %ul.profile_dropdown{ style: "list-style: none; margin: 0px;"}
                %li.CR_dropdown_option 
                  %a{href:"#"} Answer this CR
                %li.CR_dropdown_option
                  %a{href:"#"} Filter by this question
                %li.CR_dropdown_option
                  %a{href:"#"} View response in new tab          
      %div.CRarea
        - if r.task.answer_sub_type == Task::TEXT
          %pre{ style: "margin:20px; word-break:normal;" }= r.submitted_answer.content
        - elsif r.task.answer_sub_type == Task::IMAGE
          = image_tag(sanitize(r.submitted_answer.content))
        - elsif r.task.answer_sub_type == Task::YOUTUBE
          %center
            %div.youtube_answer{ id: "youtube_answer_#{r.id}", alt: r.submitted_answer.content }        
      = render "comments/comments", { owner: r.submitted_answer, owner_type: "SubmittedAnswer", owner_id: r.submitted_answer_id, comment_count: r.submitted_answer.comments.size, created_at: r.created_at, sharing_url: submission_details_url(r.path, r.submitted_answer.id), sharing_title: "Great response to the #{r.path.name} Challenge on @MetaBright." }

:javascript
  $(function(){
    $(".retract_link").on("ajax:success", function(xhr, data){ 
      console.log($(this).parents(".post"));
      $(this).parents(".post").hide("slow");
    });
  });
  
- if @more_available
  %div.post{ style: "text-align: center; margin: auto;" }
    :javascript
      $(function(){ 
        $(".view_more").on("ajax:success", function(xhr, data){ $(this).parent().replaceWith(data); }); });
    = link_to "View More", "#{@more_available_url}", class: "button button-standard view_more", style: "text-align: center; margin: auto;", remote: true