- title ||= "Challenge yourself on MetaBright!"
- url ||= request.url
%div.social_toolbar{ style: custom_style }
  = link_to "#", onclick: sharing_popup_javascript(:facebook, url) do
    = image_tag "https://s3.amazonaws.com/moonlite-nsdub/static/icon+Facebook+small.png", alt: "Share on Facebook"
  = link_to "#", onclick: sharing_popup_javascript(:twitter, url, title) do
    = image_tag "https://s3.amazonaws.com/moonlite-nsdub/static/icon+twitter+small.png", alt: "Share on Twitter"
  = link_to "#", onclick: sharing_popup_javascript(:google_plus, url, title) do
    = image_tag "https://s3.amazonaws.com/moonlite-nsdub/static/icon+Google%2B+small.png", alt: "Share on Google+"
