%div.single_pane
  %h4 Edit user roll
  %h1{ style: "font-size: 24px;" }= @user.name
  = form_tag({controller: "user_roles", action: "update_user", user_id: @user.id}, method: :put, class: "form-horizontal" ) do
    %p Please select a new user roll.
    %div.control-group{ style: "margin: 40px 0px;" }
      %label.control-label User roll
      %div.controls
        %select{ id: "user_user_role_id", name: "user[user_role_id]" }
          - @user_roles.each do |ur|
            - if ur.id == @user.user_role_id
              %option{ value: ur.id,  selected: "selected" }= ur.name
            - else
              %option{ value: ur.id }= ur.name
    %div.control-group
      %div.controls
        = link_to "Cancel", admin_users_path, class: "button button-standard"
        = submit_tag "Save", class: "button button-actionable"