%div.quizcontainer
  :javascript
    $(function(){
      $(".answer_content").click(function(){
        $(this).find("input").attr("checked", "checked");
        $("#challenge_form").submit();
      });
      $("#challenge_form").on("ajax:success", function(xhr, data){
        $("#answer_"+data.correct_answer).css("background-color", "green");
        if(data.correct_answer != data.supplied_answer){
          $("#answer_"+data.supplied_answer).css("background-color", "red");
        }
      });
      $("#nextbutton").on("ajax:success", function(xhr, data){
        $(".quizcontainer").fadeOut('slow', function(){
          $(this).replaceWith(data).fadeIn();
        });
      });
    });
  :css
    .body.container { border: 0px; background-color: transparent; box-shadow: none; margin-top: -40px; }  
  %div.quizspace
    %div.quizheader
      = image_tag @section.path.path_pic, size: "40x40"
      %div{ style: "display:inline-block;" }
        %span <strong>#{@section.path.name}:</strong> #{@section.name}</span>
        %div#idprogressbar
    %div{ style: "margin: auto;" }
      = render "stored_resource", { :stored_resource => @stored_resource }
    %div.questionandresponsespace{ style: "width: 430px;" }
      %div.questionspace
        %span= @task.question
      %div.questionfooter
        %div.pointbar 100 points
      %div.responsespace
        = form_tag(complete_section_path(@section.id), :remote => true, :method => "put", :id => "challenge_form") do
          = hidden_field_tag :task_id, @task.id
          = hidden_field_tag :points_remaining, 100
          %ol{ style: "list-style-position: inside; margin-left: 0px;" }
            - @answers.each do |a|
              %li.answer_content{ id: "answer_#{a.id}" }
                = radio_button_tag :answer, a.id, false, style: "display: none;"
                %span= a.content
        = link_to "Next", continue_section_path(@section.id), id: "nextbutton", remote: true, class: "btn danger", method: "post" 
    %div{ style: "display:inline-block; vertical-align:top;" }
      %div.pointsandstreakspace
        %div.pointspace.counterbox
          %span.counter
            - (1..4).each do
              %span.digit
                %span{ title: "0" } 0
          %br
          %span Points
        %div.streakspace.counterbox
          %span.counter
            - (1..2).each do
              %span.digit
                %span{ title: "0" } 0
          %br
          %span Streak
      %div.messagespace{ style: "text-align: right; margin: 12px 0px 0px 25px; width: 258px;" }
        - unless @section.instructions.blank?
          %p= link_to "Review Section Content", @section, style: "float:right;"