<% if correct %>
	<%= render "sections/modals/correct_modal" %>
<% end %>
<% if jumpstart %>
	<%= render "sections/modals/jumpstart", { :path => path, :leaderboards => leaderboards } %>
<% elsif earned_points == 0 && correct.nil? %>
	<%= render "sections/modals/countdown_modal" %>
<% end %>

<%= form_tag({ :controller => :sections, :action => "continue" }, :remote => true, :method => "get", "data-type" => "html", :id => "challenge_form") %>
<div class="task row">
  <div class="span9">
		<div class="question">
      <h2>Section <%= section.position.to_s %>. <%= section.name %></h2>
      <blockquote>
        <p>
          <%= task.question %>
        </p>
				<% if hint %><p style="font-style:italic; font-size: 14px;"><%= hint %></p><% end %>
      </blockquote>
			<%= render "info_resource", { :info_resource => info_resource } %>
    </div>
    <div class="answer">
      <input type="hidden" name="task_id" value="<%= task.id %>">
			<% if question_type == "text" && path.game_type == "character guess" %>
				<%= render "character_guess", { :answer => task.answer1 } %>
			<% elsif question_type == "text" %>
				<%= render "single_answer", { :task => task } %>
			<% else %>
				<%= render "multiple_choice_answer", { :task => task } %>
			<% end %>
    </div>
	</div>
	<div class="span7">
  <% if path.game_type == "picture" %>
		<%= render "sections/games/picture_game", { :picture => "", :progress => progress } %>
	<% elsif path.game_type == "raw numbers" %>
		<%= render "sections/games/raw_numbers" %>
	<% elsif path.game_type == "raw streak" %>
		<%= render "sections/games/raw_streak" %>
	<% else %>
		<%= render "sections/games/progress_box", { :earned_points => earned_points, :possible_points => possible_points, :streak_points => streak_points } %>
	<% end %>
	</div>
</div>
<div class="row">
  <div class="actions" style="margin-top:50px">
    <input type="hidden" id="listless" name="listless" value="true">
    <%= submit_tag "Submit", :class => "btn primary", :id => "submit_button" %>
    <div class="btn secondary" id="help_button" style="margin-left: 15px;">Help</div>
    <%= link_to "Continue Later", root_path, :class => "btn secondary", :style => "float:right;" %>
  </div>
</div>