<!--[IF IE]>
    <script type="text/javascript">
      $(function(){
        $(".ie_warning").show();
      });
    </script>
<![endif]-->
<div>
  <% if section.instructions.blank? & stored_resources.empty? %>
  <div style="padding: 20px;">
    <p>You have not added any content for this section yet. Start by doing one of the following:</p>
    <ul>
      <li style="padding:5px">Import a <%= link_to "PDF, Microsoft Word document, or Powerpoint", import_content_section_path(section) %>.</li>
      <li style="padding:5px">Start with a <%= link_to "blank HTML editor", html_editor_section_path(section) %>.</li>
    </ul>
  </div>
  <% else %>
    <% if !section.instructions.blank? %>
    <div style="float:right; margin-bottom: 20px;">
      <%= link_to "Edit", html_editor_section_path(section, :source => "html"), :class => "btn primary" %>
    </div>
    <div style="padding: 30px;">
      <%= section.instructions.html_safe %>
    </div>
    <% else %>
      <div class="row" style="padding-left:20px;">
        <h5 style="float:left;">This content will be displayed before the user starts this section.</h5>
        <%= link_to "Add Document", import_content_section_path(section), :class => "btn secondary", :style => "float:right;" %>
      </div>
      <% stored_resources.each do |r| %>
      <div style="margin-top:20px;">
        <p>If you have trouble seeing this document, you can <%= link_to "download it here", r.obj.url.gsub("::",":") %>. You can remove the attachment <%= link_to "here", r, :method => :delete, :confirm => "Are you sure you want to delete this document?" %>.</p>
        <p class="ie_warning" style="display:none;"><strong>NOTE:</strong> If you are using Microsoft Internet Explore, you will need to add <i>http://docs.google.com</i> to your list of trusted sites. <a href="http://windows.microsoft.com/en-us/windows-vista/Security-zones-adding-or-removing-websites" target="_blank">Instructions here.</a></p>
        <iframe src="http://docs.google.com/viewer?url=<%=u r.obj.url.gsub("::",":") %>&embedded=true" width="800" height="650" style="border: none;"></iframe>
      </div>
      <% end %>
    <% end %>
  <% end %>
</div>