:css
  .body.container { border: 0px; background-color: transparent; box-shadow: none; margin-top: -40px; }  

%div.quizcontainer
  %div.quizspace
    %div.quizheader
      = image_tag @section.path.path_pic, size: "40x40"
      %div{ style: "display:inline-block;" }
        %span <strong>#{@section.path.name}:</strong> #{@section.name}</span>
        %div#idprogressbar
    %div.completionmessagespace
      %div.completionheader
        %span Congratulations!
      %div.completionsubheader You just scored <strong>#{@section.points_earned(current_user)} points</strong> in this section!
      %div.completionstats
        %p Total Challenge points: <strong>#{@enrollment.total_points}</strong>
        %p Current level: <strong>#{@enrollment.level}</strong>
      %div{ style: "float: right; margin: 15px 10px 0 0;" }
        = render "shared/sharing"
    %div{ style: "display:inline-block; vertical-align:top;" }
      %div.completionnextsteps
        %h3 Continue improving your score
        %ul
          %li
            Complete Challenge Questions
            %p= link_to "#{@available_crs} available", path_url(@section.path, completed: true)
          %li Take additional sections
          %p= link_to "#{@unlocked_sections} of #{@section.path.sections.size} sections unlocked", path_url(@section.path, completed: true) 
    = link_to "Continue", path_url(@section.path, completed: "true"), class: "button button-info", style: "float: right;"
