%div.quizcontainer
  :css
    .body.container { border: 0px; background-color: transparent; box-shadow: none; margin-top: -40px; }  
  %div.quizspace
    %div.quizheader
      = image_tag @section.path.path_pic, size: "40x40"
      %div{ style: "display:inline-block;" }
        %span <strong>#{@section.path.name}:</strong> #{@section.name}</span>
        %div#idprogressbar
    %div
      %p <strong>Congratulations!</strong> You finished all the core questions for this level and earned enough points to unlock the challenge questions. 
      %p Unlike core questions, challenge questions are not multiple choice and are not timed. You can do them in any order at any time. 
      %p Challenge questions have no absolute right or wrong answers - submit the best answer you can come up with and the #{current_company.name} community will vote on them.
      = link_to "Continue", community_path_url(@section.path, completed: "true"), class: "btn large danger"
