%div.sectioninfocontainer
  %div#sectionpointchart
  %div.launchpadCRcolumn
    %div.launchpadcolumnheader
      %ul.nav.nav-tabs
        - unless @core_tasks.empty?
          %li.active
            %a#arena_tab_link{ href: "#arena_tab", title: "Arena"} Arena
        - unless @challenge_tasks.empty?
          %li
            %a#questions_tab_link{ href: "#questions_tab", title: "Creative Responses"}  Creative Response
        - unless @achievement_tasks.empty?
          %li
            %a#achievement_tab_link{ href: "#achievements_tab", title: "Tasks"} Tasks
    - unless @core_tasks.empty?
      %div#arena_tab.tab_content{style:"margin-left:12px;"}
        - if @core_tasks.select{ |t| t.status_id.nil? }.size > 0
          %p{ style: "margin: 15px 0 15px 0;" } Enter the Arena to see where you stack up!
          %p= link_to "Start", continue_section_path(@current_section), class: "button button-actionable"  
        - else
          %p You got <strong>X out of Y</strong> questions right, and scored <strong>@section.points_earned(current_user) points</strong> in this section!
          - if @achievement_tasks.count == 0 and @challenge_tasks.count > 0
            %p Continue on to the <strong>Creative Reponse</strong> tab to earn additional points and level-up.
          - if @challenge_tasks.count == 0 and @achievement_tasks.count > 0
            %p Continue on to the <strong>Tasks</strong> tab to earn additional points and level-up.
          - if @challenge_tasks.count > 0 and @achievement_tasks.count > 0
            %p Continue on to the <strong>Creative Reponse</strong> and <strong>Tasks</strong> tabs to earn additional points and level-up.          
    - unless @challenge_tasks.empty?
      %div#questions_tab.tab_content{ style: "" }
        %div.help_box{style:"background-color:#C0E6C0; width:600px; height:80px; margin-left: auto; margin-right: auto; padding:4px 10px 10px 10px; text-align: left; margin-bottom: 12px;"}
          %div.help_close
            %img{src: "https://s3.amazonaws.com/moonlite-nsdub/static/close_icon.png" }
          %img{src: "https://s3.amazonaws.com/moonlite-nsdub/static/Lightbulb+icon", style: "display:inline; bottom:6px; height:30px;"}
          %h3{style: "font-size:24px; display:inline;"} Go ahead, look up answers!
          %h5{style: "font-size:15px;"} CR's and Tasks are here to guide your improvement. If you don't know an answer, go figure it out and share what you learned with the rest of us!
        %table
          - @challenge_tasks.each do |t|
            %tr
              %td
                - if t.status_id
                  %div= link_to t.question, user_path(current_user, task: t.id)
                - else
                  %div= link_to t.question, take_section_path(@current_section, task_id: t.id)
              %td.question_status
                - if t.status_id
                  = link_to "Completed", user_path(current_user, task: t.id), class: "label label-success", target: "_blank"
                  %br
                  %span.launchpadpoints= t.points_awarded.to_i.to_s + " points"
                - else
                  = link_to "Incomplete", take_section_path(@current_section, task_id: t.id), class: "label label-important"
    - unless @achievement_tasks.empty?
      %div#achievements_tab.tab_content{ style: "display: none;" }
        %table
          - @achievement_tasks.each do |t|
            %tr
              %td
                - if t.status_id
                  %div= link_to t.question, user_path(current_user, task: t.id)
                - else
                  %div= link_to t.question, take_section_path(@current_section, task_id: t.id)
              %td.question_status
                - if t.status_id
                  = link_to "Completed", user_path(current_user, task: t.id), class: "label label-success", target: "_blank"
                  %br
                  %span.launchpadpoints= t.points_awarded.to_i.to_s + " points"
                - else
                  = link_to "Incomplete", take_section_path(@current_section, task_id: t.id), class: "label label-important"

  :javascript
    var name = "#{@current_section.name}";
    var trunc_name = truncate(name, 15);
    var chart;
    var display_type = #{@display_type || 0};
    var open_tab;
    $(function(){
      if(display_type == 0){ open_tab = "#questions_tab_link"; } 
      if(display_type == 2){ open_tab = "#arena_tab_link"; } 
      if(display_type == 3){ open_tab = "#achievement_tab_link"; }
      
      $(".tab_content").hide();
      $("ul.nav-tabs li.active").removeClass("active");
      $(open_tab).parent().addClass("active");
      $($(open_tab).attr("href")).show();
    
      $(".nav-tabs li a").click(function(){
        $(".tab_content").hide();
        $("ul.nav-tabs li.active").removeClass("active");
        $(this).parent().addClass("active");
        $($(this).attr("href")).show();
      });
      
      chart = new Highcharts.Chart({
        chart: { renderTo: 'sectionpointchart', type: 'bar' },
        credits: { enabled: false },
        title: { text: null },
        xAxis: { min:0, categories: [''] },
        yAxis: { min: 0, max: 100, width: 450, title: { text: 'Percent Complete' } },
        legend: {
            backgroundColor: '#FFFFFF',
            reversed: true,
            align:'right',
            layout:'vertical',
            verticalAlign: 'top',
        },
        tooltip: { formatter: function() { return '' + this.series.name + ': ' + this.y + ''; } },
        plotOptions: { series: { stacking: 'normal' } },
        navigation: { buttonOptions: { enabled: false } },
        series: [ { name: trunc_name, data: [#{@current_section.percentage_complete(current_user)}] } ]
      });
      apply_hightcharts_theme();
    });