%div.sectioninfocontainer
  %div.launchpadCRcolumn
    %div.launchpadcolumnheader
      - if @enrollment.contribution_unlocked
        %button#editor_link.button.button-small.button-info{ style: "margin-top: -5px; text-shadow:none;" } Create a Question
      %ul.nav.nav-tabs
        %li.active
          %a#arena_tab_link{ href: "#arena_tab", title: "Arena"} Arena
        %li
          %a#questions_tab_link{ href: "#questions_tab", title: "Creative Responses"}  Creative Response
        %li
          %a#achievement_tab_link{ href: "#achievements_tab", title: "Tasks"} Tasks      
      %div#arena_tab.tab_content{style:"margin-left:12px;"}
        - if @enrollment.contribution_unlocked
          %div.editor_view{ style: "display: none; height:100%;" }
            = form_for(@current_section.tasks.new, remote: true, html: { style: "width:599px; padding:0; height:90%; margin-top:-10px;" }) do |f|
              %div.step1
                = f.hidden_field(:answer_type, value: Task::MULTIPLE)
                = f.hidden_field(:section_id, value: @current_section.id)
                = f.hidden_field(:source, value: "launchpad")
                %fieldset{style: "display: inline-block; margin-right:15px; width:58.1%;"}
                  %legend Create an Arena question
                  %span.help-block What's your question?
                  = f.text_area(:question, rows: 2, class: "rows2", placeholder:"Question...", style:"width:100%;")
                  %span.help-block What are the possible answers?
                  %label Correct answer
                  = f.text_field(:answer1, placeholder: "Required", style:"margin-left:17px;")
                  %label Wrong answer
                  = f.text_field(:answer2, placeholder: "Required", style:"margin-left:22px;")
                  %label Wrong answer
                  = f.text_field(:answer3, placeholder: "Optional", style:"margin-left:22px;")
                  %label Wrong answer
                  = f.text_field(:answer4, placeholder: "Optional", style:"margin-left:22px;")
                  %span.error_message
                  %a.next.button.button-actionable{ href: "#", style:"float:right;"} Next
                %div{style: "display:inline-block; margin-left:20px; vertical-align:top; width:199px; border-left: 1px solid #E7E7E7; position:relative; top:48px; padding-left:10px"}
                  %h4 
                    %img{src:"https://s3.amazonaws.com/moonlite-nsdub/static/Lightbulb+icon", style:"height:25px; width:25px;"}
                    Tips:
                  %ul{style:"font-size:13px;"}
                    %li Questions should cover the core knowledge area of the section they're placed.
                    %li Keep the tone informal but direct.
                    %li Make sure you check for spelling and grammar.
                    %li 
                      You <strong>earn 50 points</strong> per published question, but will <strong>lose 100 points</strong> if that question is reported and taken down.
                      %span
              %div.step2{ style: "display: none;" }
                %fieldset{style: "display: inline-block; margin-right:28px; width:99%;"}
                  %legend{style:"margin-bottom:5px; "} Create an Arena question
                  %h4{style:"margin-top:12px; font-size:14px;"} Your question:
                  %div{style:"margin-left:12px;"}
                    %span.question{style:"font-weight:bold;font-size:14px;"}
                  %h4{style:"margin-top:12px; font-size:14px;"} Correct answer:
                  %div{style:"margin-left:12px;"}
                    %span.correct_answer{style:"font-weight:bold;font-size:14px;"}
                  %h4{style:"margin-top:12px; font-size:14px; "} Here's where this Arena question will appear:
                  %div{style:"margin-left:12px;"}
                    %span{style:" font-size:14px;"} Challenge:
                    %span{style:"font-weight:bold;font-size:14px;"} #{@current_section.path.name}
                    %br/
                    %span{style:" font-size:14px;"} Section: 
                    %span{style:"font-weight:bold;font-size:14px;"} #{@current_section.name}
                  %h4{style:"margin-top:12px; font-size:14px; margin-bottom:5px;"} Ready to post?
                  %a.back.button.button-standard{ href: "#", style:"float:left; margin-bottom:10px; text-shadow:none; color:#333;"} Back
                  = f.submit("Yes!", class: "button button-actionable", style: "float:right;")
              %div.step3{ style: "display: none;" }
                %img{src:"https://s3.amazonaws.com/moonlite-nsdub/static/stoney_50x66.png", style:"height:45px;"}
                %span{style:"position:relative; top:7px; font-size:30px;"} Nice work!
                %h4{style:"margin-top:12px; font-size:16px;"} Your question is now visible to the MetaBright community!
                %h4{style:"margin-top:12px; font-size:16px; margin-bottom:12px;"} Remember, you earn 50 points every time you publish a question, but if your question is reported and taken down, you'll lose 100 points.
                %a.restart.button.button-actionable{ href: "#", style:"float:right; margin-bottom:10px; text-shadow:none;"} Create another question
                %a.finish.button.button-standard{ href: "#", style:"float:left; margin-bottom:10px; text-shadow:none; color:#333;"} Finish
        %div.task_view
          %div.launchpadtip
            %img{src:"https://s3.amazonaws.com/moonlite-nsdub/static/Lightbulb+icon"}
            %p Enter the Arena and take multiple-choice questions to discover where you stand. 
          - tasks_completed = @core_tasks.select{ |t| not t.status_id.nil? }.size > 0
          - if @core_tasks.empty?
            %p No Arena questions are available at the moment. Check back again later.
          - elsif tasks_completed
            - correct_tasks = @core_tasks.select{ |t| t.status_id.to_i == Answer::CORRECT }.size
            - earned_points = 0
            - @core_tasks.each { |t| earned_points += t.points_awarded.to_i }
            - incorrect_tasks = @core_tasks.select{ |t| t.status_id.to_i == Answer::INCORRECT }.size
            %p You answered <strong>#{correct_tasks} out of #{correct_tasks + incorrect_tasks}</strong> Arena questions correctly, and scored <strong>#{earned_points} points</strong>!
            - tasks_remaining = @core_tasks.select{ |t| t.status_id.nil? }.size > 0
            - if tasks_remaining
              %p= link_to "Continue", start_section_path(@current_section), class: "button button-actionable"
            - else
              %p Arena questions are added daily. When more are available, you can return here to take them. Complete Tasks or answer some Creative Responses to earn more points and continue to level up. 
          - else
            %p= link_to "Start", start_section_path(@current_section), class: "button button-actionable"            
      %div#questions_tab.tab_content{ style: "" }
        - if @enrollment.contribution_unlocked
          %div.editor_view{ style: "display: none; height:100%;" }
            = form_for(@current_section.tasks.new, remote: true, html: { style: "width:600px; padding:0 0 0 10px; height:90%; margin-top:-10px;" }) do |f|
              %div.step1
                = f.hidden_field(:answer_type, value: Task::CREATIVE)
                = f.hidden_field(:section_id, value: @current_section.id)
                = f.hidden_field(:source, value: "launchpad")
                %fieldset{style: "display: inline-block; margin-right:28px; width:56%;"}
                  %legend Create a CR
                  %label What's your question?
                  = f.text_area(:question, rows: 2, class: "rows2", placeholder:"Question...", style:"width:100%;")
                  %div.control-group{style:"width:350px;"}
                    %div.controls
                      = render "stored_resources/new_image"
                  %label What type of response should people give?
                  %label.radio
                    = f.radio_button(:answer_sub_type, Task::TEXT, class: "answer_sub_type")
                    = Task::SUBTYPES[Task::TEXT]
                  %label.radio
                    = f.radio_button(:answer_sub_type, Task::IMAGE, class: "answer_sub_type")
                    = Task::SUBTYPES[Task::IMAGE]
                  %label.radio
                    = f.radio_button(:answer_sub_type, Task::YOUTUBE, class: "answer_sub_type")
                    = Task::SUBTYPES[Task::YOUTUBE]
                  %span.error_message
                  %a.next.button.button-actionable{ href: "#", style:"float:right;"} Next
                %div{style: "display:inline-block; margin-left:20px; vertical-align:top; width:200px; border-left: 1px solid #E7E7E7; position:relative; top:48px; padding-left:10px"}
                  %h4 
                    %img{src:"https://s3.amazonaws.com/moonlite-nsdub/static/Lightbulb+icon", style:"height:25px; width:25px;"}
                    Tips:
                  %ul{style:"font-size:13px;"}
                    %li Questions should enable people to demonstrate their knowledge or passion for the Challenge.
                    %li Keep the tone informal but direct.
                    %li Make sure you check for spelling and grammar.
                    %li 
                      You <strong>earn 50 points</strong> per published question, but will <strong>lose 100 points</strong> if that question is reported and taken down.
                      %span
                        %a#points-tt2.mb-tooltip{href:"#", rel:"tooltip"}
              %div.step2{ style: "display: none;" }
                %fieldset{style: "display: inline-block; margin-right:28px; width:99%;"}
                  %legend{style:"margin-bottom:5px; "} Create a CR
                  %h4{style:"margin-top:12px; font-size:14px;"} Your question:
                  %div{style:"margin-left:12px;"}
                    %span.question{style:"font-weight:bold;font-size:14px;"}
                  %h4{style:"margin-top:12px; font-size:14px;"} Question type:
                  %div{style:"margin-left:12px;"}
                    %span.task_subtype{style:"font-weight:bold;font-size:14px;"} 
                  %h4{style:"margin-top:12px; font-size:14px; "} Here's where this question will appear:
                  %div{style:"margin-left:12px;"}
                    %span{style:" font-size:14px;"} Challenge:
                    %span{style:"font-weight:bold;font-size:14px;"} #{@current_section.path.name}
                    %br/
                    %span{style:" font-size:14px;"} Section: 
                    %span{style:"font-weight:bold;font-size:14px;"} #{@current_section.name}
                  %h4{style:"margin-top:12px; font-size:14px; margin-bottom:5px;"} Ready to post?
                  %a.back.button.button-standard{ href: "#", style:"float:left; margin-bottom:10px; text-shadow:none; color:#333;"} Back
                  = f.submit("Yes!", class: "button button-actionable", style: "float:right;")
              %div.step3{ style: "display: none;" }
                %img{src:"https://s3.amazonaws.com/moonlite-nsdub/static/stoney_50x66.png", style:"height:45px;"}
                %span{style:"position:relative; top:7px; font-size:30px;"} Nice work!
                %h4{style:"margin-top:12px; font-size:16px;"} Your CR is now visible to the MetaBright community!
                %h4{style:"margin-top:12px; font-size:16px;"} Remember, you earn 50 points every time you publish a CR, but if your question is reported and taken down, you'll lose 100 points.
                %h4{style:"margin-top:12px; font-size:16px; margin-bottom:12px;"} If you'd like, you can <a class="take">post a response</a> to your CR now. 
                %a.restart.button.button-actionable{ href: "#", style:"float:right; margin-bottom:10px; text-shadow:none;"} Create another question
                %a.finish.button.button-standard{ href: "#", style:"float:left; margin-bottom:10px; text-shadow:none; color:#333;"} Finish
        %div.task_view
          %div.launchpadtip
            %img{src:"https://s3.amazonaws.com/moonlite-nsdub/static/Lightbulb+icon"}
            %p Creative Responses let you demonstrate your skills. Responses to CR's appear in the stream so they can be voted and commented upon.
          - if @challenge_tasks.empty?
            %p No Challenge tasks available.
          - else
            %table
              - @challenge_tasks.each do |t|
                %tr
                  %td
                    - if t.status_id
                      %div= link_to t.question, user_path(current_user, task: t.id)
                    - else
                      %div= link_to t.question, take_section_path(@current_section, task_id: t.id)
                  %td.question_status
                    - if t.status_id
                      = link_to "Completed", user_path(current_user, task: t.id), class: "label label-success", style:"position:relative; top:3px;", target: "_blank"
                      %div.launchpadpoints= t.points_awarded.to_i.to_s + " points"
                    - else
                      = link_to "Incomplete", take_section_path(@current_section, task_id: t.id), class: "label label-important"
      %div#achievements_tab.tab_content{ style: "display: none;" }
        - if @enrollment.contribution_unlocked
          %div.editor_view{ style: "display: none; height:100%;" }
            = form_for(@current_section.tasks.new, remote: true, html: { style: "width:600px; padding:0 0 0 10px; height:90%; margin-top:-10px;" }) do |f|
              %div.step1
                = f.hidden_field(:answer_type, value: Task::CHECKIN)
                = f.hidden_field(:section_id, value: @current_section.id)
                = f.hidden_field(:source, value: "launchpad")
                %fieldset{style: "display: inline-block; margin-right:28px; margin-bottom:150px; width:56%;"}
                  %legend Create a Task
                  %label What's the Task?
                  = f.text_area(:question, rows: 2, class: "rows2", placeholder:"Task...", style:"width:100%;")                
                  %span.error_message
                  %a.next.button.button-actionable{ href: "#", style:"float:right;"} Next
                %div{style: "display:inline-block; margin-left:20px; vertical-align:top; width:200px; border-left: 1px solid #E7E7E7; position:relative; top:48px; padding-left:10px"}
                  %h4 
                    %img{src:"https://s3.amazonaws.com/moonlite-nsdub/static/Lightbulb+icon", style:"height:25px; width:25px;"}
                    Tips:
                  %ul{style:"font-size:13px;"}
                    %li Tasks should serve as a path to improving at the section.
                    %li Keep the tone informal but direct.
                    %li Make sure you check for spelling and grammar.
                    %li 
                      You <strong>earn 50 points</strong> per published Task, but will <strong>lose 100 points</strong> if it's reported and taken down.
                      %span
                        %a#points-tt3.mb-tooltip{href:"#", rel:"tooltip"}
              %div.step2{ style: "display: none;" }
                %fieldset{style: "display: inline-block; margin-right:28px; width:99%;"}
                  %legend{style:"margin-bottom:5px; "} Create a Task
                  %h4{style:"margin-top:12px; font-size:14px;"} Your new Task:
                  %div{style:"margin-left:12px;"}
                    %span.question{style:"font-weight:bold;font-size:14px;"}
                  %h4{style:"margin-top:12px; font-size:14px; "} Here's where this Task will appear:
                  %div{style:"margin-left:12px;"}
                    %span{style:" font-size:14px;"} Challenge:
                    %span{style:"font-weight:bold;font-size:14px;"} #{@current_section.path.name}
                    %br/
                    %span{style:" font-size:14px;"} Section: 
                    %span{style:"font-weight:bold;font-size:14px;"} #{@current_section.name}
                  %h4{style:"margin-top:12px; font-size:14px; margin-bottom:5px;"} Ready to post?
                  %a.back.button.button-standard{ href: "#", style:"float:left; margin-bottom:10px; text-shadow:none; color:#333;"} Back
                  = f.submit("Yes!", class: "button button-actionable", style: "float:right;")
              %div.step3{ style: "display: none;" }
                %img{src:"https://s3.amazonaws.com/moonlite-nsdub/static/stoney_50x66.png", style:"height:45px;"}
                %span{style:"position:relative; top:7px; font-size:30px;"} Nice work!
                %h4{style:"margin-top:12px; font-size:16px;"} Your Task is now visible to the MetaBright community!
                %h4{style:"margin-top:12px; font-size:16px;"} Remember, you earn 50 points every time you publish a Task, but if it's reported and taken down, you'll lose 100 points.
                %h4{style:"margin-top:12px; font-size:16px; margin-bottom:12px;"} If you've already personally completed this Task, you can <a class="take">mark it as complete</a> now. 
                %a.restart.button.button-actionable{ href: "#", style:"float:right; margin-bottom:10px; text-shadow:none;"} Create another Task
                %a.finish.button.button-standard{ href: "#", style:"float:left; margin-bottom:10px; text-shadow:none; color:#333;"} Finish
        %div.task_view
          %div.launchpadtip
            %img{src:"https://s3.amazonaws.com/moonlite-nsdub/static/Lightbulb+icon"}
            %p Use Tasks to verify the things you've done and guide you towards what to do next. 
          - if @achievement_tasks.empty?
            %p No tasks available.
          - else
            %table
              - @achievement_tasks.each do |t|
                %tr
                  %td
                    - if t.status_id
                      %div= link_to t.question, user_path(current_user, task: t.id)
                    - else
                      %div= link_to t.question, take_section_path(@current_section, task_id: t.id)
                  %td.question_status
                    - if t.status_id
                      = link_to "Completed", user_path(current_user, task: t.id), class: "label label-success", style:"position:relative; top:3px;", target: "_blank"
                      %br
                      %div.launchpadpoints{style:"margin-right:4px;"}= t.points_awarded.to_i.to_s + " points"
                    - else
                      = link_to "Incomplete", take_section_path(@current_section, task_id: t.id), class: "label label-important"

  :javascript
    function log_error(error){
      $(".editor_view:visible").find("span.error_message").text(error).show().delay(3000).fadeOut("slow");
      return false;
    }
    
    var display_type = #{@display_type || 0};
    var open_tab;
    var task_subtypes = #{Task::SUBTYPES.to_json};
    $(function(){
      if(display_type == 0){ open_tab = "#questions_tab_link"; } 
      if(display_type == 2){ open_tab = "#arena_tab_link"; } 
      if(display_type == 3){ open_tab = "#achievement_tab_link"; }
      
      $(".tab_content").hide();
      $("ul.nav-tabs li.active").removeClass("active");
      $(open_tab).parent().addClass("active");
      $($(open_tab).attr("href")).show().addClass("active_tab");
    
      $(".nav-tabs li a").click(function(){
        $(".tab_content").hide();
        $("ul.nav-tabs li.active").removeClass("active");
        $(this).parent().addClass("active");
        $(".active_tab").removeClass("active_tab");
        var $open_tab = $($(this).attr("href"));
        $open_tab.addClass("active_tab");
        $open_tab.find(".task_view").show();
        $open_tab.find(".editor_view").hide();
        $open_tab.show();
      });
      
      $("#editor_link").click(function(){
        $(".active_tab").find(".task_view").hide();
        $(".active_tab").find(".editor_view").show();
      });
      
      $(".editor_view").each(function(){
        var $editor = $(this);
        $editor.find(".step1 a.next").click(function(){
          if($editor.find("textarea").val() == ""){
            return log_error("You must provide a question.");
          }
          if($editor.find("input[name*=answer_type]").val() == 0){
            if($editor.find("input[name*=answer_sub_type]:checked").size() == 0){
              return log_error("You must provide an answer type.");
            } else {
              $editor.find(".step2 span.task_subtype").text(task_subtypes[$editor.find("input[name*=answer_sub_type]:checked").val()]);
            }
          } else if ($editor.find("input[name*=answer_type]").val() == 2){
            if($editor.find("input[name*=answer1]").val() == ""){
              return log_error("You must provide a correct answer.");
            } else {
              if($editor.find("input[name*=answer2]").val() == ""){
                return log_error("You must provide at least one incorrect answer.");
              } else {
                $editor.find(".step2 span.correct_answer").text($editor.find("input[name*=answer1]").val());
              }
            }
          }
          $editor.find(".step2 span.question").text($editor.find("textarea[name='task[question]']").val());
          $editor.find(".step1").hide();
          $editor.find(".step2").show();
        });
        
        $editor.find(".step2 a.back").click(function(){
          $editor.find(".step2").hide();
          $editor.find(".step1").show();
        });
        
        $editor.find(".step3 a.restart").click(function(){
          $editor.find(".step3").hide();
          $editor.find(".step1").find("input[type!=hidden],textarea").val("");
          $editor.find(".step1").show();
        });
        
        $editor.find(".step3 a.finish").click(function(){
          $editor.find(".step3").hide();
          $editor.find(".step1").find("input[type!=hidden],textarea").val("");
          $editor.find(".step1").show();
          $editor.hide();
          $editor.siblings(".task_view").show();
        });
        
        $editor.find("form").on("ajax:success", function(event, data){
          $editor.find(".step2").hide();
          $editor.find(".step3").find("a.take").attr("href", data.question_link);
          $editor.find(".step3").show();
        });
      });
    });
    
    $('#points-tt1').tooltip({trigger: 'click', title:'Questions and Tasks can be reported for spam, misplacement, and egregiously poor quality.'})
    $('#points-tt2').tooltip({trigger: 'click', title:'Questions and Tasks can be reported for spam, misplacement, and egregiously poor quality.'})
    $('#points-tt3').tooltip({trigger: 'click', title:'Questions and Tasks can be reported for spam, misplacement, and egregiously poor quality.'})
