%div.sectioninfocontainer
  %div.launchpadCRcolumn
    %div.launchpadcolumnheader
      %button#editor_link.button.button-small.button-info{ style: "margin-top: -5px; text-shadow:none;" } Create a Question
      %ul.nav.nav-tabs
        %li.active
          %a#arena_tab_link{ href: "#arena_tab", title: "Arena"} Arena
        %li
          %a#questions_tab_link{ href: "#questions_tab", title: "Creative Responses"}  Creative Response
        %li
          %a#achievement_tab_link{ href: "#achievements_tab", title: "Tasks"} Tasks      
      %div#arena_tab.tab_content{style:"margin-left:12px;"}
        %div.editor_view{ style: "display: none; height:100%;" }
          = form_for(@current_section.tasks.new, remote: true, html: { style: "width:600px; padding:0 0 0 10px; height:90%; margin-top:-10px;" }) do |f|
            %div.step1
              = f.hidden_field(:answer_type, value: Task::CREATIVE)
              = f.hidden_field(:section_id, value: @current_section.id)
              = f.hidden_field(:source, value: "launchpad")
              %fieldset{style: "display: inline-block; margin-right:28px; width:56%;"}
                %legend Create an Arena question
                %label What's your question?
                = f.text_area(:question, rows: 2, class: "rows2", placeholder:"Question...", style:"width:100%;")
                %span.help-block What are the possible answers to this question?
                %label Correct answer
                %input{type:"text", placeholder:"Required"}
                %label Wrong answer
                %input{type:"text", placeholder:"Required"}
                %label Wrong answer
                %input{type:"text", placeholder:""}
                %label Wrong answer
                %input{type:"text", placeholder:""}
                %a.next.button.button-actionable{ href: "#", style:"float:right;"} Next
              %div{style: "display:inline-block; margin-left:20px; vertical-align:top; width:200px; border-left: 1px solid #E7E7E7; position:relative; top:48px; padding-left:10px"}
                %h4 
                  %img{src:"https://s3.amazonaws.com/moonlite-nsdub/static/Lightbulb+icon", style:"height:25px; width:25px;"}
                  Tips:
                %ul{style:"font-size:13px;"}
                  %li Questions should cover the core knowledge area of the section they're placed.
                  %li Keep the tone informal but direct.
                  %li Make sure you check for spelling and grammar.
            %div.step2{ style: "display: none;" }
              %fieldset{style: "display: inline-block; margin-right:28px; width:99%;"}
                %legend{style:"margin-bottom:5px; "} Create an Arena question
                %h4{style:"margin-top:12px; font-size:14px;"} Your question:
                %div{style:"margin-left:12px;"}
                  %span.question{style:"font-weight:bold;font-size:14px;"}
                %h4{style:"margin-top:12px; font-size:14px; "} Here's where this Arena question will appear:
                %div{style:"margin-left:12px;"}
                  %span{style:" font-size:14px;"} Challenge:
                  %span{style:"font-weight:bold;font-size:14px;"} #{@current_section.path.name}
                  %br/
                  %span{style:" font-size:14px;"} Section: 
                  %span{style:"font-weight:bold;font-size:14px;"} #{@current_section.name}
                %h4{style:"margin-top:12px; font-size:14px; margin-bottom:5px;"} Ready to post?
                %a.back.button.button-standard{ href: "#", style:"float:left; margin-bottom:10px; text-shadow:none; color:#333;"} Back
                = f.submit("Yes!", class: "button button-actionable", style: "float:right;")
            %div.step3{ style: "display: none;" }
              %p This is done!
              %a.restart.button.button-actionable{ href: "#", style:"float:left; margin-bottom:10px; text-shadow:none; color:#333;"} Create another Arena question
              %a.finish.button.button-standard{ href: "#", style:"float:left; margin-bottom:10px; text-shadow:none; color:#333;"} Finish
        %div.task_view
          - if @core_tasks.empty?
            %p No core tasks available.
          - elsif @core_tasks.select{ |t| t.status_id.nil? }.size > 0
            %p{ style: "margin: 15px 0 15px 0;" } Enter the Arena to see where you stack up!
            %p= link_to "Start", continue_section_path(@current_section), class: "button button-actionable"  
          - else
            - correct_tasks = @core_tasks.select{ |t| t.status_id.to_i == Answer::CORRECT }.size
            - incorrect_tasks = @core_tasks.select{ |t| t.status_id.to_i == Answer::INCORRECT }.size
            %p You got <strong>#{correct_tasks} out of #{correct_tasks + incorrect_tasks}</strong> questions right, and scored <strong>#{@current_section.points_earned(current_user)} points</strong> in this section!
            - if @achievement_tasks.count == 0 and @challenge_tasks.count > 0
              %p Continue on to the <strong>Creative Reponse</strong> tab to earn additional points and level-up.
            - if @challenge_tasks.count == 0 and @achievement_tasks.count > 0
              %p Continue on to the <strong>Tasks</strong> tab to earn additional points and level-up.
            - if @challenge_tasks.count > 0 and @achievement_tasks.count > 0
              %p Continue on to the <strong>Creative Reponse</strong> and <strong>Tasks</strong> tabs to earn additional points and level-up.          
      %div#questions_tab.tab_content{ style: "" }
        %div.editor_view{ style: "display: none; height:100%;" }
          = form_for(@current_section.tasks.new, remote: true, html: { style: "width:600px; padding:0 0 0 10px; height:90%; margin-top:-10px;" }) do |f|
            %div.step1
              = f.hidden_field(:answer_type, value: Task::CREATIVE)
              = f.hidden_field(:section_id, value: @current_section.id)
              = f.hidden_field(:source, value: "launchpad")
              %fieldset{style: "display: inline-block; margin-right:28px; width:56%;"}
                %legend Create your own question
                %label What's your question?
                = f.text_area(:question, rows: 2, class: "rows2", placeholder:"Question...", style:"width:100%;")
                %div.control-group{style:"width:350px;"}
                  %div.controls
                    = render "stored_resources/new_image"
                %label What type of response should people give?
                %label.radio
                  = f.radio_button(:answer_sub_type, Task::TEXT)
                  Text response
                %label.radio
                  = f.radio_button(:answer_sub_type, Task::IMAGE)
                  Image upload
                %label.radio
                  = f.radio_button(:answer_sub_type, Task::YOUTUBE)
                  YouTube video
                %a.next.button.button-actionable{ href: "#", style:"float:right;"} Next
              %div{style: "display:inline-block; margin-left:20px; vertical-align:top; width:200px; border-left: 1px solid #E7E7E7; position:relative; top:48px; padding-left:10px"}
                %h4 
                  %img{src:"https://s3.amazonaws.com/moonlite-nsdub/static/Lightbulb+icon", style:"height:25px; width:25px;"}
                  Tips:
                %ul{style:"font-size:13px;"}
                  %li Questions should enable people to demonstrate their knowledge or passion for the Challenge.
                  %li Keep the tone informal but direct.
                  %li Make sure you check for spelling and grammar.
            %div.step2{ style: "display: none;" }
              %fieldset{style: "display: inline-block; margin-right:28px; width:99%;"}
                %legend{style:"margin-bottom:5px; "} Create a CR
                %h4{style:"margin-top:12px; font-size:14px;"} Your question:
                %div{style:"margin-left:12px;"}
                  %span.question{style:"font-weight:bold;font-size:14px;"}
                %h4{style:"margin-top:12px; font-size:14px; "} Here's where this question will appear:
                %div{style:"margin-left:12px;"}
                  %span{style:" font-size:14px;"} Challenge:
                  %span{style:"font-weight:bold;font-size:14px;"} #{@current_section.path.name}
                  %br/
                  %span{style:" font-size:14px;"} Section: 
                  %span{style:"font-weight:bold;font-size:14px;"} #{@current_section.name}
                %h4{style:"margin-top:12px; font-size:14px; margin-bottom:5px;"} Ready to post?
                %a.back.button.button-standard{ href: "#", style:"float:left; margin-bottom:10px; text-shadow:none; color:#333;"} Back
                = f.submit("Yes!", class: "button button-actionable", style: "float:right;")
            %div.step3{ style: "display: none;" }
              %p This is done!
              %a.restart.button.button-actionable{ href: "#", style:"float:left; margin-bottom:10px; text-shadow:none; color:#333;"} Create another question
              %a.finish.button.button-standard{ href: "#", style:"float:left; margin-bottom:10px; text-shadow:none; color:#333;"} Finish
              %a.take.button.button-info{ href: "#", style:"float:right; margin-bottom:10px; text-shadow:none; color:#333;"} Answer your question
        %div.task_view
          - if @challenge_tasks.empty?
            %p No Challenge tasks available.
          - else
            %table
              - @challenge_tasks.each do |t|
                %tr
                  %td
                    - if t.status_id
                      %div= link_to t.question, user_path(current_user, task: t.id)
                    - else
                      %div= link_to t.question, take_section_path(@current_section, task_id: t.id)
                  %td.question_status
                    - if t.status_id
                      = link_to "Completed", user_path(current_user, task: t.id), class: "label label-success", target: "_blank"
                      %div.launchpadpoints= t.points_awarded.to_i.to_s + " points"
                    - else
                      = link_to "Incomplete", take_section_path(@current_section, task_id: t.id), class: "label label-important"
      %div#achievements_tab.tab_content{ style: "display: none;" }
        %div.editor_view{ style: "display: none; height:100%;" }
          = form_for(@current_section.tasks.new, remote: true, html: { style: "width:600px; padding:0 0 0 10px; height:90%; margin-top:-10px;" }) do |f|
            %div.step1
              = f.hidden_field(:answer_type, value: Task::CREATIVE)
              = f.hidden_field(:section_id, value: @current_section.id)
              = f.hidden_field(:source, value: "launchpad")
              %fieldset{style: "display: inline-block; margin-right:28px; width:56%;"}
                %legend Create a Task
                %label What's the Task?
                = f.text_area(:question, rows: 2, class: "rows2", placeholder:"Question...", style:"width:100%;")                
                %a.next.button.button-actionable{ href: "#", style:"float:right;"} Next
              %div{style: "display:inline-block; margin-left:20px; vertical-align:top; width:200px; border-left: 1px solid #E7E7E7; position:relative; top:48px; padding-left:10px"}
                %h4 
                  %img{src:"https://s3.amazonaws.com/moonlite-nsdub/static/Lightbulb+icon", style:"height:25px; width:25px;"}
                  Tips:
                %ul{style:"font-size:13px;"}
                  %li Tasks should serve as a guide to improving at the section.
                  %li Keep the tone informal but direct.
                  %li Make sure you check for spelling and grammar.
            %div.step2{ style: "display: none;" }
              %fieldset{style: "display: inline-block; margin-right:28px; width:99%;"}
                %legend{style:"margin-bottom:5px; "} Create a Task
                %h4{style:"margin-top:12px; font-size:14px;"} Your new Task:
                %div{style:"margin-left:12px;"}
                  %span.question{style:"font-weight:bold;font-size:14px;"}
                %h4{style:"margin-top:12px; font-size:14px; "} Here's where this Task will appear:
                %div{style:"margin-left:12px;"}
                  %span{style:" font-size:14px;"} Challenge:
                  %span{style:"font-weight:bold;font-size:14px;"} #{@current_section.path.name}
                  %br/
                  %span{style:" font-size:14px;"} Section: 
                  %span{style:"font-weight:bold;font-size:14px;"} #{@current_section.name}
                %h4{style:"margin-top:12px; font-size:14px; margin-bottom:5px;"} Ready to post?
                %a.back.button.button-standard{ href: "#", style:"float:left; margin-bottom:10px; text-shadow:none; color:#333;"} Back
                = f.submit("Yes!", class: "button button-actionable", style: "float:right;")
            %div.step3{ style: "display: none;" }
              %p This is done!
              %a.restart.button.button-actionable{ href: "#", style:"float:left; margin-bottom:10px; text-shadow:none; color:#333;"} Create another Task
              %a.finish.button.button-standard{ href: "#", style:"float:left; margin-bottom:10px; text-shadow:none; color:#333;"} Finish
        %div.task_view
          - if @achievement_tasks.empty?
            %p No tasks available.
          - else
            %table
              - @achievement_tasks.each do |t|
                %tr
                  %td
                    - if t.status_id
                      %div= link_to t.question, user_path(current_user, task: t.id)
                    - else
                      %div= link_to t.question, take_section_path(@current_section, task_id: t.id)
                  %td.question_status
                    - if t.status_id
                      = link_to "Completed", user_path(current_user, task: t.id), class: "label label-success", target: "_blank"
                      %br
                      %span.launchpadpoints= t.points_awarded.to_i.to_s + " points"
                    - else
                      = link_to "Incomplete", take_section_path(@current_section, task_id: t.id), class: "label label-important"
  :javascript
    var display_type = #{@display_type || 0};
    var open_tab;
    $(function(){
      if(display_type == 0){ open_tab = "#questions_tab_link"; } 
      if(display_type == 2){ open_tab = "#arena_tab_link"; } 
      if(display_type == 3){ open_tab = "#achievement_tab_link"; }
      
      $(".tab_content").hide();
      $("ul.nav-tabs li.active").removeClass("active");
      $(open_tab).parent().addClass("active");
      $($(open_tab).attr("href")).show();
    
      $(".nav-tabs li a").click(function(){
        $(".tab_content").hide();
        $("ul.nav-tabs li.active").removeClass("active");
        $(this).parent().addClass("active");
        $(".active_tab").removeClass("active_tab");
        var $open_tab = $($(this).attr("href"));
        $open_tab.addClass("active_tab");
        $open_tab.find(".task_view").show();
        $open_tab.find(".editor_view").hide();
        $open_tab.show();
      });
      
      $("#editor_link").click(function(){
        $(".active_tab").find(".task_view").hide();
        $(".active_tab").find(".editor_view").show();
      });
      
      $(".editor_view").each(function(){
        var $editor = $(this);
        $editor.find(".step1 a.next").click(function(){
          console.log($editor.find("textarea[name='task[question]']").val());
          $editor.find(".step2 span.question").text($editor.find("textarea[name='task[question]']").val());
          $editor.find(".step1").hide();
          $editor.find(".step2").show();
        });
        
        $editor.find(".step2 a.back").click(function(){
          $editor.find(".step2").hide();
          $editor.find(".step1").show();
        });
        
        $editor.find(".step3 a.restart").click(function(){
          $editor.find(".step3").hide();
          $editor.find(".step1").find("input[type!=hidden],textarea").val("");
          $editor.find(".step1").show();
        });
        
        $editor.find(".step3 a.finish").click(function(){
          $editor.find(".step3").hide();
          $editor.find(".step1").find("input[type!=hidden],textarea").val("");
          $editor.find(".step1").show();
          $editor.hide();
          $editor.siblings(".task_view").show();
        });
        
        $editor.find("form").on("ajax:success", function(event, data){
          $editor.find(".step2").hide();
          $editor.find(".step3").find("a.take").attr("href", data.question_link);
          $editor.find(".step3").show();
          console.log(data);
        });
      });
    });