%div.sectioninfocontainer
  %div#sectionpointchart
  %div.launchpadCRcolumn
    %div.launchpadcolumnheader
      Challenge Questions
    - if @unlocked
      - if @current_section.quiz_complete?(current_user)
        %table
          - @current_section.creative_tasks.each do |t|
            - completed_task = t.completed_tasks.find_by_user_id(current_user.id)
            %tr
              %td
                %div= link_to t.question, take_section_path(@current_section, task_id: t.id)
              %td.question_status
                - if completed_task
                  = link_to "Completed", user_path(current_user, task: t.id), class: "label success", target: "_blank"
                  %br
                  %span.launchpadpoints= completed_task.points_awarded.to_i.to_s + " points"
                - else
                  = link_to "Incomplete", take_section_path(@current_section, task_id: t.id), class: "label important"
      - else
        %p Complete the knowledge test to unlock the rest of this section.
        %p= link_to "Continue", continue_section_path(@current_section), class: "btn primary large"
    - else
      %p You must earn more points to unlock this section.

:javascript
  $(function(){
    var chart;
    chart = new Highcharts.Chart({
      chart: { renderTo: 'sectionpointchart', type: 'bar' },
      credits: { enabled: false },
      title: { text: null },
      xAxis: { min:0, categories: [''] },
      yAxis: { min: 0, max: 100, title: { text: 'Percent Complete' } },
      legend: {
          backgroundColor: '#FFFFFF',
          reversed: true,
          align:'right',
          layout:'vertical',
          verticalAlign: 'top',
      },
      tooltip: { formatter: function() { return '' + this.series.name + ': ' + this.y + ''; } },
      plotOptions: { series: { stacking: 'normal' } },
      navigation: { buttonOptions: { enabled: false } },
      series: [ { name: '#{@current_section.name}', data: [#{@current_section.percentage_complete(current_user)}] } ]
    });
    apply_hightcharts_theme();
  });