%div.sectioninfocontainer
  %div#sectionpointchart
  %div.launchpadCRcolumn
    %div.launchpadcolumnheader
      %ul.nav.nav-tabs
        - unless @current_section.core_tasks.empty?
          %li.active
            %a{ href: "#arena_tab", title: "Arena"} Arena
        - unless @current_section.challenge_tasks.empty?
          %li
            %a{ href: "#questions_tab", title: "Creative Responses"}  Creative Response
        - unless @current_section.achievement_tasks.empty?
          %li
            %a{ href: "#achievements_tab", title: "Tasks"} Tasks
    - unless @current_section.core_tasks.empty?
      %div#arena_tab.tab_content
        - if @current_section.quiz_complete?(current_user)
          %table.table
            - @current_section.core_tasks.each do |t|
              - completed_task = t.completed_tasks.find_by_user_id(current_user.id)
              %tr
                %td
                  %p= t.question
                %td.question_status
                  - if completed_task.correct?
                    %span.label.label-success Correct
                  - else
                    %span.label.label-important Incorrect
        - else
          %p{ style: "margin: 15px 0 15px 0;" } Enter the Arena to see where you stack up!
          %p= link_to "Start", continue_section_path(@current_section), class: "button button-info"  
    - unless @current_section.challenge_tasks.empty?
      %div#questions_tab.tab_content{ style: "display: none;" }
        %table
          - @current_section.challenge_tasks.each do |t|
            - completed_task = t.completed_tasks.find_by_user_id(current_user.id)
            %tr
              %td
                - if completed_task
                  %div= link_to t.question, user_path(current_user, task: t.id)
                - else
                  %div= link_to t.question, take_section_path(@current_section, task_id: t.id)
              %td.question_status
                - if completed_task
                  = link_to "Completed", user_path(current_user, task: t.id), class: "label label-success", target: "_blank"
                  %br
                  %span.launchpadpoints= completed_task.points_awarded.to_i.to_s + " points"
                - else
                  = link_to "Incomplete", take_section_path(@current_section, task_id: t.id), class: "label label-important"
    - unless @current_section.achievement_tasks.empty?
      %div#achievements_tab.tab_content{ style: "display: none;" }
        %table
          - @current_section.achievement_tasks.each do |t|
            - completed_task = t.completed_tasks.find_by_user_id(current_user.id)
            %tr
              %td
                - if completed_task
                  %div= link_to t.question, user_path(current_user, task: t.id)
                - else
                  %div= link_to t.question, take_section_path(@current_section, task_id: t.id)
              %td.question_status
                - if completed_task
                  = link_to "Completed", user_path(current_user, task: t.id), class: "label label-success", target: "_blank"
                  %br
                  %span.launchpadpoints= completed_task.points_awarded.to_i.to_s + " points"
                - else
                  = link_to "Incomplete", take_section_path(@current_section, task_id: t.id), class: "label label-important"

  :javascript
    var name = "#{@current_section.name}";
    var trunc_name = truncate(name, 15);
    var chart;
    $(function(){
      $(".nav-tabs li a").click(function(){
        $(".tab_content").hide();
        $("ul.nav-tabs li.active").removeClass("active");
        $(this).parent().addClass("active");
        $($(this).attr("href")).show();
      });
      
      chart = new Highcharts.Chart({
        chart: { renderTo: 'sectionpointchart', type: 'bar' },
        credits: { enabled: false },
        title: { text: null },
        xAxis: { min:0, categories: [''] },
        yAxis: { min: 0, max: 100, width: 450, title: { text: 'Percent Complete' } },
        legend: {
            backgroundColor: '#FFFFFF',
            reversed: true,
            align:'right',
            layout:'vertical',
            verticalAlign: 'top',
        },
        tooltip: { formatter: function() { return '' + this.series.name + ': ' + this.y + ''; } },
        plotOptions: { series: { stacking: 'normal' } },
        navigation: { buttonOptions: { enabled: false } },
        series: [ { name: trunc_name, data: [#{@current_section.percentage_complete(current_user)}] } ]
      });
      apply_hightcharts_theme();
    });