<style>
label.possible_answer { padding: 5px 5px 5px 30px; width: 275px; }
label.incorrect_answer { padding: 5px 5px 5px 30px; width: 275px; }

label.possible_answer:hover { background: whitesmoke; border: 2px solid gray; border-radius: 2px; }
label.possible_answer:active { padding: 5px 5px 5px 30px; width: 275px; border: 2px solid black;}
label.unselected_answer { border: 2px solid white; background: white;}
.selected_answer { background: whitesmoke; border: 2px solid gray; border-radius: 2px; }
.already_guessed { color:red; opacity: .25; }
#correct_modal { width: 350px; }
</style>

<% selection_script = "$('.selected_answer').removeClass('selected_answer').addClass('unselected_answer');$(this).removeClass('unselected_answer').addClass('selected_answer');" %>

<script>
$('#challenge_form').submit(function(){
  $(".loading_image").show();
  $("#submit_button").attr("disabled","disabled");
});
</script>

<div class="field clearfix">
  <div class="input">
    <ul class="inputs-list">  
    <% @answers.each do |a| %>
      <li>
      <label class="<%= (@hints && @hints.include?(a.id)) ? "incorrect_answer" : "possible_answer" %> unselected_answer" onclick="<%= selection_script unless (@hints && @hints.include?(a.id)) %>">
        <input <%= (@hints && @hints.include?(a.id)) ? "disabled='disabled'" : "" %> name="answer" type="radio" value="<%= a.id %>">
        <span class="<%= (@hints && @hints.include?(a.id)) ? "already_guessed" : "" %>"><%= a.content %></span>
      </label>
      </li>
    <% end %>
  </ul>
  </div>
</div>