<div style="padding:25px 0 0 0px;" class="section_overview">
  <table style="margin: 2px 0 15px 0px; border: 3px solid #DDD;">
    <tr>
      <td style="padding: 0px 10px 10px 15px; border-top:none; min-width: 278px;">
        <h5>ACTIVITY</h5>
        <% if !s.is_published %>
          <p>You have not published this section yet.</p>
          <p><strong>NOTE:</strong> Publishing a section will not make the entire <%= name_for_paths.downcase %> visible.</p>
          <p><%= link_to "Publish", publish_section_path(s), :confirm => "Are you sure you want to publish this section?" %></p>
        <% elsif s.path.enrolled_users.empty? %>
          <p>You do not have any users yet.</p>
        <% else %>
          <p>Answered Questions: <%= s.completed_tasks.size %></p>
          <p>Last Activity: <%= s.completed_tasks.empty? ? "N/A" : time_ago_in_words(s.completed_tasks.last.created_at)+" ago" %></p>
        <% end %>
      </td>
      <td style="padding: 0px 10px 10px 15px; border-right: 3px solid #DDD; border-left: 3px solid #DDD; border-top:none; min-width: 278px;">
        <h5>QUESTIONS</h5>
        <% if s.tasks.empty? %>
          <p>You don't have any questions created yet.</p>
          <p><a class ="edit_section_questions_pill" onclick="display_section_questions($(this).parents('td.section'));" style="cursor: pointer;">Get Started</a></p>
        <% else %>
          <ol style="margin: 0 0 5px 20px;">
          <% s.tasks.first(3).each do |t| %>
            <li style="padding:5px;"><%= truncate(t.question, :length => 70) %></li>
          <% end %>
          </ol>
          <p><a class ="edit_section_questions_pill" onclick="display_section_questions($(this).parents('td.section'));" style="cursor: pointer;">View all</a></p>
        <% end %>
      </td>
      <td style="padding: 0px 10px 10px 15px; border-top:none; min-width: 278px;">
        <h5>CONTENT</h5>
        <% if s.stored_resources.empty? && s.instructions.blank? %>
        <p>You do not have any attached content for this section.</p>
        <p><a class ="edit_section_content_pill" onclick="display_section_content($(this).parents('td.section'));" style="cursor: pointer;">Add Content</a></p>
        <% else %>
          <% unless s.instructions.blank? %>
            <%= truncate(s.instructions, :length => 140) %>
          <% else %>
            <% s.stored_resources.first(2).each do |t| %>
            <p><%= t.obj_file_name %>, <%= t.obj_content_type %></p>
            <% end %>
          <% end %>
        <p><a class ="edit_section_content_pill" onclick="display_section_content($(this).parents('td.section'));" style="cursor: pointer;">View all</a></p>
        <% end %>
      </td>
    </tr>
  </table>
</div>