<div style="padding:25px 0 0 0px;" class="section_overview">
  <table style="margin: 2px 0 15px 0px; border: 3px solid #DDD;">
    <tr>
      <td style="padding: 0px 10px 10px 15px; border-top:none; min-width: 278px;">
        <h5>ACTIVITY</h5>
        <% if !s.is_published %>
          <p>You have not published this section yet.</p>
          <p><strong>NOTE:</strong> Publishing a section will not make the entire <%= name_for_paths.downcase %> visible.</p>
          <p><%= link_to "Publish", publish_section_path(s) %></p>
        <% elsif s.path.enrolled_users.empty? %>
          <p>You do not have any users yet.</p>
          <p><a href="#">Tips gettings users</a></p>
        <% else %>
          <p>Answered Questions: <%= s.completed_tasks.size %></p>
          <p>Average Score: <%= s.percentage_correct %>%</p>
          <p>Last Activity: <%= s.completed_tasks.empty? ? "N/A" : time_ago_in_words(s.completed_tasks.last.created_at)+" ago" %></p>
        <% end %>
      </td>
      <td style="padding: 0px 10px 10px 15px; border-right: 3px solid #DDD; border-left: 3px solid #DDD; border-top:none; min-width: 278px;">
        <h5>QUESTIONS</h5>
        <% if s.tasks.empty? %>
          <p>You don't have any questions created yet.</p>
          <p><%= link_to "Create Questions", edit_section_path(s, :m => "tasks"), :remote => true, "data-type" => "html", :class => "edit_section_questions_pill" %></p>
        <% else %>
          <ol style="margin: 0 0 5px 20px;">
          <% s.tasks.first(3).each do |t| %>
            <li style="padding:5px;"><%= truncate(t.question, :length => 70) %></li>
          <% end %>
          </ol>
          <p><%= link_to "View all", edit_section_path(s, :m => "tasks"), :remote => true, "data-type" => "html", :class => "edit_section_questions_pill" %></p>
        <% end %>
      </td>
      <td style="padding: 0px 10px 10px 15px; border-top:none; min-width: 278px;">
        <h5>CONTENT</h5>
        <% if s.info_resources.empty? && s.instructions.blank? %>
        <p>You do not have any attached content for this section.</p>
        <p><%= link_to "Add content", edit_section_path(s, :m => "content"), :remote => true, "data-type" => "html", :class => "edit_section_content_pill" %></p>
        <% else %>
          <% unless s.instructions.blank? %>
            <%= truncate(s.instructions, :length => 140) %>
          <% else %>
            <% s.info_resources.first(2).each do |t| %>
            <p><%= t.obj_file_name %>, <%= t.obj_content_type %></p>
            <% end %>
          <% end %>
        <p><%= link_to "View all", edit_section_path(s, :m => "content"), :remote => true, "data-type" => "html", :class => "edit_section_content_pill" %></p>
        <% end %>
      </td>
    </tr>
  </table>
</div>