<section class="task">
	<style>
		.task blockquote {
			margin: 30px 15px 30px 15px;
		}		
		.task blockquote p{
			font-size: 19px;
		}
		.task .answer label {
			font-size: 17px;
			margin-top: 10px;
		}
	</style>
	<section class="question">
		<h2><%= @task.section.name %></h2>
		<blockquote>
			<p>
				<%= @task.question %>
			</p>
		</blockquote>
	</section>
	<section class="answer">
	<%= form_for current_user.completed_tasks.build(:task_id => @task.id) do |f| %>
		<%= f.hidden_field :task_id %>
		<%= f.hidden_field :quiz_session, :value => @quiz_session %>
		<div class="field clearfix">
			<label>Answer:</label>
			<div class="input">
				<ul class="inputs-list">
					<li>
						<% if !@task.answer1.blank? %>
						<label>
							<input id="completed_task_answer1" name="completed_task[answer]" type="radio" value="1">
							<span><%= @task.answer1 %></span>
						</label>
						<% end %>
						<% if !@task.answer2.blank? %>
						<label>
							<input id="completed_task_answer2" name="completed_task[answer]" type="radio" value="2">
							<span><%= @task.answer2 %></span>
						</label>
						<% end %>
						<% if !@task.answer3.blank? %>
						<label>
							<input id="completed_task_answer3" name="completed_task[answer]" type="radio" value="3">
							<span><%= @task.answer3 %></span>
						</label>
						<% end %>
						<% if !@task.answer4.blank? %>
						<label>
							<input id="completed_task_answer4" name="completed_task[answer]" type="radio" value="4">
							<span><%= @task.answer4 %></span>
						</label>
						<% end %>
					</li>
				</ul>
			</div>
		</div>
		<div class="actions">
			<%= f.submit "Next", :class => "btn primary" %>
		</div>
	<% end %>
	</section>
</section>
<span style="float:right;"><%= link_to "Continue quiz later", @task.section.path %></span>