<% if @jumpstart %>
	<%= render "jumpstart", { :path => @path, :leaderboards => @leaderboards } %>
<% end %>

<script src="/javascripts/challenge.js"></script>
<script>
$(function(){
	<% unless @correct.nil? %> set_answer_status(<%= @correct %>); <% end %>
	<% unless @jumpstart %> start_question_timer(); <% end %>
	$("#progressbar").progressbar({ value: <%= @progress %> });
});
</script>
<%= render "progress_box", { :earned_points => @earned_points, :possible_points => @possible_points, :streak_points => @streak_points } %>
<%= form_tag({ :controller => :completed_tasks }, :method => :post) %>
<div class="task row">
  <div class="<%= @comments_on ? "span10" : "span16" %>">
    
		<div class="question">
      <h2>Section <%= @section.position.to_s %>. <%= @section.name %></h2>
      <blockquote>
        <p>
          <%= @task.question %>
        </p>
				<% if @hint %><p style="font-style:italic; font-size: 14px;"><%= @hint %></p><% end %>
      </blockquote>
			<%= render "info_resource", { :info_resource => @info_resource } %>
    </div>
		
    <div class="answer">
      <input type="hidden" name="completed_task[task_id]" value="<%= @task.id %>">
      <input type="hidden" name="completed_task[quiz_session]" value="<%= @quiz_session %>">
			<% if @question_type == "text" %>
				<%= render "single_answer", { :task => @task } %>
			<% else %>
				<%= render "multiple_choice_answer", { :task => @task } %>
			<% end %>
    </div>
  
	</div>
  <% if @enable_feedback && @comments_on %>
		<%= render "feedback", { :comments => @comments, :task => @task } %>
  <% end %>
</div>
<div class="row">
  <div class="actions" style="margin-top:50px">
    <input type="hidden" id="listless" name="listless" value="true">
    <%= submit_tag "Submit", :class => "btn primary", :style=>"margin-top: 10px;" %>
    <% if @enable_feedback && @comments_on %>
    <%= link_to "Hide Discussion", continue_section_path(@task.section), :class => "btn secondary", :style => "float:right; margin-left: 10px;" %>
    <% elsif @enable_feedback %>
    <%= link_to "View Discussion", continue_section_path(@task.section, :comments_on => "1"), :class => "btn secondary", :style => "float:right; margin-left: 10px;" %>
    <% end %>
    <%= link_to "Continue Later", root_path, :class => "btn secondary", :style => "float:right;" %>
  </div>
</div>