<% if @correct %>
	<%= render "correct_modal" %>
<% end %>

<% if @jumpstart %>
	<%= render "jumpstart", { :path => @path, :leaderboards => @leaderboards } %>
<% elsif @earned_points == 0 && @correct.nil? %>
<div id="start_modal" class="modal hide fade">
	<div class="modal-header">
		<a href="#" class="close"></a>
		<h3>You're about to start...</h3>
	</div>
	<div class="modal-body">
		<p style="font-size: 16px; padding:0 7px 5px 10px;">Quick tips:</p>
		<ol style="font-size: 16px; padding:0 7px 5px 10px;">
			<li style="padding:5px;"><strong>Earn +10 points</strong> for each correct answer.</li>
			<li style="padding:5px;">Earn a <strong>streak bonus</strong> by correctly answering multiple questions in a row.</li>
			<li style="padding:5px;">You only have <strong>30 seconds</strong> to answer each question before your streak bonus expires.</li>
		</ol>
		<p style="font-size: 16px; padding:0 7px 5px 10px; font-weight: bold;">Good luck!</p>
		<p style="font-size: 22px; padding:5px 7px 5px 30px;" id="starting_timer"><strong>00:15</strong></p>
	</div>
</div>

<script>
$(function(){
	$('#start_modal').modal({
		keyboard: true,
		backdrop: 'static',
		show: true
	});
	var count = 15;
	countdown = setInterval(function(){
		if(count > 10){
			$("#starting_timer").html("<strong>00:"+count+"</strong>");
		} else {
			$("#starting_timer").html("<strong>00:0"+count+"</strong>");
		}
		if(count==0){
			$('#start_modal').modal('hide');
			start_question_timer();
			return;
		}count --;
	}, 1000);
});
</script>
<% end %>

<script src="/javascripts/challenge.js"></script>

<%= form_tag({ :controller => :completed_tasks }, :method => :post, :id => "challenge_form") %>
<div class="task row">
  <div class="span9">
    
		<div class="question">
      <h2>Section <%= @section.position.to_s %>. <%= @section.name %></h2>
      <blockquote>
        <p>
          <%= @task.question %>
        </p>
				<% if @hint %><p style="font-style:italic; font-size: 14px;"><%= @hint %></p><% end %>
      </blockquote>
			<%= render "info_resource", { :info_resource => @info_resource } %>
    </div>
		
    <div class="answer">
      <input type="hidden" name="completed_task[task_id]" value="<%= @task.id %>">
      <input type="hidden" name="completed_task[quiz_session]" value="<%= @quiz_session %>">
			<% if @question_type == "text" && @path.game_type == "character guess" %>
				<%= render "character_guess", { :answer => @task.answer1 } %>
			<% elsif @question_type == "text" %>
				<%= render "single_answer", { :task => @task } %>
			<% else %>
				<%= render "multiple_choice_answer", { :task => @task } %>
			<% end %>
    </div>
  
	</div>
	<div class="span7">
  <% if @path.game_type == "picture" %>
		<%= render "picture_game", { :picture => "", :progress => @progress } %>
	<% elsif @path.game_type == "raw numbers" %>
		<%= render "raw_numbers" %>
	<% elsif @path.game_type == "raw streak" %>
		<%= render "raw_streak" %>
	<% else %>
		<%= render "progress_box", { :earned_points => @earned_points, :possible_points => @possible_points, :streak_points => @streak_points } %>
	<% end %>
	</div>
</div>
<div class="row">
  <div class="actions" style="margin-top:50px">
    <input type="hidden" id="listless" name="listless" value="true">
    <%= submit_tag "Submit", :class => "btn primary", :id => "submit_button" %>
    <div class="btn secondary" id="help_button" style="margin-left: 15px;">Help</div>
    <%= link_to "Continue Later", root_path, :class => "btn secondary", :style => "float:right;" %>
  </div>
</div>