<%= render "tab_navigation" %>
<section class="tab_content">
  <% if @section.instructions.blank? & @info_resources.empty? %>
  <div style="padding: 20px;">
    <p>You have not added any content for this section yet. Start by doing one of the following:</p>
    <ul>
      <li style="padding:5px">Find relevent <%= link_to "Wikipedia articles or Youtube videos", research_section_path(@section, :m => "topics") %>.</li>
      <li style="padding:5px">Import a <%= link_to "PDF, Microsoft Word document, or Powerpoint", import_content_section_path(@section) %>.</li>
      <li style="padding:5px">Start with a <%= link_to "blank HTML editor", html_editor_section_path(@section) %>.</li>
    </ul>
  </div>
	<% else %>
		<% if !@section.instructions.blank? %>
		<div style="float:right; margin-bottom: 20px;">
			<%= link_to "Edit", research_section_path(@section, :m => "edit"), :class => "btn primary" %>
      <%= link_to "Advanced Edit", html_editor_section_path(@section, :source => "html"), :class => "btn primary" %>
		</div>
		<div style="padding: 30px;">
      <%= @section.instructions.html_safe %>
		</div>
    <% else %>
			<% @info_resources.each do |r| %>
			<div style="margin-top:20px;">
				<div style="float:right; margin-bottom: 20px;">
					<%= link_to "Delete", r, :method => :delete, :confirm => "Are you sure you want to delete this document?", :class => "btn secondary" %>
				</div>
				<div>
					<p>If you have trouble seeing this document, you can <%= link_to "download it here", r.obj.url %>.</p>
					<iframe src="http://docs.google.com/viewer?url=<%=u r.obj.url %>&embedded=true" width="800" height="650" style="border: none;"></iframe>
				</div>
			</div>
			<% end %>
    <% end %>
		<%= link_to "Add Document", import_content_section_path(@section), :class => "btn primary", :style => "margin-top: 20px;" %>
	<% end %>
</section>