<%= render "tab_navigation" %>
<section>
<%= form_for(@section) do |f| %>
	<%= render "shared/error_messages", :object => f.object %>
  <div class="field clearfix">
		<%= f.label :name %>
		<div class="input">
			<%= f.text_field :name, :class => "xlarge" %>
		</div>
	</div>
  <div class="field clearfix">
		<%= f.label "Section Picture URL" %>
		<div class="input">
			<%= f.text_field :image_url, :class=>"xxlarge" %>
		</div>
	</div>
	<div class="field clearfix">
		<div class="input">
			<%= image_tag(@section.pic, :width => "210", :style=>"margin:20px 0px 20px 10px") %>
		</div>
	</div>
  <div class="field clearfix">
		<label>Settings</label>
		<div class="input">
			<ul class="inputs-list">
				<li>
					<label>
						<%= f.check_box :is_published, :confirm => "This will publish the path so all users in your account can access it. Are you sure you want to publish this now?" %>
						<span>Publish this section to your Path so it is visible to everyone</span>
					</label>
				</li>
			</ul>
		</div>
	</div>
	<div class="actions">
		<%= f.submit "Save", :class => "btn primary" %>
		<%= link_to "Back to Path", edit_path_path(@section.path, :m => "sections"), :class => "btn secondary" %>
	</div>
<% end %>
</section>