<%= render "tab_navigation" %>
<section class="tab_content">
<% display = !@tasks.empty? %>
<%= render "tasks/new_task_form", { :task => @task, :display => display } %>
	<table id="task_list">
	<% @tasks.each do |t| %>
		<tr class="task">
			<td>	
				<blockquote>
					<p>
						<%= t.question %>
					</p>
				</blockquote>
				<% if t.info_resource %>
					<%= image_tag t.info_resource.obj.url, :style => "height: 200px; margin: 10px 0px 10px 20px;" %>
				<% end %>
				<ol>
					<% ca = t.correct_answer %>
					<% if !t.answer1.blank? %><li <% if ca == 1 %> class="correct" <% end %>><%= t.answer1 %></li><% end %>
					<% if !t.answer2.blank? %><li <% if ca == 2 %> class="correct" <% end %>><%= t.answer2 %></li><% end %>
					<% if !t.answer3.blank? %><li <% if ca == 3 %> class="correct" <% end %>><%= t.answer3 %></li><% end %>
					<% if !t.answer4.blank? %><li <% if ca == 4 %> class="correct" <% end %>><%= t.answer4 %></li><% end %>
				</ol>
				<div style="float:right;display:inline;">
					<%= link_to "Delete", t, :method => :delete, :confirm => "You sure?", :title => "Delete task", :class => "btn secondary" %>
					<%= link_to "Edit", edit_task_path(t), :class => "btn secondary" %>
				</div>
			</td>
		</tr>
	<% end %>
	</table>
</section>
<div class="actions">
	<%= link_to "New Question", new_task_path(:section_id => @section.id), :class=>"btn primary" %>
</div>