:css
  .body.container { border: 0px; background-color: transparent; box-shadow: none; }
%div.quizcontainer
  %div.quizspace
    %div.quizheader
      = image_tag @section.path.path_pic, style: "height:50px; width:50px;", alt: "#{@section.path.name}"
      %div{ style: "display:inline-block;" }
        %span <strong>#{@section.path.name}:</strong> #{@section.name}</span>
        %div#idprogressbar
    %div.completionmessagespace
      %div.completionheader
        %span Nice work!
      %div.completionsubheader You've earned <strong>#{@section.points_earned(current_user)} points</strong> in this section!
      %div.completionstats
        %p Total Challenge points: <strong>#{@enrollment.total_points}</strong>
        %p Current level: <strong>#{@enrollment.level}</strong>     
    %div{ style: "display:inline-block; vertical-align:top;" }
      %div.completionnextsteps{ style: "height: 130px; "}
        %span{ style: "font-weight: bold; "} But wait, there's more...
        %ul{ style: "font-size: 15px; "}
          %li{ style: "margin-bottom: 4px; "}
            Additional Sections
          %li All new questions
        = link_to "Continue", challenge_path(@section.path.permalink, c: true, p: @section.points_earned(current_user)), class: "button button-actionable", style: "float: right;"
