:css
  .body.container { border: 0px; background-color: transparent; box-shadow: none; }
  .quizcontainer { width: 650px; margin-top: 50px;}
%div.quizcontainer
  %div.quizspace
    %div
      = image_tag GIANT_STONEY, style: "width:76px; height:94px; margin:0; display: inline-block; vertical-align: top;", alt: "Stoney"
      %div{ style: "display: inline-block; margin-left: 8px; font-size:65px; line-height:74px; margin-top:-6px;"}
        Nice work!
        %div{ style: "font-size: 24px; margin-left: 0; line-height: 21px; " }
          You just earned <strong>#{@section.points_earned(current_user)} points</strong> in this section!
      - if @require_signup 
        %hr
        .professional_mb
          .header
            %h2
              MetaBright is the game that can help land you your next job or internship.
          .body
            %h4
              How does it work?
            %ul
              %li Employers can view people's <strong>anonymized</strong> answers. 
              %li If an employer likes your responses, they can contact you through MetaBright with information about the position. (Your contact information is kept private.)
              %li You get to decide whether or not you want to talk to the employer. You're under no obligation whatsoever.
            %h4
              Will I get spammed?
            %p 
              Absolutely not. Your contact information is only released if you want to connect with the employer.
            %h4 
              Can I change my mind?
            %p
              Yes. It's as simple as changing a setting on your profile
          .signup{ style: ""}
            = link_to "#", style: "display: inline-block; margin-right: 40px; margin-bottom: 0;", class: "button button-info" do
              %span.landingbuttontext No thanks, I'll just play MetaBright as a game.

            = link_to "#", style: "display: inline-block; ", class: "button button-actionable" do
              %span.landingbuttontext{ style: "font-size: 18px; line-height: 33px; "} Sounds great!
      - else
        %div{ style: "margin: 20px 0 0 0;"}
          = link_to "Start next round", continue_path_path(@section.path.permalink), class: "button button-actionable", style: "float: right;"
          = link_to "Continue later", challenge_path(@section.path.permalink, c: true, p: @section.points_earned(current_user)), class: "button button-standard", style: "float: left;"
        