:css
  .body.container { border: 0px; background-color: transparent; box-shadow: none; }
%div.quizcontainer
  %div.quizspace
    %div.quizheader
      = image_tag @section.path.path_pic, style: "height:50px; width:50px;", alt: "#{@section.path.name}"
      %div{ style: "display:inline-block;" }
        %span <strong>#{@section.path.name}:</strong> #{@section.name}</span>
        %div#idprogressbar
    %div.completionmessagespace
      %div.completionheader
        %span Congratulations!
      %div.completionsubheader You just scored <strong>#{@section.points_earned(current_user)} points</strong> in this section!
      %div.completionstats
        %p Total Challenge points: <strong>#{@enrollment.total_points}</strong>
        %p Current level: <strong>#{@enrollment.level}</strong>
      %div{ style: "float: right; margin: 15px 10px 0 0;" }
        = render "shared/sharing", { custom_style: "", title: "Just finished a section of the #{@path.name} challenge on @MetaBright and scored #{@enrollment.total_points} points", url: challenge_path(@section.path.permalink) }
    %div{ style: "display:inline-block; vertical-align:top;" }
      %div.completionnextsteps
        %span Continue improving your score
        %ul
          %li
            Complete Creative Responses
            %p= link_to "#{@available_crs} available", challenge_path(@section.path.permalink, c: true, p: @section.points_earned(current_user))
          %li Take additional sections
          %p= link_to "#{@unlocked_sections} of #{@section.path.sections.size} sections unlocked", challenge_path(@section.path.permalink, c: true, p: @section.points_earned(current_user), type: 2) 
    = link_to "Continue", challenge_path(@section.path.permalink, c: true, p: @section.points_earned(current_user)), class: "button button-actionable", style: "float: right;"
