:css
  .body.container { border: 0px; background-color: transparent; box-shadow: none; }
  .quizcontainer { width: 650px; }
%div.quizcontainer
  %div.quizspace
    %div
      = image_tag GIANT_STONEY, style: "width:76px; height:94px; margin:0; display: inline-block; vertical-align: top;", alt: "Stoney"
      %div{ style: "display: inline-block; margin-left: 8px; font-size:65px; line-height:74px; margin-top:-6px;"}
        Nice work!
        %div{ style: "font-size: 24px; margin-left: 0; line-height: 21px; " }
          You just earned <strong>#{@section.points_earned(current_user)} points</strong> in this section!
      - if @require_signup 
        %h2{ style: "font-size: 18px; text-align: center; margin: 10px 0 10px 0;" }
          Save your score, reserve your username, and keep racking up points.       
        %div{ style: "margin: 10px 0px 30px 0; "}
          .signup
            = link_to "/auth/google_oauth2", style: "display: inline-block; margin-right: 40px; margin-bottom: 0;", class: "btn danger" do
              = image_tag ICON_LOGIN_GOOGLE, alt: "Google sign up"
              %span.landingbuttontext Sign in with Google »

            = link_to "/auth/facebook", style: "display: inline-block;", class: "btn danger" do
              = image_tag ICON_LOGIN_FACEBOOK, alt: "Facebook sign up"
              %span.landingbuttontext Sign in with Facebook »
        %div{ style: "margin-top:10px; font-size:14px;"}
          = link_to "Continue and register later", continue_path_path(@section.path.permalink), style: "float: right;"
          = link_to "Back to Challenge page", challenge_path(@section.path.permalink, c: true, p: @section.points_earned(current_user), s:false), style: "float: left;"
      - else
        %div{ style: "margin: 20px 0 0 0;"}
          = link_to "Start next round", continue_path_path(@section.path.permalink), class: "button button-actionable", style: "float: right;"
          = link_to "Continue later", challenge_path(@section.path.permalink, c: true, p: @section.points_earned(current_user)), class: "button button-standard", style: "float: left;"
        