:css
  .body.container { border: 0px; background-color: transparent; box-shadow: none; }
  .quizcontainer { width: 600px; margin-top: 50px;}
%div.quizcontainer
  %div.quizspace
    %div
      = image_tag GIANT_STONEY, style: "width:46px; height:55px; margin:0; display: inline-block; vertical-align: top;", alt: "Stoney"
      %div{ style: "display: inline-block; margin-left: 8px; font-size:35px; line-height:56px; "}
        We just need a few details...
      .professional_mb_form{ style: "margin-top:15px;"}
        .body
          = form_for current_user do |f|
            %h4 
              What opportunities might interest you?
            %label.checkbox
              Full time job
              = f.check_box :wants_full_time
            %label.checkbox
              Part time job or freelancing
              = f.check_box :wants_part_time
            %label.checkbox
              Internship
              = f.check_box :wants_internship
            %h4
              What's your location?
            %div{ style: "display: block; "}
              %label Country
              = f.country_select :country, priority: %w(US GB CA IN DE KE NL FR), prompt: 'Please select a country'
            %div
              %label State/Province
              = render "subregion_select"
            %div{ style: "margin-right: 0;"}
              %label City
              = f.text_field :city, style: "width: 187px;", placeholder:"Please enter your city"
        %div{ style: "margin: -8px 0 0 0; padding: 0 3px; "}
          = link_to "Continue to Register", finish_section_path(@section, @session_id, s:2), class: "button button-actionable", style: "float: right;"
          = link_to "Back", finish_section_path(@section, @session_id, s:0), class: "button button-standard", style: "float: left; "