:css
  .body.container { border: 0px; background-color: transparent; box-shadow: none; }
  .quizcontainer { width: 650px; margin-top: 95px;}
:javascript
  $(function(){
    $(".signup form").submit(function(){
      var name = $("#user_name").val();
      var email = $("#user_email").val();
      var password = $("#user_password").val();

      var error = ""
      if(password == ""){ error = "Please enter a password." }
      if(email == ""){ error = "Please enter your email." }
      if(name == ""){ error = "Please enter a name." }

      if(error != ""){
        $(this).find(".errors").show().text(error);
        return false;
      } else {
        $(this).find(".errors").hide();
      }
    });
  })
%div.quizcontainer
  %div.quizspace
    %div.professional_mb_register
      = image_tag GIANT_STONEY, style: "width:52px; height:62px; margin:0; display: inline-block; vertical-align: top;", alt: "Stoney"
      %div{ style: "display: inline-block; margin-left: 8px; font-size:42px; line-height:63px; "}
        You're almost done!
      %h4 Choose how you want to register to save your preferences and get back to earning points.
      .signup_pro
        = link_to "/auth/google_oauth2", style: "display: inline-block; margin-right: 40px; margin-bottom: 0;", class: "submit_button_blue" do
          = image_tag ICON_LOGIN_GOOGLE, alt: "Google sign up"
          %span.landingbuttontext Sign up with Google »

        = link_to "/auth/facebook", style: "display: inline-block;", class: "submit_button_blue" do
          = image_tag ICON_LOGIN_FACEBOOK, alt: "Facebook sign up"
          %span.landingbuttontext Sign up with Facebook »
        .divider OR
        = form_for(current_user) do |f|
          = hidden_field_tag :redirect_url, finish_section_path(@section, @session_id, s: 3)
          = hidden_field_tag :error_redirect_url, finish_section_path(@section, @session_id, s: 2)
          - if @error
            %p.errors{ style: "color: #b94a48;" }= @error
          - else
            %p.errors.hide{ style: "color: #b94a48;" }
          = f.text_field :name, value: nil, placeholder: "Name"
          = f.text_field :email, style: "margin-left: 10px; margin-right: 10px;", value: nil, placeholder: "E-Mail"
          = f.password_field :password, value: nil, placeholder: "Password"
          %div{ style: "margin: 10px 0 0 0;" }
            = f.submit "Submit", class: "submit_button", style: "width: auto; float: right;"
            = link_to "Back", finish_section_path(@section, @session_id, s: 1), class: "submit_button_standard", style: "float: left; width: auto; "