:css
  .body.container { border: 0px; background-color: transparent; box-shadow: none; }
  .quizcontainer { width: 650px; margin-top: 50px;}
%div.quizcontainer
  %div.quizspace
    %div.professional_mb_register
      = image_tag GIANT_STONEY, style: "width:52px; height:62px; margin:0; display: inline-block; vertical-align: top;", alt: "Stoney"
    %div{ style: "display: inline-block; margin-left: 8px; font-size:46px; line-height:63px; "}
      You're all done!
    - if current_user.professional_enabled?
      %h4 We'll send you new opportunities that match your skills on MetaBright.
      %div{ style: "text-align: center; margin-top: 6px; "}
        = image_tag LIGHT_BULB_URL, style: "display: inline-block; width: 16px; height: 16px; position: relative; bottom: 2px; "
        %h5{ style: "display: inline-block;"} The more questions you answer, the better your chances of getting a good match!
    - else
      %h4 Thank you for registering and good luck! You're currently in #{@enrollment.rank.ordinalize} place on the #{@path.name} Leaderboard, but you only need #{@enrollment.points_to_next_rank} points to move up!
    %div{ style: "border-radius: 6px; border: 1px solid rgba(0, 0, 0, 0.1); width: 67%; margin: 22px auto; text-align: center; " }
      %div{ style: "border-radius: 6px 6px 0 0; background-color: #FCFCFC; padding: 8px 0; text-transform: uppercase; "}
        %h5{ style: "font-size: 13px;"} Let your friends know about MetaBright
      %hr{ style: "margin:0; "}
      %div{ style: "padding: 6px 12px; height: 45px; "}
        %a{ style: "position: relative; top: 9px; float:left; display: inline-block; margin-left: 7px; font-size: 17px;", onclick: sharing_popup_javascript(:facebook, "http://www.metabright.com", "Check out @MetaBright! It's a game that can help get you a job or internship!") }
          On Facebook
          %img{ style: "height: 30px; width: 30px; margin-left: 12px;", src:"https://s3.amazonaws.com/moonlite-nsdub/static/random+icons/facebook_logo.png"}
        %a{ style: "float: right; display: inline-block;font-size: 17px;", onclick: sharing_popup_javascript(:twitter, "http://www.metabright.com", "Check out @MetaBright! It's a game that can help get you a job or internship!") } 
          On Twitter
          %img{ style: "height: 48px; ", src:"https://s3.amazonaws.com/moonlite-nsdub/static/random+icons/twitter_logo_blue_on_white.png"}
    %div{ style: "margin: 15px 0 0 0; text-align: center;" }
      = link_to "Continue with Challenge", continue_path_path(@section.path.permalink), class: "button button-actionable", style: "float: right; width: 176px;"
      = link_to "Go to Challenge page", challenge_path(@path.permalink, c: true, sh: true), class: "button button-info", style: "float: left; width: 176px; "
