<script src="/javascripts/research.js"></script>
<script>
<% if @section.instructions.nil? || @section.instructions.blank? %>
$(function(){
  var topics = [<%= @quoted_topics.join(",").html_safe %>];
  var use_wikipedia = <%= @use_wikipedia %>;
  var use_youtube = <%= @use_youtube %>;
  var use_google_images = <%= @use_google_images %>;
  var limit = 1000;
  
  if (topics.length > 0){
    add_empty_articles(topics);
    if (use_wikipedia){
      for(var t in topics){
        if(t >= limit){ break; }
        topic = topics[t];
        search_wikipedia(topic)
      }
    }
    if(use_youtube){
      for(var t in topics){
        if(t >= limit){ break; }
        search_youtube(topics[t])
      }
    } 
    if(use_google_images){
      search_google_images(topics)
    }
  }
});
<% else %>
$(function(){
  add_editing_tools();
  $("a[href*='/']").click(function(){
    var leave = confirm("Are you sure you want to leave this page before saving? All changes will be lost."); 
    if(!leave){
      return false;
    }
  });
});
<% end %>
</script>
<script> 
  /*ondragstart="return false" onselectstart="return false" var message="Sorry! To prevent cheating, the path author has chosen to disable copy and paste on this page."; function clickIE4(){ if (event.button==2){ alert(message); return false; } } function clickNS4(e){ if (document.layers||document.getElementById&&!document.all){ if (e.which==2||e.which==3){ alert(message); return false; } } } if (document.layers){ document.captureEvents(Event.MOUSEDOWN); document.onmousedown=clickNS4; } else if (document.all&&!document.getElementById){ document.onmousedown=clickIE4; } document.oncontextmenu=new Function("alert(message);return false") */ 
</script>
<%= render "research_editors" %>
<% if @section.instructions.nil? || @section.instructions.blank? %>
<section id="doc_root">
  <section>
    <h1>Section <%= @section.position %>: <%= @section.name %></h1>
    <p>This section will include questions on the following topics:</p>
    <ul id="topic_list">
    <% @topics.each do |t| %>
      <li><a href="#article_<%= t.gsub(" ","_") %>"><%= t %></a></li>
    <% end %>
    </ul>
  </section>
  <section id="articles">
  </section>
</section>
<% else %>
<section id="doc_root">
  <%= @section.instructions.html_safe %>
</section>
<% end %>
<%= form_for @section do |f| %>
  <%= f.hidden_field :instructions %>
  <%= f.hidden_field :content_type, :value => "auto" %>
  <div class="actions">
    <%= f.submit "Finish", :confirm => "Warning: This will overwrite any previous material you had for this section.", :class => "btn primary" %>
    <a onclick="display_topic_editor();" class="btn secondary">Add Topic</a>
    <%= link_to "Back", edit_section_path(@section, :m=>"instructions"), :class => "btn secondary" %>
    <%= link_to "Clear", 
      research_section_path(@section, :m => "clear"), 
      :confirm => "Are you sure you want to clear the instructions for this section?", 
      :class => "btn danger",
      :style => "float:right;"
    %>
  </div>
<% end %>