<h1><%= @form_title %></h1>
<%= form_for @section do |f| %>
	<%= render "shared/error_messages", :object => f.object %>
	<%= f.hidden_field :path_id, :value => @path_id %><br/>
	<div class="field">
		<%= f.label :name %>
		<div class="input">
			<%= f.text_field :name, :class => "xlarge" %>
		</div>
	</div>
	<div class="field clearfix">
		<%= f.label :instructions %>
		<div class="input">
			<%= f.text_area :instructions, :class => "xxlarge", :rows => "8" %>
		</div>
	</div>
	<div class="actions">
		<%= f.submit "Save", :class => "btn primary" %>
		<%= f.submit "Save and New", :class => "btn secondary" %>
	</div>
<% end %>