%div.quizcontainer{ style: "width: 926px;" }
  = render "modals/report_issue"
  
  = form_for(@task, url: took_section_path(@section, task_id: @task.id), html: { id: "challenge_form", style: "margin: 0;" }) do |f|
    %div.CRquizspace
      %div.quizheader
        - if params[:m]
          :javascript
            $(function(){ $(".draft_saved").fadeOut(8000); });
          %div.draft_saved{ style: "float: right; font-size: 15px;" } Draft saved...
        = image_tag @path.path_pic, style: "height:50px; width:50px;", alt: "#{@path.name}"
        %div{ style: "display:inline-block;" }
          %span
            %strong= #{@path.name}:
            = @section.name
      
      %div{ style: "text-align:center;" }
        = render "stored_resource", { stored_resource: @stored_resource }
      
      - if @task.text?
        = render "tasks/take_text", f: f
      - elsif @task.image?
        = render "tasks/take_image", f: f
      - elsif @task.youtube?
        = render "tasks/take_youtube", f: f
      - elsif @task.task?
        = render "tasks/take_task", f: f