%div.quizcontainer{ style: "#{@stored_resource.nil? ? '': 'margin-top: 0px;'}" }
  
  = render "modals/report_issue"
  
  = form_for(@task, url: took_section_path(@section, task_id: @task.id), html: { id: "challenge_form", multipart: true }) do |f|
    %div.CRquizspace
      %div.quizheader
        = image_tag @path.path_pic, style: "height:50px; width:50px;", alt: "#{@path.name}"
        %div{ style: "display:inline-block;" }
          %span
            %strong= #{@path.name}:
            = @section.name
      
      %div{ style: "text-align:center;" }
        = render "stored_resource", { stored_resource: @stored_resource }
      
      %div.CRquestionandresponsespace
        %div.CRquestionspace{ style: "height: 100%;" }
          - if @task.creative_response?
            %span.cr_question_header Creative response:
          - elsif @task.task?
            %span.cr_question_header{ style: "margin-left:10px; "} Your Task, should you choose to accept it:
          %p
            %pre.CRquestion{ style: "margin-left:25px; "}= @task.question
          - if @task.task?
            %hr{ style: "margin: 15px 10px;" }        
        %div.CRresponsespace{ style: "min-height: 175px;" }
          - if @task.task?           
            %h4{ style: "margin-bottom: 5px;" } Provide proof you completed this Task:
          -else
            %h4{ style: "margin-bottom: 5px;" } Your answer:
          %div.error.hide
          %input{ type: "hidden", name: "url", value: @submitted_answer.url }
          %input{ type: "hidden", name: "content", value: @submitted_answer.content }
          %input{ type: "hidden", name: "title", value: @submitted_answer.title }
          %input{ type: "hidden", name: "description", value: @submitted_answer.description }
          %input{ type: "hidden", name: "site_name", value: @submitted_answer.site_name }
          %input{ type: "hidden", name: "image_url", value: @submitted_answer.image_url }
          
          - if @task.creative_response?
            - if @task.text?
              %textarea{ name: "content", id: "answer_input", rows: "7", autofocus: "autofocus" }= @submitted_answer.content
            
            - elsif @task.image?
              %div.input{ style: "margin-left: 0px; " }
                %input#answer_input{ type: "text", name: "image_url", style: "width: 300px;", placeholder: "Copy & paste link to image URL here...", autofocus: "autofocus" }
                %a#answer_preview_button.btn.secondary{ style: "margin-left: 10px; position:relative; bottom:5px;" } Preview
                = render "stored_resources/new_image"
                %div#answer_preview_container{ style: "padding: 10px; margin: 20px 0 0 0; border: 1px solid lightgray;" }
                  %div#answer_preview{ style: "text-align: center;" }
                    = image_tag @submitted_answer.image_url || "/images/image_thumb.png", class: "image_preview", id: "image_preview", alt: "Image placeholder"
            
            - elsif @task.youtube?
              %div.input{ style: "margin-left: 0px; " }
                %input#answer_input{ type: "text", name: "url", style: "width: 250px;", placeholder: "Copy & paste link to youtube video here...", autofocus: "autofocus" }
                %a#answer_preview_button.btn.secondary{ style: "margin-left: 10px; position:relative; bottom:5px;" } Preview
                %div#answer_preview_container{ style: "text-align: center; padding: 10px; margin: 20px 0 0 0; border: 1px solid lightgray;" }
                  %div#answer_preview
                    = image_tag "/images/youtube_thumb.jpg", size: "380x200", id: "youtube_placeholder", alt: "YouTube placeholder"
          
          - elsif @task.task?
            %div.task_proof_options
              %span Submit a URL
              or
              %span Upload an Image
            // If submit a URL is clicked
            %div{ style: "text-align:center; margin-top:15px; "}
              %input{ type: "text", style: "width:300px; margin-bottom:4px; ", placeholder: "Copy & paste link to proof URL here...", autofocus: "autofocus"}
              %a#answer_preview_button.btn.secondary{style:"position:relative; bottom:2px; "} Preview
              %div{ style: "text-align:center; "}
                %img{ alt: "Lightbulb", src: LIGHT_BULB_URL, style: "height:20px; display:inline;" }
                %p{ style: "display:inline; font-size:12px; " } Link to code in your public repo on GitHub, or to your work in the wild. 
            // If Upload an Image is clicked
            %div{ style: "text-align:center; display:none;" }
              %div{ style: "margin:15px 0 5px 27px;" }
                = render "stored_resources/new_image"
              %div
                %img{ alt: "Lightbulb", src: LIGHT_BULB_URL, style: "height:20px; display:inline;" }
                %p{ style: "display:inline; font-size:12px; " } Upload pictures of you completing the Task, or screenshots of your work.
                
            
            %div.input{ style: "margin-left: 0px;" }
              %input#answer_input{ type: "text", name: "answer_url", style: "width: 300px; display:none;", placeholder: "Copy & paste link to proof URL here...", autofocus: "autofocus", value: @submitted_answer.url }
              %a#answer_preview_button.btn.secondary{style:"position:relative; bottom:5px; display:none;"} Preview
              = image_tag ICON_LOADING_URL, size: "25x25", style: "padding: 0; margin-top: -10px; display:none;", id: "loading_preview", alt: "Loading preview"
              // = render "stored_resources/new_image"
              %div#answer_preview_container{ style: "padding: 10px; margin: 20px 0 0 0; border: 1px solid lightgray;" }
                - if @submitted_answer.new_record?
                  %div#answer_preview{ style: "text-align: center;" }
                    = image_tag "/images/image_thumb.png", class: "image_preview", id: "image_preview", alt: "Image placeholder"
                %div#task_preview{ style: "#{'display: none;' if @submitted_answer.new_record?} position: relative; font-size: 12px; min-height: 250px; max-height: 300px; overflow-x: hidden; overflow-y: hidden;" }
                  %div.content{ style: "height:76%; position: absolute; top: 0; left: 0; min-width: 100%; min-height: 100%; z-index: 1; font-size: 11px;"}
                    %pre.unstyled{ style: "font-size:11px; height:95%;"}
                  = image_tag @submitted_answer.image_url || "/images/image_thumb.png", alt: "Image placeholder", class: "preview_image", style:"#{'width:207px;' unless @submitted_answer.content.blank?} display:block; margin-right:auto; margin-left:auto; z-index: 500;"
                  %div.details{ style: "padding: 5px 2px; height: 50px; width: 100%; position: absolute; bottom: 0px; left: 0px; z-index: 1000; background-color: black;"}
                    %h4.title= @submitted_answer.title
                    %h5.description= @submitted_answer.description
          
          - if @task.caption_allowed?  
            %div{ style: "margin: 10px 0 5px 0;" }
              %a.add_caption{ onclick: "$('#caption').toggle(); $('.add_caption span.caret').toggle();"} 
                %span.text Add caption
              = text_area_tag "caption", @submitted_answer.caption, style: "height: 40px; width: 96%; display: none; margin: 5px 0;", placeholder: "Caption will appear immediately below your response..."
      
      %div.CRbuttonspace
        = link_to "Back", challenge_path(@section.path.permalink, completed: true), class: "button button-standard", style: "float: left;"
        %a.arena_report_link{ href:"#", style: "position:relative; top:8px; margin-left:10px; text-decoration:none;"} Report this question
        = f.submit "Submit", class: "button button-actionable", id: "submit_button", style: "float:right;"
        = image_tag ICON_LOADING_URL, size: "25x25", style: "float: right; display: none; padding: 5px;", id: "loading_image", alt: "Loading"
  
  :css
    .container.body { background-color: transparent; border: 0px; box-shadow: none;}
    #content { padding-top: 0px; }
    .quizcontainer { width: 926px; margin-top: 30px; }
    .quizcontainer form { margin: 0; }
    .CRquestionspace { width: 46%; margin-right: 1%; }
    .CRresponsespace { width: 50%; }
    .add_caption .text { font-size: 14px; cursor: pointer; vertical-align: top; }
    .add_caption .caret { border-top-color: #0088cc; border-bottom-color: #0088cc; vertical-align: bottom; }
    #answer_preview .image_preview { height: 200px;  width: inherit; max-width: inherit; }
    .error { font-size: 13px; color: #971D1C; }
        
  :javascript
    var previewer_url = "#{preview_url}"
    
    $("input[name=stored_resource_id]").change(function(){
      $("input[name=image_url]").val($("#image_preview").attr("src"));
    });
    
    $(function(){
      $('#challenge_form').submit(function(){
        $("#loading_image").show();
        $("#submit_button").attr("disabled","disabled").addClass("disabled").text("Submitting...");
      });
    });
    
  - if @task.text?
    :javascript
      $(function(){ check_text_before_submit(); });
  
  - if @task.image?
    :javascript
      $(function(){
        check_image_before_submit();
        $("#answer_preview_button").click(function(){
          var url = $("#answer_input").val();
          is_valid_image(url, function(valid){
            if(valid == true) { $("#image_preview").attr("src", url);
            } else { alert("Please provide a link to a valid image."); }
          });
        });
      });
      
  - if @task.image?
    :javascript
      $(function(){
        check_image_before_submit();
        $("#answer_preview_button").click(function(){
          var url = $("#answer_input").val();
          is_valid_image(url, function(valid){
            if(valid == true) { $(".image_preview").attr("src", url);
            } else { alert("Please provide a link to a valid image."); }
          });
        });
      });
  
  - if @task.youtube?
    :javascript
      $(function(){
        check_youtube_before_submit();
        $("#answer_preview_button").click(function(){
          var url = $("#answer_input").val();
          var youtube_id = get_youtube_id_from_link(url);
          if(is_valid_youtube_id(youtube_id)){
            $("#youtube_placeholder").remove();
            set_youtube_preview(url, "answer_preview");
          } else {
            alert("Please provide a link to a valid Youtube video.");
          }
        });
      });
  
  - if @task.task?
    :javascript
      $(function(){
        $("#answer_preview_button").click(function(){
          $("#loading_preview").show();
          $(".errors").text("").hide();
          var url = $("#answer_input").val();
          $.ajax(previewer_url, 
            {
              data: { url: url },
              dataType: "json",
              complete: function(){ $("#loading_preview").hide(); },
              success: function(results){
                result = $.parseJSON(results.data);
                
                if(result.warnings){
                  log(result.warnings);
                }
                
                if(result.error){
                  log(result.error);
                  $("div.error").text(result.error).show();
                } else {
                  $("#answer_preview").hide();
                
                  $("input[name=url]").val(result.url);
                  $("input[name=content]").val(result.content);
                  $("input[name=title]").val(result.title);
                  $("input[name=description]").val(result.description);
                  $("input[name=site_name]").val(result.site_name);
                  $("input[name=image_url]").val(result.image_url);
                  
                  var $preview = $("#task_preview");
                  
                  if(result.image_url){
                    $preview.find("img").attr("src", result.image_url);
                  }  
                  
                  if(result.content){
                    $preview.find(".content pre").text(result.content);
                  } else {
                    $preview.find("img").css("height", "100%").css("width", "100%");
                  }
                  
                  if(result.title){
                    $preview.find(".title").text(result.title);
                  } else {
                    $preview.find(".title").text("");
                  }
                  if(result.description){
                    $preview.find(".description").text(result.description);
                  } else {
                    $preview.find(".description").text("");
                  }
                  
                  $("#task_preview").show();
                }
              }
            }
          );
        });
      });