<section class="tour-header">
	<%= render "admin_header" %>
</section>
<section class="tour-body">
	<style>
		strong {
			font-size: 14px;
		}
	</style>
	<% if @page == 1 %>
	<div class="page-header">
		<h2>Home</h2>
	</div>
	<div class="row">
		<div class="span6 columns">
			<p>Welcome to your Home page! You can reach this page at any time by clicking the <strong>Moonlite</strong> logo at the top left of the navigation bar.</p>
			<p>All of the Paths you are currently enrolled in are displayed at the top. Moonlite news from around your company is just below, and will feature stories about every user's achievements and path progress.</p>
		</div>
		<div class="span10 columns">
			<%= image_tag "/images/tour/home.PNG", :size=>"600x400"%>
		</div>
	</div>
	<% elsif @page == 2 %>
	<div class="page-header">
		<h2>Paths</h2>
	</div>
	<div class="row">
		<div class="span6 columns">
			<p>The Paths page is the heart of every Moonlite account.</p>
			<p>You can access each of the Paths that your organization has made or purchased from the <strong>Path Marketplace</strong> (top right).</p>
		</div>
		<div class="span10 columns">
			<%= image_tag "/images/tour/all_paths.PNG", :size=>"600x400"%>
		</div>
	</div>
	<div class="page-header">
		<h2>Viewing & Enrolling in a Path</h2>
	</div>
	<div class="row">
		<div class="span6 columns">
			<p>You can view the details of a Path by clicking on its name from the Paths page.</p>
			<p>Unlockable <strong>Achievements</strong> for the Path are displayed along with a detailed description of what the user can expect to learn by taking it.</p>
			<p>Once here, you can enroll in the Path by clicking the <strong>Enroll</strong> button at the bottom.</p>
		</div>
		<div class="span10 columns">
			<%= image_tag "/images/tour/enroll_path.PNG", :size=>"600x400"%>
		</div>
	</div>
	<div class="page-header">
		<h2>Continueing a Path</h2>
	</div>
	<div class="row">
		<div class="span6 columns">
			<p>Once you've enrolled in a path, you can click the <strong>Continue</strong> button at the bottom to start a short quiz session.</p>
		</div>
		<div class="span10 columns">
			<%= image_tag "/images/tour/continue_path.PNG", :size=>"600x500"%>
		</div>
	</div>
	<div class="page-header">
		<h2>Solving Problems</h2>
	</div>
	<div class="row">
		<div class="span6 columns">
			<p>Each quiz session is meant to take 5-10 minutes and will present you with some of the questions you haven't yet answered.</p>
			<p>You will gain points for each question you answer correctly and get access to harder and harder questions until you have completed the Path.</p>
			<p>Later on in the tour we'll talk about how you can spend your hard earned points at the <strong>Company Store</strong>.</p>
		</div>
		<div class="span10 columns">
			<%= image_tag "/images/tour/continue_answer_path.PNG", :size=>"600x300"%>
			<%= image_tag "/images/tour/continue_answer_correct_path.PNG", :size=>"600x300"%>
		</div>
	</div>
	<% elsif @page == 3 %>
	<div class="page-header">
		<h2>Creating Paths</h2>
	</div>
	<div class="row">
		<div class="span6 columns">
			<p>From the Paths page, click the <strong>Create new Path</strong> link at the bottom left.</p>
		</div>
		<div class="span10 columns">
			<%= image_tag "/images/tour/all_paths.PNG", :size=>"600x400"%>
		</div>
	</div>
	<div class="page-header">
		<h2>New Path</h2>
	</div>
	<div class="row">
		<div class="span6 columns">
			<p>Enter basic information about the Path - don't worry, you can edit all later.</p>
			<p></p>
		</div>
		<div class="span10 columns">
			<%= image_tag "/images/tour/create_path_new.PNG", :size=>"600x200"%>
			<%= image_tag "/images/tour/create_path_show.PNG", :size=>"600x200"%>
		</div>
	</div>
	<div class="page-header">
		<h2>Editing a Path</h2>
	</div>
	<div class="row">
		<div class="span6 columns">
			<p>One thing you should do right away is add a picture to represent your Path. Paste in the URL for the picture you want and click <strong>Save</strong>.</p>
			<p>Once you have a good picture, you can add questions to your Path either one at a time by clicking <strong>Add Question</strong> or by uploading a group of them from a .CSV file by clicking <strong>Upload Questions</strong>.</p>
		</div>
		<div class="span10 columns">
			<%= image_tag "/images/tour/create_path_edit.PNG", :size=>"600x300"%>
		</div>
	</div>
	<div class="page-header">
		<h2>Uploading Questions</h2>
	</div>
	<div class="row">
		<div class="span6 columns">
			<p>Once you click <strong>Upload Questions</strong>, you be able to choose a .CSV file from your computer.</p>
			<p>The file should follow a specific format, with columns structured as follows:</p>
			<ol>
				<li>question</li>
				<li>correct answer</li>
				<li>wrong answer</li>
				<li>wrong answer</li>
				<li>wrong answer</li>
				<li>points</li>
			</ol>
			<p>Click <strong>Submit</strong> and your file will be processed and a question created for each row in the file. Simple as pie.</p>
		</div>
		<div class="span10 columns">
			<%= image_tag "/images/tour/create_path_file.PNG", :size=>"600x200", :style => "margin-bottom: 40px;"%>
			<%= image_tag "/images/tour/create_path_upload.PNG", :size=>"600x200", :style => "margin-bottom: 40px;"%>
			<%= image_tag "/images/tour/create_path_upload_finish.PNG", :size=>"600x200"%>
		</div>
	</div>
	<% elsif @page == 4 %>
	<div class="page-header">
		<h2>Path Marketplace</h2>
	</div>
	<div class="row">
		<div class="span6 columns">
			<p>The Path Marketplace is where you can find pre-built Paths to purchase for your Moonlite account. Once purchased, you can modify your new Path as you see fit and redistribute to your team members.</p>
			<p>To access the market, go back to the Paths page and click <strong>Path Marketplace</strong> at the top right corner of the page.</p>
		</div>
		<div class="span10 columns">
			<%= image_tag "/images/tour/all_paths.PNG", :size=>"600x400"%>
		</div>
	</div>
	<div class="page-header">
		<h2>Searching the Marketplace</h2>
	</div>
	<div class="row">
		<div class="span6 columns">
			<p>From the Marketplace home page, you can either select one of the categories or search by keywords.</p>
			<p>Searching by the keyword "Salesforce", we can see that there is one result. Clicking on it will show us details about the Path and give us an option to purchase it.</p>
		</div>
		<div class="span10 columns">
			<%= image_tag "/images/tour/path_market_all.PNG", :size=>"600x400", :style => "margin-bottom: 40px;"%>
			<%= image_tag "/images/tour/path_market_search.PNG", :size=>"500x200"%>
		</div>
	</div>
	<div class="page-header">
		<h2>Purchasing a Path</h2>
	</div>
	<div class="row">
		<div class="span6 columns">
			<p>From the Marketplace home page, you can either select one of the categories or search by keywords.</p>
			<p>Searching by the keyword "Salesforce", we can see that there is one result. Clicking on it will show us details about the Path and give us an option to purchase it.</p>
		</div>
		<div class="span10 columns">
			<%= image_tag "/images/tour/path_market_confirm.PNG", :size=>"500x200", :style => "margin-bottom: 40px;"%>
			<%= image_tag "/images/tour/path_market_purchased.PNG", :size=>"600x300"%>
		</div>
	</div>
	<% elsif @page == 5 %>
	<div class="page-header">
		<h2>Company Store</h2>
	</div>
	<div class="row">
		<div class="span6 columns">
			<p>To be completed.</p>
		</div>
		<div class="span10 columns">
		</div>
	</div>
	<% elsif @page == 6 %>
	<div class="page-header">
		<h2>My Company</h2>
	</div>
	<div class="row">
		<div class="span6 columns">
			<p>To be completed.</p>
		</div>
		<div class="span10 columns">
		</div>
	</div>
	<% elsif @page == 7 %>
		<div class="page-header">
		<h2>Dashboard</h2>
	</div>
	<div class="row">
		<div class="span6 columns">
			<p>To be completed.</p>
		</div>
		<div class="span10 columns">
		</div>
	</div>
	<% elsif @page == 8 %>
	<div class="page-header">
		<h2>Bon Voyage!</h2>
	</div>
	<div class="row">
		<div class="span6 columns">
			<p>To be completed.</p>
		</div>
		<div class="span10 columns">
		</div>
	</div>
	<% end %>
	<div class="actions">
		<% if @page == @final_page %>
			<%= link_to "Finish", root_path, :class => "btn primary" %>
		<% else %>
			<% if @page > 1 %>
			<%= link_to "Previous", admin_tour_tour_path(@page-1), :class => "btn secondary" %>
			<% end %>
			<%= link_to "Next", admin_tour_tour_path(@page+1), :class => "btn primary" %>
		<% end %>
	</div>
</section>


