<section class="tour-header">
  <%= render "admin_header" %>
</section>
<section class="tour-body">
  <style>
    strong {
      font-size: 14px;
    }
  </style>
  <% if @page == 1 %>
  <div class="page-header">
    <h2>Home</h2>
  </div>
  <div class="row">
    <div class="span6 columns">
      <p>Welcome to your Home page! You can reach this page at any time by clicking your company logo (<strong><%= company_logo %></strong>) at the top left of the navigation bar.</p>
      <p>All of the <%= name_for_paths.pluralize %> you are currently enrolled in are displayed at the top. Moonlite news from around your company is just below, and will feature stories about every user's achievements and <%= name_for_paths %> progress.</p>
    </div>
    <div class="span10 columns">
      <%= image_tag "/images/tour/home.PNG", :size=>"600x400"%>
    </div>
  </div>
  <% elsif @page == 2 %>
  <div class="page-header">
    <h2><%= name_for_paths.pluralize %></h2>
  </div>
  <div class="row">
    <div class="span6 columns">
      <p>The <strong>Explore</strong> page is the heart of every Moonlite account, and can be accessed by clicking the Explore link next to your company logo on the nav bar.</p>
      <p>Here you can view and access each of the <%= name_for_paths.pluralize %> that your organization has made or purchased.</p>
    </div>
    <div class="span10 columns">
      <%= image_tag "/images/tour/all_paths.PNG", :size=>"600x400"%>
    </div>
  </div>
  <div class="page-header">
    <h2>Enrolling in a <%= name_for_paths %></h2>
  </div>
  <div class="row">
    <div class="span6 columns">
      <p>You can view the details of a challenge by clicking on its name from the Explore page or your home page.</p>
      <p>To enroll in a challenge that sounds interesting, just click the <strong>Enroll</strong> button at the top right. You can then begin or come back to the challenge at anytime.</p>
      <% if @enable_auto_enroll %>
      <p><strong>NOTE:</strong> Your organization is setup for auto enrollment, which means all members of your organization are automatically enrolled in all published paths. You can change that from the <%= link_to "company settings", edit_company_path(current_user.company) %> page.</p>
      <% end %>
      <p></p>
    </div>
    <div class="span10 columns">
      <%= image_tag "/images/tour/enroll_path.PNG", :size=>"600x400"%>
    </div>
  </div>
  <div class="page-header">
    <h2>Continuing a challenge</h2>
  </div>
  <div class="row">
    <div class="span6 columns">
      <p>Once you've enrolled in a challenge, you can click the <strong>Continue Challenge</strong> button at the top right to start a short quiz session.</p>
    </div>
    <div class="span10 columns">
      <%= image_tag "/images/tour/continue_path.PNG", :size=>"600x500"%>
    </div>
  </div>
  <div class="page-header">
    <h2>Solving Problems</h2>
  </div>
  <div class="row">
    <div class="span6 columns">
      <p>Each quiz session is meant to take <strong>5-10 minutes</strong> and will present you with some of the questions you haven't yet answered.</p>
      <p>You will gain points for each question you answer correctly as well as <strong>bonus points</strong> equal to the number of questions you get correct in a row.</p>
      <p>Answer the question before the timer or else you'll lose any bonus points you might have gotten for your correct answer streak.</p>
      <p>Remember though, there's no reason to stress! The <strong>timer starts over</strong> after each question and every question you get wrong will simply be recycled for you to <strong>try again at the end</strong> of the quiz.</p>
    </div>
    <div class="span10 columns">
      <%= image_tag "/images/tour/continue_answer_path.PNG", :size=>"600x300"%>
      <%= image_tag "/images/tour/continue_answer_correct_path.PNG", :size=>"600x300"%>
    </div>
  </div>
  <% elsif @page == 3 %>
  <div class="page-header">
    <h2>Creating challenges</h2>
  </div>
  <div class="row">
    <div class="span6 columns">
      <p>To create a new challenge or modify an existing one, click the <strong>Create</strong> link on the top nav bar.</p>
      <p>From here you can see all your organizations published and published challenges. To make a new one, click the button titled <strong>Build new challenge</strong>.</p>
    </div>
    <div class="span10 columns">
      <%= image_tag "/images/tour/all_paths.PNG", :size=>"600x400"%>
    </div>
  </div>
  <div class="page-header">
    <h2>New Challenge</h2>
  </div>
  <div class="row">
    <div class="span6 columns">
      <p>Enter basic information about the Path - don't worry, you can edit all later.</p>
      <p></p>
    </div>
    <div class="span10 columns">
      <%= image_tag "/images/tour/create_path_new.PNG", :size=>"600x200"%>
      <%= image_tag "/images/tour/create_path_show.PNG", :size=>"600x200"%>
    </div>
  </div>
  <div class="page-header">
    <h2>Editing a Challenge</h2>
  </div>
  <div class="row">
    <div class="span6 columns">
      <p>One thing you should do right away is add a picture to represent your Path. Paste in the URL for the picture you want and click <strong>Save</strong>.</p>
      <p>Once you have a good picture, you can add questions to your Path either one at a time by clicking <strong>Add Question</strong> or by uploading a group of them from a .CSV file by clicking <strong>Upload Questions</strong>.</p>
    </div>
    <div class="span10 columns">
      <%= image_tag "/images/tour/create_path_edit.PNG", :size=>"600x300"%>
    </div>
  </div>
  <% elsif @page == 6 %>
  <div class="page-header">
    <h2>My Company</h2>
  </div>
  <div class="row">
    <div class="span6 columns">
      <p>The My Company page allows you to manage your users and account settings.</p>
      <p>Each user that has accepted your Moonlite account invitation and set up their account will be listed in the <strong>Registered Users</strong> table.
      <p>Any user that has been sent an invite but not yet set up their account will be listed below <strong>Awaiting reply from</strong>.
    </div>
    <div class="span10 columns">
      <%= image_tag "/images/tour/my_company_all.PNG", :size=>"600x400", :style => "margin-bottom: 40px;"%>
    </div>
  </div>
  <div class="page-header">
    <h2>Adding Users</h2>
  </div>
  <div class="row">
    <div class="span6 columns">
      <p>To invite new users to your account, click the <strong>Add User button</strong>.</p>
      <p>Enter in the users email and what account priviledges they should have.</p>
      <p>As soon as you click <strong>Submit</strong>, an email will be sent to the new user with a secure link to setup their account and get started.</p>
    </div>
    <div class="span10 columns">
      <%= image_tag "/images/tour/my_company_invite.PNG", :size=>"500x300", :style => "margin-bottom: 40px;"%>
    </div>
  </div>
  <% elsif @page == 7 %>
  <div class="page-header">
    <h2>Dashboard</h2>
  </div>
  <div class="row">
    <div class="span6 columns">
      <p>The Dashboard page allows you to see all the vital information about your Moonlite account at a glance.</p>
      <p>The <strong>User Statistics</strong> at the top shows information on how active your fellow users are, how active they have been recently and how many points they have accrued.</p>
      <p>You can find <strong>Path Statistics</strong> for each of the paths your account has created or purchased below the User Statistics.</p>
      <p>From the Dashboard, you can see basic information on what percentage of your account's users have enrolled in each particular path, how active they have been recently, and the percentage of questions answered right or wrong.</p>
    </div>
    <div class="span10 columns">
      <%= image_tag "/images/tour/dashboard_all.PNG", :size=>"600x400", :style => "margin-bottom: 40px;"%>
    </div>
  </div>
  <div class="page-header">
    <h2>Path Reports</h2>
  </div>
  <div class="row">
    <div class="span6 columns">
      <p>To view more detailed statistics, click the link in the Path's name. There you can see the most correctly and incorrectly answered questions.</p>
    </div>
    <div class="span10 columns">
      <%= image_tag "/images/tour/dashboard_report.PNG", :size=>"600x400", :style => "margin-bottom: 40px;"%>
    </div>
  </div>
  <% elsif @page == 8 %>
  <div class="page-header">
    <h2>Bon Voyage!</h2>
  </div>
  <div class="row">
    <style>
      ol {
        margin: 20px; 
      }
      li {
        color: #404040;
        margin-bottom: 20px;
      }
    </style>
    <div class="span12 columns">
      <p>Now your path begins! A couple recommendations to get you started:</p>
      <ol>
        <li>
          <p>Visit the Path Marketplace to see if there are any Path's that you can use to get your Moonlite account up and running.</p>
          <%= link_to "Marketplace", marketplace_path, :class => "btn secondary" %>
        </li>
        <li>
          <p>Create a Path of your own.</p>
          <%= link_to "New Path", new_path_path, :class => "btn secondary" %>
        </li>
        <li>
          <p>Invite other users to your account.</p>
          <%= link_to "Add Users", new_user_path(:company_id => current_user.company_id,), :class => "btn secondary" %>
        </li>
      </ol>
    </div>
  </div>
  <% end %>
  <div class="actions">
    <% if @page == @final_page %>
      <%= link_to "Finish", root_path, :class => "btn primary" %>
    <% else %>
      <% if @page > 1 %>
      <%= link_to "Previous", admin_tour_tour_path(@page-1), :class => "btn secondary" %>
      <% end %>
      <%= link_to "Next", admin_tour_tour_path(@page+1), :class => "btn primary" %>
    <% end %>
  </div>
</section>


