<section class="tour-header">
  <%= render "user_header" %>
</section>
<section class="tour-body">
  <style>
    strong {
      font-size: 14px;
    }
  </style>
  <% if @page == 1 %>
  <div class="page-header">
    <h2>Home</h2>
  </div>
  <div class="row">
    <div class="span6 columns">
      <p>Welcome to your Home page! You can reach this page at any time by clicking the <strong>Moonlite</strong> logo at the top left of the navigation bar.</p>
      <p>All of the Paths you are currently enrolled in are displayed at the top. Moonlite news from around your company is just below, and will feature stories about every user's achievements and path progress.</p>
    </div>
    <div class="span10 columns">
      <%= image_tag "/images/tour/home.PNG", :size=>"600x400"%>
    </div>
  </div>
  <% elsif @page == 2 %>
  <div class="page-header">
    <h2>Paths</h2>
  </div>
  <div class="row">
    <div class="span6 columns">
      <p>The Paths page is the heart of every Moonlite account.</p>
      <p>You can access each of the Paths that your organization has made or purchased from the <strong>Path Marketplace</strong> (top right).</p>
    </div>
    <div class="span10 columns">
      <%= image_tag "/images/tour/all_paths.PNG", :size=>"600x400"%>
    </div>
  </div>
  <div class="page-header">
    <h2>Viewing & Enrolling in a Path</h2>
  </div>
  <div class="row">
    <div class="span6 columns">
      <p>You can view the details of a Path by clicking on its name from the Paths page.</p>
      <p>Unlockable <strong>Achievements</strong> for the Path are displayed along with a detailed description of what the user can expect to learn by taking it.</p>
      <p>Once here, you can enroll in the Path by clicking the <strong>Enroll</strong> button at the bottom.</p>
    </div>
    <div class="span10 columns">
      <%= image_tag "/images/tour/enroll_path.PNG", :size=>"600x400"%>
    </div>
  </div>
  <div class="page-header">
    <h2>Continuing a Path</h2>
  </div>
  <div class="row">
    <div class="span6 columns">
      <p>Once you've enrolled in a path, you can click the <strong>Continue</strong> button at the bottom to start a short quiz session.</p>
    </div>
    <div class="span10 columns">
      <%= image_tag "/images/tour/continue_path.PNG", :size=>"600x500"%>
    </div>
  </div>
  <div class="page-header">
    <h2>Solving Problems</h2>
  </div>
  <div class="row">
    <div class="span6 columns">
      <p>Each quiz session is meant to take 5-10 minutes and will present you with some of the questions you haven't yet answered.</p>
      <p>You will gain points for each question you answer correctly and get access to harder and harder questions until you have completed the Path.</p>
      <p>Later on in the tour we'll talk about how you can spend your hard earned points at the <strong>Company Store</strong>.</p>
    </div>
    <div class="span10 columns">
      <%= image_tag "/images/tour/continue_answer_path.PNG", :size=>"600x300"%>
      <%= image_tag "/images/tour/continue_answer_correct_path.PNG", :size=>"600x300"%>
    </div>
  </div>
  <% elsif @page == 3 %>
  <div class="page-header">
    <h2>Company Store</h2>
  </div>
  <div class="row">
    <div class="span6 columns">
      <p>You can access the Company Store from the middle of the navigation bar. The Company Stores allows users to spend their hard earned points on anything an employer is willing to list - small gifts, gift cards, perks, etc.</p>
    </div>
    <div class="span10 columns">
      <%= image_tag "/images/tour/company_store_all.PNG", :size=>"600x400", :style => "margin-bottom: 40px;"%>
    </div>
  </div>
  <div class="page-header">
    <h2>Purchasing Items</h2>
  </div>
  <div class="row">
    <div class="span6 columns">
      <p>If you have the points available, you can purchase any of the items listed. Just confirm your purchase and the item will be delivered directly to your office in just a few business days.</p>
    </div>
    <div class="span10 columns">
      <%= image_tag "/images/tour/company_store_review.PNG", :size=>"500x300", :style => "margin-bottom: 40px;"%>
      <%= image_tag "/images/tour/company_store_confirm.PNG", :size=>"500x300"%>
    </div>
  </div>
  <% elsif @page == 4 %>
  <div class="page-header">
    <h2>Bon Voyage!</h2>
  </div>
  <div class="row">
    <style>
      ol {
        margin: 20px; 
      }
      li {
        color: #404040;
        margin-bottom: 20px;
      }
    </style>
    <div class="span12 columns">
      <p>Now your path begins! A couple recommendations to get you started:</p>
      <ol>
        <li>
          <p>Enroll in a Path.</p>
          <%= link_to "View Paths", explore_path, :class => "btn secondary" %>
        </li>
        <li>
          <p>Visit the home page to see what others in your account are up to.</p>
          <%= link_to "Go Home", root_path, :class => "btn secondary" %>
        </li>
        <li>
          <p>Check out your Moonlite Profile.</p>
          <%= link_to "My Profile", current_user, :class => "btn secondary" %>
        </li>
      </ol>
    </div>
  </div>
  <% end %>
  <div class="actions">
    <% if @page == @final_page %>
      <%= link_to "Finish", root_path, :class => "btn primary" %>
    <% else %>
      <% if @page > 1 %>
      <%= link_to "Previous", user_tour_tour_path(@page-1), :class => "btn secondary" %>
      <% end %>
      <%= link_to "Next", user_tour_tour_path(@page+1), :class => "btn primary" %>
    <% end %>
  </div>
</section>


