%div{ style: "margin-top: 10px;" }
  - unique_id = "fileupload_#{rand(10000000)}"
  :javascript
    $(function(){
      $('##{unique_id}').fileupload({
        url: '#{stored_resources_path}',
        dataType: 'json',
        done: function (e, data) {
          var result = data.result;
          var $parent = $(this).parent().parent().parent();
          if(result.status == "success"){
            $(".original_image_preview").remove();
            $parent.find("input.image_input_field").val(result.id);
            $("#loading_image_#{unique_id}").hide();
            
            while($parent.find("img.image_preview").size() == 0){
              $parent = $parent.parent();
              if(!$parent){ break }
            }
            $parent.find("img.image_preview").attr("src", result.link).show();
          }
        },
        send: function(e){
          $("#loading_image_#{unique_id}").show();
        },
        autoUpload: true,
        acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i
      });
      $("##{unique_id}").bind('fileuploadfail', function (e) {alert("File upload failed.")});
    });
  %div.image_input
    = image_tag ICON_CAMERA_URL, size: "16x16", style: "vertical-align: middle;"
    %span{ style: "vertical-align: middle; font-size: 13px;" } Add image:
    = file_field_tag("obj", id: unique_id, style: "margin-left: 2px; line-height: inherit; font-size: 13px; padding-top:0px; height: inherit; vertical-align: middle; width: 200px;")
    = image_tag ICON_LOADING_URL, size: "20x20", style: "vertical-align: middle; display: none;", id: "loading_image_#{unique_id}", alt: "Loading"
    = hidden_field_tag("stored_resource_id", nil, class: "image_input_field")
  - unless params[:controller] == "sections"
    %div{ style: "margin-top: 10px;" }
      %img.image_preview{ style: "display: none;", alt: "Image preview" }
