%div.explorecontainer{ style: "width: 590px; background:none; border:none;" }
  :javascript
    $(function(){ close_button(); });
  %div.explorenewusercontent
    %div.exploreheader{ style: "width: inherit;" }
      %div.modal_close
        %img{:src => "https://s3.amazonaws.com/moonlite-nsdub/static/close_icon.png"}
      %h1{ style: "font-size: 23px; margin-bottom: 3px;" } Notifications 
      %hr{ style: "margin: 0;" }
    %div.explorebody{ style: "min-height: 250px; max-height: 450px; overflow-y: auto;" }
      - @events.each do |event|
        %div.post
          %div.postphotospace
            = link_to (event.actioner.nil? ? root_url : event.actioner) do
              = image_tag event.image_link, class: "photo"
          %div.postspace{ style: "width: 390px; padding: 8px;" }
            = link_to event.link do
              %p{ style: "margin: 0; text-decoration: none; color: #404040; font-size: 15px;" }= event.content
              %p{ style: "margin: 0; font-size: 12px;"} #{time_ago_in_words(event.created_at)} ago