:css
  .container.body { background-color: transparent; padding-top: 0px; }
  
.aboutcontainer{style:"width:703px;"}
  .aboutbox
    .aboutheader
      %img{:src => "https://s3.amazonaws.com/moonlite-nsdub/static/stoney+100x150.png", alt: "Stoney"}
        %span MetaBright Challenges
    %hr{:style => "margin:0"}
      .aboutbody{style:"padding-left:2px;"}
        - @personas.each do |persona|
          %h4= persona.name
          %div
            - persona.paths.each do |path|
              %div.mosaic-block.bar2.challengepagechallenge{style: "margin-bottom:10px;"}
                - if path.public?
                  = link_to challenge_path(path.permalink), class: "mosaic-overlay", title: "#{path.name}" do
                    %div.details
                      %h4{style: "font: 300 12px 'Helvetica Neue', Helvetica, Arial, sans-serif; line-height: 10%;"} #{truncate(path.name,length: 17, separator: ' ')}
                - else
                  %a.mosaic-overlay{ style: "height: 38px; bottom: -18px;" }
                    %div.details
                      %h4{style: "font: 300 12px 'Helvetica Neue', Helvetica, Arial, sans-serif; line-height: 10%;"} #{truncate(path.name,length: 17, separator: ' ')}
                      %h5 Coming Soon!
                %div 
                  = image_tag path.path_pic, class: "mosaic-backdrop", style: "display:inline;", size: "140x140", alt: "#{path.name}"
          %hr{:style => "margin:0"}
                    
                