:css 
  body{ background-image: url("https://s3.amazonaws.com/moonlite-nsdub/static/Backgrounds/gplaypattern.png"); background-repeat: repeat; background-size: auto; } 
  .aboutcontainer{ width: 703px; background: rgba(36, 72, 109, 0.8); border-radius: 0; } 
  .aboutbox { border-radius: 0; padding: 20px 20px 0; } 

.aboutcontainer
  .aboutbox
    .aboutheader
      %img{ src: STONEY_SMALL_URL, alt: "Stoney"}
        %span MetaBright Challenges
    %hr{ style: "margin:0" }
      .aboutbody{style:"padding-left:2px;"}
        - @personas.each do |persona|
          - unless persona.paths.count == 0
            %h4= persona.name
            %div
              - persona.paths.each do |path|
                %div.mosaic-block.bar2.challengepagechallenge
                  - if path.public?
                    = link_to challenge_path(path.permalink), class: "mosaic-overlay", title: "#{path.name}" do
                      %div.details
                        %h4{style: "font: 300 12px 'Helvetica Neue', Helvetica, Arial, sans-serif; line-height: 10%;"} #{truncate(path.name,length: 15, separator: ' ')}
                        %h5 Try it out!
                    = link_to challenge_path(path.permalink), title: "#{path.name}" do
                      %div 
                        = image_tag path.path_pic, class: "mosaic-backdrop", style: "display:inline;", size: "140x140", alt: "#{path.name}"
                  - else
                    %a.mosaic-overlay{ style: "height: 38px; bottom: -18px;" }
                      %div.details
                        %h4{style: "font: 300 12px 'Helvetica Neue', Helvetica, Arial, sans-serif; line-height: 10%;"} #{truncate(path.name,length: 15, separator: ' ')}
                        %h5 Coming Soon!
                    %div 
                      = image_tag path.path_pic, class: "mosaic-backdrop", style: "display:inline;", size: "140x140", alt: "#{path.name}"
                  
            %hr{ style: "margin:0"}
                    
                