.aboutcontainer
  .aboutbox
    .aboutheader
      %img{:src => "https://s3.amazonaws.com/moonlite-nsdub/static/stoney+100x150.png"}
        %span MetaBright Challenges
    %hr{:style => "margin:0"}
      .aboutbody
        - @personas.each do |persona|
          %h4= persona.name
          %div{style: "margin-bottom:5px;"}
            - persona.paths.each do |path|
              %div.mosaic-block.bar2{style: "margin-bottom:10px;"}
                = link_to path_path(path), class: "mosaic-overlay", title: "#{path.name}" do
                  %div.details
                    %h4{style: "font: 300 12px 'Helvetica Neue', Helvetica, Arial, sans-serif; line-height: 10%;"} #{truncate(path.name,length: 17, separator: ' ')}
                %div 
                  = image_tag path.path_pic, class: "mosaic-backdrop", style: "display:inline;", size: "140x140"
          %hr{:style => "margin:0"}
                    
                