<div class="row" style="margin-top: 25px;">
  <div class="span8">
    <%= image_tag @possible_company.big_logo_link, style: "max-height:280px; margin-top:-40px; float:right; margin-right:75px; max-width: 400px;" %>
  </div>
  <div class="span8">
    <h1 style="font-size: 80px; margin-top:25px;"><%= @possible_company.home_title %></h1>
    <h3><%= @possible_company.home_subtitle %></h3>
    <p style="font-size: 16px;"><%= @possible_company.home_paragraph %></p>
  </div>
</div>
<center style="padding:30px;">
  <%= link_to "Register", @possible_company.user_role.signup_link, :class => "btn primary large", style: "margin-right: 30px; font-size: 23px;" %>
  <%= link_to "Sign In", signin_path, :class => "btn large", style: "font-size: 23px; backgroud: #FD944E url(https://www.infoarmy.com/images/infoarmyarmy_sprite.png);" %>
</center>
