<div class="row" style="margin-bottom:50px;">
  <%= render "path_grid", { :paths => @first_four_challenges } %>
</div>
<div class="row" style="margin-bottom:50px;">
  <div class="span8">
    <h1 style="font-size:90px;">Meta<span style="color:green">Bright</span></h1>
    <h2 style="font-size: 22px;">Prove yourself.</h2>
  </div>
  <div class="span8">
  <%= form_for(:session, :url => sessions_path) do |f| %>
    <div class="field clearfix">
      <%= f.label :email %>
      <div class="input">
        <%= f.text_field :email, :autofocus => true %>
      </div>
    </div>
    <div class="field clearfix">
      <%= f.label :password %>
      <div class="input">
        <%= f.password_field :password %>
      </div>
    </div>
    <div class="field clearfix">
      <div class="input">
        <p>Not registered yet? <%= link_to "Request an invite.", invitation_path %></p>
      </div>
    </div>
    <%= f.submit "Sign in", :class => "btn primary", :style => "margin-left:150px;" %>
    <%= link_to "Login with Facebook", "/auth/facebook", :class => "btn secondary" %>
  <% end %>
  </div>
</div>
<div class="row" style="margin-bottom:50px;">
  <%= render "path_grid", { :paths => @last_four_challenges } %>
</div>