:css
  body{ background-image: url("https://s3.amazonaws.com/moonlite-nsdub/static/Backgrounds/gplaypattern.png"); background-repeat: repeat; background-size: auto; }
  .aboutcontainer{ width: 940px; background: rgba(36, 72, 109, 0.8); border-radius: 0;}
  .aboutbox { border-radius: 0; padding: 20px; }
  
<script src="https://raw.github.com/LeaVerou/prefixfree/gh-pages/prefixfree.min.js" type="text/javascript"></script>

#employer_product.aboutcontainer
  .aboutbox
    .aboutheader
      %img{ src: STONEY_SMALL_URL, alt: "Stoney"}
      %span MetaBright Evaluator
    .body
      %div
        %h2
          Optimize your sourcing
        %p
          Never waste your time in an interview again. MetaBright's <strong>Evaluator</strong> measures and verfies the skills of your job candidates <span style="font-family: 'MuliItalic';">before</span> you interview them. 
          Just direct your candidates to your unique MetaBright URL, and we take care of the rest. 
        %h3
          Our philosophy
        %p
          When evaluating a potential new-hire, we believe the most important thing is whether that person has the skills necessary to do the job. Things like where they went to school or where they previously worked are just distractions from what really matters: Can they perform?
        %h3 
          How it works
        %ol
          %li Choose the skills in which you want your candidates measured.
          %li We'll give you a unique MetaBright URL.
          %li Include your this URL with your job posting. 
          %li MetaBright evaluates the skills of each candidate, and you decide who to interview. 
        .pitch_tiles
          %h3 Why you'll love MetaBright
          .tile
            .circle
              = image_tag "https://s3.amazonaws.com/moonlite-nsdub/static/random+icons/medal_green.png"
            %p Choose from over 40 MetaBright skills, or create your own for your company.
          .tile
            .circle
              = image_tag "https://s3.amazonaws.com/moonlite-nsdub/static/random+icons/group_green.png"
            %p Expand your candidate pool, and quickly identify top performers.
          .tile
            .circle
              = image_tag "https://s3.amazonaws.com/moonlite-nsdub/static/random+icons/clock_green.png"
            %p Never waste your time interviewing another underqualified candidate.
        %h3 FAQ
        #faq_accordion.accordion          
          .accordion-group
            .accordion-heading
              %a.accordion-toggle{"data-parent" => "#faq_accordion", "data-toggle" => "collapse", "data-parent" => "true", :href => "#collapseTwo"}
                How are my candidates evaluated?
            #collapseTwo.accordion-body.collapse.in
              .accordion-inner
                We evaluate your candidates with things called <strong>Challenges</strong> -- fancy quizzes that analyze people's raw knowledge, their creative ability, and what they’ve accomplished. 
                We distill all this information down into one easy to understand percentile ranking that indicates how capable a candidate actually is.
          .accordion-group
            .accordion-heading
              %a.accordion-toggle{"data-parent" => "#faq_accordion", "data-toggle" => "collapse", "data-parent" => "true", :href => "#collapseFour"}
                How long will it take for my candidates to complete a Challenge?
            #collapseFour.accordion-body.collapse
              .accordion-inner
                Each Challenge can be completed in less than 10 minutes.
          .accordion-group
            .accordion-heading
              %a.accordion-toggle{"data-parent" => "#faq_accordion", "data-toggle" => "collapse", "data-parent" => "true", :href => "#collapseFive"}
                How does MetaBright work to prevent cheating?
            #collapseFive.accordion-body.collapse
              .accordion-inner
                MetaBright questions are timed so we have a good understanding of who actually knows the material and who is trying to cheat (or who is getting lucky with a guess!). 
                Our algorithms look for irregularities when a candidate is taking a Challenge and adjust their percentile accordingly.
                We also work to ensure that your candidate is actually the one taking the Challenge.
          .accordion-group
            .accordion-heading
              %a.accordion-toggle{"data-parent" => "#faq_accordion", "data-toggle" => "collapse", "data-parent" => "true", :href => "#collapseSix"}
                Why does MetaBright look so playful?
            #collapseSix.accordion-body.collapse
              .accordion-inner
                We’ve found that people are more likely to stay engaged with a Challenge when incentives are in place to make the process feel like a game. 
                This means we can evaluate your candidates with a higher degree of confidence and we can deliver more examples of their abilities! 
        %h3 
          Evaluator Pricing
        %div  
          %ul.pricing_table
            %li.price_block
              %h3 1 User
              .price
                .price_figure
                  %span.price_number $9.99
                  %span.price_tenure per month
              %ul.features
                %li Unlimited Evaluations and Candidates
                %li Talent Search Tool
                %li Premium Support
              .price_footer
                = link_to "Select", new_group_path(p: Group::SINGLE_PLAN), class: "action_button"
            %li.price_block
              %h3 2-5 Users
              .price
                .price_figure
                  %span.price_number $19.99
                  %span.price_tenure per month
              %ul.features
                %li Unlimited Evaluations and Candidates
                %li Talent Search Tool
                %li Premium Support
              .price_footer
                = link_to "Select", new_group_path(p: Group::TWO_TO_FIVE_PLAN), class: "action_button"
            %li.price_block
              %h3 6-15 Users
              .price
                .price_figure
                  %span.price_number $39.99
                  %span.price_tenure per month
              %ul.features
                %li Unlimited Evaluations and Candidates
                %li Talent Search Tool
                %li Premium Support
              .price_footer
                = link_to "Select", new_group_path(p: Group::SIX_TO_FIFTEEN_PLAN), class: "action_button"
            %li.price_block
              %h3 16-50 Users
              .price
                .price_figure
                  %span.price_number $79.99
                  %span.price_tenure per month
              %ul.features
                %li Unlimited Evaluations and Candidates
                %li Talent Search Tool
                %li Premium Support
              .price_footer
                = link_to "Select", new_group_path(p: Group::SIXTEEN_TO_FIFTY_PLAN), class: "action_button"
        