<section>
	<div class="input" style="float:right; margin-top: 5px">
	<%= form_tag explore_path, :method => "get" do %>
		<%= text_field_tag :search, params[:search], :class => "xlarge", :value => "Search by title or keyword", :onclick => "this.value='';" %>
		<%= submit_tag "Search", :class => "btn primary" %>
	<% end %>
	</div>
	<div><a><h1>Explore Moonlite</h1></a></div>
</section>
<section id="path_explore">
  <% @path_sections.each do |paths| %>
    <% path_name = paths[0] %>
    <% all_paths = paths[1] %>
    <% if !@query.nil? %>
      <p>Your search for <strong><%= @query %></strong> returned <%= all_paths.size.to_s %> results.</p>
    <% else %>
    <hr/>
    <div class="row" style="padding-left: 20px;">
      <h2><%= path_name %></h2>
      <% if @display_all %>
        <%= link_to "View All", explore_path(:m => path_name), :style=> "float: right; padding-top: 10px;" %>
      <% end %>
    </div>
    <% end %>
    <ul class="media-grid">
    <% all_paths.each_index do |pp| %>
      <% if pp >= 12 && @display_all then break end %>
      <li>
        <a href="<%= path_path(all_paths[pp]) %>" id="<%= all_paths[pp].name.gsub(" ", "_") %>">
          <div class="path-caption">
            <span class="caption-title"><%= truncate(all_paths[pp].name, :length => 35) %></span><br>
            <span style="font-size: 10px; float: left;">237 Enrolled</span>
            <span style="font-size: 10px; float: right;">Rating: 97%</span>
          </div>
          <img class="thumbnail" src="<%= all_paths[pp].path_pic %>" height="150" width="210">
        </a>
      </li>
    <% end %>
    </ul>
	<% end %>
</section>