#homepage
  - if ongoing_evaluation
    .help_box
      .header
        = image_tag STONEY_SMALL_URL, alt: "Stoney" 
        %h1 Feeling a bit lost?
      .body
        %h4
          Are you trying to get back to your application for the #{ongoing_evaluation.title} position with #{ongoing_evaluation.company}? All your previous responses have been saved. 
        %div{ style: "height: 30px; margin-top: 10px;"}
          = link_to "Return to Application", take_group_evaluation_url(ongoing_evaluation.permalink), class: "submit_button"
  #topsection
    .headerspace
      #leftheaderspace Explore the world of MetaBright
    #carousel_container
      - if @enrollments.size > 1
        #left_scroll
          %a{href: "javascript:home_slide(\"left\");"}
            %img{src: "https://s3.amazonaws.com/moonlite-nsdub/static/random+icons/arrow_angle_left_light.png", alt: "Left"}/
      #carousel_inner{ style: "height: 110px;" }
        %ul#carousel_ul
          = render "shared/mosaic", { custom_class: "invite_facebook_friends", link: "#", title: "Sharing is caring", subtitle: "Spread the MetaBright Gospel!", pic: "https://s3.amazonaws.com/moonlite-nsdub/static/carousel_images/fb_green_carousel.png" }
          - @enrollments.each do |e|
            = render "shared/mosaic", { pic: e.path.path_pic, link: challenge_path(e.path.permalink), title: e.path.name, subtitle: "Level #{e.level}, #{e.total_points} points" }
          = render "shared/mosaic", { custom_class: "invite_facebook_friends", link: "#", title: "Sharing is caring", subtitle: "Spread the MetaBright Gospel!", pic: "https://s3.amazonaws.com/moonlite-nsdub/static/carousel_images/fb_green_carousel.png" }
          = render "shared/mosaic", { custom_class: "explore_link", link: nil, title: "The world awaits...", subtitle: "Explore new challenges!", pic: "https://s3.amazonaws.com/moonlite-nsdub/static/carousel_images/Stoney_image_carousel_altered.png" }
          - unless current_user.profile_complete?
            = render "shared/mosaic", { link: edit_user_path(current_user), title: "Whoooo are you?", subtitle: "Tell your story to the world!", pic: "https://s3.amazonaws.com/moonlite-nsdub/static/carousel_images/complete_profile_pic_carousel_altered.png" }
      - if @enrollments.size > 1
        #right_scroll
          %a{href: "javascript:home_slide(\"right\");"}
            %img{src: "https://s3.amazonaws.com/moonlite-nsdub/static/random+icons/arrow_angle_right_light.png", alt: "Right"}/
      %input#hidden_auto_slide_seconds{:type => "hidden", :value => "0"}/
  
  .row
    .span5
      - unless @suggested_paths.empty?
        .leftbox
          .leftboxheader Suggested Challenges
          .leftboxfooter
            %li.leftrailcontent
              - @suggested_paths.each do |p|
                = link_to challenge_path(p.permalink) do
                  = image_tag p.path_pic, class: "leftrailicon", title: "#{p.name}", alt: "#{p.name}"
      .leftbox
        .leftboxheader Enrolled Personas
        .leftboxfooter
          %li.leftrailcontent
            - @enrolled_personas.each do |p|
              %a.explore_link{ style: "cursor: pointer; text-decoration: none;" }
                = image_tag p.picture, class: "leftrailicon", title: "#{p.name}", alt: "#{p.name}"
    .span11
      .newsfeed
        .box_header
          %div{ style: "display:inline;" }
            %span{ style: "border-bottom: 0px; padding-top:1px;" } Stream
            = link_to "Hot", root_url(order: "hot"), class: "btn leftbtn"
            = link_to "Newest", root_url(order: "newest"), class: "btn midbtn"
            = link_to "Following", root_url(order: "following"), class: "btn midbtn"
            = link_to "Hall of Fame", root_url(order: "halloffame"), class: "btn rightbtn"
        :javascript
          $.ajax({ type: "GET", url: "#{newsfeed_path(order: params[:order])}", success: function(data){ $(".empty_post").replaceWith(data); } });
        .post.empty_post{ style: "height: 300px; text-align: center;" }
          %img{ src: ICON_LOADING_URL, style: "width: 30px; height: 30px;" }