<% if signed_in? %>
	<script>
	$(document).ready(function() {
		$(".progressbar").each(function(){
			var details = $(this).attr("alt").split("/");
			var completed = details[0];
			var total = details[1];
			if(total != 0){
				var pb_value = 100 * (completed/total);
				$(this).progressbar({ value: pb_value });
			}
		});
	});
	</script>
	<section>
		<h2>My Paths</h2>
		<% if @paths.empty? %>
			<p>You are not currently enrolled in any paths. <%= link_to "Get started!", paths_path %></p>
		<% else %>
		<table class="paths" summary="Users paths">
			<% @paths.each do |path| %>
        <% unless path.completed?(current_user) %>
        <tr>
          <td style="vertical-align: middle; width: 70px;"><%= image_tag(path.path_pic, :size=>"70x70", :class=> "thumbnail") %>
          <td class="path">
            <h3 class="name"><%= link_to path.name, path %></h3>
            <p class="description"><%= truncate(strip_tags(path.description), :length => 255) %></p>
            <script>
              $(function() {$( "#progressbar_<%= path.id %>" ).progressbar({ value: <%= path.percent_complete(current_user) %> }); });
            </script>
            <div style="width:300px;">
            <div id="progressbar_<%= path.id %>" style="height:.8em;"></div>
            </div>
          </td>
        </tr>
        <% end %>
      <% end %>
		</table>
		<% end %>
	</section>
	<section>
		<h2>News</h2>
	<% if @user_achievements.empty? %>
		<p>There are currently not achievements set for your company.</p>
	<% else %>
		<table>
			<% @user_achievements.each do |ua| %>
			<tr>
				<td style="width: 70px; padding: 5px;">
					<%= image_tag ua.user.profile_pic, :size => "60x60" %>
				</td>
				<td>
					<p><strong><%= ua.user.name %></strong> got the <%= link_to ua.achievement.name, ua %> achievement. +<%= ua.achievement.points %></p>
				</td>
			</tr>	
			<% end %>
		</table>
	<% end %>
	</section>
<% else %>
	<section style="float:left; margin-right: 60px;">
		<img src="/images/logo.png" width="200" height="250"/>
	</section>
	<section>
		<h2>What do your employees know? What skills do they have?</h2>
		<h3>What don't they know? What skills do they need?</h3>
		<h4>... Are you sure?</h4>
		<br>
		<p style="font-size: 16px;">Find out how Moonlite can drive training and professional development within your company so everyone is on the same page.</p>
		<br>
		<%= link_to "Learn more", about_path, :class => "btn primary" %>
	</section>
<% end %>