%div#landingbox
  %div#logospace{ style: "width:720px;margin-right:auto;margin-left:auto;position: relative;" }
    %img#landinglogo{ src: "https://s3.amazonaws.com/moonlite-nsdub/static/MB+logo", alt: "MetaBright"}
  %div#tagline
    %span We believe everyone has the right to be recognized for their knowledge and skills, not just what fits neatly on a resume.
  %div#buttonspace{ style: "margin-top:30px; text-align: center;" }
    = link_to "/auth/google_oauth2", class: "btn danger", style: "margin-right: 40px; width:205px; padding-top:7px; padding-bottom:7px;" do
      %img{ style: "height:30px;", src: "https://s3.amazonaws.com/moonlite-nsdub/static/icon+google.png", alt: "Google" }
      %span.landingbuttontext Sign in with Google »
    = link_to "/auth/facebook", class: "btn danger", style: "width:205px; padding-top:7px; padding-bottom:7px;" do
      %img{ style: "height:30px;", src: "https://s3.amazonaws.com/moonlite-nsdub/static/icon+facebook.png", alt: "Facebook" }
      %span.landingbuttontext Sign in with Facebook »
%div.row-fluid{ style: "position: absolute; bottom: 0; left: 0;" }
  %div#landing_carousel_box.span12
    %div.persona_horizontal_table
      %ul.nav.nav-tabs
        %li.active
          %a{ "data-tab" => "hacker"} Hacker
        %li
          %a{ "data-tab" => "maker"} Maker
        %li
          %a{ "data-tab" => "explorer"} Explorer
        %li
          %a{ "data-tab" => "strategist"} Strategist
        %li
          %a{ "data-tab" => "designer"} Designer
    - @personas.each do |persona|
      %div.tab_content.active_tab{ id: persona.name.downcase.gsub(" ", "_") }
        %div.row-fluid
          %div.span12 
            %div.challenge_table
              - if persona.paths.where("approved_at is not ?", nil).empty?
                %span You must be registered and achieve a higher MetaBright level before you can view Challenges in this Persona.
              %ul
                - persona.paths.where("approved_at is not ? and public_at is not ?", nil, nil).limit(5).each do |path|
                  %li
                    = link_to challenge_path(path.permalink) do
                      %div.mosaic-block.bar2
                        %div.mosaic-overlay
                          %div.details
                            %h4= truncate(path.name,length:17, separator: ' ')
                            %h5 #{path.tasks.count() * 100} points
                        %div
                          = image_tag path.picture, class: "mosaic-backdrop clip_pic", style: "display: inline-block;", alt: "#{path.name}"
                            
:javascript
  $(function () {
   $(".tab_content").hide();
    var open_tab_id = $("ul.nav-tabs li.active a").data("tab");
    $("#"+open_tab_id).show().addClass("active_tab");
  
    $(".nav-tabs li a").click(function(){
      var open_tab_id = $(this).data("tab");
      $(".tab_content").hide();
      $("ul.nav-tabs li.active").removeClass("active");
      $(this).parent().addClass("active");
      $(".active_tab").removeClass("active_tab");
      var $open_tab = $("#"+open_tab_id);
      $open_tab.addClass("active_tab").show();
    });
  })
