:css
  body{ background: $solid_employer_bg_color; background-image: none;}

#employer.employer-container{ style: "margin-top: 80px; width: 550px;" }
  #organization_portal.aboutbox
    .header{ style: "width: 100%; border-bottom: 1px solid #DDD;" }
      = image_tag STONEY_SMALL_URL, style: "height: 72px; display: inline; vertical-align: middle", alt: "Stoney"
      %h1{ style: "display: inline; vertical-align: middle; font-size:25px;" }= @group.name
    - if current_user.guest_user?
      .body
        :javascript
          $(function(){
            $(".signup form").submit(function(){
              var name = $("#user_name").val();
              var email = $("#user_email").val();
              var password = $("#user_password").val();

              var error = ""
              if(name == ""){ error = "Please enter a name." }
              if(email == ""){ error = "Please enter your email." }
              if(password == ""){ error = "Please enter a password." }

              if(error != ""){
                $(this).find(".errors").show().text(error);
                $(".submit_button").removeClass("disabled").removeAttr("disabled");
                return false;
              } else {
                $(this).find(".errors").hide();
              }
            });
          })
          
        .signup
          %h3 Sign in to your new account
          = link_to "/auth/google_oauth2", style: "margin-top: 10px;", class: "button btn" do
            = image_tag ICON_LOGIN_GOOGLE, alt: "Google sign up"
            %span.landingbuttontext Google sign up »
          = link_to "/auth/linkedin", class: "button btn" do
            = image_tag ICON_LOGIN_LINKEDIN, alt: "LinkedIn sign up"
            %span.landingbuttontext LinkedIn sign up »
          = link_to "/auth/github", class: "button btn" do
            = image_tag ICON_LOGIN_GITHUB, alt: "GitHub sign up"
            %span.landingbuttontext GitHub sign up »
          
          %p{ style: "margin: 20px 0 15px;" } - Or create an account with email and password -
            
          = form_for(current_user) do |f|
            - if @error
              %p.errors{ style: "color: #b94a48;" }= @error
            - else
              %p.errors.hide{ style: "color: #b94a48;" }
            %p.text_field= f.text_field :name, value: nil, placeholder: "Name"
            %p.text_field= f.text_field :email, style: "margin-left: 10px; margin-right: 10px;", value: nil, placeholder: "E-Mail"
            %p.text_field= f.password_field :password, value: nil, placeholder: "Password"
            = f.submit "Submit", class: "submit_button"
    - else
      .body{ style: "text-align: inherit;" }
        .portal-row{ style: "border-bottom: 1px solid #DDD;" }
          = link_to group_evaluations_url(@group), descriptor: "evaluations-index-link" do
            .option{ style: " border-right: 1px solid #DDD;" }
              %div
                = image_tag NAVBAR_EVALUATIONS
                %h3 Evaluations
          = link_to account_group_url(@group) do
            .option{ style: "border-right: 1px solid transparent;" }
              %div
                = image_tag NAVBAR_ACCOUNT
                %h3 Account
        .portal-row
          = link_to group_paths_url(@group), descriptor: "challenges-index-link" do
            .option{ style: "border-right: 1px solid #DDD;" }
              %div
                = image_tag NAVBAR_CHALLENGES
                %h3 Challenges
          = link_to "#" do
            .option{ stye: "border-right: 1px solid #DDD;" }
              %div{ style: "cursor: default; opacity: 0.7;" }
                = image_tag NAVBAR_SEARCH
                %h3 Search
                %h5 Coming Soon...
    

        