:css
  body{ background-image: url("https://s3.amazonaws.com/moonlite-nsdub/static/Backgrounds/gplaypattern.png"); background-repeat: repeat; background-size: auto; }

#employer.aboutcontainer{ style: "margin-top: 35px; width: 550px;" }
  #organization_portal.aboutbox{ style: "padding: 8px;"}
    .header{ style: "width: 100%; border-bottom: 1px solid #DDD;" }
      = image_tag STONEY_SMALL_URL, style: "height: 72px; display: inline; vertical-align: middle", alt: "Stoney"
      %h1{ style: "display: inline; vertical-align: middle; font-size:25px;" }= @group.name
    .body
      - if current_user.guest_user?
        :javascript
          $(function(){
            $(".signup form").submit(function(){
              var name = $("#user_name").val();
              var email = $("#user_email").val();
              var password = $("#user_password").val();

              var error = ""
              if(name == ""){ error = "Please enter a name." }
              if(email == ""){ error = "Please enter your email." }
              if(password == ""){ error = "Please enter a password." }

              if(error != ""){
                $(this).find(".errors").show().text(error);
                $(".submit_button").removeClass("disabled").removeAttr("disabled");
                return false;
              } else {
                $(this).find(".errors").hide();
              }
            });
          })
          
        .signup
          %h3 Sign in to your account
          = link_to "/auth/google_oauth2", style: "margin-right: 10px; margin-bottom: 0;", class: "button btn" do
            = image_tag ICON_LOGIN_GOOGLE, alt: "Google sign up"
            %span.landingbuttontext Google sign up »
          = link_to "/auth/linkedin_oauth2", style: "margin: 0 6px;", class: "button btn" do
            = image_tag ICON_LOGIN_LINKEDIN, alt: "LinkedIn sign up"
            %span.landingbuttontext LinkedIn sign up »
          = link_to "/auth/github", style: " margin-left: 10px;", class: "button btn" do
            = image_tag ICON_LOGIN_GITHUB, alt: "GitHub sign up"
            %span.landingbuttontext GitHub sign up »
          
          %p{ style: "margin: 15px 0;" } - Or create an account with email and password -
            
          = form_for(current_user) do |f|
            - if @error
              %p.errors{ style: "color: #b94a48;" }= @error
            - else
              %p.errors.hide{ style: "color: #b94a48;" }
            %p= f.text_field :name, value: nil, placeholder: "Name"
            %p= f.text_field :email, style: "margin-left: 10px; margin-right: 10px;", value: nil, placeholder: "E-Mail"
            %p= f.password_field :password, value: nil, placeholder: "Password"
            = f.submit "Submit", class: "submit_button button button-small button-actionable", style: "width: auto; padding: 3px 10px;"
      - else
        = link_to group_evaluations_url(@group) do
          .option{ style: "border-bottom: 1px solid #DDD; border-right: 1px solid #DDD; margin-right: -4px;"}
            %div
              = image_tag "https://s3.amazonaws.com/moonlite-nsdub/static/random+icons/icon_evaluator.png"
              %h3 Evaluations
        = link_to account_group_url(@group) do
          .option{ style: "border-bottom: 1px solid #DDD;" }
            %div
              = image_tag "https://s3.amazonaws.com/moonlite-nsdub/static/random+icons/icon_group.png"
              %h3 Account
        = link_to group_paths_url(@group) do
          .option{ style: "border-right: 1px solid #DDD; margin-right: -4px;"}
            %div
              = image_tag "https://s3.amazonaws.com/moonlite-nsdub/static/random+icons/icon_challenges.png"
              %h3 Challenges
        = link_to "#" do
          .option
            %div{ style: "cursor: default; opacity: 0.7;"}
              = image_tag "https://s3.amazonaws.com/moonlite-nsdub/static/random+icons/icon_api.png"
              %h3 Search
              %h5 Coming Soon...
    

        