:javascript
  $(function(){
    $('.bar2').mosaic({ animation : 'slide' });
    $('.comment').click({ animation: 'slide', hover_x: '400px' });
    $('.accordion-toggle').click(function() {
      if($(this).hasClass("active_accordion") == true ) {
        $(this).removeClass('active_accordion');
      } else {
        $(this).addClass('active_accordion');
      }
    });
  });
  
:css
  #updatespace{ min-height:162px; }
  #topboxcontent { }
  #topboxcontent h1{ font-size:45px; line-height:45px; }
  #bottomboxcontent { margin-top: 97px; }
  #bottomboxcontent .span9 div { display:inline-block; color:gray; font-size: 20px; min-width:330px; }
  #bottomboxcontent .span9 ul { list-style:none; }
  #profilemeat { padding:10px 12px; border: 1px solid rgba(0, 0, 0, .1); border-radius: 6px; position: relative; background-clip: padding-box; color: #333; background-color: white; min-height:200px; margin-bottom: 12px;}
  .personabucket img { height:60px; width:60px; display:inline-block; }
  .headerinfo { display:inline-block; font-size:20px; border-bottom: 1px solid rgb(209, 209, 209); padding-bottom: 4px; width: 89%; }
  .bigname { font-weight:bold;  }
  .challengecontent { margin: 20px 0 0 30px;}
  .challengecontent h2 { margin-bottom:15px; }
  .challengecontent > div { margin-bottom:40px; }
  .challengebucket {margin: 15px 0 0 60px; padding: 12px;}
  .challengebucket img { height:60px; width:60px; display:inline-block; border-radius:6px;}
  .challengebucket h2 { color: #7d7d7d; text-shadow: 1px 0 0 #fff; font-weight:bold}
  .bucketsubtitle { font-size:18px; margin-left:15px; margin-bottom:20px;}
  .arenabucket .bucketsubtitle p { font-size: 15px; }
  .bucketsubtitle p { font-weight:bold; }
  .bucketsubtitle ul { margin:0 0 15px 50px; }
  .bucketsubtitle li { margin-bottom: 5px; }
  .taskbox{ margin-left:40px; margin-bottom:25px; border: 1px solid rgba(0, 0, 0, .1); border-top-left-radius: 0;border-top-right-radius: 0;overflow-y: auto;background-color: transparent;background-image: -moz-linear-gradient(top,rgba(0, 0, 0, .06),transparent);background-image: -ms-linear-gradient(top,rgba(0, 0, 0, .06),transparent);background-image: -o-linear-gradient(top,rgba(0, 0, 0, .06),transparent);background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, .06)), to(transparent));background-image: -webkit-linear-gradient(top,rgba(0, 0, 0, 0.1),transparent);background-image: linear-gradient(top,rgba(0, 0, 0, .06),transparent);border-bottom-right-radius: 6px; border-bottom-left-radius:6px; padding:5px 12px 17px 12px; width: 89%;}
  .taskbox h3{ text-shadow: 1px 0 0 #fff; }
  .taskbox img { height:auto; width: auto; border-radius:0;  max-width: 100%; max-height: 300px; border-color: #ccc; border-style: solid; border-width: 0px; display: block; margin-left: auto; margin-right: auto; margin-top:10px; }
  .taskbucket a { cursor: pointer; }
  .taskboxheader { padding:0 20px; border: 1px solid rgba(0, 0, 0, .1);margin-left: 40px;border-top-left-radius: 6px;width: 87%;background-color: rgb(66, 66, 66);color: white;border-top-right-radius: 6px;border-bottom: transparent;}
  .taskboxheader h3 { font-size:20px; }
  
%div#homepage
  %div#topsection
    %div#updatespace
      = image_tag @user.picture, class: "bigheaderimage", alt: "#{@user.name}"
      %div.rightofbigheaderimage
        %div#topboxcontent{}
          %div{ style: "width: 119px; float:right;" }
            - if @user == current_user
              = link_to "Edit Profile", edit_user_path(@user.username), class: "button button-actionable"
          %div.span7{style: "min-height: 65px; vertical-align: top; margin: 0; width: 600px;"}
            %h1= @user.name
            %p{ style: "font-size: 26px; margin: 5px 0 0px 0;"}= truncate(@enrolled_personas.collect(&:name).join(", "), length: 70)
        %div#bottomboxcontent{ style:"display:none;"}
          %div.span9
            %div{ style: "display:inline-block; "}
              %ul
                %li Education:
                %li Company:
            %div{ style: "display:inline-block; "}
              %ul
                %li Looking for:
                %li Personal links:              
  %div.row
    %div.span12
      %div#profilemeat
        %div.personabucket
          %img{ src: "http://www.placekitten.com/100/100" }
          %div.headerinfo
            %span.bigname Persona name
            %span.littledetails | Level 8 
          %div.challengebucket
            %img{ src: "http://www.placekitten.com/150/150" }
            %div.headerinfo
              %span.bigname Challenge name
              %span.littledetails | 4,280 points, Rank: 23
            %div.challengecontent
              %div.arenabucket
                %h2 What I know...
                %div.bucketsubtitle
                  %p Beginner Section:
                  %div{ style: "display:inline-block; "}
                    %ul
                      %li ## questions answered correctly
                      %li Another achievement here
                  %div{ style: "display:inline-block; margin-left:85px;"}
                    %ul
                      %li And a third achievement here
                      %li This is the fourth achievement
                  %p Intermediate Section:
                  %div{ style: "display:inline-block; "}
                    %ul
                      %li ## questions answered correctly
                      %li Another achievement here
                  %div{ style: "display:inline-block; margin-left:85px;"}
                    %ul
                      %li And a third achievement here
                      %li This is the fourth achievement
                  %p Advanced Section:
                  %div{ style: "display:inline-block; "}
                    %ul
                      %li ## questions answered correctly
                      %li Another achievement here
                  %div{ style: "display:inline-block; margin-left:85px;"}
                    %ul
                      %li And a third achievement here
                      %li This is the fourth achievement
              %div.taskbucket
                %h2 What I've done...
                %div.bucketsubtitle
                  %p 17 Tasks completed
                %div.taskboxheader
                  %h3 "I jumped off a 15-story bridge and survived"
                %div.taskbox                  
                  %img{ src: "http://www.slovenia.info/pictures%5Cprogram%5C1%5C2008%5CBungee_jumping_-_Solkan_(500_x_374)_190854.jpg"}
                %center
                  %a See more
              %div.crbucket
                %h2 What I can do...
                %div.bucketsubtitle
                  %p 23 Creative Responses answered
                %div.taskboxheader                  
                  %h3 Explain why the Orioles will never win another World Series
                %div.taskbox
                  %pre{ style: "margin:20px; word-break:normal;" } kljf sadkljashd jfkahsfh askjf hjfasjfh sda fajfh afaljksfh jasj fkjf k
                %center
                  %a See more  
            
  
  
  %div.row{ style: "display:none;"}
    %div.span5
      %div.leftbox{}
        %div.leftboxheader
          Completed Tasks
        - if @completed_tasks_by_challenge.count > 0
          %div.leftboxfooter
            %div.accordion
              - counter = 0
              - @completed_tasks_by_challenge.each do |challenge_name, tasks|
                - challenge_id = "challenge_#{counter.to_s}"
                - counter += 1
                %div.accordion-group
                  %div.accordion-heading
                    %a.accordion-toggle{ "data-toggle" => "collapse", href: "##{challenge_id}" }
                      %div.expand_contract
                      %span{ style: "color:#404040; font-size:14px;"}= challenge_name
                  %div.accordion-body.collapse{ id: challenge_id }
                    %div.accordion-inner
                      - tasks.each do |task|
                        %div.singletaskentry
                          %img{ src: "https://s3.amazonaws.com/moonlite-nsdub/static/random+icons/check_blue3.png", alt: "Check" }
                          %div
                            %span{ style: "display:block;" }= task.question
        - else
          %div.leftboxfooter{style: "padding-top:6px;"}
            %span
              No Tasks have been completed yet.                           
      %div.leftbox{ style: "" }
        %div.leftboxheader Persona Progress
        %div.leftboxfooter{style:"padding-top: 6px"}
          %div.accordion
            - @user_personas.each do |user_persona|
              - persona_id = "persona_#{user_persona.persona_id}"
              %div.accordion-group
                %div.accordion-heading
                  %a.accordion-toggle{ "data-toggle" => "collapse", href: "##{persona_id}", style: "padding:0;" }
                    %div.expand_contract
                    %div.persona_progress_area
                      = image_tag user_persona.persona.image, style:"width:50px; height:50px;", alt: "#{user_persona.persona.image}"            
                      %div.personaprogress
                        %span{ style: "font-size:18px;" }= user_persona.persona.name
                        %span{style: "font-size:14px; float:right; "} Level #{user_persona.level}
                        %span{ style: "position:relative; bottom:3px;display:block; line-height:16px;"} #{user_persona.points_to_next_level} more points to level up!
                        %div.progress.progress-info
                          %div.bar{ style: "width: #{user_persona.percent_level}%;"} 
                %div.accordion-body.collapse{ id: persona_id }
                  %div.accordion-inner{ style: "padding-right:0;" }
                    - user_persona.enrollments.each do |enrollment|
                      %div.profile_challenge
                        = link_to challenge_path(enrollment.path.permalink) do
                          = image_tag enrollment.path.picture, style:"width:30px; height:30px;", title: "#{enrollment.path.name}", alt: "#{enrollment.path.name}"
                        %div.challenge_progress
                          %h5{ style: "font-size: 13px;" }= enrollment.path.name
                          %span #{enrollment.total_points} pts
                          %span{ style: "float:right; "} Rank: #{enrollment.rank}

      %div.leftbox
        %div.leftboxheader Vital Stats
        %div.leftboxfooter{style:"padding-top: 6px"}
          %ul
            - unless @user.description.blank?
              %li About: #{@user.description}
            %li Location: #{@user.location || "A galaxy far, far away..."}
            - unless @user.education.blank? 
              %li Education: #{@user.education}
            - unless @user.company_name.blank?
              %li Company: #{@user.company_name}  
            - unless @user.title.blank?
              %li Title: #{@user.title}            
            - unless @user.link.blank?
              %li Link: <a href='#{@user.link}' target='_newtab'>#{truncate(@user.link)}</a> 
    %div.span11
      %div.newsfeed{ style: "min-height: 285px;" }
        %div.leftboxheader
          %div
            %span{ style: "border-bottom: 0px; padding-top:1px;" } Stream
            = link_to "Votes", user_path(@user, order: "votes"), class: "btn leftbtn"
            = link_to "Date", user_path(@user, order: "date"), class: "btn midbtn"
            %a.btn.rightbtn{ onclick: "$(this).parents('.leftboxheader').find('.questions_filter').slideDown();" } Question
          %div.questions_filter{ style: "display:none; text-transform: none;" }
            - if @creative_task_questions.empty?
              %p There are no responses to be viewed yet.
            - else
              %p{ style: "font-size: 13px; margin: 10px 5px; color: black;" } Click on one of the questions below to see the response for that question only.
              %ol
                - @creative_task_questions.each do |task|
                  %li{ style: "padding: 5px;" }= link_to truncate(task.question, length: 80), user_path(@user, task: task.id), style: "font-size: 14px; text-decoration: none; color: #0064CD"
        = render "shared/newsfeed"