#profile
  - if @user == current_user && current_user.guest_user?
    .help_box
      :javascript
        function append_error(e){
          $("#update_user").find("p.error").remove();
          $("#update_user").append("<p class='error'>"+e+"</p>");
        }
        $(function(){
          $("#update_user").submit(function(){
            var e = "";
            if($("#user_name").val() == ""){
              e = "Please enter a name."
            } else if($("#user_email").val() == ""){
              e = "Please enter an email."
            } else if($("#user_password").val() == ""){
              e = "Please enter a password."
            }
            if(e != ""){
              append_error(e);
              return false;
            }
          });
        });
      .header
        = image_tag STONEY_SMALL_URL, alt: "Stoney" 
        %h1 Kind of bare, isn't it?
      .body
        %h4
          Sign up with Google or Facebook to make your profile awesome in a hurry. Or sign up with your email address, and edit your profile manually.
        %div{ style: "margin-top: 20px;" }
          %div
            = link_to "/auth/google_oauth2", class: "btn danger", style: "width: 205px; margin-right: 60px; " do
              = image_tag ICON_LOGIN_GOOGLE, alt: "Google sign up"
              %span.landingbuttontext Sign in with Google »        
            = link_to "/auth/facebook", class: "btn danger" do
              = image_tag ICON_LOGIN_FACEBOOK, alt: "Facebook sign up"
              %span.landingbuttontext Sign in with Facebook »
          %div.divider OR
          = form_for(current_user, html: { id: "update_user" }) do |f|
            = hidden_field_tag "redirect_uri", user_url(current_user.id)
            = f.text_field :name, value: nil, placeholder: "Name"
            = f.text_field :email, style: "margin-left: 10px; margin-right: 10px;", value: nil, placeholder: "E-Mail"
            = f.password_field :password, value: nil, placeholder: "Password", style: "margin-right: 10px;"
            = f.submit "Submit", class: "button button-standard button-small", style: "margin-bottom: 10px; width: inherit; padding: 4px 10px; font-size: 14px;"
  #topsection
    #updatespace
      = image_tag @user.picture, class: "bigheaderimage", alt: "#{@user.name}"
      .rightofbigheaderimage
        #topprofilecontent{}
          %div{ style: "float:right; text-align:center; " }
            - if @user == current_user
              = link_to "Edit Profile", edit_user_path(@user.username), class: "button button-actionable"
            - elsif current_user
              #following_box
                = link_to "Following", follow_user_path(@user.username), id: "unfollow_button", class: "button button-info", remote: true, style: ("display:none" unless current_user.following?(@user))
                = link_to "Follow", follow_user_path(@user.username), id: "follow_button", class: "button button-actionable", remote: true, style: ("display:none" if current_user.following?(@user))         
            .social_stats
              .stat
                #following_count.hi= @user.following_count
                .lo Following                
              .stat
                #follower_count.hi= @user.follower_count
                .lo Followers
          .span7{style: "min-height: 65px; vertical-align: top; margin: 8px 0 0 0; width: 600px;"}
            %h1= @user.name
            - if badge = User.reputation_badge(@user.earned_points)
              = image_tag badge[0], class: "rep_badge", title: badge[1], alt: badge[1]
            - unless @user.description.blank?
              %p{ style: "font-family:'MuliItalic'; font-size:23px; margin: 10px 0 10px 0;"} "#{@user.description}"
            %p{ style: "font-size: 18px; margin: 10px 0 5px 0; color: rgb(80, 80, 80);"}= truncate(@user_personas.collect{|up| up.persona.name }.join(" | "), length: 70)
        #bottomboxcontent
          .span9
            .vitalinfo
              - @groups.each do |group|
                %div{ style: "margin-right: 8px;" }
                  = link_to group_path(group.permalink) do
                    = image_tag group.picture, class: "profile_group_icon img-circle", title: "Member of #{group.name}", alt: "Member of #{group.name}"
              - unless @user.location.blank?
                %div{ style: "display: block;" }
                  LOCATION:
                  %span= @user.location
            .shareprofile
              %p Share profile:
              = render "shared/sharing", { custom_style: "display: inline; float: right;", title: "#{@user.name}'s awesome profile on MetaBright.com", url: profile_url(@user.username) }
  
  - unless @user_personas.size == 0 || @enrollments.size == 0            
    .span12{ style: "margin-left: 0px;" }
      .profileheader{ style: "background-color: white;" }
        #persona_list_link{style: "display:inline-block; vertical-align: middle; width: 300px; cursor: pointer;"}
          =image_tag @current_user_persona.persona.picture, style: "vertical-align: middle;"
          %h3{ style: "vertical-align: middle; padding-top: 5px;" }= @current_user_persona.persona.name
          - if @user_personas.size > 1
            %span.caret{ style: "margin-left: 6px; margin-top: 22px; border-top: 6px solid #999; border-right: 6px solid transparent; border-left: 6px solid transparent;"}
        %div.progress.progress-success.progress-striped.profileprog
          %div.bar{ style:"width: #{@current_user_persona.percent_level}%"}
        %h5{ style: "width: 150px;" } #{@current_user_persona.persona.name} lvl. #{@current_user_persona.level}
      - if @user_personas.size > 1
        %div.hidden_personas{ style: "display: none;" }
          - @user_personas.each do |p|
            - next if p == @current_user_persona
            %div.profileheader{ style: "border: none; border-radius: 0px; border-left: 1px solid rgba(0,0,0,.1); border-right: 1px solid rgba(0,0,0,.1); background-image: none; background-color: white;" }
              = link_to profile_path(@user.username, p: p.persona.id) do
                %div{style: "display:inline-block; vertical-align: middle; width: 300px; cursor: pointer;"}
                  =image_tag p.persona.picture, style: "vertical-align: middle;"
                  %h3{ style: "vertical-align: middle; padding-top: 5px;" }= p.persona.name
                %div.progress.progress-success.progress-striped.profileprog
                  %div.bar{ style:"width: #{p.percent_level}%"}
                %h5{ style: "width: 150px;" } #{p.persona.name} lvl. #{p.level}
    %div.row
      %div.span5
        %div.challengeselector
          %ul
            - @enrollments.each do |enrollment|
              %li{ class: ("selected" if enrollment == @enrollments.first), "data-enrollment" => enrollment.id } 
                = image_tag enrollment.path.picture
                %span{style: "position:relative; top:2px; "}= truncate(enrollment.path.name, length: 19)
                %span.pts #{enrollment.total_points} points
        
        %div.leftbox.creations
          %div.leftboxheader My Contributions
          %div.leftboxfooter
            %div 
              %h2 Author
              - authorships = @contributions.select{ |c| c[:primary] }
              - if authorships.empty?
                %p No authorships.
              - else
                - authorships.each do |c| 
                  = render "users/contribution", contribution: c 
            %div 
              %h2 Top Contributor
              - top_contributions = @contributions.select{ |c| !c[:primary] and c[:count] > 10 }                
              - if top_contributions.empty?
                %p No top contributions.
              - else
                - top_contributions.each do |c| 
                  = render "users/contribution", contribution: c
            %div 
              %h2 Contributor
              - contributions = @contributions.select{ |c| c[:primary] and c[:count] <= 10 }                
              - if contributions.empty?
                %p No contributions.
              - else
                - contributions.each do |c| 
                  = render "users/contribution", contribution: c
                
        %div.leftbox
          %div.leftboxheader Similar People
          %div.leftboxfooter.similarpeople 
            %div.leftrailcontent
              - if @similar_people.empty?
                %p{ style: "padding: 10px 10px 10px 0;" } Truly, there is no equal for this person. Unique in every sense of the word.
              - @similar_people.each do |person|
                = link_to hovercard_user_path(person.username), class: "hovercard_link", remote: true do
                  = image_tag person.picture, size: "50x50", title: person.name, alt: person.name
        
        
           
      %div.span11.challenge_details
        - @enrollments.each do |enrollment|
          - path = enrollment.path
          - enrollment_details = @enrollment_details[enrollment.path_id]
          .challengecontent{ style: ("display: none;" unless enrollment == @enrollments.first), id: "enrollment_#{enrollment.id}" }
            .arenabucket
              %h2
                = link_to challenge_path(enrollment.path.permalink) do
                  = image_tag enrollment.path.picture, style: "width: 40px; height: 40px;"
                What I know...
              .profilecontent
                %div{ style: "height: 105px; "}
                  .myrank
                    %span= enrollment.level
                    %p Level
                    .progress.progress-striped.progress-info.profileprog{ style: "height:10px; width:92px; margin:0;" }
                      .bar{ style: "width: #{enrollment.level_percent}%;" }
                  %table.table.overview
                    %tbody
                    %tr
                      %td
                        %h3= enrollment_details[:core].size
                        %p Questions Correct
                      %td
                        %h3= enrollment.longest_streak
                        %p Longest Streak
                      %td
                        %h3= enrollment.highest_rank
                        %p Highest Rank
                      %td
                        %h3= enrollment_details[:votes]
                        %p Votes Received
                      %td
                        %h3= enrollment_details[:comments]
                        %p Comments Received
                .my_strengths
                  %h3 Strengths
                  - unless enrollment_details[:topics].empty?
                    %ul
                      - enrollment_details[:topics].each do |topic|
                        %li= topic
                  - else
                    %p{ style: "margin-top: 5px;"} No strengths discovered yet. Answer more questions to reveal new strengths.
            %hr
            %div.crbucket
              %h2
                = link_to challenge_path(enrollment.path.permalink) do
                  = image_tag enrollment.path.picture, style: "width: 40px; height: 40px;"
                What I can do...
              - if @user == current_user
                = link_to "Continue Challenge", challenge_path(enrollment.path.permalink, c: true, type: Task::CREATIVE), class: "button button-small button-actionable", style: "float: right; top: 2px; right: -3px; position: relative;"
              %h4 #{enrollment_details[:creative].posts.size} Creative Responses
              %div.profilecontent
                = render "newsfeed/feed", feed: enrollment_details[:creative]
  
            %hr
            %div.taskbucket
              %h2
                = link_to challenge_path(enrollment.path.permalink) do
                  = image_tag enrollment.path.picture, style: "width: 40px; height: 40px;"
                What I have done...
              - if false and @user == current_user
                = link_to "Add new Task", challenge_path(enrollment.path.permalink, c: true, type: Task::CHECKIN), class: "button button-small button-actionable", style: "float: right; top: 2px; right: -3px; position: relative;"
              %h4 #{enrollment_details[:tasks].posts.size} Tasks Completed
              %div.profilecontent
                = render "newsfeed/feed", feed: enrollment_details[:tasks]
                
    

:javascript
  $('.comment').click({ animation: 'slide', hover_x: '400px' });
  $(".challengeselector li").click(function(){
    $(".challengeselector li.selected").removeClass("selected");
    $(this).addClass("selected");
    
    $(".challengecontent").fadeOut();
    $("#enrollment_"+$(this).attr("data-enrollment")).fadeIn();
  });
  
  $("#persona_list_link").click(function(){
    if($('.hidden_personas').is(":visible")){
      $('.hidden_personas').hide();
    } else {
      $('.hidden_personas').show();
    }
  });
  
  $("#unfollow_button").on("ajax:success", function() {
    $(this).hide(); $("#follow_button").show();
    $("#follower_count").text(parseInt($("#follower_count").text())-1);
    $("#follow_button").removeClass("disabled").removeAttr("disabled");
  });
  
  $("#follow_button").on("ajax:success", function() {
    $(this).hide(); $("#unfollow_button").show().addClass("button-info").text("Following");
    $("#follower_count").text(parseInt($("#follower_count").text())+1);
    $("#unfollow_button").removeClass("disabled").removeAttr("disabled");
  }); 
    
  $("#following_box").on("mouseenter", function() {
    var $unfollow_button = $(this).find("#unfollow_button");
    $unfollow_button.addClass("button-actionable");
    $unfollow_button.removeClass("button-info");
    $unfollow_button.text("Unfollow");
  }).on("mouseleave", function() {
    var $unfollow_button = $(this).find("#unfollow_button");
    $unfollow_button.removeClass("button-actionable");
    $unfollow_button.addClass("button-info");
    $unfollow_button.text("Following");
  });
  
  $("#modal_following_box").on("mouseenter", function() {
    var $modal_unfollow_button = $(this).find("#modal_unfollow_button");
    $modal_unfollow_button.addClass("button-actionable");
    $modal_unfollow_button.removeClass("button-info");
    $modal_unfollow_button.text("Unfollow");
  }).on("mouseleave", function() {
    var $modal_unfollow_button = $(this).find("#modal_unfollow_button");
    $modal_unfollow_button.removeClass("button-actionable");
    $modal_unfollow_button.addClass("button-info");
    $modal_unfollow_button.text("Following");
  });
  
  $("#modal_unfollow_button").on("ajax:success", function() {
    $(this).hide(); $("#modal_follow_button").show();
    $("#modal_follower_count").text(parseInt($("#modal_follower_count").text())-1);
    $("#modal_follow_button").removeClass("disabled").removeAttr("disabled");
  });
  
  $("#modal_follow_button").on("ajax:success", function() {
    $(this).hide(); $("#modal_unfollow_button").show().addClass("button-info").text("Following");
    $("#modal_follower_count").text(parseInt($("#modal_follower_count").text())+1);
    $("#modal_unfollow_button").removeClass("disabled").removeAttr("disabled");
  });