:javascript
  $(function(){
    $('.bar2').mosaic({ animation : 'slide' });
    $('.comment').click({ animation: 'slide', hover_x: '400px' });
    $('.accordion-toggle').click(function() {
      if($(this).hasClass("active_accordion") == true ) {
        $(this).removeClass('active_accordion');
      } else {
        $(this).addClass('active_accordion');
      }
    });
  });
  
:css
  #profile .span69 { margin-left:20px; width:708px; }
  #profile .span3 { margin-left:12px; }
  
  #profile .leftboxfooter { background-color:white; padding-right:0; }
  #profile .leftrailicon { height:58px; width:58px; margin-right:8px; }
  #updatespace{ min-height:162px; }
  #topboxcontent { }
  #topboxcontent h1{ font-size:45px; line-height:45px; }
  #bottomboxcontent { margin-top: 97px; display:none; }
  #bottomboxcontent .span9 div { display:inline-block; color:gray; font-size: 20px; min-width:330px; }
  #bottomboxcontent .span9 ul { list-style:none; }
  #profilemeat { padding:10px 0; border-radius: 5px; border-top-right-radius:0; border-top-left-radius:0; position: relative; background-clip: padding-box; color: #333; background-color: white; min-height:200px; }
  .personabucket img { height:60px; width:60px; display:inline-block; }
  .personalabel .headerinfo { letter-spacing:2px; display:inline-block; font-size:20px; padding-bottom: 4px; width: 89%; ;bottom: 20px;position: relative;}
  .personalabel .headerinfo h3 {display:inline; margin-left:10px; }
  .challengelabel .headerinfo { border:none;position:relative; bottom: 10px; margin-left:10px; letter-spacing:1px; }
  .challengelabel .headerinfo h3 {line-height:30px; }
  .personalabel .headerinfo h3 { position:relative; padding-right:10px; top:24px; left:0;}
  .headerinfo {  display:inline-block;  }
  .bigname { font-size:25px; }
  .littledetails { font-size:20px; }
  .challengecontent h2 { margin-bottom:15px; }
  .challengecontent > div { margin-bottom:40px; }
  .challengebucket { margin: 20px auto 20px auto; width: 600px; padding: 12px;border: 1px solid rgba(0,0,0,.1);border-radius: 6px;background-color: #FCFCFC;}
  .challengebucket img { height:60px; width:60px; display:inline-block; border-radius:6px; vertical-align: baseline; }

  .challengebucket h4 { font-weight:bold; text-transform: uppercase; font-size: 14px;}
  .profilecontent { padding-bottom:8px;}
  .profilecontent .table { margin-bottom: 0; border: 1px solid rgba(0,0,0,.1); width:auto; box-shadow: 0 2px 4px rgba(0, 0, 0, .05); background-color:white; }
  .profilecontent .table td { text-align:center; border-left: 1px solid rgba(0,0,0,.1); font-size:14px; width:88px; border-top:none; }
  .arenabucket .profilecontent { }  
  .bucketsubtitle { font-size:18px; padding:12px;}
  .arenabucket .bucketsubtitle p { font-size: 15px; }
  .bucketsubtitle p { font-weight:bold; }
  .bucketsubtitle ul { margin:0 0 15px 50px; font-size:15px; }
  .bucketsubtitle li { margin-bottom: 5px; }
  .taskbox{ margin-left:40px; margin-bottom:25px; border: 1px solid rgba(0, 0, 0, .1); border-top-left-radius: 0;border-top-right-radius: 0;overflow-y: auto;background-color: transparent;background-image: -moz-linear-gradient(top,rgba(0, 0, 0, .06),transparent);background-image: -ms-linear-gradient(top,rgba(0, 0, 0, .06),transparent);background-image: -o-linear-gradient(top,rgba(0, 0, 0, .06),transparent);background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, .06)), to(transparent));background-image: -webkit-linear-gradient(top,rgba(0, 0, 0, 0.1),transparent);background-image: linear-gradient(top,rgba(0, 0, 0, .06),transparent);border-bottom-right-radius: 6px; border-bottom-left-radius:6px; padding:5px 12px 17px 12px; width: 89%;}
  .taskbox h3{ text-shadow: 1px 0 0 #fff; }
  .taskbox img { height:auto; width: auto; border-radius:0;  max-width: 100%; max-height: 300px; border-color: #ccc; border-style: solid; border-width: 0px; display: block; margin-left: auto; margin-right: auto; margin-top:10px; }
  .taskbucket a { cursor: pointer; }
  .taskboxheader { padding:0 20px; border: 1px solid rgba(0, 0, 0, .1);margin-left: 40px;border-top-left-radius: 6px;width: 87%;background-color: rgb(66, 66, 66);color: white;border-top-right-radius: 6px;border-bottom: transparent;}
  .taskboxheader h3 { font-size:20px; }
  #profile .post {width: 500px;margin-right: auto;margin-left: auto;}
  #profile .post:hover { background-color: transparent; }
  #profile .postspace { width:474px; }
  #profile .postspace img { height:20px; width:20px; }
  #profile .postphotospace img { height:50px; width:50px; }
  .personalabel { cursor:pointer; background-color:white; padding:12px 27px; border-bottom: 1px solid rgba(0,0,0,.1); border-top: 1px solid rgba(0,0,0,.1); background-image: -webkit-linear-gradient(top,white,rgb(243, 243, 243)); }
  .personalabel:hover {border-color: rgba(82, 168, 236, 0.8);outline: 0;outline: thin dotted 9;-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);}  
  .challengebucket .sub {font-size:14px;}
  
  .profileheader { background-image: -webkit-linear-gradient(top,white,rgb(243, 243, 243)); padding: 4px 10px 8px 10px; border: 1px solid rgba(0,0,0,.1);border-bottom: none;border-top-right-radius: 6px;border-top-left-radius: 6px;}
  .profileheader img{ display:inline-block; width:35px; height:35px;  }
  .profileheader > div { display: inline-block; }
  .profileheader h3 { display:inline-block; font-size: 20px; text-transform: uppercase;top: 3px;left: 4px; position: relative;}
  .challengeselector { background-color: #f9f9f9; border: 1px solid rgba(0,0,0,.1);border-bottom-left-radius: 6px; border-bottom:none; border-right:none; }
  .challengeselector ul { list-style: none; margin:0;  }
  .challengeselector li { font-size:15px; border-bottom:1px solid rgba(0,0,0,.1); padding: 7px 12px; cursor:pointer; }
  .challengeselector li:last-child:hover { border-bottom-left-radius:6px; }
  .challengeselector li:hover { background-image: -moz-linear-gradient(white, white 5%, #E6E6E6); background-image: -ms-linear-gradient(white, white 5%, #E6E6E6);  background-image: -o-linear-gradient(white, white 5%, #E6E6E6);  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), color-stop(0.05, white), to(#E6E6E6));  background-image: -webkit-linear-gradient(white, white 5%, #E6E6E6);  background-image: linear-gradient(white, white 5%, #E6E6E6);  color: rgb(75, 75, 75);  text-shadow: 0 1px 0px whitesmoke;  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='white', EndColorStr='#E6E6E6');  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='white', EndColorStr='#E6E6E6')";  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.2);  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.2);    box-shadow: 0 1px 1px rgba(0,0,0,0.2);}
  .challengeselector li:active { background-color: rgb(245, 245, 245);  background-image: none;  outline: 0;  -webkit-box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.05);  -moz-box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.05);  box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.05);}
  #profile .span11 { margin:0; }
  #profile .span5 { width: 300px; }
  #profile .span5 .leftbox { width:288px; margin-top:12px; }
  .challengecontent {background-color: #fcfcfc; padding: 12px 12px 12px 40px;border: 1px solid rgba(0,0,0,.1);border-bottom-right-radius: 6px;border-bottom-left-radius: 6px; }
  .progresssection { float: right; margin-top: 12px;}
  .progresssection .progress { display:inline-block; }
  .challengecontent h2 { color: rgb(154, 195, 197); text-shadow: 1px 0 0 #fff; font-weight:bold; font-size:35px; letter-spacing:1px;}
  
%div#profile
  %div#topsection
    %div#updatespace
      = image_tag @user.picture, class: "bigheaderimage", alt: "#{@user.name}"
      %div.rightofbigheaderimage
        %div#topboxcontent{}
          %div{ style: "width: 119px; float:right;" }
            - if @user == current_user
              = link_to "Edit Profile", edit_user_path(@user.username), class: "button button-actionable"
          %div.span7{style: "min-height: 65px; vertical-align: top; margin: 0; width: 600px;"}
            %h1= @user.name
            %p{ style: "font-size: 26px; margin: 5px 0 0px 0;"}= truncate(@enrolled_personas.collect(&:name).join(", "), length: 70)
        %div#bottomboxcontent
          %div.span9
            %div{ style: "display:inline-block; "}
              %ul
                %li Education:
                %li Company:
            %div{ style: "display:inline-block; "}
              %ul
                %li Looking for:
                %li Personal links:
  %div.row
    %div.span12
      %div.profileheader
        %div
          %img{src:"http://www.placekitten.com/50/50"}
          %h3 Persona Name
        %div.progresssection
          %h4 Level 5
  %div.row
    %div.span5
      %div.challengeselector
        %ul
          %li Challenge name
          %li Challenge name
          %li Challenge name
          %li Challenge name
      %div.leftbox
        %div.leftboxheader Vital Stats
        %div.leftboxfooter Stuff
    %div.span11
      %div.challengecontent
        %div.arenabucket
          %h2 What I know...
          %div.profilecontent
            %table.table.overview
              %tbody
                %tr
                  %td
                    %h3 12
                    %p Questions Correct
                  %td
                    %h3 2
                    %p Highest Rank
                  %td
                    %h3 5
                    %p Longest Streak
                  %td
                    %h3 21
                    %p Upvotes Received
                  %td
                    %h3 8
                    %p Comments Received
        %hr{ style: "width:94.7%;" }
        %div.taskbucket
          %h2 What I've done...
          %h4 18 Tasks Completed
          %div.profilecontent
            .post                      
              .postspace
                .postheader
                  %h3
                    %a.username{:href => "/nathanielsokollward"} Nathaniel Sokoll-Ward
                  %span{:style => ""}
                    %a.challengename{:href => "/challenges/rubyrailstesting"} Ruby / Rails testing
                  .votingandpointsarea
                    %span.vote_points{:style => "font-weight: bold;color: #404040;font-size: 16px;position: relative; top:3px;"} 150
                    %span{:style => "font-weight: bold;color: #404040;font-size: 16px;position: relative; top:3px; margin-right:5px;"} pts
                    .dropdown.submission-icon{:style => "padding-top:0px; margin: 0px;"}
                      %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#", :style => "padding:0px;"}
                        %span.caret{:style => "margin: 6px 0 0 0;"}
                      %ul.dropdown-menu{:role => "button", :style => "margin: 0; padding: 0; top:26px; left: -71px; min-width: 140px;"}
                        %li{:style => "margin-left: -10px;"}
                          .graynub{:style => "top:-17px; left: 75px; margin:0; "}
                          %div{:style => "padding: 3px 0px; margin:0;"}
                            %ul.profile_dropdown{:style => "list-style: none; margin: 0px; padding: 0; min-width: 120px;"}
                              %li
                                %a.retract_link{"data-confirm" => "Are you sure you want to delete your submission?", "data-remote" => "true", :href => "/retract/8086", :style => "padding: 0; color: inherit; text-shadow: none; padding-left: 8px; margin-left: -8px; margin-bottom: 2px;"} Delete Submission
                .posttext.leveltext.dropdown
                  %pre.dropdown-toggle{"data-toggle" => "dropdown", :href => "#", :role => "button", :style => "color:inherit; cursor:default;"} Why do you think testing your software may be important?
                  %ul.dropdown-menu{:role => "menu", :style => "left:99.5%; top:-70%; min-width:152px;"}
                    %li
                      %div
                        .sidenub
                      %div{:style => "padding: 3px 0px;"}
                        %ul.profile_dropdown{:style => "list-style: none; margin: 0 2px 0 4px;"}
                          %li.CR_dropdown_option{:style => "display:none;"}
                            %a{:href => "/sections/97/take/494"} Answer this question
                          %li.CR_dropdown_option
                            %a{:href => "/tasks/494/view"} View all responses
                          %li.CR_dropdown_option
                            %a{:href => "/submissions/683/view"} View all comments
                #cr_pop.CRarea
                  %pre{:style => "margin:20px; word-break:normal;"}
                    It's smart business. Nobody likes losing time or money because of a bug. The classic (albeit hyperbolic) example here is the failure of the Ariane 5 rocket.
                    
                    "Ariane 5's first test flight (Ariane 5 Flight 501) on 4 June 1996 failed, with the rocket self-destructing 37 seconds after launch because of a malfunction in the control software. A data conversion from 64-bit floating point value to 16-bit signed integer value to be stored in a variable representing horizontal bias caused a processor trap (operand error) because the floating point value was too large to be represented by a 16-bit signed integer."
                    %a{:href => "http://en.wikipedia.org/wiki/Ariane_5#Notable_launches", :target => "_blank"} http://en.wikipedia.org/wiki/Ariane_5#Notable_launches
                .postfooter
                  .leftstuff
                    .displayin.floatl
                      %a.comment{:onclick => "open_comments(this);", :style => "position: relative; top: 5px;"} 3 Comments
                    .addthis_toolbox.social_toolbar{"addthis:title" => "Great response in the Ruby / Rails testing Challenge on @MetaBright.", "addthis:url" => "http://www.metabright.com/paths/rubyrailstesting/submission/683", :style => "display: inline; margin-right: 10px; float: right;"}
                      %a{:href => "#", :onclick => "javascript:void window.open('https://www.facebook.com/sharer/sharer.php?u=http://www.metabright.com/paths/rubyrailstesting/submission/683','sharing','width=550,height=300,toolbar=0,menubar=0,location=0,status=0,scrollbars=0,resizable=1,left=0,top=0');return false;"}
                        %img{:alt => "Share on Facebook", :src => "https://s3.amazonaws.com/moonlite-nsdub/static/icon+Facebook+small.png"}/
                      %a{:href => "#", :onclick => "javascript:void window.open('https://twitter.com/intent/tweet?text=Great response in the Ruby / Rails testing Challenge on @MetaBright.&url=http://www.metabright.com/paths/rubyrailstesting/submission/683&related=','sharing','width=550,height=300,toolbar=0,menubar=0,location=0,status=0,scrollbars=0,resizable=1,left=0,top=0');return false;"}
                        %img{:alt => "Share on Twitter", :src => "https://s3.amazonaws.com/moonlite-nsdub/static/icon+twitter+small.png"}/
                      %a{:href => "#", :onclick => "javascript:void window.open('https://plus.google.com/share?url=http://www.metabright.com/paths/rubyrailstesting/submission/683&t=Great response in the Ruby / Rails testing Challenge on @MetaBright.','sharing','width=550,height=300,toolbar=0,menubar=0,location=0,status=0,scrollbars=0,resizable=1,left=0,top=0');return false;"}
                        %img{:alt => "Share on Google+", :src => "https://s3.amazonaws.com/moonlite-nsdub/static/icon+Google%2B+small.png"}/
                  .comments{:style => "text-align: left; display: none;"}
                    %ul{:style => "list-style: none; margin: 10px 0 20px 0;"}
                      %li
                        %div{:style => "float:left;"}
                          %a{:href => "/nathanielsokollward"}
                            %img.commentphoto{:alt => "Photo", :src => "https://lh5.googleusercontent.com/-3ms2Fcl-wBI/AAAAAAAAAAI/AAAAAAAAIfk/EGQexs3Mcf4/photo.jpg"}/
                        %div{:style => "overflow:hidden; margin: 0 0 0 43px;"}
                          %pre.unstyled.text_content{:style => "font-size: 13px; color: black; margin-left: 0;"} The lesson here is obvious: test your software, or get ready to lose $7 billion
                          %p{:style => "margin-left: 0;"}
                            %a{:href => "/nathanielsokollward"} Nathaniel Sokoll-Ward
                            about 9 days ago.
                            %a.comment_delete{"data-method" => "delete", "data-remote" => "true", :href => "/comments/204", :rel => "nofollow"} Remove.
                      %li
                        %div{:style => "float:left;"}
                          %a{:href => "/joelpearson"}
                            %img.commentphoto{:alt => "F001c1cf1c39f6e0c44f25676b93ce968cb0e293_full", :src => "http://media.steampowered.com/steamcommunity/public/images/avatars/f0/f001c1cf1c39f6e0c44f25676b93ce968cb0e293_full.jpg"}/
                        %div{:style => "overflow:hidden; margin: 0 0 0 43px;"}
                          %pre.unstyled.text_content{:style => "font-size: 13px; color: black; margin-left: 0;"} + for citing references :)
                          %p{:style => "margin-left: 0;"}
                            %a{:href => "/joelpearson"} Joel Pearson
                            about 8 days ago.
                      %li
                        %div{:style => "float:left;"}
                          %a{:href => "/jonathankirst4"}
                            %img.commentphoto{:alt => "Photo", :src => "https://lh3.googleusercontent.com/-biyqY3RVSnQ/AAAAAAAAAAI/AAAAAAAAAAA/JoQ9BiBg0kE/photo.jpg"}/
                        %div{:style => "overflow:hidden; margin: 0 0 0 43px;"}
                          %pre.unstyled.text_content{:style => "font-size: 13px; color: black; margin-left: 0;"} Totally. New feature idea....
                          %p{:style => "margin-left: 0;"}
                            %a{:href => "/jonathankirst4"} Jonathan Kirst
                            about 8 days ago.
                    %form#new_comment.new_comment{"accept-charset" => "UTF-8", :action => "/comments", "data-remote" => "true", :method => "post"}
                      %div{:style => "margin:0;padding:0;display:inline"}
                        %input{:name => "utf8", :type => "hidden", :value => "✓"}/
                        %input{:name => "authenticity_token", :type => "hidden", :value => "weJUF/4iOHFMISu/oL/ae4dV3Y3HFc+cbXm9p9ExuMs="}/
                      %div{:style => "width: 100%"}
                        %textarea#comment_content{:cols => "40", :name => "comment[content]", :rows => "2", :style => "width: 510px; height: 55px; "}
                      %input#comment_owner_type{:name => "comment[owner_type]", :type => "hidden", :value => "SubmittedAnswer"}/
                      %input#comment_owner_id{:name => "comment[owner_id]", :type => "hidden", :value => "683"}/
                      %input.button.button-standard.button-small{:name => "commit", :style => "margin-top:15px;", :type => "submit", :value => "Add Comment"}/                        
            %center
              %a See more
        %hr{ style: "width:94.7%;" }
        %div.crbucket
          %h2 What I can do...
          %h4 18 Creative Responses
          %div.profilecontent