%div#profile
  %div#topsection
    %div#updatespace
      = image_tag @user.picture, class: "bigheaderimage", alt: "#{@user.name}"
      %div.rightofbigheaderimage
        %div#topboxcontent{}
          %div{ style: "width: 119px; float:right;" }
            - if @user == current_user
              = link_to "Edit Profile", edit_user_path(@user.username), class: "button button-actionable"
          %div.span7{style: "min-height: 65px; vertical-align: top; margin: 0; width: 600px;"}
            %h1= @user.name
            - if @user.description
              %p{ style: "font-family:'MuliItalic'; font-size:23px; margin: 10px 0 10px 0;"} "#{@user.description}"
            %p{ style: "font-size: 18px; margin: 10px 0 5px 0; color: rgb(80, 80, 80);"}= truncate(@user_personas.collect{|up| up.persona.name }.join(" | "), length: 70)
        %div#bottomboxcontent
          %div.span9
            %div.vitalinfo
              %div
                LOCATION:
                %span= @user.location
            %div.shareprofile
              %p Share profile:
              = render "shared/sharing", { custom_style: "display: inline; margin-right: 10px; float: right;", title: "#{@user.name}'s awesome profile on MetaBright.com", url: request.url }
                
  %div.span12{ style: "margin-left: 0px;" }
    %div.profileheader
      %div{style: "display:inline-block;"}
        =image_tag @current_user_persona.persona.picture
        %h3= @current_user_persona.persona.name
      %div.progress.progress-success.progress-striped.profileprog
        %div.bar{ style:"width: #{@current_user_persona.percent_level}%"}
      %h5 #{@current_user_persona.persona.name} lvl. #{@current_user_persona.level}
  %div.row
    %div.span5
      %div.challengeselector
        %ul
          - @enrollments.each do |enrollment|
            %li{ class: ("selected" if enrollment == @enrollments.first), "data-enrollment" => enrollment.id } 
              = image_tag enrollment.path.picture
              %span{style: "position:relative; top:2px; "}= truncate(enrollment.path.name, length: 19)
              %span.pts #{enrollment.total_points} points
              
      %div.leftbox
        %div.leftboxheader Similar People
        %div.leftboxfooter.similarpeople 
          %div.leftrailcontent
            - @similar_people.each do |person|
              = link_to profile_path(person.username) do
                = image_tag person.picture, size: "50x50"
         
    %div.span11.challenge_details
      - @enrollments.each do |enrollment|
        - path = enrollment.path
        %div.challengecontent{ style: ("display: none;" unless enrollment == @enrollments.first), id: "enrollment_#{enrollment.id}" }
          %div.arenabucket
            %h2{ style: "margin-left: -13px;"}
              = image_tag enrollment.path.picture, style: "width: 40px; height: 40px;"
              What I know...
            %div.profilecontent
              %div.myrank
                %span= enrollment.level
                %p Level
                %div.progress.progress-striped.progress-info.profileprog{ style: "height:10px; width:92px; margin:0;" }
                  %div.bar{ style: "width: #{enrollment.level_percent}%;" }
              %table.table.overview
                %tbody
                  %tr
                    %td
                      %h3= enrollment.completed_tasks.joins(:task).where("status_id = ? and tasks.answer_type = ?", Answer::CORRECT, Task::MULTIPLE).count
                      %p Questions Correct
                    %td
                      %h3= enrollment.longest_streak
                      %p Longest Streak
                    %td
                      %h3= enrollment.highest_rank
                      %p Highest Rank
                    %td
                      %h3 8
                      %p Comments Received

          %hr
          %div.crbucket
            %h2{ style: "margin-left: -13px;"}
              = image_tag enrollment.path.picture, style: "width: 40px; height: 40px;"
              What I can do...
            %h4 #{enrollment.creative_responses.count} Creative Responses
            %div.profilecontent
              - enrollment.creative_responses.limit(5).each do |task|
                .post                      
                  .postspace
                    .postheader
                      %h3
                        %a.username= @user.name
                      = link_to path.name, challenge_path(path.permalink), class: "challengename" 
                      .votingandpointsarea
                        %span.vote_points{:style => "font-weight: bold;color: #404040;font-size: 16px;position: relative; top:3px;"}= task.points_awarded
                        %span{:style => "font-weight: bold;color: #404040;font-size: 16px;position: relative; top:3px; margin-right:5px;"} pts
                    .posttext.leveltext.dropdown
                      %pre.dropdown-toggle{"data-toggle" => "dropdown", :href => "#", :role => "button", :style => "color:inherit; cursor:default;"} Why do you think testing your software may be important?
                    #cr_pop.CRarea
                      - if task.task.text?
                        %pre.unstyled{ style: "margin:20px; word-break:normal;" }= task.submitted_answer.content
                      - elsif task.task.image?
                        = image_tag(sanitize(task.submitted_answer.preview))
                      - elsif task.task.youtube?
                        %center
                          %div.youtube_answer{ id: "youtube_answer_#{task.id}", alt: task.submitted_answer.url }
                    = render "comments/comments", social_details(task)                        

          %hr
          %div.taskbucket
            - tasks = enrollment.tasks
            %h2{ style: "margin-left: -13px;"}
              = image_tag enrollment.path.picture, style: "width: 40px; height: 40px;"
              What I have done...
            %h4 #{tasks.size} Tasks Completed
            %div.profilecontent
              - tasks.each do |task|
                .post                      
                  .postspace
                    .postheader
                      %h3
                        %a.username= @user.name
                      = link_to path.name, challenge_path(path.permalink), class: "challengename" 
                      .votingandpointsarea
                        %span.vote_points{:style => "font-weight: bold;color: #404040;font-size: 16px;position: relative; top:3px;"}= task.points_awarded
                        %span{:style => "font-weight: bold;color: #404040;font-size: 16px;position: relative; top:3px; margin-right:5px;"} pts
                    .posttext.leveltext.dropdown
                      %pre.dropdown-toggle{"data-toggle" => "dropdown", :href => "#", :role => "button", :style => "color:inherit; cursor:default;"} Why do you think testing your software may be important?
                    #cr_pop.CRarea
                      %div{ style: "position: relative; font-size: 12px; min-height: 250px; max-height: 300px; overflow-x: hidden; overflow-y: hidden;" }
                        %div.content{ style: "position: absolute; top: 0; left: 0; min-width: 100%; min-height: 100%; z-index: 1; font-size: 20px;"}
                          %pre.unstyled= task.submitted_answer.content
                        = image_tag (task.submitted_answer.task_image_url.blank? ? "/images/image_thumb.png" : task.submitted_answer.task_image_url), alt: "Image placeholder", class: "preview_image", style:"#{task.submitted_answer.content.blank? ? 'width: 70%;' : 'height: 125px;float: right;'} top: 0px; z-index: 500;"
                        %div.details{ style: "padding: 5px 2px; height: 50px; width: 100%; position: absolute; bottom: 0px; left: 0px; z-index: 1000; background-color: black;"}
                          %h4.title= task.submitted_answer.title.blank? ? "#{task.user.name} marked this task complete on #{task.submitted_answer.created_at.strftime('%B %d, %Y')}." : task.submitted_answer.title
                          - if not task.submitted_answer.caption.blank?
                            %h5.description= task.submitted_answer.caption
                          - if not task.submitted_answer.description.blank?
                            %h5.description= task.submitted_answer.description
                    = render "comments/comments", social_details(task)

:javascript
  $(function(){
    $('.comment').click({ animation: 'slide', hover_x: '400px' });
    $(".challengeselector li").click(function(){
      $(".challengeselector li.selected").removeClass("selected");
      $(this).addClass("selected");
      
      $(".challengecontent").fadeOut();
      $("#enrollment_"+$(this).attr("data-enrollment")).fadeIn();
    });
  });