:javascript
  $(function(){
    $('.bar2').mosaic({ animation : 'slide' });
    $('.comment').click({ animation: 'slide', hover_x: '400px' });
    $('.accordion-toggle').click(function() {
      if($(this).hasClass("active_accordion") == true ) {
        $(this).removeClass('active_accordion');
      } else {
        $(this).addClass('active_accordion');
      }
    });
  });

%div#homepage
  %div#topsection
    %div#updatespace
      = image_tag @user.profile_pic, class: "bigheaderimage"
      %div.rightofbigheaderimage
        %div#topboxcontent{ style: "height: 83px;" }
          %div{ style: "width: 119px; float:right;" }
            - if @user == current_user
              = link_to "Edit Profile", edit_user_path(@user), class: "button button-standard"
          %div.span7{style: "min-height: 65px; vertical-align: top; margin: 0; width: 600px;"}
            %h1= @user.name
            %p{ style: "font-size: 16px; margin: 5px 0 0px 0;"}= truncate(@enrolled_personas.collect(&:name).join(", "), length: 70)
        %div#challengecarousel_container
          - if @enrollments.size > 3
            %div#challengeleft_scroll
              %a{href: "javascript:challengeslide(\"left\");"}
                %img{src: "https://s3.amazonaws.com/moonlite-nsdub/static/random+icons/arrow_angle_left_light.png"}/
          %div#challengecarousel_inner
            %ul#challengecarousel_ul
              - if @enrollments.size < 4
                = render "shared/mosaic", { custom_class: "addthis_button_facebook", link: "#", title: "Sharing is caring", subtitle: "Spread the Metabright Gospel!", pic: "https://s3.amazonaws.com/moonlite-nsdub/static/carousel_images/fb_green_carousel.png" }
              - @enrollments.each do |e|
                = render "shared/mosaic", { custom_class: "clip_pic", pic: e.path.path_pic, link: challenge_path(e.path.permalink), title: e.path.name, subtitle: "Level #{e.level}, #{e.total_points} points" }
          - if @enrollments.size > 3
            %div#challengeright_scroll
              %a{href: "javascript:challengeslide(\"right\");"}
                %img{src: "https://s3.amazonaws.com/moonlite-nsdub/static/random+icons/arrow_angle_right_light.png"}/
      %input#challengehidden_auto_slide_seconds{:type => "hidden", :value => "0"}/

  %div.row
    %div.span5
      %div.leftbox{}
        %div.leftboxheader
          Completed Tasks
        - if @completed_tasks_by_challenge.count > 0
          %div.leftboxfooter
            %div.accordion
              - counter = 0
              - @completed_tasks_by_challenge.each do |challenge_name, tasks|
                - challenge_id = "challenge_#{counter.to_s}"
                - counter += 1
                %div.accordion-group
                  %div.accordion-heading
                    %a.accordion-toggle{ "data-toggle" => "collapse", href: "##{challenge_id}" }
                      %div.expand_contract
                      %span= challenge_name
                  %div.accordion-body.collapse{ id: challenge_id }
                    %div.accordion-inner
                      - tasks.each do |task|
                        %div.singletaskentry
                          %img{ src: "https://s3.amazonaws.com/moonlite-nsdub/static/random+icons/check_blue3.png" }
                          %div
                            %span{ style: "display:block;" }= task.question
        - else
          %div.leftboxfooter{style: "padding-top:6px;"}
            %span
              No tasks have been completed yet.                           
      %div.leftbox{ style: "" }
        %div.leftboxheader Persona Progress
        %div.leftboxfooter{style:"padding-top: 6px"}
          - @user_personas.each do |user_persona|
            %div.persona_progress_area
              = image_tag user_persona.persona.image, style:"width:50px; height:50px;"              
              %div.personaprogress
                %span{ style: "font-size:18px;" }= user_persona.persona.name
                %span{style: "font-size:14px; float:right; "} Level #{user_persona.level}
                %span{ style: "position:relative; bottom:3px;display:block; line-height:16px;"} #{user_persona.points_to_next_level} more points to level up!
                %div.progress.progress-info
                  %div.bar{ style: "width: #{user_persona.percent_level}%;"} 

      %div.leftbox
        %div.leftboxheader Vital Stats
        %div.leftboxfooter{style:"padding-top: 6px"}
          %ul
            - unless @user.description.blank?
              %li About: #{@user.description}
            %li Location: #{@user.location || "A galaxy far, far away..."}
            - unless @user.education.blank? 
              %li Education: #{@user.education}
            - unless @user.company_name.blank?
              %li Company: #{@user.company_name}  
            - unless @user.title.blank?
              %li Title: #{@user.title}            
            - unless @user.link.blank?
              %li Link: <a href='#{@user.link}' target='_newtab'>#{truncate(@user.link)}</a> 
    %div.span11
      %div.newsfeed{ style: "min-height: 285px;" }
        %div.leftboxheader
          %div
            %span{ style: "border-bottom: 0px; padding-top:1px;" } Stream
            = link_to "Votes", user_path(@user, order: "votes"), class: "btn leftbtn"
            = link_to "Date", user_path(@user, order: "date"), class: "btn midbtn"
            %a.btn.rightbtn{ onclick: "$(this).parents('.leftboxheader').find('.questions_filter').slideDown();" } Question
          %div.questions_filter{ style: "display:none; text-transform: none;" }
            - if @creative_task_questions.empty?
              %p There are no responses to be viewed yet.
            - else
              %p{ style: "font-size: 13px; margin: 10px 5px; color: black;" } Click on one of the questions below to see the response for that question only.
              %ol
                - @creative_task_questions.each do |task|
                  %li{ style: "padding: 5px;" }= link_to truncate(task.question, length: 80), user_path(@user, task: task.id), style: "font-size: 14px; text-decoration: none; color: #0064CD"
        = render "shared/newsfeed"