#profile
  - if @user == current_user && current_user.guest_user?
    .help_box
      :javascript
        function append_error(e){
          $("#update_user").find("p.error").remove();
          $("#update_user").append("<p class='error'>"+e+"</p>");
        }
        $(function(){
          $("#update_user").submit(function(){
            var e = "";
            if($("#user_name").val() == ""){
              e = "Please enter a name."
            } else if($("#user_email").val() == ""){
              e = "Please enter an email."
            } else if($("#user_password").val() == ""){
              e = "Please enter a password."
            }
            if(e != ""){
              append_error(e);
              return false;
            }
          });
        });
      .header
        = image_tag STONEY_SMALL_URL, alt: "Stoney" 
        %h1 Kind of bare, isn't it?
      .body
        %h4
          Sign up with Google or Facebook to make your profile awesome in a hurry. Or sign up with your email address, and edit your profile manually.
        %div{ style: "margin-top: 20px;" }
          %div
            = link_to "/auth/google_oauth2", class: "btn danger", style: "width: 205px; margin-right: 60px; " do
              = image_tag ICON_LOGIN_GOOGLE, alt: "Google sign up"
              %span.landingbuttontext Sign in with Google »        
            = link_to "/auth/facebook", class: "btn danger" do
              = image_tag ICON_LOGIN_FACEBOOK, alt: "Facebook sign up"
              %span.landingbuttontext Sign in with Facebook »
          %div.divider OR
          = form_for(current_user, html: { id: "update_user" }) do |f|
            = f.text_field :name, value: nil, placeholder: "Name"
            = f.text_field :email, style: "margin-left: 10px; margin-right: 10px;", value: nil, placeholder: "E-Mail"
            = f.password_field :password, value: nil, placeholder: "Password", style: "margin-right: 10px;"
            = f.submit "Submit", class: "button button-standard button-small", style: "margin-bottom: 10px; width: inherit; padding: 4px 10px; font-size: 14px;"
  #topsection
    #updatespace
      = image_tag @user.picture, class: "bigheaderimage", alt: "#{@user.name}"
      .rightofbigheaderimage
        #topprofilecontent{}
          %div{ style: "width: 119px; float:right;" }
            - if @user == current_user
              = link_to "Edit Profile", edit_user_path(@user.username), class: "button button-actionable"
          .span7{style: "min-height: 65px; vertical-align: top; margin: 8px 0 0 0; width: 600px;"}
            %h1= @user.name
            - unless @user.description.blank?
              %p{ style: "font-family:'MuliItalic'; font-size:23px; margin: 10px 0 10px 0;"} "#{@user.description}"
            %p{ style: "font-size: 18px; margin: 10px 0 5px 0; color: rgb(80, 80, 80);"}= truncate(@user_personas.collect{|up| up.persona.name }.join(" | "), length: 70)
        #bottomboxcontent
          .span9
            .vitalinfo
              %div
                LOCATION:
                %span= @user.location
            .shareprofile
              %p Share profile:
              = render "shared/sharing", { custom_style: "display: inline; margin-right: 10px; float: right;", title: "#{@user.name}'s awesome profile on MetaBright.com", url: profile_url(@user.username) }
  
  - unless @user_personas.size == 0 || @enrollments.size == 0            
    .span12{ style: "margin-left: 0px;" }
      .profileheader
        #persona_list_link{style: "display:inline-block; vertical-align: middle; width: 300px; cursor: pointer;"}
          =image_tag @current_user_persona.persona.picture, style: "vertical-align: middle;"
          %h3{ style: "vertical-align: middle; padding-top: 5px;" }= @current_user_persona.persona.name
          - if @user_personas.size > 1
            %span.caret{ style: "margin-left: 6px; margin-top: 22px; border-top: 6px solid #999; border-right: 6px solid transparent; border-left: 6px solid transparent;"}
        %div.progress.progress-success.progress-striped.profileprog
          %div.bar{ style:"width: #{@current_user_persona.percent_level}%"}
        %h5{ style: "width: 150px;" } #{@current_user_persona.persona.name} lvl. #{@current_user_persona.level}
      - if @user_personas.size > 1
        %div.hidden_personas{ style: "display: none;" }
          - @user_personas.each do |p|
            - next if p == @current_user_persona
            %div.profileheader{ style: "border: none; border-radius: 0px; border-left: 1px solid rgba(0,0,0,.1); border-right: 1px solid rgba(0,0,0,.1); background-image: none; background-color: white;" }
              = link_to profile_path(@user.username, p: p.persona.id) do
                %div{style: "display:inline-block; vertical-align: middle; width: 300px; cursor: pointer;"}
                  =image_tag p.persona.picture, style: "vertical-align: middle;"
                  %h3{ style: "vertical-align: middle; padding-top: 5px;" }= p.persona.name
                %div.progress.progress-success.progress-striped.profileprog
                  %div.bar{ style:"width: #{p.percent_level}%"}
                %h5{ style: "width: 150px;" } #{p.persona.name} lvl. #{p.level}
    %div.row
      %div.span5
        %div.challengeselector
          %ul
            - @enrollments.each do |enrollment|
              %li{ class: ("selected" if enrollment == @enrollments.first), "data-enrollment" => enrollment.id } 
                = image_tag enrollment.path.picture
                %span{style: "position:relative; top:2px; "}= truncate(enrollment.path.name, length: 19)
                %span.pts #{enrollment.total_points} points
                
        %div.leftbox
          %div.leftboxheader Similar People
          %div.leftboxfooter.similarpeople 
            %div.leftrailcontent
              - if @similar_people.empty?
                %p{ style: "padding: 10px 10px 10px 0;" } Truly, there is no equal for this person. Unique in every sense of the word.
              - @similar_people.each do |person|
                = link_to profile_path(person.username) do
                  = image_tag person.picture, size: "50x50", title: person.name, alt: person.name
           
      %div.span11.challenge_details
        - @enrollments.each do |enrollment|
          - path = enrollment.path
          %div.challengecontent{ style: ("display: none;" unless enrollment == @enrollments.first), id: "enrollment_#{enrollment.id}" }
            %div.arenabucket
              %h2
                = link_to challenge_path(enrollment.path.permalink) do
                  = image_tag enrollment.path.picture, style: "width: 40px; height: 40px;"
                What I know...
              %div.profilecontent
                %div.myrank
                  %span= enrollment.level
                  %p Level
                  %div.progress.progress-striped.progress-info.profileprog{ style: "height:10px; width:92px; margin:0;" }
                    %div.bar{ style: "width: #{enrollment.level_percent}%;" }
                %table.table.overview
                  %tbody
                    %tr
                      %td
                        %h3= enrollment.completed_tasks.joins(:task).where("status_id = ? and tasks.answer_type = ?", Answer::CORRECT, Task::MULTIPLE).count
                        %p Questions Correct
                      %td
                        %h3= enrollment.longest_streak
                        %p Longest Streak
                      %td
                        %h3= enrollment.highest_rank
                        %p Highest Rank
                      %td
                        %h3= enrollment.votes_received
                        %p Votes Received
                      %td
                        %h3= enrollment.comments_received
                        %p Comments Received
  
            %hr
            %div.crbucket
              %h2
                = link_to challenge_path(enrollment.path.permalink) do
                  = image_tag enrollment.path.picture, style: "width: 40px; height: 40px;"
                What I can do...
              - if @user == current_user
                = link_to "Add new CR", challenge_path(enrollment.path.permalink, c: true, type: Task::CHECKIN), class: "button button-small button-actionable", style: "float: right; top: 2px; right: -3px; position: relative;"
              %h4 #{enrollment.creative_responses.count} Creative Responses
              %div.profilecontent
                = render "newsfeed/feed", feed: NewsfeedHelper::Feed.new(params, current_user, nil, enrollment.creative_responses.where("completed_tasks.status_id = ?", Answer::CORRECT).limit(5))                
  
            %hr
            %div.taskbucket
              - tasks = 
              %h2
                = link_to challenge_path(enrollment.path.permalink) do
                  = image_tag enrollment.path.picture, style: "width: 40px; height: 40px;"
                What I have done...
              - if @user == current_user
                = link_to "Add new Task", challenge_path(enrollment.path.permalink, c: true, type: Task::CHECKIN), class: "button button-small button-actionable", style: "float: right; top: 2px; right: -3px; position: relative;"
              %h4 #{enrollment.tasks.count} Tasks Completed
              %div.profilecontent
                = render "newsfeed/feed", feed: NewsfeedHelper::Feed.new(params, current_user, nil, enrollment.tasks.limit(5))

:javascript
  $('.comment').click({ animation: 'slide', hover_x: '400px' });
  $(".challengeselector li").click(function(){
    $(".challengeselector li.selected").removeClass("selected");
    $(this).addClass("selected");
    
    $(".challengecontent").fadeOut();
    $("#enrollment_"+$(this).attr("data-enrollment")).fadeIn();
  });
  
  $("#persona_list_link").click(function(){
    if($('.hidden_personas').is(":visible")){
      $('.hidden_personas').hide();
    } else {
      $('.hidden_personas').show();
    }
  });