:css
  body{ background-image: url("https://s3.amazonaws.com/moonlite-nsdub/static/Backgrounds/gplaypattern.png"); background-repeat: repeat; background-size: auto; }
  .aboutcontainer{ width: 900px;}
  

#employer.aboutcontainer
  #take_evaluation.aboutbox
    .header
      %h1 Community Manager
      %h3 Google, Inc.
    .welcome
      .holder
        .image_box
          = image_tag GIANT_STONEY
        .text_box
          %h3 Welcome to MetaBright!
          %p Google, Inc. is using MetaBright to measure their job candidates' skills. MetaBright gives you the chance to prove and showcase what you know!
    %h2 Apply to this job
    .application_steps
      .step{ style: "margin-top: 0; "}
        .img-circle
          %span 1
        .instructions
          %h4 Create an Account
          = image_tag LIGHT_BULB_URL, style: "height: 15px; display: inline;"
          %p You need to register so Google, Inc. can verify your identity.
          .signup
            = link_to "/auth/google_oauth2", style: "display: inline-block; margin-right: 10px; margin-bottom: 0;", class: "button btn" do
              = image_tag ICON_LOGIN_GOOGLE, alt: "Google sign up"
              %span.landingbuttontext Google sign up »
            = link_to "/auth/linkedin_oauth2", style: "display: inline-block; margin: 0 18px;", class: "button btn" do
              = image_tag ICON_LOGIN_LINKEDIN, alt: "LinkedIn sign up"
              %span.landingbuttontext LinkedIn sign up »
            = link_to "/auth/github", style: "display: inline-block; margin-left: 10px;", class: "button btn" do
              = image_tag ICON_LOGIN_GITHUB, alt: "GitHub sign up"
              %span.landingbuttontext GitHub sign up »
              
        .step
          .img-circle
            %span 2
          .instructions
            %h4 Take Tests
            = image_tag LIGHT_BULB_URL, style: "height: 15px; display: inline;"
            %p Each test should take you about 10 minutes.
            .challenge_holder
              .challenge_card
                %img{ src: "http://www.placekitten.com/150/150" }
                %h5 Challenge Name
                %button.button.button-small.button-actionable Begin Now
        .step
          .img-circle
            %span 3
          .instructions
            %h4{ style: "margin-top: 10px;"} Submit Application
            %div{ style: "text-align: center; margin-top: 12px; "}
              %button.button.button-large.button-actionable{ style: "margin: 10px; float: left;"} Submit
          
    
:javascript
  $(function(){
    $("#new_path").submit(function(){
      if($("#stored_resource_id").val() == "" || $("path_name").val() == ""){
        alert("You must provide an image and a name before you can create a Challenge.");
        return false;
      } else {
        return true;
      }
    });
  });