:css
  body.employer { background-image: none; background-color: white;}
  
  .container.body { width: 100% !important; padding: 0 !important; margin-top: 40px; }
  
:javascript
  function goto(id, t){
    $("#holder3").animate({"left": -($(id).position().left)}, 600);  
  }
  
#landing
  #holder1
    #holder2.row-fluid
      #holder3
        #main_slide
          .span7
            .hero
              %h1 
                Prove your skills. 
                %br
                Be discovered.
              %h3 We believe that people should be hired on the basis of what they can actually do.
            .triangle
          .span5
            .row-fluid.consumer
              .option
                %h4 I want to be discovered.
                %p MetaBright is the game that can get you a job. Showcase your skills and compete against others.
                .button{ onclick: "goto('#consumer_slide', this); return false" } Get Started
            .row-fluid.employer
              .option{ "data-no-turbolink" => true } 
                %h4 I want to test my candidates.
                %p The MetaBright Evaluator validates the skills of your job candidates before you interview them.
                .button
                  = link_to "Learn More", evaluator_path
        #consumer_slide
          .span12
            %h3 Take Challenges to measure and showcase your skills.
            %ul
              - @paths.first(10).each do |path|
                %li
                  %div{ "data-tip" => "Take the #{path.name} Challenge!" }
                    = link_to challenge_url(path.permalink), id: "challenge_start_#{path.permalink}" do
                      = image_tag path.picture, class: "challenge-start", alt: "#{path.name}"
            %a{:href => "#", class: "back", :onclick => "goto('#main_slide', this); return false"} Back
            %a{ href: "/challenges", class: "more submit_button"} Explore more Challenges...
            %div.clear_floats
  #happy_users.row-fluid
    .container
      .span12
        .holder
          .body
            .testimonial
              %div
                %p.speech.right "Talk about a time saver. MetaBright is a great talent screener. I never have to wonder if someone has the skills necessary to do the job."
              %div
                .bio
                  %p 
                    Nisa Q.
                    %br 
                    Recruiter at LinkedIn
                .picture
                  = image_tag "https://s3.amazonaws.com/moonlite-nsdub/static/testimonial+images/nisa.jpg", class: "img-circle"
            .testimonial
              %div
                %p.speech.center "MetaBright's approach to assessing an individual's strengths and weaknesses brings a whole new level of analytical riguor to hiring."
                %div
                  .bio
                    %p 
                      Val L.
                      %br 
                      Consultant at a Global Consulting Firm
                  .picture
                    = image_tag "https://s3.amazonaws.com/moonlite-nsdub/static/testimonial+images/val.jpg", class: "img-circle"
            .testimonial
              %div
                %p.speech.left "MetaBright Challenges are a blast. I love that as I compete on MetaBright, I'm validating my professional credentials."
              %div
                .bio
                  %p 
                    Calvin J.
                    %br 
                    PM, Self-Driving Cars at Google
                .picture 
                  = image_tag "https://s3.amazonaws.com/moonlite-nsdub/static/testimonial+images/calvin.jpg", class: "img-circle"
          
  #challenge_showcase.row-fluid
    .container
      .span12
        .header
          %h3 Show the world what you know with MetaBright Challenges
        .body
          .carousel
            .left_scroll{ onclick: "landing_slide('left');"}
              = image_tag ICON_CAROUSEL_LEFT, alt: "Left"
            .inner
              %ul
                - @paths.each do |path|
                  %li.mosaic-block.bar2
                    = link_to challenge_url(path.permalink), class: "mosaic-overlay" do
                      .details
                        %h4= truncate(path.name,length: 14, separator: ' ')
                        %h5 Try this Challenge!
                    .background
                      = link_to challenge_url(path.permalink) do
                        = image_tag path.picture, class: "mosaic-backdrop", size: "110x110", alt: "#{path.name}"
                  
                
            .right_scroll{ onclick: "landing_slide('right');"}
              = image_tag ICON_CAROUSEL_RIGHT, alt: "Right"
              
              
              
              
              
              
              
              
              
          
      
