:css
  body{ background-image: url("https://s3.amazonaws.com/moonlite-nsdub/static/Backgrounds/gplaypattern.png"); background-repeat: repeat; background-size: auto; }
  .container.body { padding: 0; background-color: transparent;   }
  .aboutcontainer{ width: 760px; background: rgba(36, 72, 109, 0.8); border-radius: 0; margin-top:27px;}
  .aboutbox { border-radius: 0; padding: 20px; }


#employer_product.aboutcontainer
  .aboutbox
    .aboutheader
      %img{ src: STONEY_SMALL_URL, alt: "Stoney"}
      %div{ style: "display: inline-block; vertical-align: top; margin-top: 31px;"}
        %h1{ style: "margin-top:0;" } MetaBright Evaluator
        %h3 Order checkout (Step 1 of 2)
    .body
      = form_for(@new_group, html: { class: "form-horizontal" }) do |f|
        %label Product: 
        .product_name= Opportunity::PRODUCTS[params[:product].to_i]
        %label Your name:
        = f.text_field :creator_name, placeholder: "Your name..."
        %label Company name:
        = f.text_field :name, placeholder: "Company name..."
        %label Your email address:
        = f.text_field :creator_email, placeholder: "Email..."
        %label Create a password:
        = f.password_field :creator_password, placeholder: "Password..."

        .control-group
          .controls
            = f.submit "Submit", class: "submit"
