:css
  body{ background-image: url("https://s3.amazonaws.com/moonlite-nsdub/static/Backgrounds/gplaypattern.png"); background-repeat: repeat; background-size: auto; }
  .container.body { padding: 0; background-color: transparent;   }
  .errors { color: red; font-size: 17px; margin-top: 10px; }
  .error-field { box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6); }
  
:javascript
  $(function(){ 
    $.MB.Checkout.init(); 
    $("#coupon_check").on("click", function(){
      $.get("#{coupon_url}",
        { c: $("#group_coupon").val() }, 
        function(data, response){
          console.log(data);
          if(data.coupon == true){
            $(".invalid-coupon").hide();
            $(".valid-coupon").show()
          } else {
            $(".valid-coupon").hide();
            $(".invalid-coupon").show();
          }
        }
      );
    })
  });
  
- if Rails.env == "development"
  :javascript
    $(function(){
      $("input[data-stripe=number]").val("4242424242424242");
      $("input[data-stripe=cvc]").val("123");
      $("input[data-stripe='exp-month']").val("01");
      $("input[data-stripe='exp-year']").val("2018");
    })
  - unless current_user
    :javascript
      $(function(){
        $("#group_name").val("Alabama");
        $("#group_creator_name").val("Alabama Joe");
        $("#group_creator_email").val("alabama@joe.com");
        $("#group_creator_password").val("alabama@joe.com");
      })

#employer_product.employer-container{ style: "width: 760px;"}
  .employer-box
    .aboutheader
      %img{ src: STONEY_SMALL_URL, alt: "Stoney"}
      %div{ style: "display: inline-block; vertical-align: top; margin-top: 31px;"}
        %h1 MetaBright Evaluator
    .body{ style: "padding:16px 16px 0;" }
      .reassurance
        %h2 Start Your Free 14-Day Trial
        %h3 Begin Testing Your Candidates in Less Than 60 Seconds.
      .reaffirm
        .image
          = image_tag "https://s3.amazonaws.com/moonlite-nsdub/static/random+icons/free_14_day.png"
        .text
          %h4 100% no-risk, free trial
          %p
            1) Setup your account. Get access to all features.<br>
            2) NOTHING will be billed to your card for 14 days. Guaranteed.<br>
            3) If you want to continue after 14 days, only then will we begin billing you.<br>
            4) During your free trial you can cancel at any time. No questions asked. Nothing billed at all.
      %p{ style: "position: relative; left: 78px; bottom: 23px; float: left; "}
        = link_to "https://stripe.com/help/security", target: "_blank" do
          = image_tag "https://s3.amazonaws.com/moonlite-nsdub/static/random+icons/stripe_solid_clipped.png"
      = form_for(@new_group, url: groups_url, method: :post, html: { class: "form-horizontal unspinnable", id: "new_group" }, remote: true) do |f|
        - plan = Group::PLAN_TYPES[@new_group.plan_type]
        = f.hidden_field :token
        = f.hidden_field :stripe_token
        = f.hidden_field :plan_type
        .product_name
          Evaluator #{plan[:description]}: $0 for 14 Days
          %div{ style: "font-size: 12px; "} After 14 Days: #{plan[:price]} per month
        .coupon_desc.valid-coupon{ style: "display: none; margin-top: 8px;" }
          %div{ style: "font-size: 16px;"} COUPON APPLIED!
          First month free!
        .coupon_desc.invalid-coupon{ style: "display: none; margin-top: 8px;" }
          %div{ style: "font-size: 16px;"} Invalid coupon.
        - if current_user
          %label{ style: "margin-top: 16px; "} Your name:
          %input{ type: "text", disabled: "disabled", value: current_user.name }
        - else
          %label{ style: "margin-top: 16px; "} Your name:
          = f.text_field :creator_name, placeholder: "Your name...", "data-label" => "your name"
        %label Company name:
        = f.text_field :name, placeholder: "Company name...", "data-label" => "your company's name"
        
        - if current_user
          = f.hidden_field :creator_email
        - else
          %div{ style: "display: inline-block; width: 60%;"}
            %label Email address:
            = f.text_field :creator_email, placeholder: "Email...", "data-label" => "your email", style: "width: 86%;"
          %div{ style: "display: inline-block; width: 38%;"}
            %label Password:
            = f.password_field :creator_password, placeholder: "Password...", "data-label" => "your password", style: "width: 90%;"
        
        %div{ style: "display: inline-block; width: 64%;"}
          %label{ style: "display: inline-block;"} Card Number
          .checkout_tt1
            %div{ "data-tip" => "We accept Visa, Mastercard, American Express, Discover, and JCB."}
              %img{src: "https://s3.amazonaws.com/moonlite-nsdub/static/random+icons/tooltip_light.png"}
          %input{ id: "group_card_number", type: "text", size: 20, data: { stripe: "number", label: "card number" }, style: "width: 24ex;" }
        %div{ style: "display: inline-block; "}
          %div
            %label{ style: "display: inline-block;"} CVC
            .checkout_tt2
              %div{ "data-tip" => "Your Card Verification Code (CVC) is a 3-digit number printed on the back of your Visa/Mastercard/Discover. It appears just to the right of the signature box. The American Express verification number is 4-digits and printed on the front of the card. It is immediately to the right of your credit card number."}
                %img{src: "https://s3.amazonaws.com/moonlite-nsdub/static/random+icons/tooltip_light.png"}
          %input{ id: "group_cvc_number", type: "text", size: 4, maxlength: 4, data: { stripe: "cvc", label: "CVC" }, class: "input-small", style: "width: 3em;" }
        %label Expiration (MM/YYYY)
        %input{ id: "group_card_month_expr", type: "text", size: 2, maxlength: 2, data: { stripe: "exp-month", label: "card expiration month" }, placeholder: "MM", class: "input-small", style: "width: 1.8em; text-align: center;" }
        %span /
        %input{ id: "group_card_year_expr",type: "text", size: 4, maxlength: 4, data: { stripe: "exp-year", label: "card expiration year" }, placeholder: "YYYY", class: "input-small", style: "width: 2.6em; text-align: center;" }
        %label Coupon
        = f.text_field :coupon, placeholder: "Optional...", style: "width: 180px;"
        = link_to "Apply", "", id: "coupon_check", style: "float: inherit; position: relative; bottom: 6px; left: 10px; font-size: 14px;"
        %p.errors= @errors
        .control-group
          %p.in-progress.hide Creating your account now. This may take a minute or two...
          = link_to pricing_url do
            = image_tag "https://s3.amazonaws.com/moonlite-nsdub/static/random+icons/back.png", class: "gear", title: "back"
          = f.submit "Start My Free Trial", class: "submit_button", style: "width: inherit;"
      %h3{ style: "margin-top: 20px;"} Common Questions
      #faq_accordion.accordion           
        .accordion-group 
          .accordion-heading 
            %a.accordion-toggle{"data-parent" => "#faq_accordion", "data-toggle" => "collapse", "data-parent" => "true", :href => "#collapseOne"} 
              Why do you need my credit card for a free trial? 
          #collapseOne.accordion-body.collapse.in
            .accordion-inner 
              We ask for your credit card to allow your membership to continue after your free trial, should you choose not to cancel. 
              This helps us reduce fraud and prevent multiple free trials for the same person. 
              Because of this, we're able to deliver better service for all the honest customers. 
              %br
              %br
              Remember that we won't bill you anything during your free trial and that you can cancel at any moment before your trial ends.
        .accordion-group 
          .accordion-heading 
            %a.accordion-toggle{"data-parent" => "#faq_accordion", "data-toggle" => "collapse", "data-parent" => "true", :href => "#collapseTwo"} 
              Do I have to sign up for a contract or pre-pay for my Evaluator subscription? 
          #collapseTwo.accordion-body.collapse 
            .accordion-inner 
              Nope! Evaluator subscriptions are month-to-month. There are no contracts or obligations to continue your membership any longer than you want. You'll be billed monthly and can cancel anytime.
        .accordion-group 
          .accordion-heading 
            %a.accordion-toggle{"data-parent" => "#faq_accordion", "data-toggle" => "collapse", "data-parent" => "true", :href => "#collapseThree"} 
              Can I change plans?
          #collapseThree.accordion-body.collapse 
            .accordion-inner 
              Yes, it's very easy. After signing up, you can upgrade or downgrade your plan by clicking "Account" in the nav bar. Your new account settings will take effect immediately.
        .accordion-group 
          .accordion-heading 
            %a.accordion-toggle{"data-parent" => "#faq_accordion", "data-toggle" => "collapse", "data-parent" => "true", :href => "#collapseFour"} 
              How do I add additional admins to my account?
          #collapseFour.accordion-body.collapse 
            .accordion-inner 
              It's simple to invite additional admins to your account. After signing up, click "Account" in the nav bar. 
              There is a field to input the email addresses of the people you want to invite.
              Your invitees will automatically have administrator privileges.
      