:css
  body{ background-image: url("https://s3.amazonaws.com/moonlite-nsdub/static/Backgrounds/gplaypattern.png"); background-repeat: repeat; background-size: auto; }
  .container.body { padding: 0; background-color: transparent;   }
  .errors { color: red; font-size: 17px; margin-top: 10px; }
  .error-field { box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6); }
  
:javascript
  $(function(){ 
    $.MB.Checkout.init(); 
    $("#coupon_check").on("click", function(){
      $.get("#{coupon_url}",
        { c: $("#group_coupon").val() }, 
        function(data, response){
          console.log(data);
          if(data.coupon == true){
            $(".invalid-coupon").hide();
            $(".valid-coupon").show()
          } else {
            $(".valid-coupon").hide();
            $(".invalid-coupon").show();
          }
        }
      );
    })
  });
  
- if Rails.env == "development"
  :javascript
    $(function(){
      $("#group_name").val("Alabama");
      $("#group_creator_name").val("Alabama Joe");
      $("#group_creator_email").val("alabama@joe.com");
      $("#group_creator_password").val("alabama@joe.com");
      $("input[data-stripe=number]").val("4242424242424242");
      $("input[data-stripe=cvc]").val("123");
      $("input[data-stripe='exp-month']").val("01");
      $("input[data-stripe='exp-year']").val("2018");
    })

#employer_product.employer-container{ style: "width: 760px;"}
  .employer-box
    .aboutheader
      %img{ src: STONEY_SMALL_URL, alt: "Stoney"}
      %div{ style: "display: inline-block; vertical-align: top; margin-top: 31px;"}
        %h1{ style: "margin-top:0;" } MetaBright Evaluator
        %h3 Order Checkout
    .body{ style: "padding:16px 16px 0;" }
      .reassurance
        %h2 Start Your Free 14-Day Trial
        %h3 Begin Testing Your Candidates in Less Than 60 Seconds.
      %p{ style: "position: relative; left: 78px; bottom: 10px; float: left; "}
        = link_to "https://stripe.com/help/security", target: "_blank" do
          = image_tag "https://s3.amazonaws.com/moonlite-nsdub/static/random+icons/stripe_solid_clipped.png"
      = form_for(@new_group, url: groups_url, method: :post, html: { class: "form-horizontal unspinnable", id: "new_group" }, remote: true) do |f|
        - plan = Group::PLAN_TYPES[@new_group.plan_type]
        = f.hidden_field :token
        = f.hidden_field :stripe_token
        = f.hidden_field :plan_type
        .product_name{ style: "margin-bottom: 8px;"} 
          Evaluator #{plan[:description]}: #{plan[:price]}/mo.
        .coupon_desc.valid-coupon{ style: "display: none;" }
          %div{ style: "font-size: 16px;"} COUPON APPLIED!
          First month free! $0 due now.
        .coupon_desc.invalid-coupon{ style: "display: none;" }
          %div{ style: "font-size: 16px;"} Invalid coupon.
          Please try again.
        - unless current_user
          %label Your name:
          = f.text_field :creator_name, placeholder: "Your name...", "data-label" => "your name"
        %label Company name:
        = f.text_field :name, placeholder: "Company name...", "data-label" => "your company's name"
        - unless current_user
          %div{ style: "display: inline-block; width: 60%;"}
            %label Email address:
            = f.text_field :creator_email, placeholder: "Email...", "data-label" => "your email", style: "width: 86%;"
          %div{ style: "display: inline-block; width: 38%;"}
            %label Password:
            = f.password_field :creator_password, placeholder: "Password...", "data-label" => "your password", style: "width: 90%;"
        %div{ style: "display: inline-block; width: 64%;"}
          %label{ style: "display: inline-block;"} Card Number
          .checkout_tt1
            %div{ "data-tip" => "We accept Visa, Mastercard, American Express, Discover, and JCB."}
              %img{src: "https://s3.amazonaws.com/moonlite-nsdub/static/random+icons/tooltip_light.png"}
          %input{ type: "text", size: 20, data: { stripe: "number", label: "card number" }, style: "width: 24ex;" }
        %div{ style: "display: inline-block; "}
          %div
            %label{ style: "display: inline-block;"} CVC
            .checkout_tt2
              %div{ "data-tip" => "Your Card Verification Code (CVC) is a 3-digit number printed on the back of your Visa/Mastercard/Discover. It appears just to the right of the signature box. The American Express verification number is 4-digits and printed on the front of the card. It is immediately to the right of your credit card number."}
                %img{src: "https://s3.amazonaws.com/moonlite-nsdub/static/random+icons/tooltip_light.png"}
          %input{ type: "text", size: 4, maxlength: 4, data: { stripe: "cvc", label: "CVC" }, class: "input-small", style: "width: 3em;" }
        %label Expiration (MM/YYYY)
        %input{ type: "text", size: 2, maxlength: 2, data: { stripe: "exp-month", label: "card expiration month" }, placeholder: "MM", class: "input-small", style: "width: 1.8em; text-align: center;" }
        %span /
        %input{ type: "text", size: 4, maxlength: 4, data: { stripe: "exp-year", label: "card expiration year" }, placeholder: "YYYY", class: "input-small", style: "width: 2.6em; text-align: center;" }
        %label Coupon
        = f.text_field :coupon, placeholder: "Optional...", style: "width: 180px;"
        = link_to "Apply", "", id: "coupon_check", style: "float: inherit; position: relative; bottom: 6px; left: 10px; font-size: 14px;"
        %p.errors= @errors
        .control-group
          %p.in-progress.hide Creating your account now. This may take a minute or two...
          = link_to evaluator_url(anchor: "prices") do
            = image_tag "https://s3.amazonaws.com/moonlite-nsdub/static/random+icons/back.png", class: "gear", title: "back"
          = f.submit "Start My Free Trial", class: "submit_button", style: "width: inherit;"
