:css
  body{ background-image: url("https://s3.amazonaws.com/moonlite-nsdub/static/Backgrounds/gplaypattern.png"); background-repeat: repeat; background-size: auto; }
  .container.body { padding: 0; background-color: transparent;   }
  .aboutcontainer{ width: 760px; background: rgba(36, 72, 109, 0.8); border-radius: 0; margin-top:27px;}
  .aboutbox { border-radius: 0; padding: 20px; }
  .errors { color: red; font-size: 17px; }
  
:javascript
  $(function(){
    $("#new_group").submit(function(){
      var valid = true;
      $($("#new_group input").get().reverse()).each(function(){
        if($(this).val() == ""){
          $(".errors").show().text("Please enter "+$(this).data("label")+".")
          valid = false;
        }
      })
      return valid
    })
  });

#employer_product.aboutcontainer
  .aboutbox
    .aboutheader
      %img{ src: STONEY_SMALL_URL, alt: "Stoney"}
      %div{ style: "display: inline-block; vertical-align: top; margin-top: 31px;"}
        %h1{ style: "margin-top:0;" } MetaBright Evaluator
        %h3 Order Checkout (Step 1 of 2)
    .body{ style: "padding: 0 16px;" }
      = form_for(@new_group, html: { class: "form-horizontal" }) do |f|
        - plan = Group::PLAN_TYPES[@new_group.plan_type]
        = f.hidden_field :plan_type
        %label Product:
        .product_name Evaluator #{plan[:description]}: #{plan[:price]}
        %p.errors= @errors
        %label Your name:
        = f.text_field :creator_name, placeholder: "Your name...", "data-label" => "your name"
        %label Company name:
        = f.text_field :name, placeholder: "Company name...", "data-label" => "your company's name"
        %label Your email address:
        = f.text_field :creator_email, placeholder: "Email...", "data-label" => "your email"
        %label Create a password:
        = f.password_field :creator_password, placeholder: "Password...", "data-label" => "your password"
        .control-group
          .controls
            = f.submit "Submit", class: "submit_button", style: "width: inherit;"
