:css
  .container.body { padding: 0; background-color: transparent;   }
  .errors { color: red; font-size: 17px; margin-top: 10px; }
  .error-field { box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6); }
  
:javascript
  $(function(){ $.MB.Checkout.init(); });

#employer_product.employer-container{ style: "width: 760px;"}
  .employer-box{ style: "min-height: 575px;"}
    .aboutheader
      %img{ src: STONEY_SMALL_URL, alt: "Stoney"}
      %div{ style: "display: inline-block; vertical-align: top; margin-top: 31px;"}
        %h1 MetaBright Evaluator
    .body{ style: "padding:16px 16px 0;" }
      .reassurance{ style: "margin-bottom: 50px;"}
        %h2 Sign Up For Your Free Account
        %h3 Begin Testing Your Candidates in Less Than 60 Seconds
      %p{ style: "position: relative; left: 78px; bottom: 23px; float: left; "}
        = link_to "https://stripe.com/help/security", target: "_blank" do
          = image_tag "https://s3.amazonaws.com/moonlite-nsdub/static/random+icons/stripe_solid_clipped.png"
      = form_for(@group, url: start_groups_path, html: { class: "form-horizontal unspinnable", id: "new_group" }) do |f|
        - plan = Group::PLAN_TYPES[@group.plan_type]
        = f.hidden_field :token
        = f.hidden_field :stripe_token
        = f.hidden_field :plan_type
        .product_name
          Evaluator #{plan[:description]}, Free Account
        %label{ style: "margin-top: 16px; "} Your name:
        = f.text_field :creator_name, placeholder: "Your name...", "data-label" => "your name"
        %label Company name:
        = f.text_field :name, placeholder: "Company name...", "data-label" => "your company's name"  
        %div{ style: "display: inline-block; width: 60%;"}
          %label Email address:
          = f.text_field :creator_email, placeholder: "Email...", "data-label" => "your email", style: "width: 86%;"
        %div{ style: "display: inline-block; width: 38%;"}
          %label Password:
          = f.password_field :creator_password, placeholder: "Password...", "data-label" => "your password", style: "width: 90%;"
        
        
        %p.errors= @errors
        .control-group
          %p.in-progress.hide Creating your account now. This may take a minute or two...
          = link_to pricing_url do
            = image_tag "https://s3.amazonaws.com/moonlite-nsdub/static/random+icons/back.png", class: "gear", title: "back"
          = f.submit "Create My Account", class: "submit_button", style: "width: inherit;"
      %h4{ style: "font-size: 20px; margin-top: 40px; border: none;"} 
        Some things to keep in mind about your trial MetaBright account...
      %ul{ style: "list-style: inherit;"}
        %li 
          %span{ style: "font-family: 'MuliRegular';" } You can create a maximum of 3 Evaluations:
          An evaluation is a set of skills you wish to test your candidates on. The maximum number of different Evaluations you can have at any given time is three.
        %li 
          %span{ style: "font-family: 'MuliRegular';" } You can test a maximum of #{Group::TRIAL_CANDIDATE_LIMIT} candidates:
          Your candidates complete Evaluations that measure their abilities. Your trial account is limited to assessing #{Group::TRIAL_CANDIDATE_LIMIT} candidates.
        %li 
          %span{ style: "font-family: 'MuliRegular';" } Email support is limited:
          If you require expedited and direct support, you may want to consider one of our 
          = link_to "premium plans.", pricing_path
        %li
          %span{ style: "font-family: 'MuliRegular';" } Only one administrator:
          You will be the only person in your oganization who will be allowed to access candidate information, test results, and reports. Additional administrators can be added if you choose to upgrade to a 
          = link_to "premium plan.", pricing_path
        %li
          %span{ style: "font-family: 'MuliRegular';" } Limited access to new features:
          Your free plan will not have full access to the newest MetaBright analytical and talent search features. You will however receive access to all MetaBright testing content as soon as it's published. 
      %p 
        These restrictions are removed in MetaBright's
        = link_to "premium subscriptions.", pricing_path 
        