%p{ style: "font-size:12px;"} Hi #{@user.name.split.first},
%p{ style: "font-size:12px;"} 
  #{@candidate.name} just completed the #{@evaluation.company} #{@evaluation.title} Evaluation! #{link_to "View a detailed report", group_evaluations_url(@evaluation_enrollment.group)} of #{@candidate.name}'s results and a summary of all your candidates.
%p{ style: "font-size:12px;"} 
  Thanks,
  %br
  Team MetaBright