%div.single_pane
  = render "companies/tab_header"
  %h2{ style: "margin-bottom:15px;" } Settings
  = form_for(@company, html: { style: "margin-left: 30px;" }) do |f|
    = render "shared/error_messages", object: f.object
    %div.field.clearfix
      = f.label :name
      %div.input
        = f.text_field :name
    %div.field.clearfix
      = f.label "Default Profile Picture"
      %div.input
        = f.text_field :default_profile_picture_link
        %p= image_tag (@company.default_profile_picture_link.blank? ? "/images/default_profile_pic.png": @company.default_profile_picture_link), size: "75x75", style: "margin-top:10px;"
    %div.field.clearfix
      = f.label "Term for certification", placeholder: "e.g. 'challenge', 'path', 'test', 'quiz'."
      %div.input
        = f.text_field :name_for_paths
    %div.field.clearfix
      = f.label "Home page title"
      %div.input
        = f.text_field :home_title
    %div.field.clearfix
      = f.label "Home page subtitle"
      %div.input
        = f.text_field :home_subtitle
    %div.field.clearfix
      = f.label "Home page text"
      %div.input
        = f.text_field :home_paragraph
    %div.field.clearfix
      = f.label "Big logo link"
      %div.input
        = f.text_field :big_logo_link, class: "xlarge"
    %div.field.clearfix
      = f.label "Small logo link"
      %div.input
        = f.text_field :small_logo_link, class: "xlarge"
    %div.field.clearfix
      = f.label "Custom email from for notifications"
      %div.input
        = f.text_field :custom_email_from, class: "xlarge"
    %div.field.clearfix
      = f.label "Enable custom landing page"
      %div.input
        %p= f.check_box :enable_custom_landing
    %hr
    %div.input
      = f.submit "Save", class: "button button-actionable"