<section id="company-settings">
  <%= render "companies/tab_header", { :company => @company, :mode => "settings" } %>
  <section id="settings">
    <h2 style="margin-bottom:15px;">Settings</h2>
    <%= form_for(@company) do |f| %>
      <%= render "shared/error_messages", :object => f.object %>
      <div class="field clearfix">
        <%= f.label :name %>
        <div class="input">
          <%= f.text_field :name %>
        </div>
      </div>
      <div class="field clearfix">
        <%= f.label "Default Profile Picture" %>
        <div class="input">
          <%= f.text_field :default_profile_picture_link %>
          <p><%= image_tag (@company.default_profile_picture_link.blank? ? "/images/default_profile_pic.png": @company.default_profile_picture_link), size: "75x75", style: "margin-top:10px;" %></p>
        </div>
        
      </div>
      <div class="field clearfix">
        <%= f.label "Term for certification", :placeholder => "e.g. 'challenge', 'path', 'test', 'quiz'." %>
        <div class="input">
          <p><%= f.text_field :name_for_paths %></p>
        </div>
      </div>
      <div class="field clearfix">
        <%= f.label "Home page title" %>
        <div class="input">
          <p><%= f.text_field :home_title %></p>
        </div>
      </div>
      <div class="field clearfix">
        <%= f.label "Home page subtitle" %>
        <div class="input">
          <p><%= f.text_field :home_subtitle %></p>
        </div>
      </div>
      <div class="field clearfix">
        <%= f.label "Home page text" %>
        <div class="input">
          <p><%= f.text_field :home_paragraph %></p>
        </div>
      </div>
      <div class="field clearfix">
        <%= f.label "Big logo link" %>
        <div class="input">
          <p><%= f.text_field :big_logo_link, class: "xlarge" %></p>
        </div>
      </div>
      <div class="field clearfix">
        <%= f.label "Small logo link" %>
        <div class="input">
          <p><%= f.text_field :small_logo_link, class: "xlarge" %></p>
        </div>
      </div>
      <div class="field clearfix">
        <%= f.label "Custom email from for notifications" %>
        <div class="input">
          <p><%= f.text_field :custom_email_from, class: "xlarge" %></p>
        </div>
      </div>
      <div class="field clearfix">
        <%= f.label "Custom domain" %>
        <div class="input">
          <p><%= f.text_field :custom_domain, class: "xlarge" %></p>
        </div>
      </div>
      <div class="field clearfix">
        <%= f.label "Enable custom landing page" %>
        <div class="input">
          <p><%= f.check_box :enable_custom_landing %></p>
        </div>
      </div>
      <hr/>
      <div class="field clearfix">
        <%= f.label :categories %>
        <div class="input">
          <% if @categories.empty? %>
          <p>You have not created any Path categories yet for your company.</p>
          <% else %>
          <ol class="inputs-list">
            <% @categories.each do |c| %>
            <li><%= c.name %> - <%= link_to "Delete", c, :method => :delete, :confirm => "You sure?", :title => "Delete Category" %></li>
            <% end %>
          </ol>
          <% end %>
          <%= link_to "Add a "+name_for_paths+" category", new_category_path, :class => "btn secondary" %>
        </div>
      </div>
      <hr/>
      <div class="input">
        <%= f.submit "Save", :class => "btn primary" %>
      </div>
    <% end %>
  </section>
</section>