<section id="company-settings">
	<h1><%= @company.name %></h1>
	<ul class="tabs">
		<li><%= link_to "Users", @company %></li>
		<li class="active"><a href="#">Settings</a></li>
	</ul>
	<section id="settings">
		<%= form_for(@company) do |f| %>
			<%= render "shared/error_messages", :object => f.object %>
			<div class="field clearfix">
				<%= f.label :name %>
				<div class="input">
					<%= f.text_field :name %>
				</div>
			</div>
			<div class="field clearfix">
				<label>Settings</label>
				<div class="input">
					<ul class="inputs-list">
						<li>
							<label>
								<%= f.check_box :enable_company_store %>
								<span>Enable Rewards</span>
							</label>
						</li>
            <li>
							<label>
								<%= f.check_box :enable_leaderboard %>
								<span>Enable Leaderboard</span>
							</label>
						</li>
            <li>
							<label>
								<%= f.check_box :enable_dashboard %>
								<span>Enable Dashboard</span>
							</label>
						</li>
            <li>
							<label>
								<%= f.check_box :enable_tour %>
								<span>Enable Tour</span>
							</label>
						</li>            
						<li>
							<label>
								<%= f.check_box :enable_browsing %>
								<span>Enable challenge browsing</span>
							</label>
						</li>            
						<li>
							<label>
								<%= f.check_box :enable_comments %>
								<span>Enable comments on challenges</span>
							</label>
						</li>            
						<li>
							<label>
								<%= f.check_box :enable_news %>
								<span>Enable news feed</span>
							</label>
						</li>            
						<li>
							<label>
								<%= f.check_box :enable_feedback %>
								<span>Enable feedback on questions</span>
							</label>
						</li>            
						<li>
							<label>
								<%= f.check_box :enable_achievements %>
								<span>Enable achievements</span>
							</label>
						</li>						
						<li>
							<label>
								<%= f.check_box :enable_recommendations %>
								<span>Enable challenge recommendations</span>
							</label>
						</li>
						<li>
							<label>
								<%= f.check_box :enable_user_creation %>
								<span>Enable non-admin user content creation</span>
							</label>
						</li>
					</ul>
				</div>
			</div>
			<div class="field clearfix">
				<%= f.label :categories %>
				<div class="input">
					<% if @categories.empty? %>
					<p>You have not created any Path categories yet for your company.</p>
					<% else %>
					<ol class="inputs-list">
						<% @categories.each do |c| %>
						<li><%= c.name %> - <%= link_to "Delete", c, :method => :delete, :confirm => "You sure?", :title => "Delete Category" %></li>
						<% end %>
					</ol>
					<% end %>
					<%= link_to "Add a Path category", new_category_path, :class => "btn secondary" %>
				</div>
			</div>
			<div class="actions">
				<%= f.submit "Save", :class => "btn primary" %>
			</div>
		<% end %>
	</section>
</section>