%div.single_pane
  :css
    .overview td{ text-align: center; border: 1px solid #DDD; width: 80px; }
  = render "companies/tab_header"
  %h3 Overview
  %table.table.overview
    %tr
      %td
        %h3= @users
        %p Total Users
      %td
        %h3= @returning_users
        %p Returning Users
      %td
        %h3= @arena_answers
        %p Arena Answers
      %td
        %h3= @creative_answers
        %p Creative Answers
      %td
        %h3= @task_answers
        %p Task Answers
      %td
        %h3= @arena_questions
        %p Arena Questions
      %td
        %h3= @creative_questions
        %p Creative Questions
      %td
        %h3= @task_questions
        %p Task Questions
      %td
        %h3= @votes
        %p Votes
      %td
        %h3= @comments
        %p Comments
  %h3 Recent Activity
  %table.table.overview
    %tr
      %td
        %h3= @new_users
        %p Users
      %td
        %h3= @new_returning_users
        %p Returning Users
      %td
        %h3= @new_arena_answers
        %p Arena Answers
      %td
        %h3= @new_creative_answers
        %p Creative Response Answers
      %td
        %h3= @new_task_answers
        %p Task Answers
      %td
        %h3= @new_arena_questions
        %p Arena Questions
      %td
        %h3= @new_creative_questions
        %p Creative Questions
      %td
        %h3= @new_task_questions
        %p Task Questions
      %td
        %h3= @new_votes
        %p Votes
      %td
        %h3= @new_comments
        %p Comments
