%div.single_pane
  = render "header"
  %h3 All Time
  %table.table.overview
    %tr
      %td
        %h3= @users
        %p Total Users
      %td
        %h3= @visits
        %p Returning Users
      %td
        %h3= @arena_answers
        %p Arena Answers
      %td
        %h3= @creative_answers
        %p Creative Answers
      %td
        %h3= @task_answers
        %p Task Answers
      %td
        %h3= @arena_questions
        %p Arena Questions
      %td
        %h3= @creative_questions
        %p Creative Questions
      %td
        %h3= @task_questions
        %p Task Questions
      %td
        %h3= @votes
        %p Votes
      %td
        %h3= @comments
        %p Comments
      %td
        %h3= @issues
        %p Task Issues
  %h3 Recent Activity
  %table.table.overview
    %tr
      %td
        %h3= @new_users
        %p Users
      %td
        %h3= @new_visits
        %p Returning Users
      %td
        %h3= @new_arena_answers
        %p Arena Answers
      %td
        %h3= @new_creative_answers
        %p Creative Answers
      %td
        %h3= @new_task_answers
        %p Task Answers
      %td
        %h3= @new_arena_questions
        %p Arena Questions
      %td
        %h3= @new_creative_questions
        %p Creative Questions
      %td
        %h3= @new_task_questions
        %p Task Questions
      %td
        %h3= @new_votes
        %p Votes
      %td
        %h3= @new_comments
        %p Comments
      %td
        %h3= @new_issues
        %p Task Issues
