%div.single_pane
  = render "header"
  = will_paginate @paths, style: "float:left; margin-bottom:0; margin-top: 0;"
  = render "search", link: admin_paths_path, placeholder: "Name..."
  %table.table
    %thead
      %tr
        %th Rank
        %th Name
        %th Persona
        %th Sections
        %th Tasks
        %th User
        %th Published
        %th Status
    %tbody
      - @paths.to_a.each_with_index do |p, i|
        %tr
          %td= i
          %td= link_to p.name, challenge_path(p.permalink)
          %td= p.personas.first.name
          %td= p.sections.size
          %td= p.tasks.size
          %td= link_to p.user.name, p.user
          %td= p.published? ? "waiting" : "published"
          %td
            - if p.approved?
              = link_to "approved", admin_update_path_path(p), class: "mark_approved approved", remote: true, method: "put"
            - else
              = link_to "waiting", admin_update_path_path(p), class: "mark_approved waiting", remote: true, method: "put"