<script>
$(function(){
  $(".delete_user_button").on("ajax:success",
    function(event, data){
      $(this).parents("tr").html(data);
    }
  );
});
</script>
<section id="company-profile">
  <%= render "companies/tab_header", { :company => @company, :mode => "users" } %>
  <section id="users">
    <a href="#adding_users" class="btn primary" style="float:right;">Add Users</a>
    <h2 style="margin-bottom:15px;">Registered Users</h2>
    <%= will_paginate @users, :style => "float:left; margin-bottom:0; margin-top: 0;" %>
    <div style="float:right; margin: 0 0 0px 0;">
      <%= form_tag @company, :method => "get" do %>
        <%= text_field_tag :search, params[:search], :class => "large", :placeholder => "Search by name or email..." %>
        <%= submit_tag "Search", :class => "btn secondary" %>
      <% end %>
    </div>
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>User Role</th>
          <th>Enrolled <%= name_for_paths.pluralize %></th>
          <th>Points Earned</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <% if @users.empty? %>
        <tr><% (1..6).each do %><td>...</td><% end %></tr>
        <% else %>
          <% counter = 1 %>
          <% @users.each do |u| %>
          <tr>
            <td><%= counter.to_s %></td>
            <td><%= link_to u.name, u %></td>
            <td><%= link_to u.user_role.name, edit_role_user_path(u) unless u.user_role.nil?%></td>
            <td><%= truncate((u.enrolled_paths.to_a.collect {|i| i.name}).join(", "), :length => 60) %></td>
            <td><%= u.earned_points.to_s %></td>
            <td>
              <% unless current_user == u %>
                <%= link_to "Delete", u, :method => "delete", :remote => true, "data-type" => "html", 
                :confirm => "Are you sure you want to delete this user?", 
                :class => "btn secondary delete_user_button" %>
              <% end %>
            </td>
          </tr>
          <% counter += 1 %>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <hr>
  </section>
  <section id="adding_users">
    <h2 style="margin:10px 0;">Adding Users</h2>
    <p>You can invite new users to your organization one of two ways:
    <ul>
      <li style="color:#404040; padding:5px;"><strong>Copy/pasting the signup link</strong> for the appropriate user role and email the link to the desired recipient yourself.</li>
      <li style="color:#404040; padding:5px;"><strong>Email</strong> the person you'd like to invite to your account directly from MetaBright by clicking the <strong>Invite</strong> button.</li>
    </ul>
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>User Role</th>
          <th>Signup Link</th>
          <th>Number of Users</th>
          <th>Invite</th>
        </tr>
      </thead>
      <tbody>
      <% counter = 1 %>
      <% @user_roles.each do |ur| %>
        <tr>
          <td><%= counter.to_s %></td>
          <td><%= link_to ur.name, edit_user_role_path(ur) %></td>
          <td><%= ur.signup_link %></td>
          <td><%= ur.users.size %></td>
          <td><%= link_to "Invite", invite_user_role_path(ur), :class => "btn secondary" %></td>
        </tr>
        <% counter += 1 %>
      <% end %>
      </tbody>
    </table>
    <p style="margin-top:20px;">Want to create a different user role?</p>
    <%= link_to "Create New Role", new_user_role_path, :class => "btn secondary" %>
  </section>
</section>
