<section id="company-profile">
	<h1><%= @company.name %></h1>
	<ul class="tabs">
		<li class="active"><a href="#">Users</a></li>
		<li><%= link_to "Settings", edit_company_path(@company) %></li>
	</ul>
	<section id="users">
		<h2>Registered Users</h2>
		<% if @users.empty? %>
			<p>You do not have any users for your organization yet.</p>
		<% else %>
		<table>
			<thead>
				<tr>
					<th>#</th>
					<th>Name</th>
					<th>Other</th>
				</tr>
			</thead>
			<tbody>
				<% user_counter = 0 %>
				<% @users.each do |u| %>
					<tr>
						<td><%= user_counter.to_s %></td>
						<td><%= link_to u.name, u %></td>
						<td><%= rand(1000).to_s %></td>
					</tr>
					<% user_counter += 1 %>
				<% end %>
			</tbody>
		</table>
		<% end %>
		<p><%= link_to "Add user", new_user_path(:company_id => @company), :class => "btn primary" %></p>
		<h3>Awaiting reply from:</h3>
		<% if @unregistered_users.empty? %>
			<p>There are no outstanding user invitations.</p>
		<% else %>
		<ol>
			<% @unregistered_users.each do |u| %>
			<li><%= u.email %></li>
			<% end %>
		</ol>
		<% end %>
	</section>
</section>
