<script>
$(function(){
  $(".delete_user_button").on("ajax:success",
    function(event, data){
      $(this).parents("tr").html(data);
    }
  );
});
</script>
<section id="company-profile">
  <%= render "companies/tab_header", { :company => @company, :mode => "users" } %>
  <section id="users">
    <h2 style="margin-bottom:15px;">Registered Users</h2>
    <%= will_paginate @users, :style => "float:left; margin-bottom:0;" %>
    <div style="float:right; margin: 18px 0 0px 0;">
      <%= form_tag @company, :method => "get" do %>
        <%= text_field_tag :search, params[:search], :class => "large", :placeholder => "Search by name or email..." %>
        <%= submit_tag "Search", :class => "btn primary" %>
      <% end %>
    </div>
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>User Role</th>
          <th>Enrolled <%= name_for_paths.pluralize %></th>
          <th>Points Earned</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <% if @users.empty? %>
        <tr><% (1..6).each do %><td>...</td><% end %></tr>
        <% else %>
          <% user_counter = 1 %>
          <% @users.each do |u| %>
          <tr>
            <td><%= user_counter.to_s %></td>
            <td><%= link_to u.name, u %></td>
            <td><%= link_to u.user_role.name, edit_role_user_path(u) unless u.user_role.nil?%></td>
            <td><%= truncate((u.enrolled_paths.to_a.collect {|i| i.name}).join(", "), :length => 60) %></td>
            <td><%= u.earned_points.to_s %></td>
            <td>
              <% unless current_user == u %>
                <%= link_to "Delete", u, :method => "delete", :remote => true, "data-type" => "html", 
                :confirm => "Are you sure you want to delete this user?", 
                :class => "btn secondary delete_user_button" %>
              <% end %>
            </td>
          </tr>
          <% user_counter += 1 %>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <hr>
    <%= will_paginate @users %>
    <h4>Note: Adding Users</h4>
    <p>Users must be added to a specific user role. To invite new users, click on the <strong>User Roles</strong> tab above, then click on one of the user roles in the table. From there, you'll find a link to use to invite new users to your organization.</p>
    <hr/>
  </section>
</section>
