%div.single_pane
  = render "header"
  = will_paginate @submissions, style: "float:left; margin-bottom:0; margin-top: 0;"
  = render "search", link: admin_submissions_path, placeholder: "Content..."
  %table.table
    %thead
      %tr
        %th{ style: "width: 5%" } id
        %th{ style: "width: 15%" } Path
        %th{ style: "width: 10%" } User
        %th{ style: "width: 60%" } Content
        %th{ style: "width: 10%" } Approve
    %tbody
      - @submissions.to_a.each do |s|
        %tr
          %td= s.id
          %td= s.path.try(:name)
          %td= link_to s.user.name, profile_path(s.user.username)
          %td
            %pre.unstyled= s.content
          %td= link_to "approve", admin_update_submission_path(s, mark: "reviewed"), class: "mark_reviewed", remote: true, method: "put"
          %td= link_to "deny", admin_update_submission_path(s, mark: "locked"), class: "mark_reviewed", remote: true, method: "put"
  = link_to "Refresh", admin_submissions_path, class: "button button-standard"
:javascript
  $(function(){
    $(".mark_reviewed").on("ajax:success", function(xhr, data){
      $(this).parents("tr").hide("fast");
    });
  });