%div.single_pane
  = render "companies/tab_header"
  = will_paginate @tasks, style: "float:left; margin-bottom:0; margin-top: 0;"
  %div{ style: "float:right; margin:0;" }
    :javascript
      $(".mark_approved").on("ajax:success", function(){
        $(this).text("approved").parents("tr").css("background-color", "green");
      });
    = form_tag admin_tasks_path, style: "margin: 0;", method: "get" do
      = text_field_tag :search, params[:search], class: "large", placeholder: "Search by question..."
      = submit_tag "Search", class: "button button-standard"
  %table.table
    %thead
      %tr
        %th{ style: "width: 5%" } id
        %th{ style: "width: 15%" } Path
        %th{ style: "width: 10%" } User Name
        %th{ style: "width: 50%" } Question
        %th{ style: "width: 10%" } Type
        %th{ style: "width: 10%" } Approve
    %tbody
      - @tasks.to_a.each do |t|
        %tr
          %td= t.id
          %td= t.path.name
          %td= link_to t.creator.name, t.creator
          %td= t.question
          %td= Task::TYPES[t.answer_type]
          %td= link_to "approve", admin_update_task_path(t), class: "mark_reviewed", remote: true, method: "put"
  = link_to "Refresh", admin_tasks_path, class: "button button-standard"
:javascript
  $(function(){
    $(".mark_reviewed").on("ajax:success", function(xhr, data){
      $(this).parents("tr").hide("fast");
    });
  });