%div.single_pane
  = render "companies/tab_header"
  = will_paginate @users, style: "float:left; margin-bottom:0; margin-top: 0;"
  %div{ style: "float:right; margin: 0 0 0px 0;" }
    = form_tag admin_users_path, method: "get" do
      = text_field_tag :search, params[:search], :class => "large", :placeholder => "Search by name or email..."
      = submit_tag "Search", :class => "button button-standard"
  %table.table
    %thead
      %tr
        %th Rank
        %th Name
        %th Email
        %th Last Login
        %th Enrollments
        %th Points
        %th Votes
        %th Comments
        %th Status
    %tbody
      - @users.to_a.each_with_index do |u, i|
        %tr
          %td= i
          %td= link_to u.name, u
          %td= u.email
          %td #{time_ago_in_words(u.login_at || u.created_at)} ago
          %td= u.enrollments.size
          %td= u.earned_points
          %td= u.votes.size
          %td= u.comments.size
          - if u.is_locked
            %td= link_to "locked", admin_update_user_path(u, lock: "false"), class: "mark_locked", remote: true, method: "put"
          - else
            %td= link_to "open", admin_update_user_path(u, lock: "true"),  class: "mark_locked", remote: true, method: "put"
:javascript
  $(function(){
    $(".mark_locked").on("ajax:success", function(xhr, data){
      if(data.status == true){
        $(this).text("locked");
      } else {
        $(this).text("open");
      }
    });
  });