%div.single_pane
  = render "header"
  = will_paginate @users, style: "float:left; margin-bottom:0; margin-top: 0;"
  = render "search", link: admin_users_path, placeholder: "Name or email..."
  %table.table
    %thead
      %tr
        %th Rank
        %th Name
        %th Role
        %th Email
        %th= link_to "Last Login", admin_users_path(sort: "login_at")
        %th= link_to "Created", admin_users_path(sort: "created_at")
        %th= link_to "Points", admin_users_path(sort: "earned_points")
        %th Enrollments
        %th Votes
        %th Comments
        %th Status
    %tbody
      - @users.to_a.each_with_index do |u, i|
        %tr
          %td= i
          %td= link_to u.name, profile_path(u.username)
          %td= link_to u.user_role.name, update_users_role_path(u.id)
          %td= u.email
          %td= u.login_at.strftime("%m/%d/%Y")
          %td= u.created_at.strftime("%m/%d/%Y")
          %td= u.earned_points
          %td= u.enrollments.size
          %td= u.votes.size
          %td= u.comments.size
          - if u.is_locked
            %td= link_to "locked", admin_update_user_path(u, lock: "false"), class: "mark_locked", remote: true, method: "put"
          - else
            %td= link_to "open", admin_update_user_path(u, lock: "true"),  class: "mark_locked", remote: true, method: "put"