<% if @is_passed %>
<p>Congratulations on passing the <%= @path.name %> <%= @name_for_paths %> with a score of <%= @enrollment.percentage_correct %>% and <%= @enrollment.total_points %> points.</p>
<p>You're score has also been sent to your <%= @current_company.name %> administrator and logged in your profile.</p>
<p>Stay tuned to updates on future <%= @name_for_paths.pluralize %>!</p>
<% else %>
<p>Hello <%= @user.name %>,</p>
<p>Unfortunately you did not get a high enough score to pass the <%= @path.name %> <%= @name_for_paths %>. You got <%= @enrollment.percentage_correct %>% correct, and you need to get <%= @path.passing_score %>% or better.</p>
<p>But don't worry! You can retake the <%= @name_for_paths %> at any time using the link below. Good luck!</p>
<p><a href="<%= @retake_url %>">Retake Certification</a></p>
<% end %>
<p>-<%= @current_company.name %> admins</p>
