%div{ class: "persona_preview_#{persona.id}" }
  %div.exploretiledetailsarea
    %div.bigexploreimagespace
      = image_tag persona.picture, size: "120x120"
    %div.exploredetailsspace
      %div.exploretextdetails{ style: "min-height: 95px;" }
        %h2= persona.name
        %p= persona.description
        - if current_user && persona.level(current_user)
          %p
            %strong Your Rating: Level #{persona.level(current_user)}
      - if persona.path_personas.empty?
        %button.button.button-actionable{ style: "float: right; opacity: 0.5" } Choose
      - else
        = link_to persona_path(persona), class: "show_persona_select", remote: true do
          %button.button.button-actionable{ style: "float: right;" } Choose
