%div.explorenewusercontent
  :javascript
    $(function(){
      $(".back_to_preview_index").on("ajax:success", function(xhr, data){
        $(".explorenewusercontent").fadeOut('fast', function(){
          $(this).replaceWith(data, function(){
            $(this).fadeIn();
          });
        });
      });
      $('.bar2').mosaic({ animation : 'slide' });
      $('.comment').click({ animation : 'slide', hover_x: '400px' });
    });

  :css
    .exploreheader{ margin:0px; width:669px;padding:12px 0 0px 12px; background-color:#F9F9F9;}
    .exploreheader h1 {font-size: 21px; margin-bottom: 10px;}
    .exploreheader img {width:40px; height: 40px; border-radius:4px; float:left; margin-right: 8px;}
    .exploretiles {padding:16px;}
    .exploretiledetailsarea{border-radius:10px; padding:10px 10px 0 10px;}
    .exploretiles .bigexploreimagespace{display:inline-block; vertical-align: top;}
    .exploretiles .bigexploreimagespace img{width:120px; margin-right:10px}
    .exploredetailsspace{display:inline-block; width:485px;vertical-align: top;}
    .exploredetailsspace button{float:right; margin-top:10px}
    .exploretextdetails span{font-size:20px; font-weight:bold; font-style:italic;}
    .details button{ padding:3px; float:right; position:relative; right:6px; font-size:10px; font-weight:bold; opacity:1;}
    .exploretiles .bar2 .mosaic-overlay { bottom:-28px; height:48px;}
    .exploretiles .mosaic-block {width:130px; height:130px;}
    .explorenewuserfooter{position:relative; bottom:12px; left:16px; margin-bottom:8px;}
    .modal_close img{width:20px; height:20px;}
    
  %div.exploreheader
    %div.modal_close{ style: "margin-right:1px;" }
      %img{:src => "https://s3.amazonaws.com/moonlite-nsdub/static/close_icon.png"}
    %div{ style: "padding-bottom:8px;" }
      = image_tag @persona.picture
      %h1{ style: "font-size: 23px; position:relative; top:8px; line-height:1;" }
        %strong #{@persona.name}: Choose your Challenge...
    %div
      %img{ src: "https://s3.amazonaws.com/moonlite-nsdub/static/Lightbulb+icon", style: "width:15px; height:15px; margin:4px 4px 0 0;" }
      %p{ style: "font-size: 14px; line-height: 28px; display:inline;" } Challenges represent skillsets where you can prove what you know, and be inspired by others. 
  %hr{ style: "margin:0px;" }
  %div.exploretiles
    - @paths.each do |path|
      %div.mosaic-block.bar2
        = link_to path_url(path), class: "mosaic-overlay" do
          %div.details
            %h4 #{truncate(path.name,length: 17, separator: ' ')}
            - if current_user.enrolled?(path)
              %button.btn.success Enrolled
            - else
              %button.btn.danger Enroll
        %div 
          = image_tag path.path_pic, class: "mosaic-backdrop", style: "display:inline;", size: "140x140"
  %div.explorenewuserfooter
    = link_to "Back", explore_path, class: "button button-standard back_to_preview_index", remote: true