<h1>Edit Persona</h1>
<%= form_for @persona do |f| %>
  <%= render "shared/error_messages", :object => f.object %>
  <div class="field clearfix">
    <%= f.label :name %>
    <div class="input">
      <%= f.text_field :name, maxlength: 255, size: 75 %>
    </div>
  </div>
  <div class="field clearfix">
    <%= f.label :description %>
    <div class="input">
      <%= f.text_area :description, rows: 4, style: "width:300px;" %>
    </div>
  </div>
  <div class="field clearfix">
    <%= f.label :image_url %>
    <div class="input">
      <%= f.text_field :image_url, maxlength: 255 %>
    </div>
  </div>
  <div>
    <h2>Criteria</h2>
    <% if current_company.paths.empty? %>
      <p style="margin: 20px 0px 20px 20px;">You have not yet created any <%= name_for_paths.pluralize %> yet. You need to create at least one <%= name_for_paths %> to create an achievement.</p>
    <% else %>
      <p style="margin: 20px 0px 20px 20px;">Select which <%= name_for_paths.pluralize %> must be completed for the user to unlock the achievement.</p>
      <ul style="list-style-type: none;">
      <% current_company.paths.each do |p| %>
        <li>
          <span><%= p.name %></span>
          <input type="checkbox" name="persona[paths][<%= p.id.to_s %>]" style="margin-left: 5px;"/>
        </li>
      <% end %>
      </ul>
    <% end %>
  </div>
  <div class="actions">
    <%= link_to "Back", personas_path, :class => "btn secondary"  %>
    <%= f.submit "Save", :class => "btn primary" %>
  </div>
<% end %>