<section id="company-settings" style="min-height: 500px;">
  <%= render "companies/tab_header", { :company => current_user.company, :mode => "personas" } %>
  <section>
    <h2 style="margin-bottom: 15px;">Personas</h2>
    <table>
      <th>Name</th>
      <th><%= name_for_paths.pluralize %></th>
      <th>Delete</th>
      <% @personas.each do |p| %>
      <tr>
        <td>
          <p><%= p.name %></p>
        </td>
        <td>
          <p><%= p.paths.collect {|p| p.name }.join(",") %></p>
        </td>

        <td>
          <p><%= link_to "delete", p, :method => :delete, :confirm => "Are you certain you want to delete this persona?" %></p>
        </td>
      </tr>
      <% end %>
    </table>
    <%= link_to "New Persona", new_persona_path, :class => "btn primary" %>
  </section>
</section>