<div style="height: 100px;">
  <%= image_tag @persona.picture, :size => "75x75", :style => "float:left" %>
  <h1 style="display:inline; padding: 20px 20px 0px 20px;"><%= @persona.name %></h2><br>
</div>
<p style="padding: 0px 20px 20px 20px;"><%= @persona.description %></p>
<table>
  <% @persona.path_personas.each do |pp| %>
  <tr>
    <td style="width: 70px; padding: 5px;">
      <%= image_tag pp.path.path_pic, :size => "60x60" %>
    </td>
    <td>
      <p><strong><%= pp.path.name %></strong></p>
    </td>
  </tr>  
  <% end %>
</table>