%div#launchpad.dropdown_modal.modal.hide.fade{ style: "top: 5%; margin: 0; width: 0px; background-color: transparent;", tabindex: "-1"}
  %div.launchpad{ style: "height: 545px; width: 900px; margin-left: -470px;" }
    %div.modal_close
      = image_tag ICON_CLOSE_URL, alt:"Close"
    %h1
      = image_tag @path.path_pic, style:"vertical-align:baseline;", alt: "#{@path.name}"
      %div{style:"position:relative; bottom:10px; "}
        %span #{@path.name}
      %div{style:"float:right; position:relative; top:3px; width: 205px; height; 42px; overflow-y: hidden; margin-right:12px; "}
        %span{style:"font-size:21px;"} Level #{@enrollment.level}
        %span{style:"font-size:14px;"} #{@enrollment.points_to_next_level} pts to level up
        %div.progress.progress-success.progress-striped{style:"height:10px; margin-bottom:0;"}
          %div.bar{style:"width: #{@enrollment.level_percent}%;" }
    
    = render "modals/headlines/contribution"
    
    %div.launchpadcontent{ style: "display: none;" }
      %div.launchpadsectioncolumn
        %h3
          Sections
        %ul
          - @path.sections.all(order: "id ASC").each do |s|
            %li.launchpad_link{ title:"#{s.name}"}
              - if s.points_until_unlock(@enrollment) <= 0
                %div{ style: "display:inline-block; width:73%; line-height:16px;" }
                  = link_to launchpad_section_path(s), remote: true do
                    %span.pointer_caret= "»" if s == @current_section
                    %span= truncate(s.name, length: 40)
                %div.pointsandprogress
                  %div #{s.points_earned(current_user)} pts
                  %div #{s.percentage_complete(current_user)}%
              - else
                %div{ style: "line-height: 16px;" }= truncate(s.name, length: 25)
                %p{ style: "font-size: 9px; line-height: 12px;" } #{s.points_until_unlock(@enrollment)} more points to unlock
      = render "sections/launchpad"

  :javascript
    $(function(){
      $("#topboxcontent .button-actionable").click(function(){
        $('#launchpad').modal({ keyboard: true, backdrop: 'static', show: true });
      });
    });

    $(".launchpad_link").on("ajax:success", function(xhr, data, etc){
      if(data.status){
        log("Cannot access this content.");
      } else {
        $("span.pointer_caret").remove();
        $(".sectioninfocontainer").replaceWith(data);
        $(this).find("a").prepend("<span class='pointer_caret'>» </span>");
      }
    });

- if @display_launchpad
  :javascript
    $(function(){ 
      $('#launchpad').modal({ keyboard: true, backdrop: 'static', show: true });
    });