#login_modal.dropdown_modal.modal.hide.fade{ tabindex: "-1", style: "background-color: transparent; border: none; box-shadow: none;" }
  .explorecontainer{ style: "width: 495px; background-color: transparent; border:none;" }
    .explorenewusercontent{ style: "margin:45px; box-shadow: 0 0 30px 12px #888;" }
      
      .exploreheader{ style: "width: inherit;" }
        .modal_close
          = image_tag ICON_CLOSE_URL, alt: "Close"
        %h1{ style: "margin-bottom: 0; line-height: 23px;" }
          = image_tag STONEY_SMALL_URL, style: "height:65px; margin:-16px -4px -10px -5px;", alt:"Stoney"
          %span{style: "font-size:26px;"} Welcome to MetaBright! 
      
      %hr{ style: "margin: 0;" }
      
      .explorebody{ style: "min-height: 235px; text-align: center;" }
        %p{ style: "padding: 10px; font-size: 15px;" } We believe that everyone has the right to be recognized for their knowledge and skills, not just what fits neatly on a resume.
        
        %div
          = link_to "/auth/google_oauth2", class: "btn danger", style: "width:205px;" do
            = image_tag ICON_LOGIN_GOOGLE, style: "height:30px;", alt: "Google"
            %span.landingbuttontext Sign in with Google »
        
        %div{style: "background-image: url(#{ICON_DIVIDER_URL}); background-repeat:no-repeat; background-position: center 10px; width:234px; margin:10px auto; "} OR
        
        %div
          = link_to "/auth/facebook", class: "btn danger", style: "width:205px;" do
            = image_tag ICON_LOGIN_FACEBOOK, style: "height:30px;", alt: "Facebook"
            %span.landingbuttontext Sign in with Facebook »
        
        %div{style:"padding:12px;"}
          %span Learn about these sign in options
          %span
            %a#signin_options_pop.mb-tooltip
            
  :javascript
    $('#signin_options_pop').popover({trigger: 'click', placement:'bottom', content:'We think online communities work best when people use their real identities, and the best way to encourage this is to have people use a social sign-up before contributing. We take your privacy seriously and will never post on your behalf, or do anything our mothers would not approve of.'})
