#login_modal.dropdown_modal.modal.hide.fade{ tabindex: "-1"}
  .explorecontainer
    .explorenewusercontent
      .exploreheader
        .modal_close
          = image_tag ICON_CLOSE_URL, alt: "Close"
        %h1
          = image_tag STONEY_SMALL_URL, alt:"Stoney"
          %span Welcome back!
      %hr
      .explorebody
        %p Please choose the same sign in option as you registered with.
        .social-sign-in-options
          %div
            = link_to "/auth/google_oauth2", class: "submit_button" do
              = image_tag ICON_LOGIN_GOOGLE, alt: "Google"
              %span.landingbuttontext Sign in with Google »
          %div
            = link_to "/auth/facebook", class: "submit_button" do
              = image_tag ICON_LOGIN_FACEBOOK, alt: "Facebook"
              %span.landingbuttontext Sign in with Facebook »
          %div
            = link_to "/auth/linkedin", class: "submit_button" do
              = image_tag ICON_LOGIN_LINKEDIN, alt: "LinkedIn"
              %span.landingbuttontext Sign in with LinkedIn »
          %div{ style: "margin-bottom: 0;"}
            = link_to "/auth/github", class: "submit_button" do
              = image_tag ICON_LOGIN_GITHUB, alt: "Github"
              %span.landingbuttontext Sign in with Github »
        %div{style:"padding:12px;"}
          - unless current_user
            %p
              = link_to "Sign in with email & password", signin_path
