<section id="company-settings" style="min-height: 500px;">
  <%= render "companies/tab_header", { :company => current_user.company, :mode => "achievements" } %>
  <section>
    <h2 style="margin-bottom: 15px;">Achievements</h2>
    <table>
      <th>Name</th>
      <th><%= name_for_paths.pluralize %></th>
      <th>Delete</th>
      <% @achievements.each do |a| %>
      <tr>
        <td>
          <p><%= a.name %></p>
        </td>
        <td>
          <p><%= a.paths.collect {|p| p.name }.join(",") %></p>
        </td> 
        <td>
          <p><%= link_to "delete", a, :method => :delete, :confirm => "Are you certain you want to delete this achievement?" %></p>
        </td>
      </tr>
      <% end %>
    </table>
    <%= link_to "New Achievement", new_achievement_path, :class => "btn primary" %>
  </section>
</section>