<div style="height: 100px;">
  <%= image_tag @achievement.pic, :size => "75x75", :style => "float:left" %>
  <h1 style="display:inline; padding: 20px 20px 0px 20px;"><%= @achievement.name %></h2><br>
  <h6 style="display:inline; padding: 0px 20px 0px 20px;"><%= @path.name %></h6>
</div>
<p style="padding: 0px 20px 20px 20px;"><%= @achievement.description %></p>
<table>
  <% @user_achievements.each do |ua| %>
  <tr>
    <td style="width: 70px; padding: 5px;">
      <%= image_tag ua.user.profile_pic, :size => "60x60" %>
    </td>
    <td>
      <p><strong><%= ua.user.name %></strong> got the <%= link_to ua.achievement.name, ua %> achievement. +<%= ua.achievement.points %> Points</p>
    </td>
  </tr>	
  <% end %>
</table>