<h1>New Category</h1>
<%= form_for @category, :html => { :multipart => true }  do |f| %>
  <%= render "shared/error_messages", :object => f.object %>
  <div class="field">
    <%= f.label :name %>
    <div class="input">
      <%= f.text_field :name, :class => "xlarge" %>
    </div>
  </div>
  <div class="field">
    <%= f.label "Upload Picture File" %>
    <div class="input">
      <%= f.file_field :pic %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit "Save", :class => "btn primary" %>
  </div>
<% end %>