- new_level = @achievements[0]
- new_rank = @achievements[1]
%div#headlines
  .header
    = image_tag STONEY_SMALL_URL, style: "display: inline-block; vertical-align: middle", alt: "Stoney"
    %h1 Congratulations!              
    %h2
      - if new_level && new_rank
        You just leveled up and reached the Top #{new_rank}!
        - sharing_text = "Just leveled up and made it into the Top #{new_rank} in the #{@path.name} Challenge on @MetaBright!" 
      - elsif new_level
        You've jumped to Level #{new_level}!
        - sharing_text = "Just made it to level #{new_level} in the #{@path.name} Challenge on @MetaBright!"
      - elsif new_rank
        You just reached the Top #{new_rank}!
        - sharing_text = "Just broke the Top #{new_rank} in the #{@path.name} Challenge on @MetaBright!"
      
  .body{ style: "text-align: middle; margin: 0 0 15px 27px;" }
    %p{ style: "font-size: 17px;" } You deserve a round of applause. In fact, you deserve a standing ovation. Share this achievement and brag to your friends.
    %div{ style: "margin-top: 15px;" }
      %button.button.button-actionable.button-large{ style: "margin-right: 10px;", onclick: sharing_popup_javascript(:google_plus, challenge_url(@path.permalink), sharing_text) } Share on Google+
      %button.button.button-standard.button-large{ style: "margin-right: 10px;", onclick: sharing_popup_javascript(:facebook, challenge_url(@path.permalink), sharing_text) } Share on Facebook
      %button.button.button-info.button-large{ onclick: sharing_popup_javascript(:twitter, challenge_url(@path.permalink), sharing_text) } Share on Twitter
  
  .exit{ style: "float: right; margin-top: 30px;" }
    %a{ onclick: "$('#headlines').fadeOut(300, function(){ $('.launchpadcontent').show(); });" } Continue to Launchpad »