<div class="alert-message success hide registration-message">Registration complete!</div>
<script>
$(function(){
	$("#save_score").click(function(){
		$('#startmodal').modal({
			keyboard: true,
			backdrop: 'static',
			show: true
		});
	});
	
	$('#change_credentials_form').submit(function(){
		var reg = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
		if (!reg.test($("#user_email").val())){
			$(".form_errors").text("Email must be valid to complete signup.");
			return false;
		} if ($("#user_password").val().length < 6){
			$(".form_errors").text("Password must be at least 6 characters.");
			return false;
		} if ($("#user_password").val() != $("#user_password_confirmation").val()){
			$(".form_errors").text("Passwords must match.");
			return false;
		} else {
			$(".registration-message").show();
			$('#startmodal').modal('hide');
		}
	});
});
</script>
<div id="startmodal" class="modal hide fade">
  <%= form_for(user, :html => {:id => "change_credentials_form"}, :style => "margin-bottom:0px;") do |f| %>
	<%= f.hidden_field :path_id, :value => @path.id %>
	<div class="modal-header">
    <a href="#" class="close"></a>
    <h3>Save your new highscore!</span></h3>
  </div>
  <div class="modal-body">
    <p style="font-size: 16px; padding:0 7px 5px 10px; line-height: 22px;">Save your score by creating a new account, then you can access other challenges and work your way up the leaderboard!</p>
		<p class="form_errors" style="padding:0 7px 5px 10px; color:red; margin-bottom: 15px;"></p>
		<div style="padding-left:20px;">
			<div class="clearfix" style="margin-bottom:12px;">
				<label style="font-size: 16px;">Email</label>
				<div class="input">
					<%= f.text_field :email, :value => "", :style => "width:175px; margin-right: 15px;" %>
				</div>
			</div>
			<div class="clearfix" style="margin-bottom:12px;">
				<label style="font-size: 16px;">Password</label>
				<div class="input">
					<%= f.password_field :password, :value => "", :style => "width:175px; margin-right: 15px;" %>
				</div>
			</div>
			<div class="clearfix" style="margin-bottom:12px;">
				<label style="font-size: 16px;">Confirm Password</label>
				<div class="input">
					<%= f.password_field :password_confirmation, :value => "", :style => "width:175px; margin-right: 15px;" %>
				</div>
			</div>
		</div>
  </div>
	<div class="modal-footer">
	<%= f.submit "Save Score", :class => "btn primary" %>
	</div>
	<% end %>
</div>