:javascript
  $(".sales_help_tab").each(function(){
    $(this).click(function(){$('#sales_help_modal').modal({show: true, keyboard: true, static: true});});
  });
  $(".enterprise_tab").each(function(){
    $(this).click(function(){$('#enterprise_modal').modal({show: true, keyboard: true, static: true});});
  });

%div.sales_help_modal.modal.hide.fade 
  %div.modal-header
    .modal_close
      = image_tag ICON_CLOSE_URL, alt: "Close"
    = image_tag STONEY_SMALL_URL, alt:"Stoney", class: "stoney"
    %h3 Get in touch with us!
  %div.modal-body
    %p Trying to pick the right plan? Wondering if MetaBright is right for your company? We're happy to answer all of your questions.
    %ul
      %li 
        %span Call us: 
        (415) 423-1151
      %li 
        %span Email us: 
        %a{href: "mailto:support@metabright.com"} support@metabright.com
        
%div.take_support_modal.modal.hide.fade 
  %div.modal-header
    .modal_close
      = image_tag ICON_CLOSE_URL, alt: "Close"
    = image_tag STONEY_SMALL_URL, alt:"Stoney", class: "stoney"
    %h3 Get in touch with us!
  %div.modal-body
    %p Have a question? Something not working? We're here to help. Feel free to contact us via one of the following methods:
    %ul
      %li 
        %span Call us: 
        (415) 423-1151
      %li 
        %span Email us: 
        %a{href: "mailto:support@metabright.com"} support@metabright.com
    
  
%div.enterprise_modal.modal.hide.fade 
  %div.modal-header
    .modal_close
      = image_tag ICON_CLOSE_URL, alt: "Close"
    = image_tag STONEY_SMALL_URL, alt:"Stoney", class: "stoney"
    %h3 Get in touch with us!
  %div.modal-body
    %p If you have any questions about MetaBright or your Evaluator subscription, please don't hesitate to reach out. Our team can make sure you're using your Evaluator subscription to its fullest.
    %ul
      %li 
        %span Email us: 
        %a{href: "mailto:support@metabright.com"} support@metabright.com
      /* This if statement works here so long as premium support is offered with plans with multiple seats */
      - if @group and @group.can_add_users?
        %li 
          %span Call us: 
          (415) 423-1151
      - elsif @group
        %li
          %span Call us:
          Phone support not available with your current subscription.
          = link_to "Upgrade your plan.", edit_group_url(@group)
      
  

%div.footer
  %span.copyright © 2013 MetaBright, Inc. /
  %span.footerlinks
    %a{href: "http://metabright.blogspot.com/", target: "_blank"} Blog
    \/
    = link_to "Terms of Service", tos_path
- if (not current_user) and (params[:action] == "evaluator" or params[:controller] == "groups")
  / Start of Zopim Live Chat Script
  :javascript
    window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
    d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
    _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
    $.src='//v2.zopim.com/?1Yhfe4JOBGvFdh38vjBWxK5ypAx7VIU6';z.t=+new Date;$.
    type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
  / End of Zopim Live Chat Script

- elsif current_user and @admin_group
  .footer_tab.enterprise_tab
    %div{ onclick: "$('.enterprise_modal').modal({keyboard: true, show: true})"} Need some help?
- elsif params[:controller] == "evaluations" and (params[:action] == "take" or params[:action] == "continue")
  .footer_tab.take_support_tab
    %div{ onclick: "$('.take_support_modal').modal({keyboard: true, show: true})"} Need some help?
- else
  .footer_tab.feedback_tab
    = link_to "Feedback", ideas_path