<header>
	<nav class="topbar" data-scollspy="scrollspy" data-dropdown="dropdown">
		<div class="fill">
			<div class="container">
				<h3><a href="/">Moonlite</a></h3>
				<% if signed_in? %>
				<ul>
					<li><%= link_to "Paths", paths_path %></li>
					<li><%= link_to current_user.name, current_user %></li>
					<% if current_user.company.enable_company_store %>
						<li><%= link_to "Company Store", rewards_path %></li>
					<% end %>
					<% if current_user.company_admin? %>
						<li><%= link_to "My Company", current_user.company %></li>
						<li><%= link_to "Dashboard", dashboard_path %></li>
					<% end %>
          <li><%= link_to "Leaderboard", leaderboards_path %></li>
				</ul>
				<% end %>
				<ul class="nav secondary-nav">
					<% if signed_in? %>
					<li><% if current_user.company_admin? %>
						<%= link_to "Take the tour", tours_path %></li>
						<% else %>
						<%= link_to "Take the tour", user_tour_tour_path(1) %></li>
						<% end %>
					<li><%= link_to "Sign out", signout_path, :method => :delete %></li>
					<% else %>
					<li ><%= link_to "Sign in", signin_path %></li>
					<% end %>
				</ul>
				<% if signed_in? && current_user.admin? %>
				<ul class="nav secondary-nav">
					<li class="menu">
						<a href="#" class="dropdown-toggle">Admin</a>
						<ul class="dropdown-menu">
							<li><%= link_to "Companies", companies_path %></li>
							<li><%= link_to "Users", users_path %></li>
							<li><%= link_to "Transactions", user_transactions_path %></li>
						</ul>
					</li>
				</ul>
				<% end %>
			</div>
		</div>
	</nav>
</header>