%title= title

= csrf_meta_tag
= stylesheet_link_tag "application"
= javascript_include_tag "application"

/ Pinterest verification
%meta{:content => "60b0c2db4335c2c678f01cdb92cb0816", :name => "p:domain_verify"}

%meta{ name: "stripe:key", content: STRIPE_PUBLIC_KEY }
 
- if @path && !@path.new_record?
  %link{ rel: "canonical", href: challenge_url(@path.permalink) }
  
/ Facebook coversion tracking  
- if params[:controller] == "groups" and params[:action] == "confirmation"
  :javascript
    var fb_param = {};
    fb_param.pixel_id = '6007367518027';
    fb_param.value = '0.00';
    fb_param.currency = 'USD';
    (function(){
      var fpw = document.createElement('script');
      fpw.async = true;
      fpw.src = '//connect.facebook.net/en_US/fp.js';
      var ref = document.getElementsByTagName('script')[0];
      ref.parentNode.insertBefore(fpw, ref);
    })();
  %noscript
    %img{alt: "", height: "1", src: "https://www.facebook.com/offsite_event.php?id=6007367518027&value=0¤cy=USD", style: "display:none", width: "1"}/


%meta{ property: "og:title", content: "#{social_title}" } 
%meta{ property: "og:description", content: "#{social_description}" } 
%meta{ property: "og:image", content: "#{social_image}" }
-#%script{ src: "/assets/ace/src-min-noconflict/ace.js", type: "text/javascript", charset: "utf-8" }
- if not current_user and @show_chat
  <!--start of Offerchat js code--><script type='text/javascript'>var ofc_key = 'a09a94ae84320c54360cb2d830f86383';(function(){  var oc = document.createElement('script'); oc.type = 'text/javascript'; oc.async = true;  oc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'd1cpaygqxflr8n.cloudfront.net/p/js/widget.min.js?r=1';  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(oc, s);}());</script><!--end of Offerchat js code-->