<header>
	<%= link_to logo, root_path %>
	<nav class="round">
		<ul>
			<% if signed_in? %>
			<li><%= link_to "Home", root_path %></li>
			<% if current_user.admin? %>
				<li><%= link_to "Companies", companies_path %></li>
				<li><%= link_to "Users", users_path %></li>
				<li><%= link_to "Transactions", point_transactions_path %></li>
			<% end %>
			<% if current_user.company_admin? %>
				<li><%= link_to "My Company", current_user.company %></li>
			<% end %>
			<li><%= link_to "Profile", current_user %></li>
			<li><%= link_to "Paths", all_paths_path %></li>
			<% if !current_user.company.nil? %>
				<li><%= link_to "Store", rewards_path(:company_id => current_user.company.id) %></li>
			<% end %>
			<li><%= link_to "Settings", edit_user_path(current_user) %></li>
			<li><%= link_to "Sign out", signout_path, :method => :delete %></li>
			<% else %>
			<li><%= link_to "Sign in", signin_path %></li>
			<% end %>
		</ul>
	</nav>
</header>