%title= title
:javascript
  console = { log: function(){} };

= csrf_meta_tag
= stylesheet_link_tag "application"
= javascript_include_tag "application"

/ Pinterest verification
%meta{:content => "60b0c2db4335c2c678f01cdb92cb0816", :name => "p:domain_verify"}

%meta{ name: "stripe:key", content: STRIPE_PUBLIC_KEY }
 
- if @path && !@path.new_record?
  %link{ rel: "canonical", href: challenge_url(@path.permalink) }
  
/ Facebook coversion tracking  
- if params[:controller] == "groups" and params[:action] == "confirmation"
  :javascript
    var fb_param = {};
    fb_param.pixel_id = '6010404461627';
    fb_param.value = '0.00';
    fb_param.currency = 'USD';
    (function(){
      var fpw = document.createElement('script');
      fpw.async = true;
      fpw.src = '//connect.facebook.net/en_US/fp.js';
      var ref = document.getElementsByTagName('script')[0];
      ref.parentNode.insertBefore(fpw, ref);
    })();
  %noscript
    %img{alt: "", height: "1", src: "https://www.facebook.com/offsite_event.php?id=6010404461627&value=0¤cy=USD", style: "display:none", width: "1"}/

%meta{ property: "og:title", content: "#{social_title}" } 
%meta{ property: "og:description", content: "#{social_description}" } 
%meta{ property: "og:image", content: "#{social_image}" }

-#%script{ src: "/assets/ace/src-min-noconflict/ace.js", type: "text/javascript", charset: "utf-8" }
/ - if not current_user and @show_chat
/   <script type='text/javascript'>(function () { var done = false; var script = document.createElement('script'); script.async = true; script.type = 'text/javascript'; script.src = 'https://www.purechat.com/VisitorWidget/WidgetScript'; document.getElementsByTagName('HEAD').item(0).appendChild(script); script.onreadystatechange = script.onload = function (e) { if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete')) { var w = new PCWidget({ c: '4906296a-7661-4a83-93cc-00d392df2594', f: true }); done = true; } }; })();</script>
%noscript
  %meta{content: "3;url=https://www.metabright.com/javascript_off", "http-equiv" => "refresh"}