%title= title

= csrf_meta_tag
= javascript_include_tag "application"
= stylesheet_link_tag "application"
- if @path && !@path.new_record?
  %link{ rel: "canonical", href: challenge_url(@path.permalink) }
%meta{ property: "og:title", content: "#{social_title}" } 
%meta{ property: "og:description", content: "#{social_description}" } 
%meta{ property: "og:image", content: "#{social_image}" }

- if Rails.env == "production"
  :javascript
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-28492737-1']);
    _gaq.push(['_trackPageview']);
    
    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    
    function log(){
      return true;
    }
- else
  :javascript
    function log(str){
      console.log(str);
    }

:javascript
  $(function(){
    $('.bar2').mosaic({ animation: 'slide' });
    $('.explore_link').click(function(){
      $("#explore_modal").modal({ keyboard: true, show: true, backdrop: true});
    });
    $('.notifications_link').on("ajax:success", function(xhr, data){
      $("#notifications_modal").html(data).modal({ keyboard: true, show: true, backdrop: true});
      $(".navitem").removeClass("highlighted");
    });
  });
