%title= title
= csrf_meta_tag
= javascript_include_tag "application"
= stylesheet_link_tag "application"
%meta{ property: "og:title", content: "#{social_title}" } 
%meta{ property: "og:description", content: "#{social_description}" } 
%meta{ property: "og:image", content: "#{social_image}" } 

:javascript
  $(function(){
    $('.bar2').mosaic({ animation: 'slide' });
    $('.explore_link').click(function(){
      $("#explore_modal").modal({ keyboard: true, show: true, backdrop: true});
    })
  });
