<header>
	<nav class="topbar" data-scollspy="scrollspy" data-dropdown="dropdown">
		<div class="fill">
			<div class="container">
				<h3><%= link_to company_logo.html_safe, current_user ? root_path : "#", :style => "font-size: 26px;" %></h3>
				<% if signed_in? %>
				<ul class="top_nav_bar">
					<% if @enable_browsing %><li><%= link_to "Explore", explore_path %></li><% end %>
					<% if @enable_user_creation %><li><%= link_to "Create", create_path %></li><% end %>
					<li>
            <a href="<%= user_url(current_user) %>">
              <%= image_tag current_user.profile_pic, :size => "18x18", :style => "display:inline; float:left; margin-right: 5px;" %>
              <span id="user_name_in_header"><%= current_user.name %></span>
            </a>
          </li>
					<% if @enable_company_store %><li><%= link_to "Rewards", rewards_path %></li><% end %>
					<% if current_user.admin? || @enable_administration %>
						<li><%= link_to "Administration", current_user.company %></li>
            <% if @enable_dashboard %><li><%= link_to "Dashboard", dashboard_path %></li><% end %>
					<% end %>
          <% if @enable_leaderboard %><li><%= link_to "Leaderboard", leaderboards_path %></li><% end %>
				</ul>
				<% end %>
				<ul class="nav secondary-nav top_nav_bar">
					<% if signed_in? %>
            <% if @enable_tour %>
            <li>
              <% if @enable_administation %>
              <%= link_to "Take the tour", tours_path %>
              <% else %>
              <%= link_to "Take the tour", user_tour_tour_path(1) %>
              <% end %>
            </li>
            <% end %>
					<li><%= link_to "Sign out", signout_path, :method => :delete, :id => "signout_link" %></li>
					<% else %>
					<li ><%= link_to "Sign in", signin_path %></li>
					<% end %>
				</ul>
				<% if signed_in? && current_user.admin? %>
				<ul class="nav secondary-nav top_nav_bar">
					<li class="menu">
						<a href="#" class="dropdown-toggle">Admin</a>
						<ul class="dropdown-menu">
							<li><%= link_to "Companies", companies_path %></li>
							<li><%= link_to "Users", users_path %></li>
							<li><%= link_to "Transactions", user_transactions_path %></li>
						</ul>
					</li>
				</ul>
				<% end %>
			</div>
		</div>
	</nav>
</header>