%title= title

= csrf_meta_tag
= stylesheet_link_tag "application"
= javascript_include_tag "application"
- if @path && !@path.new_record?
  %link{ rel: "canonical", href: challenge_url(@path.permalink) }
%meta{ property: "og:title", content: "#{social_title}" } 
%meta{ property: "og:description", content: "#{social_description}" } 
%meta{ property: "og:image", content: "#{social_image}" }