- if current_user && @current_section
  %div#launchpad.dropdown_modal.modal.hide.fade{ style: "top: 5%;", tabindex: "-1"}
    %div.overlay
      %div.launchpad{ style: "height: 545px; width: 900px;" }
        
        %div.modal_close
          = image_tag ICON_CLOSE_URL, alt:"Close"
        %h1
          = image_tag @path.path_pic, style:"vertical-align:baseline;", alt: "#{@path.name}"
          %div{style:"position:relative; bottom:10px; "}
            %span #{@path.name}
          %div{style:"float:right; position:relative; top:3px; width: 205px; height; 42px; overflow-y: hidden; margin-right:12px; "}
            %span{style:"font-size:21px;"} Level #{@enrollment.level}
            %span{style:"font-size:14px;"} #{@enrollment.points_to_next_level} pts to level up
            %div.progress.progress-success.progress-striped{style:"height:10px; margin-bottom:0;"}
              %div.bar{style:"width: #{@enrollment.level_percent}%;" }
        
        - @achievements = [false, 20]
        - if @achievements
          - new_level = @achievements[0]
          - new_rank = @achievements[1]
          %div#launchpad_headlines{ style: "width: 100%; height: 90%; padding: 5% 6% 0 6%;" }
            %div{ style: "width: 20%; height: 100%; display: inline-block; vertical-align: top" }
              = image_tag @path.path_pic, style:"vertical-align:baseline;", alt: "#{@path.name}", style: "width: 100%;"
            %div{ style: "display: inline-block; width: 67%; padding: 10px 0;"}
              
              %h3{ style: "font-size: 25px; line-height: 32px;" }
                Congratulations!
                - if new_level && new_rank
                  You just leveled up and reached the Top #{new_rank} on the leaderboard!
                  - sharing_text = "Just leveled up and am now ranked number #{new_rank} in the #{@path.name} Challenge on @MetaBright!" 
                - elsif new_level
                  You just leveled up!
                  - sharing_text = "Just hit Level #{new_level} in the #{@path.name} Challenge on @MetaBright!"
                - elsif new_rank
                  You reached the Top #{new_rank} on the leaderboard!
                  - sharing_text = "I'm now ranked number #{new_rank} in the #{@path.name} Challenge on @MetaBright!"
                  
              %div{ style: "text-align: middle; margin: 15px 0;" }
                - if new_level
                  %h4{ style: "margin: 10px 0;" } You are now Level #{new_level} - only #{@enrollment.points_to_next_level} points to Level #{new_level + 1}.
                - if new_rank
                  %h4{ style: "margin: 10px 0;" } You're now in #{ActiveSupport::Inflector.ordinalize(new_rank)} place on the #{@path.name} Leaderboard.
                
                %p{ style: "font-size: 17px;" } You deserve a round of applause. In fact, you deserve a standing ovation. Share this achievement and brag to your friends.
                %div{ style: "margin-top: 15px;" }
                  %button.button.button-actionable.button-large{ style: "margin-right: 10px;", onclick: sharing_popup_javascript(:google_plus, profile_path(current_user.username), sharing_text) } Share on Google+
                  %button.button.button-standard.button-large{ style: "margin-right: 10px;", onclick: sharing_popup_javascript(:facebook, profile_path(current_user.username), sharing_text) } Share on Facebook
                  %button.button.button-info.button-large{ onclick: sharing_popup_javascript(:twitter, profile_path(current_user.username), sharing_text) } Share on Twitter
              
              %div{ style: "float: right; margin-top: 30px;" }
                %a{ href: "#", style: "font-size: 15px;", onclick: "$('#launchpad_headlines').fadeOut(300, function(){ $('.launchpadcontent').show(); });" } Continue to Launchpad »
        
        %div.launchpadcontent{ style: ("display: none;" if @achievements) }
          %div.launchpadsectioncolumn
            %div.launchpadcolumnheader
              Sections
            %ul.sectionlist
              - @path.sections.all(order: "id ASC").each do |s|
                %li.launchpad_link{ title:"#{s.name}"}
                  - if s.points_until_unlock(@enrollment) <= 0
                    %div{ style: "display:inline-block; width:73%; line-height:16px;" }
                      = link_to launchpad_section_path(s), remote: true do
                        %span.pointer_caret= "»" if s == @current_section
                        %span= truncate(s.name, length: 40)
                    %div.pointsandprogress
                      %div #{s.points_earned(current_user)} pts
                      %div #{s.percentage_complete(current_user)}%
                  - elsif s.points_to_unlock == 9999
                    %div{ style: "line-height: 16px;" }= truncate(s.name, length: 25)
                    %p{ style: "font-size: 9px; line-height: 12px;" } Coming soon!
                  - else
                    %div{ style: "line-height: 16px;" }= truncate(s.name, length: 25)
                    %p{ style: "font-size: 9px; line-height: 12px;" } #{s.points_until_unlock(@enrollment)} more points to unlock
          = render "sections/launchpad"
  
  :javascript
    $(function(){
      $("#topboxcontent .button-actionable").click(function(){
        $('#launchpad').modal({ keyboard: true, backdrop: 'static', show: true });
      });
       
      $(".launchpad_link").on("ajax:success", function(xhr, data, etc){
        if(data.status){
          log("Cannot access this content.");
        } else {
          $("span.pointer_caret").remove();
          $(".sectioninfocontainer").replaceWith(data);
          $(this).find("a").prepend("<span class='pointer_caret'>» </span>");
        }
      });
    });
  
  - if @display_launchpad
    :javascript
      $(function(){ 
        $('#launchpad').modal({ keyboard: true, backdrop: 'static', show: true });
      });