%nav.topbar{ "data-scollspy" => "scrollspy", "data-dropdown" => "dropdown" }
  %div.fill
    %div{ style: "position:absolute;" }
      - 6.times do
        %div.chunk.cloudy
    %div{ style: "margin-left: 188px;" }
      %h3{ style: "top:3px;" }
        = link_to root_url, style: "font-size: 26px;" do
          = image_tag("https://s3.amazonaws.com/moonlite-nsdub/static/MB+logo+nav+bar.png", style: "position:absolute;")
      - unless current_user.nil? || no_bar
        %ul.navicons{ style: "margin-left:153px; bottom:5px; border-right:1px solid #56698B;" }
          %li.navitem{ style: "border-left: 0px;" }
            = link_to root_url do
              = image_tag "https://s3.amazonaws.com/moonlite-nsdub/static/nav+bar+icons/home.png", style: "width:26px;"
          %li.navitem
            = link_to "#", class: "explore_link" do
              = image_tag "https://s3.amazonaws.com/moonlite-nsdub/static/nav+bar+icons/explore+signpost.png", style: "width:22px;"
          %li.navitem
            = link_to current_user do
              = image_tag "https://s3.amazonaws.com/moonlite-nsdub/static/nav+bar+icons/profile.png"
          - if @enable_user_creation
            %li.navitem
              = link_to create_path do
                = image_tag "https://s3.amazonaws.com/moonlite-nsdub/static/nav+bar+icons/create.png", style: "width:22px;"
      %ul.nav.pull-right{ style: "float:right; margin-right: 197px;" }
        - if current_user
          - if @enable_administration
            %li
              = link_to "Admin", admin_path
          %li
            = link_to "Sign out", signout_path
        - else
          %li
            = link_to "Sign In", root_url