%nav.navbar.navbar-fixed-top
  .fill.navbar-inner{ style: "height: 100%;" }
    %div{ style: "height: 100%; width: 87%; margin: 0 auto;" }
      .new-brand.brand{ style: "display: none;" }
        = link_to root_url do
          = image_tag(STONEY_SMALL_URL)
          %h1 MetaBright
      .brand.old-brand{ style: "padding-top: 3px; width: 150px; padding-right: 10px; " }
        - if params[:controller] == "evaluations" and (params[:action] == "take" or params[:action] == "continue")
          = image_tag("https://s3.amazonaws.com/moonlite-nsdub/static/MB+logo+nav+bar.png", alt: "MetaBright")
        - else
          = link_to root_url do
            = image_tag("https://s3.amazonaws.com/moonlite-nsdub/static/MB+logo+nav+bar.png", alt: "MetaBright")
      -# raise params.to_yaml
      - if not current_user and not params[:controller] == "evaluations" and not (params[:action] == "take" or params[:action] == "continue")
        %ul.nav.navicons.landing-nav{ style: "height: 100%;", "data-no-turbolink" => true }
          %li
          %li.navitem
            = link_to root_url do
              %span Home
          %li.navitem
            = link_to evaluator_url do
              %span Features
          %li.navitem
            = link_to pricing_url do
              %span Pricing

      - elsif current_user and show_nav_bar
        - if @admin_group
          %ul.nav.navicons{ style: "height: 100%; border-right: 1px solid #56698B;" }
            %li{ style: "height: 100%; border-right: 1px solid #020D25; "}
            %li.navitem{ title: "Evaluations", style: "height: 100%;" }
              = link_to group_evaluations_path(@admin_group) do
                = image_tag NAVBAR_EVALUATIONS,  alt: "Evaluations"
                %span Evaluations
            %li.navitem{ title: "Challenges", style: "height: 100%;" }
              = link_to group_paths_url(@admin_group) do
                = image_tag NAVBAR_CHALLENGES, style: "", alt: "Challenges"
                %span Challenges
            - if @admin_group.is_private?
              %li.navitem{ title: "Account", style: "height: 100%;" }
                = link_to account_group_path(@admin_group) do
                  = image_tag NAVBAR_ACCOUNT, style: "", alt: "Account"
                  %span Account
            - else
              %li.navitem{ title: "Dashboard", style: "height: 100%;" }
                = link_to dashboard_group_path(@admin_group) do
                  = image_tag NAVBAR_ACCOUNT, style: "", alt: "Dashboard"
                  %span Dashboard
            - if Rails.env == "development" and @enable_administration
              %li.navitem{ title: "Search", style: "height: 100%;" }
                = link_to new_group_search_url(@admin_group) do
                  = image_tag NAVBAR_SEARCH, alt: "Search"  
                  %span Search
        - else
          %ul.nav.navicons{ style: "height: 100%; border-right: 1px solid #56698B;" }
            %li{ style: "height: 100%; border-right: 1px solid #020D25; "}
            %li.navitem{ title: "Home", style: "height: 100%; " }
              = link_to root_url do
                = image_tag NAVBAR_HOME,  alt: "Home"
                %span Home
            %li.navitem{ title: "Explore", style: "height: 100%;" }
              %a.explore_link
                = image_tag NAVBAR_EXPLORE, style: "", alt: "Explore"
                %span Explore
            - if current_user.content_creation_enabled?
              %li.navitem{ title: "Create", style: "height: 100%;" }
                = link_to paths_path do
                  = image_tag NAVBAR_CREATE, style: "", alt: "Create"
                  %span Create
            %li.navitem{ title: "Profile", style: "height: 100%;" }
              = link_to profile_path(current_user.username) do
                = image_tag NAVBAR_PROFILE, alt: "Profile"  
                %span Profile
      %div{ style: "margin-left: 10px; padding-top: 10px; display: inline-block;" }
        = image_tag ICON_LOADING, alt: "Loading...", style: "display: none; width: 20px;", id: "page_loading"
      - if current_user and show_nav_bar
        %ul.nav.pull-right{ style: "float:right; margin-right: -.6%;" }
          - if current_user
            %li.navuser
              .dropdown.pull-right
                - if current_user.guest_user?
                  %a.button.btn-danger.login_link{ style: "padding:3px 7px; border-radius:2px; margin-top:2px; margin-right: 17px; text-shadow:none; color:white;" } Sign up
                - else
                  - groups = @groups if not @admin_group and (@groups and @groups.size > 0)
                  - enrollments = current_user.enrollments.includes(:path).where("total_points > 0").order("total_points DESC").to_a
                  - enrollments = nil if enrollments.empty?
                  - if @admin_group
                    %span.users_name{ style: "top: 6px; position: relative; right: 10px; color: rgba(255, 255, 255, 0.8);" }= current_user.name
                  - elsif groups or enrollments
                    %a.dropdown-toggle{ "data-toggle" => "dropdown"}
                      = image_tag current_user.picture, style: "width: 17px; height: 17px; vertical-align: middle;", alt: "#{@current_user.name}", onerror: "user_img_error(this);" 
                      %span.users_name{ style: "vertical-align: middle;" }= current_user.name
                      %span.caret
                - if groups or enrollments
                  %ul.dropdown-menu{ role: "button", style: "padding: 0; top:38px; right:-136px; min-width: 312px; min-height: 135px;" }
                    .outter-nub{ style: "left: 148px; "}
                      .inner-nub{ style: "border-bottom-color: #FCFCFC;"}
                    - if groups
                      .leftboxheader Your Groups
                      .leftboxfooter{style:"padding:0; background-color:white; border-bottom: 1px solid #DDD;"}
                        - @groups.each do |group|
                          = link_to root_url(g: group.id), style: "text-decoration: none; padding: 0;" do
                            .singlegroupentry{ style: "padding: 6px 12px; "}
                              = image_tag group.picture, style: "display: inline-block; height: 50px; width: 50px;", class: "img-circle"
                              %div{ style: "margin-left: 5px; display: inline-block; color: gray; vertical-align: middle; "}
                                %div{ style: "font-size: 20px; line-height: 23px; "} #{truncate(group.name, length:22, separator: ' ')}
                                %div{ style: "font-size: 13px; "} #{truncate(group.description, length: 41, separator: ' ')}
                    - if enrollments
                      .leftboxheader Your Challenges
                      .leftboxfooter{style:"padding:0; background-color:white; max-height: 412px; overflow-y:auto;"}
                        - enrollments.each do |e|
                          = link_to challenge_path(e.path.permalink), style:"padding:0;" do
                            .singleprogressentry
                              = image_tag e.path.image, style: "width: 50px; height: 50px;", alt: "#{e.path.name}"            
                              .challengeprogress
                                %span{ style: "font-size:18px;"} #{truncate(e.path.name,length: 18, separator: ' ')}
                                %span{style: "font-size:14px; float:right; "} Level #{e.level}
                                %span{ style: "position:relative; bottom:3px;display:block; line-height:16px;"} #{e.points_to_next_level} more points to level up!
                                %div.progress.progress-info
                                  %div.bar{ style: "width: #{e.level_percent}%;"}
                - else
                  
                  
            %li
              - notifications_ary = notifications.to_a
              .dropdown.pull-right.notification-icon{ style: "padding-top: 11px;" }
                %a.dropdown-toggle{ "data-toggle" => "dropdown", onclick: "mark_notifications_as_read();", style: "padding:10px;" }
                  = image_tag ICON_NOTIFICATIONS, style: "width: 18px; height: 18px;", title: "Notifications", alt: "Notifications"
                  - if unread_notification_count > 0
                    %span.notifications_bubble= unread_notification_count
                - if notifications_ary.any?
                  %ul.dropdown-menu{ role: "button", style: "padding: 0 0 10px 0; top:42px; right:-104px; min-width: 317px; min-height: 135px;" }
                    %div
                      .outter-nub{ style: "left: 184px; "}
                        .inner-nub{ style: "border-bottom-color: #FCFCFC;"}
                    .leftboxheader Notifications
                    .leftboxfooter{style: "padding: 0;background-color: white;max-height: 352px;overflow-y: auto;"}
                      - notifications.each do |event|
                        %li.notification_space
                          %div.notification{ class: "#{event.read_at ? '' : 'notification-unread'}" }
                            %a{ href: event.link }
                              %img.photo{ src: event.image_link, style: "width:35px; height: 35px;", alt: "Notification", onerror: "user_img_error(this);"  }
                              %p.notification_body= event.content
                              %p.notification_time #{time_ago_in_words(event.created_at)} ago
                - else
                  %ul.dropdown-menu{ role: "button", style: "padding: 0 0 10px 0; top:42px; right:-104px; min-width: 317px;" }
                    %div
                      .outter-nub{ style: "left: 184px; "}
                        .inner-nub{ style: "border-bottom-color: #FCFCFC;"}
                    .leftboxheader Notifications
                    .leftboxfooter{style: "padding: 0;background-color: white;max-height: 352px;overflow-y: auto;"}
                      %p{ style: "margin: 10px 10px 0;"} No notifications yet.
            %li
              .dropdown.pull-right.notification-icon{ style: "padding-top:9px;" }
                %a.dropdown-toggle{ "data-toggle" => "dropdown", style: "padding:10px;" }
                  %img{ src: ICON_GEAR, style: "height:20px; width:20px;", title:"Settings", alt: "Settings"}
                %ul.dropdown-menu{ role: "button", style: "margin:0px;padding: 0 0 0px 0; top:43px; right:-40px; min-width: 25px; min-height: 39px;" }
                  %li
                    .outter-nub
                      .inner-nub
                    %div{ style: "padding: 3px 0px;"}
                      %ul.profile_dropdown{ style: "list-style: none; margin: 0px;"}
                        - if @enable_administration
                          %li= link_to "Admin", admin_overview_path, style: "border-bottom: 1px solid #DDD; color: inherit; text-shadow: none;"
                        - unless @admin_group
                          %li.explore_link= link_to "Explore", "#", style: "border-bottom: 1px solid #DDD; color: inherit; text-shadow: none;"
                          %li= link_to "View Profile", user_path(current_user.username), style: "border-bottom: 1px solid #DDD; color: inherit; text-shadow: none;"
                          %li= link_to "Edit Profile", edit_user_path(current_user.username), style: "border-bottom: 1px solid #DDD; color: inherit; text-shadow: none;"
                          %li.invite_facebook_friends= link_to "Invite Friends", "#", style: "border-bottom: 1px solid #DDD; color: inherit; text-shadow: none;"
                          %li= link_to "MetaBright Labs", ideas_path, style: "border-bottom: 1px solid #DDD; color: inherit; text-shadow: none;"
                        %li= link_to "Sign out", signout_path, style: "color: inherit; text-shadow: none;", method: :delete
      - if current_user.nil?
        %ul.nav.landing-nav.pull-right
          - if show_sign_in
            %li.navitem{ style: "border: none;"}
              = link_to "#", class: "login_link" do
                %span Sign in
      - elsif current_user and params[:controller] == "sections" and params[:action] != "new"
        %ul.nav.pull-right{ style: "float:right;" }
          %li
            %div{ style: "width: 300px; margin-top: 2px;"}
              = image_tag @path.image, style: "width: 32px; height: 32px; margin-top: 2px;", alt: "#{@path.name}"            
              %div{ style: "vertical-align: top; width: 255px; margin-left: 5px; display: inline-block; color: white;" }
                %span Level #{@enrollment.level} - #{@enrollment.points_to_next_level} more points to next level
                .progress.progress-info{ style: "height: 10px; margin:0;" }
                  .bar{ style: "width: #{@enrollment.level_percent}%;"}
      .clear_floats
