:javascript
  function mark_notifications_as_read(){
    $.ajax({ 
      type: "GET", 
      url: "#{mark_read_path}", 
      complete: function(){ 
        $("title").text($("title").text().replace(/\([0-9]+\)/,''));
        $(".notifications_bubble").remove();
      } 
    });
  }
:css
  .profile_dropdown li:hover { color: white; }
  .navbar{ z-index:1001; }
  
%nav.navbar.navbar-fixed-top
  %div.fill.navbar-inner
    %div{ style: "position:absolute; height: 40px; overflow-y: hidden;" }
      - 6.times do
        %div.chunk.cloudy
    %div{ style: "margin-left: 188px;" }
      %h3.brand{ style: "top:3px; position:relative;" }
        - if current_user
          = link_to root_url, style: "font-size: 26px;" do
            = image_tag("https://s3.amazonaws.com/moonlite-nsdub/static/MB+logo+nav+bar.png", style: "position:absolute;")
        - else
          %a.login_link{ href: "#" }
            = image_tag("https://s3.amazonaws.com/moonlite-nsdub/static/MB+logo+nav+bar.png", style: "position:absolute;")
      - if current_user && show_nav_bar
        %ul.nav.navicons{ style: "margin-left:153px; bottom:5px; border-right:1px solid #56698B; height: 45px; overflow-y: hidden;" }
          %li.navitem{ style: "border-left: 0px;", title: "Home" }
            = link_to root_url do
              = image_tag "https://s3.amazonaws.com/moonlite-nsdub/static/nav+bar+icons/home.png", style: "width:26px;"
          %li.navitem{ title: "Explore"}
            = link_to "#", class: "explore_link" do
              = image_tag "https://s3.amazonaws.com/moonlite-nsdub/static/nav+bar+icons/explore+signpost.png", style: "width:22px;"
          %li.navitem{ title: "Profile"}
            = link_to profile_path(current_user.username) do
              = image_tag "https://s3.amazonaws.com/moonlite-nsdub/static/nav+bar+icons/profile.png"
          - if @enable_content_creation
            %li.navitem{ title: "Create"}
              = link_to create_path do
                = image_tag "https://s3.amazonaws.com/moonlite-nsdub/static/nav+bar+icons/create.png", style: "width:22px;"
        %ul.nav.pull-right{ style: "float:right; margin-right: 197px; " }
          - if current_user
            %li.navuser
              %div.dropdown.pull-right
                %a.dropdown-toggle{ href: "#", "data-toggle" => "dropdown"}
                  = image_tag current_user.profile_pic, style: "width: 17px; height: 17px; vertical-align: middle;"
                  %span{ style: "vertical-align: middle;" }= current_user.name 
                  %span.caret
                %ul.dropdown-menu{ role: "button", style: "padding: 0; top:42px; right:-138px; min-width: 312px; min-height: 135px;" }
                  %div
                    %div.nub{ style: "left:150px;" }
                  %div.leftboxheader Your Challenges
                  %div.leftboxfooter{style:"padding:0; background-color:white;"}
                    %div.singleprogressentry
                      %img{ src: "http://www.placekitten.com/50/50"}              
                      %div.challengeprogress
                        %span{ style: "font-size:18px;"} Challenge Name 
                        %span{style: "font-size:14px; float:right; "}Level 4
                        %span{ style: "position:relative; bottom:3px;display:block; line-height:16px;"} 300 more points to level up!
                        %div.progress.progress-info
                          %div.bar{ style: "width:30%;"} 
                            -# = The width of this div should be dynamically changed based on the user's progress in current level.
                    %div.singleprogressentry
                      %img{ src: "http://www.placekitten.com/50/50"}              
                      %div.challengeprogress
                        %span{ style: "font-size:18px;"} Challenge Name 
                        %span{style: "font-size:14px; float:right; "}Level 4
                        %span{ style: "position:relative; bottom:3px;display:block; line-height:16px;"} 300 more points to level up!
                        %div.progress.progress-success
                          %div.bar{ style: "width:70%;"} 
                            -# = The width of this div should be dynamically changed based on the user's progress in current level.
                    %div.singleprogressentry
                      %img{ src: "http://www.placekitten.com/50/50"}              
                      %div.challengeprogress
                        %span{ style: "font-size:18px;"} Challenge Name 
                        %span{style: "font-size:14px; float:right; "}Level 4
                        %span{ style: "position:relative; bottom:3px;display:block; line-height:16px;"} 300 more points to level up!
                        %div.progress.progress-warning
                          %div.bar{ style: "width:45%;"} 
                            -# = The width of this div should be dynamically changed based on the user's progress in current level.
            %li
              %div.dropdown.pull-right.notification-icon{ style: "padding-top: 11px;" }
                %a.dropdown-toggle{ href: "#", "data-toggle" => "dropdown", onclick: "mark_notifications_as_read();", style: "padding:10px;" }
                  = image_tag "https://s3.amazonaws.com/moonlite-nsdub/static/nav+bar+icons/notifications3.png", style: "width: 18px; height: 18px;", title: "Notifications"
                  - if unread_notification_count > 0
                    %span.notifications_bubble= unread_notification_count
                %ul.dropdown-menu{ role: "button", style: "padding: 0 0 10px 0; top:42px; right:-100px; min-width: 312px; min-height: 135px;" }
                  %div
                    %div.nub
                  %div.leftboxheader Notifications
                  - notifications.each do |event|
                    %li.notification_space
                      %div.notification{ class: "#{event.is_read ? '' : 'notification-unread'}" }
                        = link_to event.link do
                          = image_tag event.image_link, class: "photo", style: "width:35px; height: 35px;"
                          %p.notification_body= event.content
                          %p.notification_time #{time_ago_in_words(event.created_at)} ago
            %li
              %div.dropdown.pull-right.notification-icon{ style: "padding-top:9px;" }
                %a.dropdown-toggle{ href: "#", "data-toggle" => "dropdown", style: "padding:10px;" }
                  %img{ src:"https://s3.amazonaws.com/moonlite-nsdub/static/nav+bar+icons/gear.png", style: "height:20px; width:20px;", title:"Settings"}
                %ul.dropdown-menu{ role: "button", style: "margin:0px;padding: 0 0 0px 0; top:43px; right:-15px; min-width: 25px; min-height: 50px;" }
                  %li
                    %div
                      %div.nub{ style: "left: 62px;"}
                    %div{ style: "padding: 3px 0px;"}
                      %ul.profile_dropdown{ style: "list-style: none; margin: 0px;"}
                        - if @enable_administration
                          %li= link_to "Admin", admin_overview_path, style: "border-bottom: 1px solid #DDD; color: inherit; text-shadow: none;"
                        %li= link_to "Edit Profile", edit_user_path(current_user), style: "border-bottom: 1px solid #DDD; color: inherit; text-shadow: none;"
                        %li= link_to "Sign out", signout_path, style: "color: inherit; text-shadow: none;"
      - if current_user.nil? && show_sign_in
        %ul.nav.pull-right{ style: "float:right; margin-right: 197px; " }
          %li
            %a.button.btn-danger.login_link{ style: "padding:3px 7px; border-radius:2px; margin-top:6px; text-shadow:none; color:white;" } Sign in
