!!!
/xmlns:fb="http://www.facebook.com/2008/fbml"
%html
  %head
    = render "layouts/head"
    - if Rails.env == "production"
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-28492737-1']);
        _gaq.push(['_trackPageview']);
        
        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
  %body
    = render "layouts/navbar"
    = render "layouts/explore_modal" if current_user
    %div.container.body{ style: "padding-top: 45px;" }
      - flash.each do |key, value|
        = content_tag(:div, value, :class => "alert-message #{key}")
      = yield