!!!
%html
  %head
    = render "layouts/head"
  %body{ class: "#{'employer' if hide_background}"}
    - unless request.url.include?("hmrm=pre")
      = google_tag_manager 
    - if current_user
      - if @path and @current_section
        = render "modals/launchpad"
      - if show_nav_bar
        = render "modals/explore"
      - if current_user.guest_user?
        = render "modals/login"
    - else
      = render "modals/login"
      
    = render "layouts/navbar"
    %div.container.body
      - flash.each do |key, value|
        = content_tag(:div, value, class: "alert alert-#{key}")
      = yield
    - if show_footer
      = render "layouts/footer"
    = render "layouts/styles_and_scripts"