!!!
%html
  %head
    = render "layouts/head"
  %body
    - if current_user
      - if @path && @current_section
        = render "modals/launchpad"
      - if show_nav_bar
        = render "modals/explore"
      - if current_user.guest_user?
        = render "modals/login"
    - else
      = render "modals/login"
      
    = render "layouts/navbar"
    %div.container.body{ style: ("background-color: transparent; padding: 0px;" if hide_background) }
      - flash.each do |key, value|
        = content_tag(:div, value, class: "alert alert-#{key}", style: ("margin:60px 0 -50px;" if hide_background))
      = yield
      
    - if show_footer
      = render "layouts/footer"