!!!
%html
  %head
    = render "layouts/head"
    :javascript
      var viewed_help = #{current_user.nil? ? [] : current_user.get_viewed_help};
      var all_help = #{get_all_help.to_json};
      var mark_read_url = '#{mark_help_read_url}';
      $(function(){ init_iph(); });
  %body
    - if current_user
      = render "layouts/explore_modal"
      = render "layouts/launchpad_modal"
    - else
      = render "layouts/login_modal"
    = render "layouts/navbar"
    %div.container.body{ style: "padding-top: 51px;" }
      - flash.each do |key, value|
        = content_tag(:div, value, :class => "alert alert-#{key}")
      = yield
    - if show_footer
      = render "layouts/footer"