<!DOCTYPE html>
<html xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
	
<title><%= title %></title>
<%= csrf_meta_tag %>

<%= javascript_include_tag "application" %>
<%= stylesheet_link_tag "application" %>

<% if current_user && current_user.company.custom_style %>
  <% if current_user.company.custom_style.mode == 1 || (current_user.company.custom_style.mode == 2 && @enable_administration) %>
  <style><%= current_user.company.custom_style.styles %></style>
  <% end %>
<% elsif @possible_company && @possible_company.custom_style.mode == 1 %>
  <style><%= @possible_company.custom_style.styles %></style>
<% end %>

</head>
<body>
<div id="fb-root"></div>
<script>var std_url = '<%= root_url %>';</script>
<%= render "shared/locked_modal" %>
<div class="container body">
  <%= render "layouts/header" %>
  <section id="content">
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, :class => "alert-message #{key}") %>
    <% end %>
    <%= yield %>
  </section>
  <%= render "layouts/footer" %>
  <%= debug(params) if Rails.env.development? %>
</div>
</body>
</html>
