!!!
%html
  %head
    = render "layouts/head"
  %body
    = render "layouts/navbar", { no_bar: false }
    - if current_user
      = render "layouts/explore_modal"
      = render "layouts/launchpad_modal"
    - else
      = render "layouts/login_modal"
    %div.container.body{ style: "padding-top: 51px;" }
      - flash.each do |key, value|
        = content_tag(:div, value, :class => "alert-message #{key}")
      = yield
        
    - unless params[:controller] == "sections"
      = render "layouts/footer"