<!DOCTYPE html>
<html xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
	
<title><%= title %></title>
<%= csrf_meta_tag %>

<%= javascript_include_tag "application" %>
<%= stylesheet_link_tag "application" %>

<% if current_user && current_user.company.custom_style %>
  <% if current_user.company.custom_style.mode == 1 || (current_user.company.custom_style.mode == 2 && @enable_administration) %>
  <style><%= current_user.company.custom_style.styles %></style>
  <% end %>
<% end %>

</head>
<body>
<div id="fb-root"></div>
<script>var std_url = '<%= root_url %>';</script>
<div id="locked_modal" class="modal hide fade">
  <div class="modal-header">
    <a href="#" class="close"></a>
    <h3>Locked <%= name_for_paths.pluralize %></span></h3>
  </div>
  <div class="modal-body">
    <p style="font-size: 16px; padding:0 7px 5px 10px;">You must complete at least 8 <%= name_for_paths.pluralize %> to unlock this <%= name_for_paths %>.</p>
  </div>
  <div class="modal-footer">
    <%= link_to "Okay", "#", :class => "btn primary", :onclick => "$('#locked_modal').modal('hide');" %>
  </div>
</div>
<div class="container body">
  <%= render "layouts/header" %>
  <section id="content">
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, :class => "alert-message #{key}") %>
    <% end %>
    <%= yield %>
  </section>
  <%= render "layouts/footer" %>
  <%= debug(params) if Rails.env.development? %>
</div>
</body>
</html>
