<!DOCTYPE html>
<html xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
<title><%= title %></title>
<%= csrf_meta_tag %>
<%= javascript_include_tag :defaults %>
<%= render "layouts/stylesheets" %>
<%= render "layouts/scripts" %>
</head>
<body>
<div id="fb-root"></div>
<script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=276612745757646";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
<!--[IF IE]>
    <script type="text/javascript">
			$(function(){
				console.log("##########################RUNNING IE SCRIPT##########################");
				$(".ie_warning").show();
			});
    </script>
<![endif]-->
<div class="container">
	<%= render "layouts/header" %>
	<section id="content">
		<% flash.each do |key, value| %>
			<%= content_tag(:div, value, :class => "alert-message #{key}") %>
		<% end %>
		<%= yield %>
	</section>
	<%= render "layouts/footer" %>
	<%= debug(params) if Rails.env.development? %>
</div>
</body>
</html>
