%html
%head
  = render "layouts/head"
  :css
    body { background-image: url('https://s3.amazonaws.com/moonlite-nsdub/static/easterislandsketch70pct.jpg'); background-repeat:no-repeat; background-attachment:fixed;background-size:100% 100%;font-family: 'Muli', sans-serif;}
    .explorenewusercontent{ box-shadow: none; margin-top: 110px; }
    .show_persona_select button { margin-top: 0px; }
    .persona_preview { height; 172px; }
%body
  = render "layouts/navbar", { no_bar: (@no_bar.nil? ? true : @no_bar) }
  = render "layouts/explore_modal" if @show_footer
  = yield
  = render "layouts/footer" if @show_footer